Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

checl pc.valid for write LB
  client/matching/loadbalancer.go
Due: none

move disable log
  service/matching/scale_manager.go
Due: .azure-pipelines/server-cicd.yaml

extra insurance for target = 0 in scalestatetoinfo
  service/matching/scale_manager.go
Due: .azure-pipelines/server-cicd.yaml

Revert "extra insurance for target = 0 in scalestatetoinfo"
  service/matching/scale_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix blank lines in generated client
  cmd/tools/genrpcwrappers/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix matching load balancer test partition counts
  client/matching/loadbalancer_test.go
Due: none

Clear scaleInfo when scaler is disabled (#12026)
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Clear scaleInfo when scaler is disabled (#12026)
  client/matching/loadbalancer.go
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Add functional test for disabling partition scaler
  tests/partition_scaling_test.go
Due: none

Clear scaleInfo when scaler is disabled (#12026) (#12027)
  client/matching/loadbalancer.go
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Verify add and poll paths separately, explain drain step
  tests/partition_scaling_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-164.0-rc.20260911112803
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add a mode to decide if a cloud branch needs an api-go release
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/plan.go
  cmd/tools/check-dependencies/plan_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Trigger an api-go release when a cloud branch needs one
  .github/workflows/trigger-api-release.yml
Due: none

Accept a tagged commit's pseudo-version for the API on cloud branches
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/main_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix linters
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/plan.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix(visibility): escape '?' in filter string values to prevent Rebind corruption
  common/persistence/visibility/store/sql/query_converter.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility] Export Elasticsearch new client util functions (#11996)
  common/persistence/visibility/store/elasticsearch/client/client.go
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  temporal/fx.go
  tools/elasticsearch/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Sender-side gradual task shedding (#11984)
  api/persistence/v1/namespaces.go-helpers.pb.go
  api/persistence/v1/namespaces.pb.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/namespaces.proto
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/history/configs/config.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/xdc/base.go
  tests/xdc/gradual_connect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Pickup latest version of api-go
  go.mod
  go.sum
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Run 'make ci-build-misc'
  cmd/tools/getproto/files.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Make supported callback kinds configurable (#11566)
  chasm/lib/activity/config.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator_test.go
  chasm/lib/callback/config.go
  chasm/lib/workflow/config.go
  common/callbacks/kind.go
  common/callbacks/kind_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/links/validator.go
  common/links/validator_test.go
  common/testing/callbacks.go
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/describeworkflow/api.go
  tests/callbacks_test.go
  tests/comp_callbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Recognize the new `commonpb.NexusHandler` callback variant (#11380)
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/gen/callbackpb/v1/message.pb.go
  chasm/lib/callback/proto/v1/message.proto
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/statemachine_test.go
  chasm/lib/workflow/workflow.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/util.go
  tests/comp_callbacks.go
  tests/comp_callbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address Copilot feedback
  chasm/lib/callback/invocable_nexushandler_test.go
  chasm/lib/callback/metrics.go
  chasm/lib/callback/statemachine_test.go
  tests/comp_callbacks.go
Due: none

Populate CallbackInfo Outcome and BlockedReason fields (#11520)
  chasm/lib/activity/activity.go
  chasm/lib/activity/responses.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/library.go
  chasm/lib/workflow/workflow.go
  common/testing/await/report.go
  service/history/api/describeworkflow/api.go
  service/history/fx.go
  tests/activity_standalone_test.go
  tests/comp_callbacks.go
  tests/comp_callbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Support NexusHandler-variant callbacks (#11589)
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/invocable_internal.go
  chasm/lib/callback/invocable_nexushandler.go
  chasm/lib/callback/invocable_nexushandler_test.go
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/callback/metrics.go
  chasm/lib/callback/metrics_test.go
  chasm/lib/callback/tasks.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/nexusoperation/validator_test.go
  common/namespace/namespace_test.go
  common/nexus/dispatch_outcome.go
  common/nexus/dispatch_outcome_test.go
  common/nexus/dispatch_response.go
  common/nexus/failure.go
  common/testing/namespace.go
  service/frontend/nexus_dispatch_result.go
  tests/comp_callbacks.go
  tests/comp_callbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add completion callbacks to SANOs (#11567)
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/link_validator.go
  chasm/lib/nexusoperation/links_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  service/frontend/workflow_handler_test.go
  tests/comp_callbacks.go
  tests/comp_callbacks_test.go
  tests/nexus_standalone_callbacks_test.go
  tests/nexus_standalone_test.go
  tests/nexus_test_base.go
Due: .azure-pipelines/server-cicd.yaml

testing branch
  Makefile
Due: none

Rename testTaskManager fault helper to shouldFault.
  service/matching/test_task_store_test.go
Due: .azure-pipelines/server-cicd.yaml

Set useSystemCallbackURL for the features jobs
  .github/workflows/features-integration.yml
Due: none

Trim external signal tasks when workflow closes
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix flaky test Count GroupBy (#9003)
  tests/chasm_test.go
Due: none

Clarify matching persistence tests and relax DB-fault ack assertion
  service/matching/matching_engine_test.go
  service/matching/test_task_store_test.go
  service/matching/user_data_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Update comment
  service/matching/task_validation.go
Due: .azure-pipelines/server-cicd.yaml

Return a descriptive invalid argument on branch mismatch (#11940)
  service/history/api/token.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Support pagination across branch metadata changes (#11983)
  common/dynamicconfig/constants.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/getworkflowexecutionhistoryreverse/api.go
  service/history/api/token.go
  service/history/api/token_test.go
  service/history/configs/config.go
  service/history/history_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix TestNexusCallbackReplicated flake (#9489)
  tests/xdc/nexus_state_replication_test.go
Due: none

Verify during force to address flakiness (#9496)
  tests/xdc/failover_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
