Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Remove addsearchattributes workflow (#11334)
  .github/CODEOWNERS
  service/worker/addsearchattributes/fx.go
  service/worker/addsearchattributes/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Tag CreateSchedule/UpdateSchedule requests by scheduler backend
  common/metrics/metric_defs.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

non-Nexus callers that do not set callbacks must receive a link to the Accepted event
  service/history/api/updateworkflow/api.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Skip standby parent verification instead of close task generation
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/tasks/close_task.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
  service/history/workflow/close_task_parent_verification.go
  service/history/workflow/close_task_parent_verification_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_rebuilder.go
  service/history/workflow/mutable_state_rebuilder_test.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_mock.go
  service/history/workflow/task_generator_test.go
  service/history/workflow/task_refresher.go
  service/history/workflow/task_refresher_mock.go
  service/history/workflow/task_refresher_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Gave each regenerated test timer a distinct deadline.
  service/history/hsm/hsmtest/sm.go
Due: .azure-pipelines/server-cicd.yaml

Retain namespace replication verification snapshots
  tools/tdbg/namespace_replication_verify.go
  tools/tdbg/namespace_replication_verify_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Reduce unnecessary test
  chasm/lib/workflow/workflow_test.go
Due: none

Remove search attributes from the secondary store under dual visibility
  service/frontend/operator_handler.go
  service/frontend/operator_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Bound the version check and let Stop cancel it
  common/versioninfo/caller.go
  common/versioninfo/caller_test.go
  service/frontend/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make shard unload on a stuck io semaphore opt-in
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Release the io semaphore fast path token when the caller's context ends
  service/history/shard/context_impl.go
  service/history/shard/context_test.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-165.0-rc.20261007112953
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep scheduler policy override out of parallel tests
  tests/schedule_test.go
Due: none

Migrate V1 schedule tests to parallel suites
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

scheduler: migrate share v1 tests to parallel suite (#12368)
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

Reuse parameterized CHASM schedule test helpers
  tests/schedule_test.go
Due: none

Migrate CHASM schedule tests to parallel suite
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

Restore CHASM schedule coverage and parallel subtests
  tests/schedule_test.go
Due: none

Migrate shared schedule polling to await assertions
  tests/schedule_test.go
Due: none

Migrate shared schedule tests to parallel suites
  tests/schedule_test.go
Due: none

Preserve parallel shared schedule subtests and SDK routing
  tests/schedule_test.go
Due: none

Migrate backend schedule waits and remove lint exemption
  .github/.golangci.yml
  tests/schedule_test.go
Due: none

Migrate schedule migration waits and remove lint exemption
  .github/.golangci.yml
  tests/schedule_migration_test.go
Due: none

Build eager activity task response transactionally
  chasm/lib/activity/handler.go
  chasm/lib/activity/responses.go
  tests/activity_standalone_test.go
Due: none

scheduler: migrate sv2 tests to parallel suite (#12369)
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

scheduler: migrate share v1/v2 tests to parallel suite (#12370)
  tests/schedule_test.go
Due: none

Migrate shared schedule polling to await assertions (#12384)
  tests/schedule_test.go
Due: none

scheduler: remove migration test lint exemptions (#12386)
  .github/.golangci.yml
  tests/schedule_migration_test.go
Due: none

scheduler: remove test lint exemptions (#12385)
  .github/.golangci.yml
  tests/schedule_test.go
Due: none

Fix CHASM scheduler creation rollout in feature tests
  .github/workflows/features-integration.yml
Due: none

Align eager activity execution metrics
  chasm/lib/activity/frontend.go
  chasm/lib/activity/frontend_test.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/metrics.go
  common/metrics/activity.go
  common/metrics/metric_defs.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  tests/activity_parity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add source test
  common/health/source_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixup! use Evaluate() for persistence and grpc health aggregators
  service/history/deep_health_check.go
Due: .azure-pipelines/server-cicd.yaml

use Evaluate() for persistence and grpc health aggregators
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

pass in new settings to history
  service/history/fx.go
Due: .azure-pipelines/server-cicd.yaml

pass in new settings to persistence
  common/persistence/client/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

deep health check field consistency
  service/history/deep_health_check.go
Due: .azure-pipelines/server-cicd.yaml

update deep health check with new settings
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

remove old latency stuff
  common/persistence/health_signal_aggregator.go
  common/persistence/noop_health_signal_aggregator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
