Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

add unit test coverage
  service/history/api/queryworkflow/api_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Time skip to StickyWorkerUnavailable
  common/clock/event_time_source.go
  common/clock/time_source.go
  service/matching/backlog_manager_test.go
  service/matching/handler.go
  service/matching/matcher_test.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/poller_history.go
  service/matching/service.go
  service/matching/task_queue_partition_manager.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve priority semaphore
  common/locks/priority_semaphore.go
  common/locks/priority_semaphore_impl.go
  common/locks/priority_semaphore_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

bump API to v1.62.1 (#9283)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

update query workflow tests
  service/history/api/queryworkflow/api_test.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

move SetContextMetadata to before defer
  service/history/api/respondworkflowtaskcompleted/api.go
Due: .azure-pipelines/server-cicd.yaml

Customizable serialization
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/persistence/serialization/codec.go
  common/persistence/serialization/serializer.go
  service/history/api/get_history_util.go
  service/history/configs/config.go
  temporal/server_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add docs
  docs/development/testing.md
Due: none

fmt and lint
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Regen proto
  api/matchingservice/v1/request_response.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix getworkflowexecutionrawhistory APIs
  service/history/api/getworkflowexecutionrawhistory/api.go
  service/history/api/getworkflowexecutionrawhistoryv2/api.go
Due: .azure-pipelines/server-cicd.yaml

fix unit test
  service/history/queue_factory_base_test.go
Due: .azure-pipelines/server-cicd.yaml

History: Expose and call SetContextMetadata in readonly operations (#9240)
  common/contextutil/metadata.go
  common/contextutil/metadata_test.go
  service/history/api/queryworkflow/api.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/history_engine_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add OperationStore
  chasm/lib/nexusoperation/operation.go
Due: none

Add CancelOutstandingWorkerPolls RPC to matching service (#9202)
  api/matchingservice/v1/request_response.go-helpers.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  api/matchingservicemock/v1/service_grpc.pb.mock.go
  client/matching/client_gen.go
  client/matching/metric_client_gen.go
  client/matching/retryable_client_gen.go
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  common/util/util.go
  common/util/util_test.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/service.proto
  service/matching/configs/quotas.go
  service/matching/handler.go
  service/matching/matching_engine.go
  service/matching/matching_engine_interfaces.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Restore wg.Go() shorthand in workflow_handler.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Refactor
  chasm/lib/callback/chasm_invocation.go
  chasm/lib/callback/executors_test.go
  chasm/lib/callback/nexus_invocation.go
  common/nexus/failure.go
  common/nexus/nexusrpc/api.go
  common/nexus/nexusrpc/cancel_test.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  common/nexus/nexusrpc/completion_test.go
  common/nexus/nexusrpc/failure_converter.go
  common/nexus/nexusrpc/failure_conveter_test.go
  common/nexus/nexusrpc/handle.go
  common/nexus/nexusrpc/server.go
  common/nexus/nexusrpc/start_test.go
  common/nexus/payload_serializer.go
  components/callbacks/chasm_invocation.go
  components/callbacks/executors_test.go
  components/callbacks/nexus_invocation.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/frontend/handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_http_handler.go
  service/history/handler.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
  tests/callbacks_test.go
  tests/nexus_api_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_request_forwarding_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace OperationCompletion with CompleteOperationOptions
  chasm/lib/callback/chasm_invocation.go
  chasm/lib/callback/component.go
  chasm/lib/callback/executors_test.go
  chasm/lib/callback/nexus_invocation.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  common/nexus/nexusrpc/completion.go
  common/nexus/nexusrpc/completion_test.go
  components/callbacks/chasm_invocation.go
  components/callbacks/executors_test.go
  components/callbacks/nexus_invocation.go
  components/nexusoperations/frontend/handler.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_request_forwarding_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Separate client instantiation and function invocation
  common/nexus/nexusrpc/completion_test.go
  tests/xdc/nexus_request_forwarding_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Self review
  chasm/lib/callback/nexus_invocation.go
  common/nexus/nexusrpc/completion.go
  components/callbacks/nexus_invocation.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_request_forwarding_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Nexus SDK
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: wrap migration state in MigrateScheduleRequest and add V1-to-V2 migration test
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/scheduler_test.go
  service/worker/fx.go
  service/worker/scheduler/workflow.go
  tests/schedule_migration_test.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/server-cicd.yaml

test: add unit tests for V1 scheduler migration activity and workflow
  service/worker/scheduler/activities_test.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: validate identity field in MigrateSchedule admin handler
  service/frontend/admin_handler.go
  service/frontend/errors.go
Due: .azure-pipelines/server-cicd.yaml

test: consolidate CHASM migration tests
  chasm/lib/scheduler/scheduler_test.go
Due: none

lint
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

VersionMembershipCache: Add it to GetIsWFTaskQueueInVersionDetector (#9282)
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove invalid search attributes message check.
  tests/standalone_activity_test.go
Due: none

Update chasm/lib/activity/frontend.go
  chasm/lib/activity/frontend.go
Due: none

Fix copilot suggestions
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator.go
Due: none

restoring metric
  common/metrics/metric_defs.go
  service/history/workflow/update/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

linters
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
Due: .azure-pipelines/server-cicd.yaml

Implement eager poll cancellation on worker shutdown (#9203)
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/task_queue_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove output from startfn in UpdateWithStart
  chasm/engine.go
Due: none

Update to go 1.26.0
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix invalid fmt specifier
  common/nexus/nexusrpc/completion_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM: support archetypeID in admin handler
  api/adminservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  service/frontend/admin_handler.go
  service/worker/migration/activities.go
  tools/tdbg/commands.go
  tools/tdbg/flags.go
  tools/tdbg/tdbg_commands.go
  tools/tdbg/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update to go 1.26.0 (#9291)
  common/nexus/nexusrpc/completion_test.go
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
