Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Align standalone activity failure retries with workflow activities (#11250)
  chasm/lib/activity/activity.go
  chasm/lib/activity/model/vocabulary.go
  common/retrypolicy/retry_policy.go
  common/retrypolicy/retry_policy_test.go
  service/frontend/workflow_handler.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/history/workflow/retry_test.go
  tests/activity_driver.go
  tests/activity_parity_test.go
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix partity test after previous merge.
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
Due: none

Emit handover watermark and shard readiness wide events
  service/history/shard/context_impl.go
  service/history/shard/handover_events.go
  service/history/shard/handover_events_test.go
  service/history/shard/handover_tracker.go
  service/worker/migration/activities.go
  service/worker/migration/fx.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_events_test.go
Due: .azure-pipelines/server-cicd.yaml

Limit versioning override forwarding to CHASM
  chasm/lib/scheduler/config.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/workflow_info.go
  chasm/lib/scheduler/workflow_info_test.go
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(scheduler): fence Backfiller tasks by generation
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/test_engine.go
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_lifecycle_test.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/tasks.pb.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/proto/v1/tasks.proto
Due: none

Fix nexus operation cancellation retry dedup (#11406)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
  tests/nexus_standalone_test.go
Due: none

Replace per-shard readiness events with one summary at exit
  service/worker/migration/activities.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_events_test.go
Due: .azure-pipelines/server-cicd.yaml

Don't close the shared connection on a lost cache race
  client/history/connections.go
  client/history/connections_test.go
Due: none

Add ready_count to the handover lag summary
  service/worker/migration/activities.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_events_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop two comments from the handover tracker
  service/history/shard/handover_tracker.go
Due: .azure-pipelines/server-cicd.yaml

Do not emit from ResolvePendingTaskIDs
  service/history/shard/handover_events.go
  service/history/shard/handover_events_test.go
  service/history/shard/handover_tracker.go
Due: .azure-pipelines/server-cicd.yaml

Raise the lagging shard cap to 512
  service/worker/migration/handover_events.go
Due: .azure-pipelines/server-cicd.yaml

Centralize the handover NamespaceLifecycle events
  common/wideevents/namespace_handover_events.go
  service/history/shard/handover_events.go
  service/history/shard/handover_events_test.go
  service/history/shard/handover_tracker.go
  service/worker/migration/activities.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

cleaner locking
  common/health/signal_aggregator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move the lag snapshot back to the migration activity
  common/wideevents/namespace_handover_events.go
  service/worker/migration/activities.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fold the migration handover event helpers into activities.go
  service/worker/migration/activities.go
  service/worker/migration/handover_events.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/server-cicd.yaml

Rename to namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events.go
  service/worker/migration/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep only the phase vocabulary central; build payloads at the call site
  common/wideevents/namespace_lifecycle_events.go
  service/history/shard/handover_tracker.go
  service/worker/migration/activities.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move the emitters into namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/history/shard/handover_tracker.go
  service/worker/migration/activities.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Inline the tracker's emit wrappers
  service/history/shard/handover_tracker.go
Due: .azure-pipelines/server-cicd.yaml

Add NewHandoverLagSnapshot; tighten comments
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/history/shard/handover_events_test.go
  service/worker/migration/activities.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address PR feedback
  chasm/lib/callback/component.go
  chasm/lib/callback/proto/v1/message.proto
  service/frontend/workflow_handler_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Update sqlparser to v0.1.0 (#11409)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply go fix rangeint rewrites
  common/wideevents/namespace_lifecycle_events_test.go
  service/history/shard/handover_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revalidate pooled connections now that they are shared
  client/history/connections.go
  client/history/connections_test.go
  common/rpc/connection_cache_test.go
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix SAA deferred restore cancellation test coverage
  chasm/lib/activity/statemachine_test.go
  tests/activity_standalone_test.go
Due: none

Update comment
  tests/activity_standalone_test.go
Due: none

Persist callback terminal failures
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/statemachine_test.go
  chasm/lib/callback/tasks_test.go
  service/history/api/describeworkflow/api.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

test(scheduler): cover legacy Backfiller task handoff
  chasm/lib/scheduler/backfiller_lifecycle_test.go
Due: none

Fix SAA deferred restore cancellation test coverage (#11416)
  chasm/lib/activity/statemachine_test.go
  tests/activity_standalone_test.go
Due: none

simplify
  client/history/connections.go
Due: none

Simplify the connection pool tests
  client/history/connections_test.go
Due: none

edit proto doc
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
Due: none

Impl: reset preserves heartbeat checkpoint data
  chasm/lib/activity/activity.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/statemachine.go
Due: none

decomment
  chasm/lib/activity/activity.go
Due: none

Bump go.temporal.io/api for reset_heartbeat on ResetActivityExecutionRequest
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add reset_should_clear_heartbeat to ActivityState
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
Due: none

Test: cover the legacy reset_heartbeat flag on both settings
  tests/activity_api_reset_test.go
Due: none

Test: reset must preserve heartbeat checkpoint data
  chasm/lib/activity/statemachine_test.go
  tests/activity_api_reset_test.go
  tests/activity_standalone_test.go
Due: none

Test: reset_heartbeat opts into discarding the heartbeat checkpoint
  chasm/lib/activity/statemachine_test.go
  tests/activity_api_reset_test.go
  tests/activity_standalone_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
