Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

add dynamic config
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix a bug in fast-forward completion and add skip count to runtime
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/workflow_handler.go
  service/history/workflow/timeskipping.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(membership): emit ring gauges on every refresh, not only on change
  common/membership/ringpop/service_resolver.go
  common/membership/ringpop/service_resolver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add ut
  go.mod
  go.sum
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/workflow/task_generator.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

scheduler: add failing regression test for backfill capacity stall
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/known_issue_backfill_capacity_stall_test.go
Due: none

scheduler: cover non-retryable cancel/terminate failures are dropped
  chasm/lib/scheduler/invoker_execute_task_test.go
Due: none

remove comment noise
  chasm/lib/scheduler/scheduler.go
Due: none

scheduler: resume backfills from recorded progress, not the back-off counter
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/backfiller_tasks_test.go
  chasm/lib/scheduler/scheduler.go
Due: none

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

[Scheduler] Fix V1->V2 migration deferring forever for actively-firing schedules
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_migration_replay_fixture_gen_test.go
  tests/schedule_migration_v1_to_v2_callback_compat_test.go
Due: .azure-pipelines/server-cicd.yaml

Removing file
  tests/schedule_migration_replay_fixture_gen_test.go
Due: none

feedback
  tests/schedule_migration_v1_to_v2_callback_compat_test.go
Due: none

perf: replace sharedScopeCache with sync.Map for zero-alloc cache lookups
  common/metrics/tally_metrics_handler.go
  common/metrics/tally_metrics_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-160.0-rc.20260721115917
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add handle.describe(); defer the model-state oracle to later work
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_test.go
  tests/activity_standalone_utils.go
Due: none

Fix B1: chain the underlying failure cause on terminal timeouts
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
Due: none

Fix B2: honor NonRetryableErrorTypes for activity timeouts
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
Due: none

Repro B2: SAA ignores NonRetryableErrorTypes for timeouts
  tests/activity_standalone_test.go
Due: none

testlogger: make stack-trace level configurable
  common/log/zap_logger.go
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Repro B1: SAA terminal timeout drops the underlying failure cause
  tests/activity_standalone_test.go
  tests/activity_standalone_utils.go
Due: none

SAA functional-test driver + activity model vocabulary
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_test.go
  tests/activity_standalone_utils.go
Due: none

Extract applyEvent from driveTrace
  tests/activity_standalone_utils.go
Due: none

activity tests
  tests/activity_test.go
Due: none

SAA model-based spec: transition rules, conformance, and explorers
  chasm/lib/activity/model/README.md
  chasm/lib/activity/model/conformance/conformance_test.go
  chasm/lib/activity/model/conformance/doc.go
  chasm/lib/activity/model/model.go
  chasm/lib/activity/model/model_test.go
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_spec_harness.go
  tests/activity_standalone_spec_test.go
  tests/activity_standalone_test.go
  tests/activity_standalone_utils.go
  tests/activity_utils.go
Due: none

saa harness
  tests/activity_standalone_spec_harness.go
  tests/activity_standalone_utils.go
Due: none

saa tests
  tests/activity_standalone_test.go
Due: none

Repro C5: SAA Describe returns stale retry-scheduling metadata
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Reset impl to main
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/statemachine.go
Due: none

Repro C5: SAA Describe returns stale retry-scheduling metadata
  tests/activity_standalone_describe_retry_metadata_test.go
Due: none

Fix C5: derive Describe retry-scheduling metadata from current state
  chasm/lib/activity/activity.go
Due: none

Match WFA: report CurrentRetryInterval only while SCHEDULED
  chasm/lib/activity/activity.go
  tests/activity_standalone_describe_retry_metadata_test.go
Due: none

Fix NextAttemptScheduleTimeAndCurrentRetryInterval
  chasm/lib/activity/activity.go
Due: none

Doc comments
  chasm/lib/activity/activity.go
Due: none

Move retry-scheduling metadata test into activity_standalone_test.go
  tests/activity_standalone_describe_retry_metadata_test.go
  tests/activity_standalone_test.go
Due: none

Add operator commands (Pause/Unpause/Reset/UpdateOptions) to the WFA driver
  chasm/lib/activity/model/model.go
  tests/activity_utils.go
Due: none

perf: parallelize AppendHistoryNodes in execution store operations
  common/persistence/cassandra/execution_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor retry-scheduling metadata test to use local driver closures
  tests/activity_standalone_test.go
Due: none

test: add workflow-level tests for parentclosepolicy processor
  service/worker/parentclosepolicy/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

perf: use UnloggedBatch for DeleteHistoryBranch
  common/persistence/cassandra/history_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
