Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

small refactor
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/server-cicd.yaml

[Chasm] Introduce proto ChasmExecutionInfo for Visibility (#9652)
  api/chasm/v1/message.go-helpers.pb.go
  api/chasm/v1/message.pb.go
  api/visibilityservice/v1/request_response.go-helpers.pb.go
  api/visibilityservice/v1/request_response.pb.go
  chasm/search_attribute.go
  chasm/search_attribute_test.go
  chasm/visibility_manager.go
  chasm/visibility_manager_mock.go
  chasm/visibility_value.go
  common/persistence/visibility/chasm_visibility_manager.go
  common/persistence/visibility/chasm_visibility_manager_test.go
  common/persistence/visibility/manager/visibility_manager.go
  common/persistence/visibility/manager/visibility_manager_mock.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/visibility_store.go
  common/persistence/visibility/store/visibility_store_mock.go
  common/persistence/visibility/visibility_manager_dual.go
  common/persistence/visibility/visibility_manager_impl.go
  common/persistence/visibility/visibility_manager_rate_limited.go
  common/persistence/visibility/visiblity_manager_metrics.go
  proto/internal/temporal/server/api/chasm/v1/message.proto
  proto/internal/temporal/server/api/visibilityservice/v1/request_response.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Regenerate mocks for mockgen v0.6.0
  PR_DESCRIPTION.md
  common/archiver/s3store/mocks/s3api.go
  common/persistence/tests/test_0312005131_tkh
  common/persistence/tests/test_0312005131_tkh-journal
  common/persistence/tests/test_0312005131_wcy
  common/persistence/tests/test_0312005133_epc
  common/persistence/tests/test_0312005133_epc-journal
  common/persistence/tests/test_0312005133_nww
  common/rpc/interceptor/dc_redirection_policy_mock.go
  common/sdk/factory_mock.go
  common/searchattribute/mapper_mock.go
  common/taskqueue/stats.go
  proto/chasm.bin
  service/history/interfaces/engine_mock.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/shard_context_mock.go
  service/history/queues/queue_mock.go
  service/history/replication/ack_manager_mock.go
  service/history/replication/executable_task_tracker_mock.go
  service/history/workflow/mutable_state_rebuilder_mock.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove accidentally committed local files
  PR_DESCRIPTION.md
  common/persistence/tests/test_0312005131_tkh
  common/persistence/tests/test_0312005131_tkh-journal
  common/persistence/tests/test_0312005131_wcy
  common/persistence/tests/test_0312005133_epc
  common/persistence/tests/test_0312005133_epc-journal
  common/persistence/tests/test_0312005133_nww
  common/taskqueue/stats.go
  proto/chasm.bin
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add request metrics for activity operator commands (#9661)
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/api/pauseactivity/api.go
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove WD Workflow V0 tests (#9649)
  common/dynamicconfig/constants.go
  service/worker/workerdeployment/version_workflow_test.go
  service/worker/workerdeployment/workflow_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Parameterize taskTracker (#9452)
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_tracker.go
  service/matching/task_tracker_test.go
Due: .azure-pipelines/server-cicd.yaml

Cleanup unused WV3 test code paths
  common/dynamicconfig/constants.go
  common/testing/testvars/test_vars.go
  service/worker/workerdeployment/version_workflow_test.go
  service/worker/workerdeployment/workflow_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
  tests/workflow_alias_search_attribute_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Separate ephemeral data for different task queue types (#9450)
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/user_data_manager.go
  service/matching/user_data_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Struct assertion best practice
  docs/development/testing.md
Due: none

clearer test
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
Due: none

remove compute config from WD
  api/deployment/v1/message.pb.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/frontend/workflow_handler.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add CREATED status.
  go.mod
  go.sum
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add unit test
  service/worker/workerdeployment/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add compute config
  api/deployment/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/frontend/workflow_handler.go
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add create wd version API
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/frontend/workflow_handler.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add methods to quotas.go
  common/rpc/interceptor/redirection.go
  service/frontend/configs/quotas.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove extra
  tests/xdc/history_replication_signals_and_updates_test.go
Due: none

check request_id
  chasm/lib/nexusoperation/validator_test.go
  tests/nexus_standalone_test.go
Due: none

Pin prometheus/client_golang at v1.21.0
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rebase and fix lint
  go.mod
  go.sum
  service/frontend/workflow_handler.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/workflow_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

get rid of extra query
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
Due: .azure-pipelines/server-cicd.yaml

Set NexusFailure type on ApplicationFailureInfo for unrecognized Nexus failures (#9659)
  common/nexus/failure.go
  common/nexus/failure_test.go
  components/nexusoperations/executors_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix format
  service/worker/workerdeployment/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Export OTEL_EXPORTER_OTLP_ENDPOINT in OTEL=true path in Makefile
  Makefile
Due: none

Pin prometheus/common at v0.62.0 to fix validation panic
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update agent code review w/ flaky test findings
  .github/copilot-instructions.md
  tests/activity_test.go
  tests/client_misc_test.go
  tests/nexus_endpoint_test.go
  tests/update_workflow_test.go
Due: none

CODEOWNERS: Add nexus team to the default rule
  .github/CODEOWNERS
Due: none

Pass assertions through verify helpers for EventuallyWithT compatibility
  tests/worker_deployment_test.go
Due: none

components owner
  .github/CODEOWNERS
Due: none

Add drained field to InternalTaskQueueStatus (#9453)
  api/taskqueue/v1/message.pb.go
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/matching/fair_backlog_manager.go
  service/matching/pri_backlog_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Relax CHASM token consistency option
  chasm/ref.go
  chasm/ref_test.go
  service/history/chasm_engine_test.go
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

CODEOWNERS: Update owners for default rule and components package (#9670)
  .github/CODEOWNERS
Due: none

Export OTEL_EXPORTER_OTLP_ENDPOINT=json in OTEL=true path in Makefile (#9668)
  Makefile
Due: none

Nexus Standalone: Delete
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_grpc.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/proto/v1/request_response.proto
  chasm/lib/nexusoperation/proto/v1/service.proto
  chasm/lib/nexusoperation/validator.go
  tests/nexus_standalone_test.go
Due: none

Fix test timing issues from dependency bumps
  tests/client_misc_test.go
Due: none

refactor: migrate tests/admin_test.go to testcore.NewEnv pattern
  tests/admin_test.go
Due: none

refactor: migrate activity_api_batch_reset_test to testcore.NewEnv pattern
  tests/activity_api_batch_reset_test.go
Due: none

Cleanup unused WV3 test code paths (#9666)
  common/dynamicconfig/constants.go
  common/testing/testvars/test_vars.go
  service/worker/workerdeployment/version_workflow_test.go
  service/worker/workerdeployment/workflow_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
  tests/workflow_alias_search_attribute_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
