Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Deprecate ListWorkersEnabled flag; always allow ListWorkers/DescribeWorker (#9544)
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  tests/worker_registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add internal task queue name validation for standalone activities and all user-facing APIs (#9430)
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  common/primitives/task_queues.go
  common/tqid/task_queue_validator.go
  common/tqid/task_queue_validator_test.go
  service/history/api/command_attr_validator.go
  service/history/api/command_attr_validator_test.go
  tests/child_workflow_test.go
  tests/continue_as_new_test.go
  tests/schedule_test.go
  tests/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: Start + Describe
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_grpc.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/request_response.proto
  chasm/lib/nexusoperation/proto/v1/service.proto
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace deprecated pkg/errors with Go standard library errors (#9520)
  common/finalizer/finalizer.go
  go.mod
  service/worker/migration/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

drop extra error check
  chasm/lib/nexusoperation/frontend.go
Due: none

Migrate activity update tests to use TestEnv (#9555)
  tests/activity_api_update_test.go
Due: none

Add metrics
  common/metrics/metric_defs.go
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/fx.go
  service/frontend/nexus_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(docker): make alpine tag single-source
  .github/actions/build-docker-images/action.yml
  docker/docker-bake.hcl
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
Due: none

add back cli input and change alpine version default
  .github/workflows/docker-build-manual.yml
Due: none

chore(ci): clarify cli version input default
  .github/workflows/docker-build-manual.yml
Due: none

chore(ci): simplify manual docker build inputs
  .github/workflows/docker-build-manual.yml
Due: none

fix(ci): avoid github expression interpolation in run script
  .github/actions/build-docker-images/action.yml
Due: none

Bump Server version to 1.28.3 (#9554)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Metrics handler
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/fx.go
  service/frontend/fx_test.go
  service/frontend/nexus_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move encode_value.go to sadefs
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/searchattribute/encode.go
  common/searchattribute/encode_test.go
  common/searchattribute/name_type_map.go
  common/searchattribute/name_type_map_test.go
  common/searchattribute/sadefs/encode_value.go
  common/searchattribute/sadefs/encode_value_test.go
  common/searchattribute/sadefs/errors.go
  common/searchattribute/sadefs/util.go
  common/searchattribute/search_attirbute.go
  common/searchattribute/stringify.go
  common/searchattribute/stringify_test.go
  common/searchattribute/validator.go
  service/history/api/command_attr_validator_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/advanced_visibility_test.go
  tests/versioning_3_test.go
  tests/versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix
  chasm/lib/nexusoperation/frontend.go
Due: none

Simplify durationNear tolerance, fix TestInput data converter
  tests/schedule_test.go
Due: none

[Scheduled Actions] Attach Nexus callbacks to schedules migrated from V1/Legacy
  api/schedule/v1/message.pb.go
  chasm/lib/scheduler/fx.go
  chasm/lib/scheduler/gen/schedulerpb/v1/tasks.go-helpers.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/tasks.pb.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/tasks.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_tasks.go
  proto/internal/temporal/server/api/schedule/v1/message.proto
  tests/schedule_migration_test.go
  tests/schedule_test.go
  tools/tdbg/chasm_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: increase DLQ test retry budget to match non-DLQ enqueue path (#9480)
  common/persistence/persistence-tests/persistence_test_base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

fix: decouple CHASM scheduler routing from creation
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_second_test.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: validate schedule ID in CHASM rollback test
  tests/schedule_migration_test.go
Due: none

fix: address code review feedback for V2-to-V1 migration
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  tests/schedule_migration_test.go
Due: none

fix: add DescribeWorkflowExecution check for V1 system scheduler workflow
  tests/schedule_migration_test.go
Due: none

Fixing paging on archive view in UI
  common/archiver/gcloud/connector/client.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

validate endpoint eagerly
  chasm/lib/nexusoperation/frontend.go
  tests/nexus_standalone_test.go
Due: none

SideEffectDiscardHandler with task generic
  chasm/lib/activity/activity_tasks.go
  chasm/registrable_task.go
  chasm/task.go
  chasm/task_mock.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_task_util_test.go
Due: .azure-pipelines/server-cicd.yaml

fix lint
  tests/nexus_standalone_test.go
Due: none

Add CallbackRequestID to workflow execution for use by CHASM Schedules (#9479)
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/reapplyevents/api.go
  service/history/api/resetworkflow/api.go
  service/history/history_engine_test.go
  service/history/ndc/conflict_resolver.go
  service/history/ndc/conflict_resolver_test.go
  service/history/ndc/state_rebuilder.go
  service/history/ndc/state_rebuilder_mock.go
  service/history/ndc/state_rebuilder_test.go
  service/history/ndc/transaction_manager.go
  service/history/ndc/transaction_manager_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_mock.go
  service/history/transfer_queue_active_task_executor.go
  service/history/workflow_rebuilder.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: Feature flag
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/command/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/command/registry.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Remove workflow-specifics from OperationState (#9503)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
Due: none

rename package chasm/lib/workflow/commands -> chasm/lib/workflow/workflowregistry (#9474)
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml
