Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add caller type assertion
  service/history/configs/quotas.go
  service/history/configs/quotas_test.go
  service/history/fx.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-154.0-rc.20260408114100
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

better logs
  service/worker/migration/activities.go
Due: .azure-pipelines/server-cicd.yaml

improve replication/handover check logging and readability (#9844)
  service/worker/migration/activities.go
Due: .azure-pipelines/server-cicd.yaml

fix update tests and discard stale tasks before sched2close changes
  chasm/lib/activity/activity_tasks.go
  tests/standalone_activity_test.go
Due: none

Remove TODO
  chasm/lib/activity/statemachine.go
Due: none

feat: add memo to UpdateSchedule (#9566)
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Reset retention timer when schedule is unpaused
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove test cancel client identity
  tests/standalone_activity_test.go
Due: none

self review
  chasm/lib/activity/activity.go
  chasm/lib/activity/validator.go
  tests/activity_api_update_test.go
  tests/standalone_activity_test.go
Due: none

fix: translate schedule AlreadyExists to WorkflowExecutionAlreadyStarted
  service/frontend/workflow_handler.go
  tests/schedule_migration_test.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

refactor: tighten test doc comments
  tests/schedule_migration_test.go
Due: none

refactor: use NewWorkflowExecutionAlreadyStartedf with consistent message
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Expose termination and cancellation identity in standalone activity failure info (#9847)
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
  go.mod
  go.sum
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: return history service error unaltered when real V1 scheduler exists
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Refresh tasks after reviving a zombie workflow run. (#9272)
  service/history/ndc/transaction_manager.go
  service/history/ndc/transaction_manager_existing_workflow.go
  service/history/ndc/transaction_manager_existing_workflow_test.go
  service/history/ndc/transaction_manager_new_workflow.go
  service/history/ndc/transaction_manager_new_workflow_test.go
  service/history/ndc/workflow.go
  service/history/ndc/workflow_mock.go
Due: .azure-pipelines/server-cicd.yaml

docs: update comments in createScheduleCHASM
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Bump Server version to 1.28.4
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.29.6
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.30.4
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Restore WorkflowExecutionAlreadyStarted error for all CreateSchedule duplicate paths
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: only report likely problematic commits that increased flakes
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

test: pin features integration to PR #799 commit for schedule duplicate error test
  .github/workflows/features-integration.yml
Due: none

[Scheduler] Restore WorkflowExecutionAlreadyStarted error for all CreateSchedule duplicate paths (#9866)
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

formatting
  tools/flakereport/bisect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix: use full SHA for features workflow ref
  .github/workflows/features-integration.yml
Due: none

second round of fixes
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Bump Server version to 1.31.0-153.3
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Ban assert.X and protoassert.X in favor of require.X / protorequire.X
  .github/.golangci.yml
  docs/development/testing.md
  tests/assert_ban_lint_test.go
Due: none

unbounded sql pools
  common/persistence/sql/sqlplugin/db_handle.go
  common/persistence/sql/sqlplugin/db_handle_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

undo latest changes
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

rm
  tests/assert_ban_lint_test.go
Due: none

address feedback
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Migrate signal_workflow_test to parallelsuite
  tests/signal_workflow_test.go
Due: none

Ban assert.X in favor of require.X (#9871)
  .github/.golangci.yml
  docs/development/testing.md
Due: none

fix: only report likely problematic commits that increased flakes (#9867)
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
