Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Update capture_test.go
  common/testing/testlogger/capture_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use await helper for Nexus request ID
  tests/nexus_workflow_test.go
Due: none

Restore captured log assertion helper
  common/testing/testlogger/capture.go
  common/testing/testlogger/capture_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address Nexus correlation review feedback
  tests/nexus_workflow_test.go
  tests/testcore/test_env.go
Due: none

Restore unconstrained captured tag matching
  common/testing/testlogger/capture.go
  common/testing/testlogger/capture_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply review findings
  tests/nexus_workflow_test.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
Due: none

wip
  common/log/tag/values.go
  common/nexus/trace_test.go
  service/frontend/nexus_completion_http_handler_test.go
  service/frontend/nexus_operation_http_handler_test.go
  service/history/circuitbreakerpool/fx_test.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify Nexus component logger bindings
  common/nexus/trace.go
  components/callbacks/executors.go
  components/callbacks/executors_test.go
  components/callbacks/nexus_invocation.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
  service/history/circuitbreakerpool/fx.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag Nexus-owned loggers by component
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/log/tag/values.go
  common/nexus/endpoint_registry.go
  common/nexus/endpoint_registry_test.go
  common/nexus/trace.go
  common/nexus/trace_test.go
  components/callbacks/nexus_invocation.go
  components/nexusoperations/executors.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_completion_http_handler_test.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address Nexus component tag review feedback
  common/log/tag/values.go
  common/nexus/trace.go
  components/callbacks/executors_test.go
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bind CHASM completion logger at construction
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/callback/tasks.go
Due: none

Tag Nexus endpoint registry logs in matching
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Tag Nexus circuit breaker logs
  service/history/circuitbreakerpool/fx.go
  service/history/circuitbreakerpool/fx_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove pagination log tag tests
  common/log/tag/tags_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refine Nexus log tags
  common/log/tag/tags.go
  service/frontend/nexus_endpoint_client.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix SequentialScheduler test deadlock from bounded test task queue
  common/collection/interface.go
  common/tasks/sequential_scheduler_test.go
  common/tasks/sequential_task_queue.go
  common/tasks/sequential_task_queue_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Mark unused predicate types as deprecated
  api/persistence/v1/predicates.pb.go
  proto/internal/temporal/server/api/persistence/v1/predicates.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drop interface doc comments, keep the change test-only
  common/collection/interface.go
  common/tasks/sequential_task_queue.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Normalize Nexus endpoint page size
  service/frontend/nexus_endpoint_client.go
Due: .azure-pipelines/server-cicd.yaml

Fix SequentialScheduler test deadlock from bounded test task queue (#11772)
  common/tasks/sequential_scheduler_test.go
  common/tasks/sequential_task_queue_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document always-on worker service design
  docs/superpowers/specs/2026-08-24-always-start-worker-service-design.md
Due: none

Always start worker service in functional tests
  tests/activity_api_batch_reset_test.go
  tests/activity_api_batch_terminate_test.go
  tests/activity_api_batch_unpause_test.go
  tests/activity_api_batch_update_options_test.go
  tests/advanced_visibility_test.go
  tests/callbacks_test.go
  tests/chasm_test.go
  tests/client_misc_test.go
  tests/dlq_test.go
  tests/leakcheck/leak_test.go
  tests/namespace_test.go
  tests/purge_dlq_tasks_api_test.go
  tests/schedule_migration_test.go
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_version_test.go
  tests/workflow_api_batch_terminate_test.go
  tests/workflow_reset_test.go
Due: none

Remove dead code for deprecated predicates
  service/history/queues/convert.go
  service/history/queues/convert_test.go
  service/history/queues/queue_base_test.go
  service/history/queues/scope_test.go
  service/history/tasks/predicates.go
  service/history/tasks/predicates_test.go
Due: .azure-pipelines/server-cicd.yaml

fix SignalWithStart hang on orphaned Cassandra current pointer
  service/history/api/signalwithstartworkflow/signal_with_start_workflow.go
  service/history/history_engine2_test.go
  tests/signal_with_start_orphan_pointer_test.go
Due: .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

persistence: fix iterator handling in Cassandra and add safety caps
  common/persistence/cassandra/matching_task_store_user_data.go
  common/persistence/cassandra/queue_store.go
  common/persistence/cassandra/queue_v2_store.go
  common/persistence/tests/cassandra_test.go
  common/persistence/tests/task_queue_user_data.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-163.0-rc.20260825112841
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

history: preserve ResourceExhausted from search attribute provider
  service/history/api/get_history_util.go
  service/history/api/get_history_util_test.go
Due: .azure-pipelines/server-cicd.yaml

Tag Nexus logs by lifecycle stage
  chasm/lib/callback/tasks.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/log/tag/tags.go
  common/log/tag/values.go
  common/nexus/endpoint_registry.go
  common/nexus/endpoint_registry_test.go
  components/callbacks/chasm_invocation.go
  components/callbacks/executors.go
  components/callbacks/executors_test.go
  components/callbacks/nexus_invocation.go
  components/nexusoperations/executors.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_operation_http_handler.go
  service/history/circuitbreakerpool/fx.go
  service/history/circuitbreakerpool/fx_test.go
  service/matching/matching_engine.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Format errors.AsType fixes with Go 1.26.5
  service/history/ndc/mutable_state_initializer.go
  service/history/replication/sync_state_retriever_test.go
Due: .azure-pipelines/server-cicd.yaml

Update common/persistence/faultinjection/store_fault_generator_test.go
  common/persistence/faultinjection/store_fault_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use PostgreSQL tuple cursor for reverse history node pagination
  common/persistence/sql/sqlplugin/postgresql/events.go
  common/persistence/sql/sqlplugin/tests/history_node.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Clarify resolved schedule overlap policy
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_tasks.go
Due: none

Auto-approve test shard salt updates
  .github/CODEOWNERS
  .github/workflows/auto-approve-test-shard-salt.yml
  .turbo/plans/auto-approve-test-salt.md
  docs/superpowers/specs/2026-08-25-auto-approve-test-salt-design.md
Due: none

Remove auto-approval design document
  docs/superpowers/specs/2026-08-25-auto-approve-test-salt-design.md
Due: none

Integrate salt approval with optimizer
  .github/workflows/auto-approve-test-shard-salt.yml
  .github/workflows/optimize-test-sharding.yml
  .turbo/plans/auto-approve-test-salt.md
Due: none

Remove auto-approval implementation plan
  .turbo/plans/auto-approve-test-salt.md
Due: none

Add replication stream lane wire protocol and receiver-side lane routing (#11303)
  api/replication/v1/message.pb.go
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/history/replication/executable_task_tool_box.go
  service/history/replication/fx.go
  service/history/replication/namespace_throttler.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
