Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Add StartTime and IsRetentionDelete to delete visibility task
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/visibility/manager/visibility_manager.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/forcedeleteworkflowexecution/api.go
  service/history/deletemanager/delete_manager.go
  service/history/handler.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_impl.go
  service/history/tasks/delete_visibility_task.go
  service/history/visibility_queue_task_executor.go
  service/worker/deletenamespace/deleteexecutions/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: Addresses missed feedback for PR 10020 (#10087)
  chasm/lib/activity/activity_test.go
  tests/standalone_activity_test.go
Due: none

Refactor deep health check code for history service and add a 60-second wait before returning unhealthy to the DeepHealthCheck
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix lint
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

Mutation testing tool
  .gitignore
  Makefile
  cmd/tools/mutationtest/main.go
  docs/development/testing.md
  tools/mutationtest/cmd.go
  tools/mutationtest/config.go
  tools/mutationtest/exec.go
  tools/mutationtest/git.go
  tools/mutationtest/mutationtest.go
  tools/mutationtest/progress.go
  tools/mutationtest/worktree.go
  tools/mutationtest/worktree_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update function interfaces with timeSkippingConfig
  chasm/lib/workflow/workflow.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  tests/testcore/onebox.go
Due: .azure-pipelines/server-cicd.yaml

Update Nexus update tests to parallelsuite
  tests/nexus_workflow_update_test.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
Due: none

No-op code changes
  chasm/lib/workflow/workflow.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Small fixes to close the loop on persisting/flushing/firing callbacks
  chasm/lib/workflow/workflow.go
  service/history/api/updateworkflow/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  tests/links_test.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/server-cicd.yaml

Update protos
  chasm/lib/workflow/gen/workflowpb/v1/update_state.pb.go
  chasm/lib/workflow/proto/v1/update_state.proto
  cmd/tools/getproto/files.go
  go.mod
  go.sum
  service/history/api/updateworkflow/api.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

wip, apparently the hello-world is working, but needs a lot more verification
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Don't consider busy workflow as an error during replication validation. (#10080)
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Refresh dynamic rate limiter getters
  common/quotas/dynamic_rate_limiter_impl.go
  common/quotas/dynamic_rate_limiter_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use float delta assertions in rate limiter test
  common/quotas/dynamic_rate_limiter_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-156.0-rc.20260428115941
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add GH WF to check cloud release patch PRs
  .github/workflows/check-patch-pr.yml
Due: none

remove tagging of workflow type scope, add update options scope
  chasm/lib/activity/activity.go
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix search attribute creation race
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

initialize dynamic config in test
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

Nexus Standalone: use parallelsuite
  common/testing/parallelsuite/guard.go
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  tests/nexus_standalone_test.go
  tests/nexus_test_base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

newTestEnv
  tests/nexus_standalone_test.go
  tests/nexus_workflow_test.go
Due: none

Nexus Standalone: use parallelsuite (#9885)
  common/testing/parallelsuite/guard.go
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  tests/nexus_standalone_test.go
  tests/nexus_test_base.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[tests] Tie nexus callback URL default to cluster lifetime
  tests/testcore/onebox.go
  tests/testcore/test_env.go
Due: none

Update service/history/deep_health_check.go
  service/history/deep_health_check.go
Due: .azure-pipelines/server-cicd.yaml

change from json/protobuf -> binary/protobuf
  chasm/lib/workflow/nexus_service.go
  chasm/nexus_operation_processor.go
  service/history/handler.go
  tests/signal_with_start_from_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

turn this flag off
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[tests] Tie nexus callback URL default to cluster lifetime (#10102)
  tests/testcore/onebox.go
  tests/testcore/test_env.go
Due: none

description
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fmt
  service/history/deep_health_check.go
Due: .azure-pipelines/server-cicd.yaml

table driven test
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

use require vs assert
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

Add chasm test engine for unit tests (#9882)
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/test_engine.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/scheduler/handler_test.go
Due: none

Refactor deep health check code for history service and add a 60-second wait before returning unhealthy to the DeepHealthCheck (#10093)
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Skip task add hooks for forwarded sync-matched tasks (#10016)
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

update tests to have the flag set to true
  tests/worker_deployment_version_test.go
Due: none

Remove t.Skips fromt nexus_workflow_test.go
  tests/nexus_workflow_test.go
Due: none

Drop t.Skips from NexusWorkflowTestSuite
  tests/nexus_workflow_test.go
Due: none
