Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

fix: use env.Context() and s.T() instead of deprecated alternatives
  tests/stickytq_test.go
Due: none

fix: replace testcore.NewContext() with env.Context() in buffered events tests
  tests/workflow_buffered_events_test.go
Due: none

fix(tests): replace testcore.NewContext() with env.Context() in user_metadata_test.go
  tests/user_metadata_test.go
Due: none

fix: move the Generate call to existing unpause check
  chasm/lib/scheduler/scheduler.go
Due: none

refactor: migrate WorkflowBufferedEventsTestSuite to parallelsuite (#9713)
  tests/workflow_buffered_events_test.go
Due: none

refactor(tests): migrate user_metadata_test.go to parallelsuite (#9672)
  tests/user_metadata_test.go
Due: none

fix: cache ctx.Now() in NewSentinel to ensure idle task is scheduled
  chasm/lib/scheduler/scheduler.go
Due: none

change extension number (#9898)
  api/routing/v1/extension.pb.go
  chasm/lib/activity/gen/activitypb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/tests/gen/testspb/v1/service.pb.go
  proto/internal/temporal/server/api/routing/v1/extension.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: cache ctx.Now() in GeneratorTaskHandler.Execute
  chasm/lib/scheduler/generator_tasks.go
Due: none

HandoverTracker interface, MCN handover support, poller cancellation log
  common/namespace/namespace.go
  common/namespace/nsregistry/registry.go
  common/namespace/nsregistry/registry_test.go
  common/namespace/nsregistry/registry_watch_test.go
  common/namespace/registry.go
  common/resource/fx.go
  common/rpc/interceptor/namespace_validator.go
  common/rpc/interceptor/namespace_validator_test.go
  service/frontend/fx.go
  service/frontend/nexus_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/shard/context_testutil.go
  service/history/shard/controller_test.go
  service/history/shard/fx.go
  service/history/shard/handover_tracker.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove unnecessary helper to create Root
  chasm/chasmtest/test_engine.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/scheduler/handler_test.go
Due: none

refactor: migrate StickyTqTestSuite to parallelsuite (#9707)
  tests/stickytq_test.go
Due: none

fixes
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/fx.go
Due: .azure-pipelines/server-cicd.yaml

Update to activity callback API
  chasm/lib/activity/activity.go
  go.mod
  go.sum
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address review comments from #9880
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

renaming, copy proto defns, started || cancel req, adding unit test coverage
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
Due: none

linter catches
  chasm/lib/activity/activity_test.go
Due: none

porting in Dans changes
  chasm/lib/activity/activity_tasks.go
  tests/standalone_activity_test.go
Due: none

fix: cache ctx.Now() in NewSentinel to ensure idle task is scheduled (#9906)
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/scheduler.go
Due: none

move test to shard suite
  tests/schedule_test.go
Due: none

Update to API v1.62.8
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename stickyTaskQueueTTL and stickyWorkerAvailable to ephemeral variants
  service/matching/db.go
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Update to API v1.62.8 (#9907)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(searchattribute): restore identity pass-through in backCompMapper for SQL stores
  common/searchattribute/mapper.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: re-kick generator on unpause to resume CHASM schedule processing (#9889)
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/scheduler.go
  tests/schedule_test.go
Due: none

fix(tests): enable versioning data API and fix query pagination test
  tests/nexus_api_test.go
  tests/query_workflow_test.go
Due: none

Addressed PR comments
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/workflow/workflow.go
  tests/standalone_activity_test.go
Due: none

Support testify.m for parallelsuite
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tweak comment
  common/testing/parallelsuite/suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move workspace config to ActivityWorkspaceOptions on ActivityInfo
  api/historyservice/v1/request_response.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/persistence/v1/activity_info_helpers.go
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/respondactivitytaskcanceled/api.go
  service/history/api/respondactivitytaskcompleted/api.go
  service/history/api/respondactivitytaskfailed/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/timer_queue_active_task_executor.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fixes formatting
  chasm/lib/nexusoperation/cancellation.go
Due: none

[Nexus] Migrate registry and event definitions (#9491)
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/events.go
  chasm/lib/workflow/workflowregistry/registry.go
Due: none

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Nexus chasm cleanup (#9843)
  chasm/lib/buf.yaml
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/nexusoperation/workflow/library.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  components/nexusoperations/fx.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/fx.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Remove references to commandHandler.config.Enabled()
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

Nexus chasm invocation task unit tests (#9880)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Remove workflow-specifics from OperationState (#9503)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
Due: none

[Nexus-Chasm] Migrate timeout and backoff operation task handlers (#9679)
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
