Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Simplify object leak baseline reporting
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/leakcheck_test.go
  common/testing/objectleak/report.go
  common/testing/objectleak/walker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update leakcheck.go
  common/testing/objectleak/leakcheck.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address object leak baseline review feedback
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/leakcheck_test.go
  common/testing/objectleak/report.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update report.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

simpler
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix object leak checker false positives
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/leakcheck_test.go
  common/testing/objectleak/report.go
  common/testing/objectleak/walker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reuse retained object iteration
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Separate retention accumulation from reports
  common/testing/objectleak/pattern.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update leakcheck_test.go
  common/testing/objectleak/leakcheck_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update walker.go
  common/testing/objectleak/walker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Track process-lifetime object leak baselines
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/leakcheck_test.go
  common/testing/objectleak/report.go
  common/testing/objectleak/walker.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep SDK workflow cache alive through leak check
  tests/leakcheck/leak_test.go
Due: none

Consolidate retained object processing
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify retained object classification
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update common/testing/objectleak/report.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Pass object leak baselines explicitly
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/leakcheck_test.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Ergonomic improvements to the validator system
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_gen.go
  cmd/tools/genvalidationcoverage/main.go
  common/validation/validator_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix object leak report construction
  common/testing/objectleak/leakcheck.go
  common/testing/objectleak/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enroll ListNexusOperationExecutionsRequest into validator system
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_gen.go
  chasm/lib/nexusoperation/validator_gen.messages
  chasm/lib/nexusoperation/validator_test.go
Due: none

Enroll CountNexusOperationExecutionsRequest into validator system
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_gen.go
  chasm/lib/nexusoperation/validator_gen.messages
  chasm/lib/nexusoperation/validator_test.go
Due: none

Design Umpire observability follow-ups
  docs/superpowers/specs/2026-08-12-umpire-follow-up-observability-design.md
Due: none

Preserve UTF-8 in test summaries
  tools/testrunner/summary.go
  tools/testrunner/summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Populate CallbackInfo.outcome
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  service/history/api/describeworkflow/api.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove unused parameter from callback.NewCallback
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/workflow/workflow.go
Due: none

Document idempotency bug in SAA
  chasm/lib/activity/activity.go
Due: none

Support completion callbacks for SANOs
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/validator.go
Due: none

Address PR feedback
  chasm/lib/activity/activity.go
  chasm/lib/nexusoperation/operation.go
  tests/nexus_standalone_callbacks_test.go
Due: none

Add tests
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/validator_test.go
  service/frontend/workflow_handler_test.go
  tests/nexus_standalone_callbacks_test.go
Due: .azure-pipelines/server-cicd.yaml

Address Copilot feedback
  tests/callbacks_test.go
  tests/nexus_test_base.go
Due: none

Fix approximateSize undercounting on activity start and heartbeat paths
  service/history/api/recordactivitytaskheartbeat/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop skip-stuck functional test and remove its test hook
  common/testing/testhooks/hooks.go
  service/history/handler.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
  tests/xdc/stream_based_replication_skip_stuck_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flakereport incomplete JUnit failures
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Cleanup/consolidate completionHandler test infra (#11482)
  tests/activity_standalone_test.go
  tests/callbacks_migration_test.go
  tests/callbacks_test.go
  tests/nexus_test_base.go
  tests/schedule_test.go
Due: none
