Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

the error
  CLAUDE.md
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

remove double #
  config/development-cass-archival.yaml
  config/development-cass-es-custom.yaml
  config/development-cass-es-dual.yaml
  config/development-cass-es-fi.yaml
  config/development-cass-es.yaml
  config/development-mysql-es.yaml
  config/development-mysql8.yaml
  config/development-postgres-es.yaml
  config/development-postgres12.yaml
  config/development-sqlite-file.yaml
  config/development-sqlite.yaml
Due: none

Standardize YAML formatting
  .github/.codecov.yml
  .github/.yamlfmt
  .github/workflows/flaky-tests-report.yml
  .github/workflows/linters.yml
  .github/workflows/run-tests.yml
  .github/workflows/stale.yml
  Makefile
  common/dynamicconfig/config/testConfig.yaml
  config/development-cass-archival.yaml
  config/development-cass-es-custom.yaml
  config/development-cass-es-dual.yaml
  config/development-cass-es-fi.yaml
  config/development-cass-es.yaml
  config/development-mysql-es.yaml
  config/development-mysql8.yaml
  config/development-postgres-es.yaml
  config/development-postgres12.yaml
  config/development-sqlite.yaml
  develop/docker-compose/grafana/provisioning/dashboards/dashboard.yml
  develop/docker-compose/grafana/provisioning/datasources/prometheus.yml
  develop/docker-compose/grafana/provisioning/tempo/tempo.yaml
  develop/docker-compose/prometheus-darwin/prometheus.yml
  develop/docker-compose/prometheus-linux/prometheus.yml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix comment
  CLAUDE.md
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Add handler-level rate limiting for worker deployment read APIs + move ListWorkerDeployments to Visibility group (#9195)
  common/dynamicconfig/constants.go
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add second tool to ci-notify
  .github/workflows/run-tests.yml
  tools/ci-notify/app.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fixed a mixup
  tests/update_workflow_test.go
Due: none

Standardize YAML formatting (#9142)
  .github/.codecov.yml
  .github/.yamlfmt
  .github/workflows/flaky-tests-report.yml
  .github/workflows/linters.yml
  .github/workflows/run-tests.yml
  .github/workflows/stale.yml
  Makefile
  common/dynamicconfig/config/testConfig.yaml
  config/development-cass-archival.yaml
  config/development-cass-es-custom.yaml
  config/development-cass-es-dual.yaml
  config/development-cass-es-fi.yaml
  config/development-cass-es.yaml
  config/development-mysql-es.yaml
  config/development-mysql8.yaml
  config/development-postgres-es.yaml
  config/development-postgres12.yaml
  config/development-sqlite-file.yaml
  config/development-sqlite.yaml
  develop/docker-compose/grafana/provisioning/dashboards/dashboard.yml
  develop/docker-compose/grafana/provisioning/datasources/prometheus.yml
  develop/docker-compose/grafana/provisioning/tempo/tempo.yaml
  develop/docker-compose/prometheus-darwin/prometheus.yml
  develop/docker-compose/prometheus-linux/prometheus.yml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add functional test for activity cancellation via control queue
  common/testing/taskpoller/taskpoller.go
  common/testing/testvars/test_vars.go
  go.mod
  service/history/transfer_queue_active_task_executor.go
  service/matching/forwarder.go
  service/matching/matching_engine.go
  service/matching/pri_forwarder.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move pollerID and identity from context to pollMetadata struct
  service/matching/forwarder.go
  service/matching/forwarder_test.go
  service/matching/matching_engine.go
  service/matching/pri_forwarder.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

gate SuggestContinueAsNewTargetVersionChanged with dynamic config
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test
  tests/versioning_3_test.go
Due: none

Deprecate FunctionalTestBase
  .github/.golangci.yml
  docs/development/testing.md
Due: none

flip
  .github/.golangci.yml
Due: none

expand command
  .github/.golangci.yml
Due: none

Fix WorkerInstanceKey not forwarded between task queue partitions
  service/matching/forwarder.go
  service/matching/forwarder_test.go
  service/matching/matching_engine.go
  service/matching/pri_forwarder.go
Due: .azure-pipelines/server-cicd.yaml

Deprecate FunctionalTestBase (#9140)
  .github/.golangci.yml
  docs/development/testing.md
Due: none

Time skip to StickyWorkerUnavailable
  common/clock/event_time_source.go
  common/clock/time_source.go
  service/matching/backlog_manager_test.go
  service/matching/handler.go
  service/matching/matcher_test.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/poller_history.go
  service/matching/service.go
  service/matching/task_queue_partition_manager.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Disable Suggest-ContinueAsNew-on-new target version (#9222)
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Print goroutine profile in CI
  develop/github/memory_monitor.sh
Due: none

Migrate task_queue_stats_test.go to TestEnv
  tests/task_queue_stats_test.go
  tests/testcore/matching_behavior.go
  tests/testcore/test_env.go
Due: none

Batch activity cancel control tasks by worker instance key
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
Due: .azure-pipelines/server-cicd.yaml

Fix matcher_test.go: remove extra clock.TimeSource argument
  service/matching/matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

Look up worker control queue name from worker registry
  common/testing/testvars/test_vars.go
  service/history/transfer_queue_active_task_executor.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Run Single Test workflow
  .github/workflows/run-single-test.yml
  .github/workflows/run-tests.yml
Due: none

test: Add failing tests for NotFound error wrapping in terminate/cancel
  tests/standalone_activity_test.go
Due: none

fix: Wrap NotFound errors in terminate/cancel activity handlers
  chasm/lib/activity/handler.go
Due: none

refactor: Move NonExistent tests into their parent test functions
  tests/standalone_activity_test.go
Due: none

Rename
  tests/standalone_activity_test.go
Due: none

Add NamespaceDataMerger and NamespaceDataUpdateChecker interfaces
  .omc/sessions/c166455e-7873-4ce7-b96b-da26efca70a5.json
  .omc/sessions/ca2a062a-6d78-4924-9ab2-6ba322aa84ab.json
  .omc/state/checkpoints/checkpoint-2026-02-03T16-14-39-323Z.json
  .omc/state/checkpoints/checkpoint-2026-02-03T16-42-31-857Z.json
  .omc/state/checkpoints/checkpoint-2026-02-03T17-13-55-322Z.json
  .omc/state/checkpoints/checkpoint-2026-02-05T15-52-16-241Z.json
  .omc/state/subagent-tracking.json
  common/namespace/nsreplication/data_merger.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/data_update_checker.go
  service/frontend/fx.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/replication/fx.go
  service/worker/fx.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove flaky teat detection steps
  .github/workflows/run-tests.yml
Due: none

add to unit and integration test
  .github/workflows/run-tests.yml
Due: none

use checkTestShard
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
Due: none

Drop outstanding standalone activity chasm tasks. Return unimplemented error if standalone activity is disabled.
  chasm/lib/activity/frontend.go
  service/frontend/workflow_handler.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_task_executor_base.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_task_executor_base.go
Due: .azure-pipelines/server-cicd.yaml

Run Single Test workflow (#9226)
  .github/workflows/run-single-test.yml
  .github/workflows/run-tests.yml
Due: none

Disable standalone activity integration tests
  tests/standalone_activity_test.go
Due: none

Remove legacy ignore
  tests/standalone_activity_test.go
Due: none

ARM test runners
  .github/workflows/run-tests.yml
Due: none
