Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-Chasm] Migrate timeout and backoff operation task handlers (#9679)
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

[Nexus] Minor fixes - Added destination queue and schedule cancellati… (#9790)
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/workflow/events.go
Due: none

[Nexus-CHASM] Add workflow methods to handle nexus events (#9546)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/events.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/frontend/admin_handler_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/history_test.go
  service/history/visibility_queue_task_executor_test.go
  service/history/workflow/command_handler.go
  service/worker/migration/activities_test.go
  temporal/fx.go
  tools/tdbg/chasm_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Nexus-Chasm] Migrate OperationInvocationTaskExecutor (#9680)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
Due: none

Fix rebase issue
  chasm/context.go
  chasm/context_mock.go
Due: none

[Nexus] Migrate event definition tests from HSM to CHASM (#9597)
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/workflow/workflow.go
  chasm/statemachine.go
Due: none

Nexus chasm cleanup (#9843)
  chasm/lib/buf.yaml
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/nexusoperation/workflow/library.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  components/nexusoperations/fx.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/fx.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

only use InitialVersioningBehavior UseRampingVersion on the first workflow task after continue as new, or retry of that run
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  api/taskqueue/v1/message.pb.go
  common/worker_versioning/worker_versioning.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/deployment/v1/message.proto
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/history/api/queryworkflow/api.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/updateworkflow/api.go
  service/history/interfaces/mutable_state.go
  service/history/transfer_queue_active_task_executor.go
  service/history/worker_versioning_util.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

EffectiveRampPolicy is only non-nil if wf is auto-upgrade, no completed WFT, and initial behavior use-ramping-version
  api/deployment/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/workflow/mutable_state_impl.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

clarify comment
  service/history/api/queryworkflow/api.go
Due: .azure-pipelines/server-cicd.yaml

Support pausing multi-cursor task loading (#9883)
  service/history/queues/queue_base.go
Due: .azure-pipelines/server-cicd.yaml

Standalone Activity refactor for consistency with Standalone Nexus Operations (#9795)
  chasm/lib/activity/frontend.go
  chasm/lib/activity/frontend_test.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-154.0-rc.20260409114014
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: re-kick generator on unpause to resume CHASM schedule processing
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/scheduler.go
  tests/schedule_test.go
Due: none

test: replace sleep with eventually in unpause schedule test
  tests/schedule_test.go
Due: none

Test CHASM in NexusWorkflowTestSuite
  tests/nexus_workflow_test.go
  tests/testcore/test_env.go
Due: none

Nexus Standalone: Delete (#9654)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: List + Count (#9559)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: Terminate + Cancel (#9624)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_grpc.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  chasm/lib/nexusoperation/workflow/events.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: Feature flag (#9567)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: Start + Describe (#9487)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_grpc.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/request_response.proto
  chasm/lib/nexusoperation/proto/v1/service.proto
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  tests/nexus_standalone_test.go
Due: none

Standalone Nexus Operations API (#9458)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/api/metadata.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: Poll (#9780)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  common/testing/protoutils/enum.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: remove unused context variable in scheduler test
  chasm/lib/scheduler/generator_tasks_test.go
Due: none

test: add SendToChannel helper and replace bare channel sends in functional tests (#9876)
  tests/activity_api_pause_test.go
  tests/nexus_workflow_test.go
  tests/pause_workflow_execution_test.go
  tests/testcore/functional_test_base.go
  tests/versioning_test.go
Due: none

Nexus Standalone: translate "already started" err
  chasm/lib/nexusoperation/handler.go
  tests/nexus_standalone_test.go
Due: none

use errors.AsType
  chasm/lib/nexusoperation/handler.go
Due: none

Fix Nexus HTTP routing to target frontend instead of internal-frontend
  common/config/config.go
  common/resource/fx.go
  common/rpc/rpc.go
  common/rpc/test/http_test.go
  common/rpc/test/rpc_localstore_tls_test.go
  service/frontend/fx.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: translate "already started" err (#9832)
  chasm/lib/nexusoperation/handler.go
  tests/nexus_standalone_test.go
Due: none

Address review nits: defensive comment, unit test, consistent TLS params
  common/membership/grpc_resolver.go
  common/resource/fx.go
  common/resource/fx_internal_test.go
  common/rpc/test/rpc_localstore_tls_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
