Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

generate load-balancing wrappers (claude)
  client/history/client_gen.go
  client/matching/client.go
  client/matching/client_gen.go
  client/matching/metric_client.go
  client/matching/metric_client_gen.go
  cmd/tools/genrpcwrappers/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix closed scheduler migration completion
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migration_completion_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_tasks.go
  tests/schedule_migration_test.go
Due: none

split read/long poll
  cmd/tools/genrpcwrappers/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Address scheduler migration feedback
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migration_completion_test.go
  chasm/lib/scheduler/scheduler_tasks.go
Due: none

Simplify late parent replication XDC tests
  common/testing/testhooks/hooks.go
  service/history/history_engine.go
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve epoch backfill cursor
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
Due: none

Centralize backfill progress detection
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/internal/backfill.go
  chasm/lib/scheduler/internal/backfill_test.go
  chasm/lib/scheduler/migration/migration.go
Due: none

Add passive replication test hook safety metric
  common/metrics/metric_defs.go
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test_hook_test.go
  service/history/outbound_queue_factory.go
  service/history/queues/active_standby_executor.go
  service/history/queues/active_standby_executor_test.go
  service/history/queues/active_standby_executor_test_hook_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/workflow/context.go
  service/history/workflow/context_test_hook_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drop redundant backfill helper test
  chasm/lib/scheduler/internal/backfill_test.go
Due: none

Clarify inclusive backfill cursors
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/internal/backfill.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  common/schedules/backfill.go
  service/worker/scheduler/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix scheduler migration fidelity
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
Due: none

Document migrated nominal time
  api/schedule/v1/message.pb.go
  proto/internal/temporal/server/api/schedule/v1/message.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve migrated running action times
  api/schedule/v1/message.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/message.proto
  proto/internal/temporal/server/api/schedule/v1/message.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address child completion recovery review feedback
  common/metrics/metric_defs.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility Elasticsearch] Return empty page token when result size is less than page size (#11829)
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag Nexus logs by lifecycle stage (#11757)
  chasm/lib/callback/library.go
  chasm/lib/callback/tasks.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/log/tag/tags.go
  common/log/tag/values.go
  components/callbacks/chasm_invocation.go
  components/callbacks/executors.go
  components/callbacks/executors_test.go
  components/nexusoperations/executors.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_operation_http_handler.go
  service/history/circuitbreakerpool/fx.go
  service/history/circuitbreakerpool/fx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add local mutation testing tool
  .claude/skills/mutation-test/SKILL.md
  .gitignore
  Makefile
  cmd/tools/mutationtest/main.go
  docs/development/testing.md
  go.mod
  go.sum
  tools/mutationtest/campaign.go
  tools/mutationtest/cmd.go
  tools/mutationtest/config.go
  tools/mutationtest/coverage.go
  tools/mutationtest/coverage_test.go
  tools/mutationtest/discovery.go
  tools/mutationtest/exec.go
  tools/mutationtest/executor_test.go
  tools/mutationtest/generator.go
  tools/mutationtest/generator_test.go
  tools/mutationtest/git.go
  tools/mutationtest/loader.go
  tools/mutationtest/loader_test.go
  tools/mutationtest/mutationtest.go
  tools/mutationtest/mutationtest_test.go
  tools/mutationtest/operators.go
  tools/mutationtest/progress.go
  tools/mutationtest/reporting_test.go
  tools/mutationtest/testdata/baseline-failure/go.mod.txt
  tools/mutationtest/testdata/baseline-failure/value.go
  tools/mutationtest/testdata/baseline-failure/value_test.go
  tools/mutationtest/testdata/repo/go.mod.txt
  tools/mutationtest/testdata/repo/other.go
  tools/mutationtest/testdata/repo/value.go
  tools/mutationtest/testdata/repo/value_test.go
  tools/mutationtest/testdata/want/summary.txt
  tools/mutationtest/testdata/want/uncovered.txt
  tools/mutationtest/workspace.go
  tools/mutationtest/worktree.go
  tools/mutationtest/worktree_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Harden mutation test execution
  .claude/skills/mutation-test/SKILL.md
  Makefile
  docs/development/testing.md
  tools/mutationtest/campaign.go
  tools/mutationtest/cmd.go
  tools/mutationtest/cmd_test.go
  tools/mutationtest/coverage.go
  tools/mutationtest/exec.go
  tools/mutationtest/git.go
  tools/mutationtest/mutationtest_test.go
  tools/mutationtest/process_other.go
  tools/mutationtest/process_unix.go
  tools/mutationtest/process_windows.go
  tools/mutationtest/workspace.go
  tools/mutationtest/workspace_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Allow namespace readers to call cluster-level readonly APIs
  common/authorization/default_authorizer.go
  common/authorization/default_authorizer_test.go
  common/authorization/roles.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve SQL plugin update compatibility
  common/persistence/sql/execution_util.go
  common/persistence/sql/sqlplugin/history_execution.go
  common/persistence/sql/sqlplugin/mysql/execution.go
  common/persistence/sql/sqlplugin/postgresql/execution.go
  common/persistence/sql/sqlplugin/sqlite/execution.go
  common/persistence/sql/sqlplugin/tests/history_execution.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Check execution conditions during updates
  common/persistence/sql/execution_util.go
  common/persistence/sql/sqlplugin/history_execution.go
  common/persistence/sql/sqlplugin/mysql/execution.go
  common/persistence/sql/sqlplugin/postgresql/execution.go
  common/persistence/sql/sqlplugin/sqlite/execution.go
  common/persistence/sql/sqlplugin/tests/history_execution.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use a Go-compliant conditional update test name
  common/persistence/sql/sqlplugin/tests/history_execution.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-163.0-rc.20260901112617
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

all: fix typos in code comments
  chasm/lib/scheduler/scheduler.go
  chasm/ref.go
  chasm/registrable_component.go
  chasm/tree.go
  temporal/fx.go
  tools/tdbg/app.go
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix lint issues in legacy HSM packages
  .github/.golangci.yml
  components/callbacks/request_test.go
  components/callbacks/statemachine.go
  components/callbacks/statemachine_test.go
  components/nexusoperations/completion.go
  components/nexusoperations/events.go
  components/nexusoperations/events_test.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
Due: none

Exclude legacy HSM packages from linting
  .github/.golangci.yml
  service/history/hsm/callbacks/request_test.go
  service/history/hsm/callbacks/statemachine.go
  service/history/hsm/callbacks/statemachine_test.go
  service/history/hsm/nexusoperations/completion.go
  service/history/hsm/nexusoperations/events.go
  service/history/hsm/nexusoperations/events_test.go
  service/history/hsm/nexusoperations/executors.go
  service/history/hsm/nexusoperations/executors_test.go
  service/history/hsm/nexusoperations/statemachine.go
  service/history/hsm/nexusoperations/statemachine_test.go
  service/history/hsm/nexusoperations/workflow/commands.go
  service/history/hsm/nexusoperations/workflow/commands_test.go
Due: .azure-pipelines/server-cicd.yaml

Shorten legacy HSM deprecation notices
  service/history/hsm/callbacks/doc.go
  service/history/hsm/nexusoperations/doc.go
Due: .azure-pipelines/server-cicd.yaml

Point Nexus callback docs to CHASM
  docs/architecture/nexus.md
Due: none

Refine legacy HSM ownership and documentation
  .github/CODEOWNERS
  docs/architecture/circuit-breaker.md
Due: none

Preserve legacy Nexus operation config settings
  docs/architecture/nexus.md
  service/frontend/service.go
  service/matching/config.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove line anchors from Nexus documentation links
  docs/architecture/nexus.md
Due: none

Update nexus.md
  docs/architecture/nexus.md
Due: none

these too
  service/history/circuitbreakerpool/fx.go
  service/history/circuitbreakerpool/fx_test.go
Due: .azure-pipelines/server-cicd.yaml

Add namespace replication outcome metrics
  common/metrics/metric_defs.go
  common/metrics/tags.go
  common/namespace/nsreplication/metrics.go
  common/namespace/nsreplication/metrics_test.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  service/worker/fx.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix lint issues in legacy HSM packages
  service/history/hsm/callbacks/request_test.go
  service/history/hsm/callbacks/statemachine.go
  service/history/hsm/callbacks/statemachine_test.go
  service/history/hsm/nexusoperations/completion.go
  service/history/hsm/nexusoperations/events.go
  service/history/hsm/nexusoperations/events_test.go
  service/history/hsm/nexusoperations/executors.go
  service/history/hsm/nexusoperations/executors_test.go
  service/history/hsm/nexusoperations/statemachine.go
  service/history/hsm/nexusoperations/statemachine_test.go
  service/history/hsm/nexusoperations/workflow/commands.go
  service/history/hsm/nexusoperations/workflow/commands_test.go
Due: .azure-pipelines/server-cicd.yaml

Restore linting for legacy HSM packages
  .github/.golangci.yml
Due: none

Fix FirstWorkflowTaskBackoff Accumulation upon ContinueAsNew
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/continue_as_new_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
