Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

[PR #11697] Move CHASM Link, Callback validators into common
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/link_validator.go
  chasm/lib/activity/validator_test.go
  chasm/lib/callback/config.go
  chasm/lib/callback/validator.go
  common/callbacks/address.go
  common/callbacks/address_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/links/validator.go
  common/links/validator_test.go
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address bot comments
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Don't drop force replication or deletes
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  service/history/replication/executable_delete_execution_task.go
  service/history/replication/executable_delete_execution_task_test.go
  service/history/replication/executable_sync_versioned_transition_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/raw_task_converter.go
  service/history/replication/raw_task_converter_test.go
  service/history/tasks/activity_replication_task.go
  service/history/tasks/history_replication_task.go
  service/history/tasks/sync_hsm_task.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_util.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Adds LIKE / NOT LIKE to the supported comparison operators for keyword search attributes, enabling substring (Contains) filtering:
  common/persistence/visibility/store/elasticsearch/converter.go
  common/persistence/visibility/store/elasticsearch/converter_test.go
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_legacy.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/like_pattern.go
  common/persistence/visibility/store/query/like_pattern_test.go
  common/persistence/visibility/store/sql/query_converter.go
  common/persistence/visibility/store/sql/query_converter_legacy.go
  common/persistence/visibility/store/sql/query_converter_legacy_test.go
  common/persistence/visibility/store/sql/query_converter_test.go
  service/worker/scheduler/schedule_id_query_rewriter.go
  service/worker/scheduler/schedule_id_query_rewriter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: preserve explicit MaximumAttempts=0 (unlimited) from dynamic config overrides
  service/history/api/command_attr_validator.go
Due: .azure-pipelines/server-cicd.yaml

fix: preserve explicit MaximumAttempts=0 (unlimited) from dynamic config in chasm validator
  chasm/lib/activity/validator.go
Due: none

fix: preserve explicit MaximumAttempts=0 (unlimited) in chasm workflow validator
  chasm/lib/workflow/validator.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-163.0-rc.20260822113136
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Check SQL refresh throttle before discarding the connection pool
  common/persistence/sql/sqlplugin/db_handle.go
  common/persistence/sql/sqlplugin/db_handle_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Return forked branch token from storage layer to OSS so both components have the same view of the branch token. (#11704)
  common/persistence/data_interfaces.go
  service/history/ndc/resetter.go
  service/history/ndc/resetter_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Recognize new Worker callback variant
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/gen/callbackpb/v1/message.pb.go
  chasm/lib/callback/proto/v1/message.proto
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/statemachine_test.go
  chasm/lib/workflow/workflow.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/util.go
  service/frontend/workflow_handler_test.go
  tests/activity_standalone_test.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Populate CallbackInfo.outcome
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/workflow/workflow.go
  service/history/api/describeworkflow/api.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Combine schedule completion tracking fixes
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
Due: none

Retry ambiguous task starts for active worker polls
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify task start retry lifetime
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Make supported callback kinds configurable
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator_test.go
  chasm/lib/callback/config.go
  common/callbacks/kind.go
  common/callbacks/kind_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/links/validator.go
  common/links/validator_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/callbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Support Links on standalone Nexus operators and callbacks
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/invocable_worker.go
  chasm/lib/callback/invocable_worker_test.go
  chasm/lib/callback/tasks.go
  chasm/lib/callback/validator.go
  chasm/lib/callback/validator_test.go
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/operation.go
  common/nexus/link_converter.go
  common/nexus/link_converter_test.go
  common/nexus/links.go
  tests/callbacks_worker_test.go
  tests/nexus_standalone_callbacks_test.go
  tests/nexus_test_base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add completion callbacks to SANOs
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/link_validator.go
  chasm/lib/nexusoperation/links_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  common/callbacks/validator_test.go
  service/frontend/workflow_handler_test.go
  tests/nexus_standalone_callbacks_test.go
  tests/nexus_standalone_test.go
  tests/nexus_test_base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Support Worker-variant callbacks
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/invocable_internal.go
  chasm/lib/callback/invocable_worker.go
  chasm/lib/callback/invocable_worker_test.go
  chasm/lib/callback/library.go
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/tasks.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation.go
  common/nexus/dispatch_response.go
  common/nexus/dispatch_response_test.go
  service/history/api/describeworkflow/api.go
  service/history/fx.go
  tests/callbacks_circuitbreaker_test.go
  tests/callbacks_worker_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Retry busy task starts after ambiguous timeouts
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-163.0-rc.20260823113017
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add historyScannerRPS to tune the history scavenger independently
  common/dynamicconfig/constants.go
  service/worker/scanner/history/scavenger.go
  service/worker/scanner/history/scavenger_test.go
  service/worker/scanner/scanner.go
  service/worker/scanner/workflow.go
  service/worker/scanner/workflow_test.go
  service/worker/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add tests for the parent close policy processor workflow and activity
  service/worker/parentclosepolicy/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add time skipping to CHASM framework
  chasm/chasmtest/test_engine.go
  chasm/context.go
  chasm/context_mock.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/node_backend_mock.go
  chasm/skip_persistence_test.go
  chasm/test_component_test.go
  chasm/test_library_test.go
  chasm/test_var_test.go
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Add CHASM framework support for schedule time skipping
  chasm/context.go
  chasm/context_mock.go
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

udpate api
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Gate schedule time skipping by namespace
  common/dynamicconfig/constants.go
  service/frontend/errors.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix schedule time-skipping lint errors
  service/frontend/workflow_handler_test.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

implement ts schedule on top of chasm
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_task_executor_base.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Propagate schedule virtual time to workflows
  common/util.go
  common/util_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-163.0-rc.20260824113117
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cherry-pick #11704 to cloud/v1.32.0-162: return forked branch token from storage layer to OSS (#11731)
  common/persistence/data_interfaces.go
  service/history/ndc/resetter.go
  service/history/ndc/resetter_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

chasm/lib/activity: make statemachine.go declarative
  chasm/lib/activity/attempt.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/outcome.go
  chasm/lib/activity/statemachine.go
Due: none

chasm/lib/activity: split activity.go by concern
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/attempt.go
  chasm/lib/activity/attempt_test.go
  chasm/lib/activity/metrics.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/operator_commands_test.go
  chasm/lib/activity/outcome.go
  chasm/lib/activity/responses.go
  chasm/lib/activity/responses_test.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none
