Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

add dc query and dump
  api/adminservice/v1/request_response.go-helpers.pb.go
  api/adminservice/v1/request_response.pb.go
  api/adminservice/v1/service.pb.go
  api/adminservice/v1/service_grpc.pb.go
  api/adminservicemock/v1/service_grpc.pb.mock.go
  client/admin/client_gen.go
  client/admin/metric_client_gen.go
  client/admin/retryable_client_gen.go
  common/dynamicconfig/client.go
  common/dynamicconfig/collection.go
  common/dynamicconfig/file_based_client.go
  common/dynamicconfig/memory_client.go
  common/dynamicconfig/static_client.go
  common/rpc/interceptor/logtags/admin_service_server_gen.go
  docs/admin/query-dynamic-config.md
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  proto/internal/temporal/server/api/adminservice/v1/service.proto
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  tools/tdbg/dynamic_config_commands.go
  tools/tdbg/dynamic_config_commands_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add dynamic config value dump to tdbg
  api/adminservice/v1/request_response.go-helpers.pb.go
  api/adminservice/v1/request_response.pb.go
  api/adminservice/v1/service.pb.go
  api/adminservice/v1/service_grpc.pb.go
  api/adminservicemock/v1/service_grpc.pb.mock.go
  client/admin/client_gen.go
  client/admin/metric_client_gen.go
  client/admin/retryable_client_gen.go
  common/dynamicconfig/client.go
  common/dynamicconfig/collection.go
  common/dynamicconfig/file_based_client.go
  common/dynamicconfig/memory_client.go
  common/dynamicconfig/static_client.go
  common/rpc/interceptor/logtags/admin_service_server_gen.go
  docs/admin/query-dynamic-config.md
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  proto/internal/temporal/server/api/adminservice/v1/service.proto
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  tools/tdbg/dynamic_config_commands.go
  tools/tdbg/dynamic_config_commands_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use typed atomic values (#11675)
  common/collection/concurrent_tx_map.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/tasks/execution_queue_scheduler_test.go
  service/history/shard/controller_impl.go
  service/matching/task_gc.go
  service/worker/batcher/activities_test.go
  service/worker/pernamespaceworker.go
  service/worker/scanner/executions/scavenger.go
  service/worker/scanner/executor/executor.go
  service/worker/scanner/taskqueue/scavenger.go
  service/worker/worker.go
  tests/ndc/replication_migration_back_test.go
  tests/ndc/replication_task_batching_test.go
  tests/query_workflow_test.go
  tests/schedule_test.go
  tests/xdc/stream_based_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add VerifyChildExecutionCompletionRecorded
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_test.go
Due: none

clean up
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_harness_test.go
  tests/xdc/parent_child_test.go
Due: none

Add TestActivityResetApi_TimesOutOnUnpause
  tests/activity_api_reset_test.go
Due: none

Fix lint
  tests/activity_api_reset_test.go
Due: none

Emit namespace migration workflow lifecycle events (#11658)
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/worker/migration/catchup_workflow.go
  service/worker/migration/catchup_workflow_test.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
  service/worker/migration/workflow_lifecycle_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add functional coverage for worker deployment metric labels
  tests/worker_deployment_version_test.go
Due: none

Fix activity timeout regeneration after unpause (#11666)
  service/history/workflow/activity.go
  service/history/workflow/activity_test.go
  tests/activity_api_reset_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop outboundCallLogTags comment
  components/nexusoperations/executors.go
Due: none

Move logging helpers after the outcome-tag helpers
  components/nexusoperations/executors.go
Due: none

Tag HSM outbound Nexus call failure logs
  components/nexusoperations/executors.go
Due: none

Add missing target namespace ID tag
  components/nexusoperations/executors.go
Due: none

Mirror CHASM's invocationTraceContext in the HSM executor
  components/nexusoperations/executors.go
Due: none

Return a bound logger instead of a tag slice
  components/nexusoperations/executors.go
Due: none

Shorten outbound call log helper comments
  components/nexusoperations/executors.go
Due: none

Trim outbound call log helper comments
  components/nexusoperations/executors.go
Due: none

Verify Nexus log correlation across hops
  chasm/lib/nexusoperation/task_handler_base_logging_test.go
  components/nexusoperations/executors_logging_test.go
  service/frontend/nexus_handler_test.go
  tests/nexus_logging_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop redundant Nexus log fidelity tests
  chasm/lib/nexusoperation/task_handler_base_logging_test.go
  components/nexusoperations/executors_logging_test.go
Due: none

default to 1 shard
  tests/xdc/base.go
Due: none

Drop frontend Nexus logging test
  service/frontend/nexus_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Emit remote cluster lifecycle wide events (#11672)
  common/wideevents/remote_cluster_events.go
  common/wideevents/remote_cluster_events_test.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  service/frontend/operator_handler.go
  service/frontend/operator_handler_test.go
  service/frontend/remote_cluster_lifecycle_events.go
  service/frontend/remote_cluster_lifecycle_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Verify Nexus observability signals
  tests/nexus_logging_test.go
  tests/nexus_observability_test.go
Due: none

Use test vars for Nexus observability IDs
  tests/nexus_observability_test.go
Due: none

add forward interceptor for Nexus
  service/frontend/nexus_forward_interceptor.go
Due: .azure-pipelines/server-cicd.yaml

adding nexus interceptor skeleton
  common/rpc/interceptor/nexus.go
  common/rpc/interceptor/nexus_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

adding unit tests for interceptors
  common/authorization/interceptor.go
  common/authorization/interceptor_test.go
  common/rpc/interceptor/caller_info_test.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/concurrent_request_limit_test.go
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  common/rpc/interceptor/namespace_validator.go
  common/rpc/interceptor/namespace_validator_test.go
  common/rpc/interceptor/rate_limit.go
  common/rpc/interceptor/rate_limit_test.go
  common/rpc/interceptor/sdk_version_test.go
  common/rpc/interceptor/telemetry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

adding nexus handlers to interceptors
  common/authorization/interceptor.go
  common/rpc/interceptor/caller_info.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/namespace_logger.go
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_validator.go
  common/rpc/interceptor/rate_limit.go
  common/rpc/interceptor/sdk_version.go
  common/rpc/interceptor/telemetry.go
  common/rpc/tlsinfo/context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add tests for forwarder
  service/frontend/nexus_forward_interceptor.go
  service/frontend/nexus_forward_interceptor_test.go
Due: .azure-pipelines/server-cicd.yaml

adapting handlers to new Nexus frontend interceptors
  common/authorization/interceptor.go
  common/rpc/interceptor/nexus.go
  service/frontend/fx.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  temporal/fx.go
  temporal/server_option.go
  temporal/server_options.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add a wrapper for ns rate-limit interceptor
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/fx.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document test environment log capture design
  docs/superpowers/specs/2026-08-20-test-env-log-capture-design.md
Due: none

Fix eager activity metric attribution
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/server-cicd.yaml

Rebuild preserves start time
  service/history/ndc/state_rebuilder.go
  service/history/workflow_rebuilder.go
  service/history/workflow_rebuilder_test.go
  tests/admin_test.go
Due: .azure-pipelines/server-cicd.yaml

Add queue slice count counter metric
  common/metrics/metric_defs.go
  service/history/queues/queue_base.go
  service/history/queues/queue_base_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Adaptive test timeouts via Await (#10417)
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/activity_driver.go
  tests/activity_driver_test.go
  tests/activity_parity_test.go
  tests/activity_standalone_driver.go
  tests/activity_standalone_test.go
  tests/activity_workflow_driver.go
  tests/schedule_migration_test.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make all force replication tasks low priority
  common/persistence/serialization/task_serializers.go
  service/history/replication/stream_sender.go
  service/history/tasks/activity_replication_task.go
  service/history/tasks/history_replication_task.go
  service/history/tasks/sync_hsm_task.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Capture namespace-scoped logs in Nexus tests
  common/testing/testlogger/capture.go
  common/testing/testlogger/capture_test.go
  common/testing/testlogger/testlogger.go
  tests/nexus_observability_test.go
  tests/testcore/log_capture_test.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document that GenerateMigrationTasks is force-replication only
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
