Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Forward polls from sticky partitions to high-priority backlog (#8925)
  api/matchingservice/v1/request_response.pb.go
  api/taskqueue/v1/message.go-helpers.pb.go
  api/taskqueue/v1/message.pb.go
  common/backoff/jitter.go
  common/dynamicconfig/constants.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/matching/config.go
  service/matching/fair_backlog_manager.go
  service/matching/matcher.go
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_key.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_backlog_manager.go
  service/matching/pri_forwarder.go
  service/matching/pri_matcher.go
  service/matching/task.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
  service/matching/user_data_manager.go
  service/matching/user_data_manager_test.go
  tests/priority_fairness_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix
  service/history/replication/executable_task.go
Due: .azure-pipelines/server-cicd.yaml

Update service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

Various SAA fixes (#9047)
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/library.go
  chasm/parent_pointer.go
  chasm/search_attribute.go
  chasm/search_attribute_test.go
  common/persistence/visibility/chasm_visibility_manager_test.go
  tests/chasm_test.go
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reapply "Nexus caller timeouts (#9010)" (#9039)
  api/persistence/v1/executions.pb.go
  components/nexusoperations/events_test.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/helpers_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/tasks.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/describeworkflow/api.go
  service/history/workflow/task_generator_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dissolve WorkflowUpdateBaseSuite (#9043)
  tests/reset_workflow_test.go
  tests/update_workflow_suite_base.go
  tests/update_workflow_test.go
  tests/update_workflow_utils.go
  tests/versioning_3_test.go
  tests/workflow_utils.go
Due: none

Fix handle first replication task logic for state based replication (#8809)
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix Nexus new timeouts logic
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/tasks.go
  components/nexusoperations/workflow/commands.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: none

[Scheduler] Unify RunningWorkflows, RecentActions, BufferedStarts (#8980)
  api/schedule/v1/message.go-helpers.pb.go
  api/schedule/v1/message.pb.go
  chasm/lib/scheduler/backfiller_tasks_test.go
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_record_completed_action_test.go
  proto/internal/temporal/server/api/schedule/v1/message.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

WIP
  common/dynamicconfig/constants.go
  common/tasks/sequential_task_queue_impl.go
  common/tasks/workflow_queue_scheduler.go
  common/tasks/workflow_queue_scheduler_test.go
  service/history/archival_queue_factory.go
  service/history/configs/config.go
  service/history/queues/executable.go
  service/history/queues/workflow_aware_scheduler.go
  service/history/queues/workflow_aware_scheduler_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM: Bypass execution scanner validations for chasm executions (#9044)
  service/worker/scanner/executions/mutable_state_validator.go
  service/worker/scanner/executions/task.go
Due: .azure-pipelines/server-cicd.yaml

fix nitch of mutableState rebuilder
  service/history/workflow_rebuilder.go
  tests/admin_test.go
  tests/chasm_test.go
Due: .azure-pipelines/server-cicd.yaml

fix lint
  service/history/replication/executable_activity_state_task.go
  service/history/replication/executable_backfill_history_events_task.go
  service/history/replication/executable_history_task.go
  service/history/replication/executable_noop_task.go
  service/history/replication/executable_sync_hsm_task.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_unknown_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
Due: .azure-pipelines/server-cicd.yaml

Fix forwarding for nexus completion request headers
  components/nexusoperations/frontend/handler.go
Due: none

Update components/nexusoperations/frontend/handler.go
  components/nexusoperations/frontend/handler.go
Due: none

fix race condition AND add type check FOR admin rebuild feature (#9032)
  service/history/workflow_rebuilder.go
  service/history/workflow_rebuilder_test.go
  tests/admin_test.go
  tests/chasm_test.go
Due: .azure-pipelines/server-cicd.yaml

Nexus schedule to start and start to close timeouts (with fixes) (#9033)
  api/persistence/v1/executions.pb.go
  components/nexusoperations/events_test.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/helpers_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/tasks.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/describeworkflow/api.go
  service/history/workflow/task_generator_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  service/history/replication/executable_task.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity info TimerTaskStatus reset boolean op
  service/history/timer_queue_active_task_executor_test.go
  service/history/workflow/activity.go
Due: .azure-pipelines/server-cicd.yaml

add docs
  docs/development/testing.md
Due: none

Customizable serialization
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/persistence/serialization/codec.go
  common/persistence/serialization/serializer.go
  service/history/api/get_history_util.go
  service/history/configs/config.go
  temporal/server_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Forward original HTTP headers for Nexus CompleteOperation
  components/nexusoperations/frontend/handler.go
Due: none

remove unnecessary condition
  components/nexusoperations/frontend/handler.go
Due: none

Improve replication task processing latency log and metrics (#9019)
  common/metrics/metric_defs.go
  service/history/replication/bi_direction_stream.go
  service/history/replication/executable_activity_state_task.go
  service/history/replication/executable_activity_state_task_test.go
  service/history/replication/executable_backfill_history_events_task.go
  service/history/replication/executable_backfill_history_events_task_test.go
  service/history/replication/executable_history_task.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_noop_task.go
  service/history/replication/executable_sync_hsm_task.go
  service/history/replication/executable_sync_hsm_task_test.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_mock.go
  service/history/replication/executable_unknown_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task_test.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/executable_workflow_state_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add TemporalSystemExecutionStatus search attribute alias for V1 Scheduler lists through CHASM Visibility
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
  common/persistence/visibility/store/elasticsearch/query_interceptors_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/sql/query_converter_legacy.go
  service/worker/scheduler/query.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Spread matching partitions across nodes
  client/clientfactory.go
  client/matching/client.go
  common/client_cache.go
  common/dynamicconfig/constants.go
  common/tqid/task_queue_id.go
  service/matching/config.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tweaks and unit test
  common/tqid/task_queue_id.go
  common/tqid/task_queue_id_test.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix unit test
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

consolidate logic in Route
  client/matching/client.go
  client/matching/interface.go
  common/client_cache.go
  service/matching/config.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

convert to GradualChange
  client/matching/client.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix activity rescheduling and heartbeat timeout handling
  chasm/lib/worker/executors.go
  chasm/lib/worker/handler.go
  service/history/timer_queue_active_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

fix tests
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity info TimerTaskStatus reset boolean op (#9051)
  service/history/timer_queue_active_task_executor_test.go
  service/history/workflow/activity.go
Due: .azure-pipelines/server-cicd.yaml

Add debug logging for activity reschedule to diagnose counter issue
  chasm/lib/worker/executors.go
Due: none

CHASM: add panic wrapper for library logic
  chasm/context.go
  chasm/context_mock.go
  chasm/engine.go
  chasm/tree.go
  common/log/lazy_logger.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

improve
  chasm/context_mock.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

CHASM: add panic wrapper for library logic (#8920)
  chasm/context.go
  chasm/context_mock.go
  chasm/engine.go
  chasm/tree.go
  common/log/lazy_logger.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix ForceRescheduleActivity to handle STARTED activities
  chasm/lib/worker/executors.go
  service/history/api/forcerescheduleactivity/api.go
Due: .azure-pipelines/server-cicd.yaml

Fix Fx module duplication: remove chasmworkflow/scheduler from history/fx.go
  service/history/fx.go
  tests/worker_heartbeat_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove redunant waitForClusterSynced after failover calls. (#8983)
  tests/xdc/failover_test.go
Due: none
