Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Remove NamespaceID from CHASM visibility requests and resolve via namespace registry
  chasm/lib/activity/frontend.go
  chasm/visibility_manager.go
  common/persistence/visibility/chasm_visibility_manager.go
  common/persistence/visibility/chasm_visibility_manager_test.go
  service/frontend/workflow_handler.go
  service/history/fx.go
  tests/chasm_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add standby task discard handler for standalone activities (#9525)
  chasm/lib/activity/activity_tasks.go
  chasm/registrable_task.go
  chasm/task.go
  chasm/task_mock.go
  chasm/test_library_test.go
  chasm/test_task_test.go
  chasm/test_var_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_task_util.go
  service/history/chasm_task_util_test.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_active_task_executor_test.go
  service/history/outbound_queue_factory.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/outbound_queue_standby_task_executor_test.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
  service/history/visibility_queue_task_executor.go
  service/history/workflow/noop_chasm_tree.go
  tests/xdc/chasm_test.go
Due: .azure-pipelines/server-cicd.yaml

Cherry-pick otel/sdk bump from 1.34.0 to 1.40.0 (#9442)
  client/history/caching_redirector_test.go
  common/dynamicconfig/gradual_change_test.go
  go.mod
  go.sum
  service/history/workflow/cache/cache_test.go
  service/matching/physical_task_queue_manager_test.go
  tests/activity_test.go
  tests/pause_workflow_execution_test.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump google.golang.org/grpc from v1.72.2 to v1.79.3
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Go from 1.25.7 to 1.25.8
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Upgrade zlib in Docker images to fix CVE-2026-22184
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
Due: none

add a log to detect if the debug logs are showing up
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

adding cc related configs to git-ignore
  .gitignore
Due: none

create dir
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drop StateSizeBytes from nexus operation code
  chasm/lib/nexusoperation/frontend.go
  go.mod
  go.sum
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: run go mod tidy to remove stale go.sum entries
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump dependencies to address security CVEs for v1.30.2 (#9610)
  client/history/caching_redirector_test.go
  common/dynamicconfig/gradual_change_test.go
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
  go.mod
  go.sum
  service/history/workflow/cache/cache_test.go
  service/matching/physical_task_queue_manager_test.go
  tests/activity_test.go
  tests/pause_workflow_execution_test.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix import ordering and struct field alignment lint issues
  chasm/lib/temporalfs/config.go
  chasm/lib/temporalfs/handler.go
  chasm/lib/temporalfs/handler_test.go
Due: none

Fix golangci-lint issues: errcheck, cognitive complexity, testifylint, forbidigo
  chasm/lib/temporalfs/handler.go
  chasm/lib/temporalfs/handler_test.go
  chasm/lib/temporalfs/integration_test.go
  chasm/lib/temporalfs/tasks_test.go
  tests/temporalfs_test.go
Due: none

Add TemporalFS garbage collection on owner workflow deletion
  chasm/lib/temporalfs/config.go
  chasm/lib/temporalfs/filesystem.go
  chasm/lib/temporalfs/fx.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/request_response.go-helpers.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/request_response.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/service.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/service_client.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/service_grpc.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/state.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/tasks.go-helpers.pb.go
  chasm/lib/temporalfs/gen/temporalfspb/v1/tasks.pb.go
  chasm/lib/temporalfs/handler.go
  chasm/lib/temporalfs/library.go
  chasm/lib/temporalfs/pebble_store_provider.go
  chasm/lib/temporalfs/proto/v1/request_response.proto
  chasm/lib/temporalfs/proto/v1/service.proto
  chasm/lib/temporalfs/proto/v1/state.proto
  chasm/lib/temporalfs/proto/v1/tasks.proto
  chasm/lib/temporalfs/statemachine.go
  chasm/lib/temporalfs/statemachine_test.go
  chasm/lib/temporalfs/store_provider.go
  chasm/lib/temporalfs/tasks.go
Due: none

Add PostDeleteHook to delete manager for TFS push-path GC
  chasm/lib/temporalfs/filesystem_test.go
  chasm/lib/temporalfs/fx.go
  chasm/lib/temporalfs/post_delete_hook.go
  service/history/deletemanager/delete_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix testifylint issues in temporalfs handler_test.go
  chasm/lib/temporalfs/handler_test.go
Due: none

Fix constant alignment in config.go for gofmt/gci compliance
  chasm/lib/temporalfs/config.go
Due: none

Remove NamespaceID from CHASM visibility requests and resolve via namespace registry (#9609)
  chasm/lib/activity/frontend.go
  chasm/visibility_manager.go
  common/persistence/visibility/chasm_visibility_manager.go
  common/persistence/visibility/chasm_visibility_manager_test.go
  service/frontend/workflow_handler.go
  service/history/fx.go
  tests/chasm_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump grpc to v1.79.3 and upgrade zlib to address security CVEs (#9611)
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Regenerate delete_manager mock to include PostDeleteHook
  service/history/deletemanager/delete_manager_mock.go
Due: .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

use github workspace
  .github/workflows/run-tests.yml
Due: none

remove debug logging
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add poller scaling tests for idle and lightly-used queues
  tests/poller_scaling_test.go
Due: none

Updated docs.
  docs/architecture/temporalfs.md
Due: none

linter
  common/log/zap_logger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Eliminate heap allocations in gocql query wrapper chainable methods
  common/persistence/nosql/nosqlplugin/cassandra/gocql/query.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Eliminate heap allocations in gocql batch wrapper chainable methods
  common/persistence/nosql/nosqlplugin/cassandra/gocql/batch.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: remove task_queue metadata blob write from CreateTasks CAS batch
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/tests/task_queue_task.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: skip task queue blob serialization in CreateTasks
  common/persistence/task_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: use full tuple range in CQL queries for ScyllaDB compatibility
  common/persistence/cassandra/matching_task_store_v2.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add test which detects the metrics race.
  common/namespace/nsregistry/registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Record the metric using the memoized value.
  common/namespace/nsregistry/registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

drop StateSizeBytes from Nexus Standalone (#9606)
  chasm/lib/nexusoperation/frontend.go
  go.mod
  go.sum
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
