Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

rebase and update api
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

go mod tidy
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: none

Add ExecutionTime visibility support for standalone activities
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/library.go
  tests/activity_standalone_test.go
Due: none

address pr comment
  tests/activity_standalone_test.go
Due: none

Add ExecutionTime visibility support for standalone activities (#11017)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/library.go
  tests/activity_standalone_test.go
Due: none

Implement terminate/cancel/delete batch operation for standalone activities (#10803)
  common/dynamicconfig/constants.go
  go.mod
  go.sum
  service/frontend/admin_handler.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  service/worker/batcher/workflow.go
  service/worker/batcher/workflow_test.go
  tests/activity_api_batch_cancel_test.go
  tests/activity_api_batch_delete_test.go
  tests/activity_api_batch_terminate_test.go
  tests/client_misc_test.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/workflow_api_batch_cancel_test.go
  tests/workflow_api_batch_delete_test.go
  tests/workflow_api_batch_reset_test.go
  tests/workflow_api_batch_signal_test.go
  tests/workflow_api_batch_terminate_test.go
  tests/workflow_api_batch_update_options_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor DispatchReason and StartDelayBucket outside ActivityDispatchTask proto
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/tasks.go-helpers.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine_test.go
Due: none

Add activity start-delay metadata for COGS tracking
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
Due: none

Add activity start-delay metadata for COGS tracking (#11049)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/tasks.go-helpers.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
Due: none

Reapply "Cherry-pick List matching perf (#11014) to 157 (#11091)" (#11127)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/fx.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/spec_processor_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/frontend/workflow_handler_test.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/spec.go
  service/worker/scheduler/spec_test.go
  service/worker/scheduler/testdata/replay_compute_limit_exceeded.json.gz
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix standalone activity timeout type on retry deadline
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/activity_tasks_test.go
  chasm/lib/activity/statemachine.go
  common/util.go
  service/history/timer_queue_active_task_executor.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Repro
  tests/activity_standalone_test.go
Due: none

Update WaitAnyStateChange golden: running attempt reports current_retry_interval
  tests/activity_standalone_test.go
Due: none

SAA trace driver: describe self-asserts and returns just the response
  tests/activity_standalone_harness.go
  tests/activity_standalone_test.go
Due: none

Revert fix
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Bug fix
  chasm/lib/activity/activity.go
Due: none

SAA functional-test driver + activity model vocabulary
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_harness.go
Due: none

Revert "Revert fix"
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Return non-nil response from PollNexusTaskQueue on empty long poll
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Update workflow_handler.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

add PAUSED activity status
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

check length before indexing
  tests/activity_standalone_test.go
Due: none

remove redundant
  tests/activity_standalone_test.go
Due: none

fix: mark idempotent CQL queries for driver-level retry on write timeouts
  common/persistence/cassandra/cluster_metadata_store.go
  common/persistence/cassandra/history_store.go
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_user_data.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/cassandra/metadata_store.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/cassandra/mutable_state_task_store.go
  common/persistence/cassandra/nexus_endpoint_store.go
  common/persistence/cassandra/queue_store.go
  common/persistence/cassandra/queue_v2_store.go
  common/persistence/cassandra/shard_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

camel case
  chasm/lib/tests/nexus_service.go
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

move metadata key to common/nexus/constants.go, prefix with __temporal
  chasm/lib/tests/nexus_service.go
  common/nexus/constants.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

undoing some changes
  chasm/lib/tests/nexus_service.go
  common/nexus/constants.go
  service/history/handler.go
  service/history/handler_test.go
  service/matching/matcher_data_test.go
  service/matching/matching_engine_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

system-nexus: add metadata flag to indicate response has a Payload
  chasm/lib/tests/nexus_service.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

undo matching changes
  service/matching/matcher_data_test.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

linter
  tests/nexus_workflow_test.go
Due: none

Return non-nil response from PollNexusTaskQueue on empty long poll (#11153)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

driveTrace: use the suite context so harness RPCs match other env helpers
  tests/activity_standalone_test.go
Due: none

Flatten assertion-only subtests
  tests/activity_standalone_test.go
Due: none

SAA trace harness: add Pause event
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_harness.go
Due: none

Describe golden: paused activity reports no next dispatch or retry interval
  tests/activity_standalone_test.go
Due: none

lint
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

make this less flaky too
  service/matching/backlog_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: strip system SAs from CHASM schedule create/update paths (#10995)
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_search_attributes_test.go
Due: none

Cherry-pick #11153: Return non-nil response from PollNexusTaskQueue on empty long poll (#11154)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml
