Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Add standby cluster test case for cancel command generation
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Add comment for standby test field
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

CHASM-based OTEL wiring
  chasm/lib/callback/fx.go
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/callback/tasks.go
  chasm/lib/callback/tasks_test.go
  tests/callbacks_otel_test.go
Due: none

Drop retry for Nexus endpoint not found
  tests/nexus_api_test.go
  tests/nexus_api_validation_test.go
Due: none

Document historyrequire package
  docs/development/testing.md
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-156.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reducing diff
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

style drift
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update server version to 1.32.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix typo "intialized" → "initialized" in scheduler comments
  chasm/lib/scheduler/scheduler.go
Due: none

lint changes
  tests/xdc/remote_cluster_auth_test.go
Due: none

CHASM OTEL events
  chasm/statemachine.go
  common/telemetry/grpc.go
  common/telemetry/tags.go
  service/history/queues/executable.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

simplify
  service/history/queues/executable.go
Due: .azure-pipelines/server-cicd.yaml

Document testcontext package
  docs/development/testing.md
Due: none

Wrap archival URI validation errors with context
  service/frontend/namespace_handler.go
Due: .azure-pipelines/server-cicd.yaml

test: Remove test for Describe method locking behavior in TaskQueuePartitionManager (pr comments)
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-157.0-rc.20260516113948
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tune postgres database for tests
  develop/github/docker-compose.yml
Due: none

Use new LongPoll* constants
  chasm/lib/callback/config.go
Due: none

Address minor PR feedback
  chasm/lib/callback/component.go
Due: none

Only set TerminalFailure for external errors
  chasm/lib/callback/component.go
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/statemachine_test.go
Due: none

Do not clear LastAttemptFailure on successful Callback
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/statemachine_test.go
Due: none

Backout the Temporal NexusCallbackToken from nexusrpc
  chasm/lib/callback/invocable_outbound.go
  common/nexus/nexusrpc/completion.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Bump Server version to 1.32.0-157.0-rc.20260517114427
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: cache Tagged scopes and metric closures in tallyMetricsHandler
  common/metrics/config.go
  common/metrics/tally_metrics_handler.go
  common/metrics/tally_metrics_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Workflow Update code -- squashed
  chasm/lib/workflow/gen/workflowpb/v1/update_state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/update_state.pb.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/proto/v1/update_state.proto
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflow_update.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  common/dynamicconfig/constants.go
  go.mod
  go.sum
  service/frontend/namespace_handler.go
  service/frontend/service.go
  service/history/api/describeworkflow/api.go
  service/history/api/pollupdate/api_test.go
  service/history/api/startworkflow/api.go
  service/history/api/updateworkflow/api.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/configs/config.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/ndc/events_reapplier_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/update/abort_reason.go
  service/history/workflow/update/errors_failures.go
  service/history/workflow/update/export_test.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  service/history/workflow/update/validation.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_sdk_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update protos
  chasm/lib/workflow/gen/workflowpb/v1/update_state.pb.go
  chasm/lib/workflow/proto/v1/update_state.proto
  go.mod
  go.sum
  service/history/api/updateworkflow/api.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix linter
  service/history/workflow/update/update.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/server-cicd.yaml

Update Nexus update tests to parallelsuite
  tests/nexus_workflow_update_test.go
Due: none

Update function interfaces with timeSkippingConfig
  chasm/lib/workflow/workflow.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
Due: .azure-pipelines/server-cicd.yaml

No-op code changes
  chasm/lib/workflow/workflow.go
  service/history/api/updateworkflow/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/update/update.go
Due: .azure-pipelines/server-cicd.yaml

Fire all callbacks when wf closes
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Make test assertions tighter
  tests/nexus_workflow_update_test.go
Due: none

[Issue-10224] Add unit test
  service/history/api/replication/get_tasks_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix verify execution from source cluster
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
Due: .azure-pipelines/server-cicd.yaml
