Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Validate internal callback namespace binding before attachment
  chasm/lib/activity/validator_test.go
  chasm/lib/callback/config.go
  chasm/lib/callback/config_test.go
  chasm/lib/callback/invocable_internal.go
  chasm/lib/callback/metrics.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/validator_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler_test.go
  service/history/hsm/callbacks/chasm_invocation.go
  service/history/hsm/callbacks/config.go
  service/history/hsm/callbacks/executors_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve task queue user data snapshot clocks during replication
  api/persistence/v1/task_queues.pb.go
  proto/internal/temporal/server/api/persistence/v1/task_queues.proto
  service/matching/matching_engine.go
  service/matching/matching_engine_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use deployment routing revisions for task queue propagation
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager_test.go
  service/matching/user_data_manager.go
  service/matching/user_data_manager_mock.go
  service/matching/user_data_manager_test.go
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/activities_test.go
  service/worker/workerdeployment/propagation_test.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove table version dependency from routing propagation
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/user_data_manager.go
  service/matching/user_data_manager_test.go
  service/worker/workerdeployment/activities_test.go
  service/worker/workerdeployment/propagation_test.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make fair task gc conditional on range id
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  common/persistence/tests/task_queue_fair_task.go
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make RangeStealing tests run with new matcher and fail instead of hang on lost tasks
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

serialize with db.lock
  service/matching/db.go
Due: .azure-pipelines/server-cicd.yaml

make task queue takeover conditional on metadata fingerprint
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/persistence_interface.go
  common/persistence/sql/task_queues.go
  common/persistence/task_manager.go
  common/persistence/tests/task_queue.go
  service/matching/db.go
  service/matching/db_test.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update common/client_cache.go
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use gRPC connection state in client cache
  client/clientfactory.go
  client/clientfactory_test.go
  common/client_cache.go
  common/client_cache_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Restore client cache constructor comment
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify rescheduler priority traversal
  service/history/queues/rescheduler.go
Due: .azure-pipelines/server-cicd.yaml

Simplify cached client validity check
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Serialize client eviction with cache insertion
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revert "Serialize client eviction with cache insertion"
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove lint-failing client cache test
  common/client_cache_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refresh cached clients after gRPC shutdown (#12261)
  client/clientfactory.go
  common/client_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility] Refactor factory function params into structs
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/factory.go
  common/persistence/visibility/visibility_manager_test.go
  service/frontend/fx.go
  service/history/fx.go
  service/matching/fx.go
  service/worker/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply row-value cursor fix to SQLite and MySQL reverse history node queries
  common/persistence/sql/sqlplugin/mysql/events.go
  common/persistence/sql/sqlplugin/sqlite/events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-164.0-rc.20260930112837
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

visibility tests: cover OR on a keyword list field against ES
  tests/advanced_visibility_test.go
Due: none

visibility tests: expect flatter ES output for merged OR and NOT conditions
  common/persistence/visibility/store/tests/query_converter_legacy_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Propagate more WCI client error types to callers
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/compute_util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Release/v1.32.x: Preserve and observe task queue user data
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update defaultCliVersion to 1.9.1
  .github/actions/build-docker-images/scripts/main.go
Due: none

Bump Server version to 1.32.1
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump go-openapi/swag to v0.27.1 for CVE-2026-93450
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Share deployment and routing revision across propagation queues
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/worker/workerdeployment/activities_test.go
  service/worker/workerdeployment/propagation_test.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add StringEnum dynamic config setting with default validation
  cmd/tools/gendynamicconfig/dynamic_config.tmpl
  cmd/tools/gendynamicconfig/main.go
  common/dynamicconfig/collection.go
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/setting_gen.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Verify and resend retained child workflow successors
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/api/verifyfirstworkflowtaskscheduled/resend_successor_test.go
  service/history/api/verifyfirstworkflowtaskscheduled/successor_test.go
  service/history/api/workflowresend/child_execution.go
  service/history/api/workflowresend/child_execution_test.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
  tests/xdc/parent_child_successor_test.go
Due: .azure-pipelines/server-cicd.yaml

Update defaultCliVersion to 1.9.1 (#12303)
  .github/actions/build-docker-images/scripts/main.go
Due: none

Use deterministic keys when batching legacy propagation results
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Address Copilot feedback
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/validator_test.go
Due: none

Backout bug fix, to avoid multiple changes in one PR
  chasm/lib/activity/activity.go
Due: none

Update tests
  common/callbacks/validator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add aggregate callback validation to SAAs
  chasm/lib/activity/activity.go
  chasm/lib/activity/callbacks_test.go
  chasm/lib/activity/config.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/proto/v1/activity_state.proto
Due: none

Add aggregate callback validation to SANOs
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/links_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/validator_test.go
  common/testing/callbacks.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update callbacks.Validator to support aggregate CB validation
  chasm/lib/callback/config.go
  chasm/lib/callback/size_test.go
  chasm/lib/nexusoperation/validator_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  common/testing/callbacks.go
  service/frontend/fx.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
