Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Minimize matching client routing churn
  tests/testcore/clients.go
  tests/testcore/onebox.go
Due: none

Prefer inline Claude review comments
  .claude/skills/review/SKILL.md
  .github/workflows/claude-review-teams.yml
Due: none

test(mixedbrain): add scheduler_stress scenario and server log scanning (#10928)
  .github/workflows/run-tests.yml
  tests/mixedbrain/log_scan_util.go
  tests/mixedbrain/log_scan_util_test.go
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

Prefer inline Claude review comments (#10970)
  .claude/skills/review/SKILL.md
  .github/workflows/claude-review-teams.yml
Due: none

Add TemporalPriorityKey and TemporalFairnessKey to Visibility Schema
  schema/elasticsearch/visibility/index_template_v7.json
  schema/elasticsearch/visibility/versioned/v15/index_template_v7.json
  schema/elasticsearch/visibility/versioned/v15/upgrade.sh
  schema/embed.go
  schema/mysql/v8/version.go
  schema/mysql/v8/visibility/schema.sql
  schema/mysql/v8/visibility/versioned/v1.15/add_priority_and_fairness_key_search_attributes.sql
  schema/mysql/v8/visibility/versioned/v1.15/manifest.json
  schema/postgresql/v12/version.go
  schema/postgresql/v12/visibility/schema.sql
  schema/postgresql/v12/visibility/versioned/v1.15/add_priority_and_fairness_key_search_attributes.sql
  schema/postgresql/v12/visibility/versioned/v1.15/manifest.json
  schema/sqlite/v3/visibility/schema.sql
Due: .azure-pipelines/admin-tools-cicd.yaml

return last error from ThrottleRetryContextWithReturn on deadline break
  common/backoff/retry.go
  common/backoff/retry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Additional documentation - no versioning checks here
  chasm/tree.go
Due: none

Return last error from ThrottleRetryContextWithReturn on deadline break (#10973)
  common/backoff/retry.go
  common/backoff/retry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix ordering in assertion
  tests/schedule_test.go
Due: none

Support completion callbacks in SANO CHASM component
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_callbacks_test.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/task_handler_base.go
Due: none

Dispatch NexusWorker tasks from CHASM Callback
  chasm/lib/callback/component.go
  chasm/lib/callback/gen/callbackpb/v1/message.pb.go
  chasm/lib/callback/invocable_nexusworker.go
  chasm/lib/callback/invocable_nexusworker_test.go
  chasm/lib/callback/proto/v1/message.proto
  chasm/lib/callback/statemachine.go
  chasm/lib/callback/tasks.go
Due: none

Add end-to-end test for worker callbacks happy path
  tests/nexusworkercallbacks/README.md
  tests/nexusworkercallbacks/caller/nexus.go
  tests/nexusworkercallbacks/caller/worker.go
  tests/nexusworkercallbacks/fauxsdk/sdk.go
  tests/nexusworkercallbacks/fauxsdk/util.go
  tests/nexusworkercallbacks/handler/nexus.go
  tests/nexusworkercallbacks/handler/worker.go
  tests/nexusworkercallbacks/nexusworkercallbacks_test.go
  tests/testcore/test_env.go
Due: none

[Scheduler] New regression tests (particularly around update and pause) (#10492)
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  tests/schedule_test.go
Due: none

Address review: dedicated not-found error + SDK-worker cross-tree tests
  chasm/lib/workflow/nexus_commands.go
  chasm/lib/workflow/nexus_commands_test.go
  chasm/lib/workflow/registry.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

make business-id unique per mutation so mutliple mutations can occur at the same time for a given namespace
  chasm/lib/nsrepl/handler.go
  chasm/lib/nsrepl/tasks.go
Due: none

Bring in latest manual docker build action to v1.30.x
  .github/workflows/docker-build-manual.yml
Due: none

test: enable system worker by default for pooled clusters
  tests/testcore/test_cluster_pool.go
Due: none

Sync WCI compute status to worker deployment version state
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/version_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Also update needed actions
  .github/actions/build-binaries/action.yml
  .github/actions/build-docker-images/action.yml
  .github/actions/build-docker-images/scripts/main.go
Due: none

Bring in latest manual docker build action to v1.30.x (#10976)
  .github/actions/build-binaries/action.yml
  .github/actions/build-docker-images/action.yml
  .github/actions/build-docker-images/scripts/main.go
  .github/workflows/docker-build-manual.yml
Due: none

Preserve SAA retry backoff across unpause re-dispatch (#10913)
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Fix SAA unpause for keep-paused reset (#10914)
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Allow handover and redirection interceptors to cover additional service prefixes (#10963)
  common/rpc/interceptor/namespace_handover.go
  common/rpc/interceptor/redirection.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Also update docker-bake.hcl
  docker/docker-bake.hcl
Due: none

Also update docker-bake.hcl (#10977)
  docker/docker-bake.hcl
Due: none

Sync WCI compute status to worker deployment version state (#10908)
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/version_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Return last error from ThrottleRetryContextWithReturn on deadline break (#10973) (#10978)
  common/backoff/retry.go
  common/backoff/retry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Return last error from ThrottleRetryContextWithReturn on deadline break (#10973) (#10974)
  common/backoff/retry.go
  common/backoff/retry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Addressing PR comments
  service/worker/migration/activities.go
Due: .azure-pipelines/server-cicd.yaml

Use matching's component ref for cancel command token
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
Due: none

Revert cancel_command_dispatched standby optimization
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/worker_command_task_handlers.go
Due: none

Route Nexus operation cancelation by owning tree across HSM/CHASM (#10937)
  chasm/lib/workflow/nexus_commands.go
  chasm/lib/workflow/nexus_commands_test.go
  chasm/lib/workflow/registry.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

refactor(events): back wide events with OTEL logs
  common/events/attrs.go
  common/events/defs.go
  common/events/events.go
  common/events/events_test.go
  common/events/json_encoder.go
  common/events/json_encoder_test.go
  common/events/log_handler.go
  common/events/log_handler_test.go
  common/events/namespace_events.go
  common/events/namespace_events_test.go
  common/events/noop_handler.go
  common/events/registry.go
  common/events/registry_test.go
  common/events/replication_events.go
  common/events/replication_events_test.go
  go.mod
  go.sum
  service/history/history_engine.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/replication_events.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  temporal/fx.go
  temporal/server_option.go
  temporal/server_options.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor(events): rename package events -> wideevents
  common/wideevents/attrs.go
  common/wideevents/events.go
  common/wideevents/events_test.go
  common/wideevents/namespace_events.go
  common/wideevents/namespace_events_test.go
  common/wideevents/replication_events.go
  common/wideevents/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/replication_events.go
  service/history/shard/context_impl.go
  temporal/fx.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add task attempt count to side effect validator
  chasm/lib/activity/worker_command_task_handlers.go
  chasm/lib/activity/worker_command_task_handlers_test.go
  chasm/task.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_task_util.go
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_active_task_executor_test.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/outbound_queue_standby_task_executor_test.go
  service/history/tasks/chasm_task.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Dynamic partitioning: use logs for unit test synchronization (#10965)
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

test synchronization fix
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Add attempt count to task attributes
  chasm/task.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_active_task_executor_test.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/outbound_queue_standby_task_executor_test.go
  service/history/tasks/chasm_task.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
Due: .azure-pipelines/server-cicd.yaml
