Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Document HTTP telemetry lifecycle constraints
  common/telemetry/http.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Clarify HTTP telemetry lifecycle comments
  common/telemetry/http.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor
  common/telemetry/http_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update http_test.go
  common/telemetry/http_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify HTTP debug capture
  common/telemetry/http.go
  common/telemetry/http_internal_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

SkipsHeadersAndPayloadsByDefault
  common/telemetry/http_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

httpTraceEnv
  common/telemetry/http_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update http.go
  common/telemetry/http.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move telemetry enablement check to config
  common/telemetry/config.go
  common/telemetry/grpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

debugHTTPSpan
  common/telemetry/http.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

mroe const
  common/telemetry/http_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add subqueue-id tag to some logs (#11603)
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/pri_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Fix namespace lifecycle event payloads
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/namespace_lifecycle_events.go
  service/frontend/namespace_lifecycle_events_test.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix deferred BUFFER_ONE overlap processing
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  tests/schedule_test.go
Due: none

Tighten Nexus auto-close cancel: start-to-close, started-only fan-out, resolve on close
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/workflow/nexus_methods.go
  tests/nexus_cancel_policy_test.go
Due: none

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-162.0-rc.20260818113101
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reuse bootstrap hosts for initial ringpop join
  common/membership/ringpop/monitor.go
  common/membership/ringpop/monitor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

replication: avoid error event for successful fallback
  service/history/replication/executable_task.go
Due: .azure-pipelines/server-cicd.yaml

replication: isolate artifact event classification
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

replication: classify duplicate apply events
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

replication: formalize event dispositions
  common/wideevents/replication_events.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/standby_task_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

replication: align DLQ logs with lifecycle events
  service/history/replication/executable_task.go
Due: .azure-pipelines/server-cicd.yaml

replication: clarify error event taxonomy
  common/wideevents/replication_events.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/standby_task_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Event-source Nexus auto-close via system principal; trim comments
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_methods.go
  common/dynamicconfig/constants.go
  service/history/api/nexusclose/nexus_close.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

replication: clarify apply artifact source
  common/wideevents/context.go
  common/wideevents/replication_events.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/replication_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Store cancellation Principal instead of auto_close bool on CancellationState
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/tasks_test_helpers_test.go
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_methods.go
Due: none

Address Versioning3 test setup review nits
  tests/versioning_3_one_time_override_test.go
  tests/versioning_3_suite_test.go
  tests/versioning_3_test.go
Due: none

Recreate only the activity timers whose deadline actually moved
  service/history/workflow/activity.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/timer_sequence.go
Due: .azure-pipelines/server-cicd.yaml

Detach Nexus cancellation only for system-initiated (auto-close) cancels
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
Due: none

Split Versioning3 query tests (#11472)
  tests/versioning_3_one_time_override_test.go
  tests/versioning_3_query_test.go
  tests/versioning_3_suite_test.go
  tests/versioning_3_test.go
Due: none

Add OpenTelemetry HTTP instrumentation (#11558)
  common/telemetry/config.go
  common/telemetry/grpc.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Trace outbound Nexus HTTP requests
  chasm/lib/callback/fx.go
  chasm/lib/callback/otel_test.go
  common/resource/fx.go
  common/rpc/otel_transport_test.go
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify Nexus tracing test setup
  tests/nexus_otel_test.go
Due: none

Rename HTTP transport provider to wrapper
  chasm/lib/callback/fx.go
  chasm/lib/nexusoperation/fx.go
  common/cluster/frontend_http_client.go
  common/resource/fx.go
  common/rpc/rpc.go
  common/rpc/test/rpc_token_auth_test.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  temporal/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename HTTP client transport instrumenter
  chasm/lib/callback/fx.go
  chasm/lib/nexusoperation/fx.go
  common/resource/fx.go
  common/rpc/rpc.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  temporal/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update nexus_otel_test.go
  tests/nexus_otel_test.go
Due: none

Test Nexus callback tracing end to end
  chasm/lib/callback/otel_test.go
  tests/nexus_otel_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
