Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Clean up test file function ordering
  tests/reset_workflow_test.go
Due: none

Traverse the entire available replay chain
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  tests/reset_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Persist reset run id on base run when current run has been deleted
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  tests/reset_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix nil-map panic in simplePartitionScaler (#11054) (#11064)
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify sticky queue comment per review
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix workflow reset to original execution when current execution is deleted (#10926)
  service/history/api/resetworkflow/api.go
  service/history/api/resetworkflow/api_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  tests/reset_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add opt-in poller_scale_decision metric
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drop hold_no_signal reason from poller_scale_decision
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

time skipping turns to versioned transition for task validation (#10894)
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/queues/executable.go
  service/history/tasks/timeskipping_timer_task.go
  service/history/tasks/utils.go
  service/history/tasks/utils_test.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/timer_queue_task_executor_base.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
  tests/xdc/timeskipping_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename OOM monitor wording
  develop/github/memory_monitor.sh
Due: none

Rename to matching.enablePollerScalingDecisionMetrics per review
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Allow sticky queues to make poller scaling decisions (#11083)
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Rename OOM monitor wording (#11086)
  develop/github/memory_monitor.sh
Due: none

Fix standalone activity heartbeat flag precedence
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
Due: none

List matching perf (#11014)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/fx.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/spec_processor_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/frontend/workflow_handler_test.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/spec.go
  service/worker/scheduler/spec_test.go
  service/worker/scheduler/testdata/replay_compute_limit_exceeded.json.gz
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Limit migration fix to V2 checks
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

vts: add busy-loop circuit breaker for time skipping
  api/persistence/v1/executions.go-helpers.pb.go
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/configs/config.go
  service/history/workflow/timeskipping.go
  tests/timeskipping_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

golangci
  chasm/lib/activity/activity.go
Due: none

List matching perf (#11014)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/fx.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/spec_processor_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/frontend/workflow_handler_test.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/spec.go
  service/worker/scheduler/spec_test.go
  service/worker/scheduler/testdata/replay_compute_limit_exceeded.json.gz
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add panic handlers to matching handler APIs for consistency
  service/matching/handler.go
Due: .azure-pipelines/server-cicd.yaml

Port schedule test helpers for cherry-picked list matching perf tests
  tests/schedule_test.go
Due: none

Port newer test helpers
  tests/schedule_test.go
Due: none

Fix CHASM schedule backfills that reuse workflow IDs (#11059)
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  tests/schedule_test.go
Due: none

Make poller-scaling add/dispatch ratio threshold a dynamic config
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix standalone activity heartbeat flag precedence (#11087)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
Due: none

Add panic handlers to matching handler APIs for consistency (#11090)
  service/matching/handler.go
Due: .azure-pipelines/server-cicd.yaml

Add unit tests for configurable poller-scaling ratio threshold
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Split poller_scale_decision into decision + reason tags
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Delegate mixedbrain devserver lifecycle to Omes (#10413)
  Makefile
  tests/mixedbrain/.gitignore
  tests/mixedbrain/build_util.go
  tests/mixedbrain/config_util.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

Load balance mixedbrain frontend RPCs
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/proxy_util.go
Due: none

Don't count backlog for persistence rate limited errors (#11046)
  service/matching/backlog_manager_test.go
  service/matching/db.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Clean up test resources after versioning suites
  tests/priority_fairness_test.go
  tests/test_env_cleanup.go
  tests/versioning_3_test.go
  tests/versioning_test.go
  tests/versioning_test_env.go
  tests/worker_deployment_version_test.go
Due: none

Dynamic partitioning: sync backlog counts (#10874)
  api/persistence/v1/tasks.pb.go
  api/taskqueue/v1/message.pb.go
  client/matching/partition_counts.go
  client/matching/partition_counts_test.go
  common/dynamicconfig/shared_constants.go
  common/number/compact8.go
  common/number/compact8_test.go
  proto/internal/temporal/server/api/persistence/v1/tasks.proto
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_queue_partition_manager.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix task token invalidation after resetting an activity
  api/token/v1/message.pb.go
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  common/tasktoken/token.go
  proto/internal/temporal/server/api/token/v1/message.proto
  service/frontend/workflow_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/workflow/mutable_state_impl.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

additional functional test
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  tests/activity_standalone_test.go
Due: none
