Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

matching: backlog-aware client poll load balancing
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  client/matching/partition_counts.go
Due: none

Backlog-aware client add-task load balancing (#10955)
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
Due: none

Add backlog-weighted matching read load balancing
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/matching_client_test.go
  common/dynamicconfig/shared_constants.go
  common/dynamicconfig/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Guard the CHASM pure-task invalidation invariant for scheduler tasks
  chasm/chasmtest/pure_task_invariants.go
  chasm/lib/scheduler/pure_task_invariants_test.go
Due: none

Assert that an executed CHASM pure task has become invalid
  chasm/pure_task_invariant_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

check the backlog of all non-drained and non-deleted versions this queue has ever been active on since they may contain backlog
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

expose SkipMarkAlive as a public parameter for matchingClient.DescribeTaskQueuePartition, so that scaler does not keep all inactive version queues loaded forever
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/scale_manager.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_interface.go
  service/matching/task_queue_partition_manager_mock.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-161.0-rc.20260806120239
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

health check settings for grpc endpoints (#11343)
  common/dynamicconfig/constants.go
  common/health/check_types.go
  common/health/settings.go
  common/health/signal_aggregator.go
  common/health/signal_aggregator_test.go
  common/rpc/interceptor/health_check.go
  service/history/configs/config.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Close the version check response body and bound the request
  common/versioninfo/caller.go
  common/versioninfo/caller_internal_test.go
  common/versioninfo/caller_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Stop the SDK workers and clients the worker service starts
  service/worker/batcher/activities.go
  service/worker/batcher/activities_client_test.go
  service/worker/parentclosepolicy/processor.go
  service/worker/parentclosepolicy/processor_test.go
  service/worker/scanner/scanner.go
  service/worker/scanner/scanner_test.go
  service/worker/service.go
Due: .azure-pipelines/server-cicd.yaml

Release the gRPC connections and SDK clients the factories own
  common/resource/fx.go
  common/rpc/rpc.go
  common/rpc/rpc_test.go
  common/sdk/factory.go
  common/sdk/factory_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test(mixedbrain): detect incompatible metric schemas
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/metric_schema_util.go
  tests/mixedbrain/metric_schema_util_test.go
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

DLQ CHASM pure task if valid after execution, add unit test verifications to test framework
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/task_helpers_test.go
  chasm/errors.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

Remove immediate pure task check
  chasm/chasmtest/task_helpers.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

Add more verbose logging when task is DLQ'd
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/task_helpers_test.go
  chasm/errors.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

Unify error message format, add LogTags implementation
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/task_helpers_test.go
  chasm/errors.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/queues/executable.go
  service/history/queues/executable_internal_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify OSS demotion signal safety gate
  common/dynamicconfig/constants.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

testcore: add runner-scoped cluster context
  tests/testcore/functional_test_base.go
  tests/testcore/runner_context.go
  tests/testcore/runner_context_test.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
  tests/testcore/test_env.go
Due: none

testcore: expose optional runner capabilities
  tests/testcore/runner_context.go
  tests/testcore/runner_context_test.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
Due: none

tests: add importable functional test registry
  tests/activity_api_batch_terminate_test_impl.go
  tests/activity_metrics_parity_test_impl.go
  tests/activity_parity_test_impl.go
  tests/activity_standalone_test_impl.go
  tests/add_tasks_test_impl.go
  tests/admin_test_impl.go
  tests/archival_test_impl.go
  tests/chasm_test_impl.go
  tests/client_misc_test_impl.go
  tests/dlq_test_impl.go
  tests/functional_test_external_test.go
  tests/functional_test_registry.go
  tests/functional_test_runner.go
  tests/functional_test_runner_test.go
  tests/history_node_cleanup_test_impl.go
  tests/namespace_test_impl.go
  tests/nexus_endpoint_test_impl.go
  tests/nexus_matching_test_impl.go
  tests/nexus_workflow_test_impl.go
  tests/poller_scaling_test_impl.go
  tests/purge_dlq_tasks_api_test_impl.go
  tests/schedule_migration_test_impl.go
  tests/schedule_test_impl.go
  tests/task_queue_test_impl.go
  tests/testcore/functional_test_base.go
  tests/testcore/root_test_inventory_test.go
  tests/testcore/runner_context.go
  tests/testcore/runner_context_test.go
  tests/testcore/test_env.go
  tests/timeskipping_fast_forward_test_impl.go
  tests/timeskipping_propagation_test_impl.go
  tests/timeskipping_test_impl.go
  tests/tls_test_impl.go
  tests/versioning_3_test_impl.go
  tests/versioning_test_env.go
  tests/versioning_test_impl.go
  tests/worker_deployment_test_impl.go
  tests/worker_deployment_version_test_impl.go
  tests/workflow_alias_search_attribute_test_impl.go
  tests/workflow_reset_test_impl.go
Due: none

Obtain correct cluster name in stream_sender
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify demotion signal gate compatibility
  common/dynamicconfig/constants.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Don't DLQ sync versioned transition task when cleanup finds nothing to delete
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_sync_versioned_transition_task_test.go
Due: .azure-pipelines/server-cicd.yaml

Add dynamic config rollout flag, only apply to scheduled pure tasks
  chasm/chasmtest/task_helpers_test.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/node_backend_mock.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tests: satisfy importable runner lint
  tests/activity_api_batch_unpause_test_impl.go
  tests/activity_api_batch_update_options_test_impl.go
  tests/activity_api_pause_test_impl.go
  tests/activity_api_reset_test_impl.go
  tests/activity_api_rules_test_impl.go
  tests/activity_api_update_test_impl.go
  tests/admin_test_impl.go
  tests/functional_test_registry.go
  tests/functional_test_runner.go
  tests/gethistory_test_impl.go
  tests/http_api_test_impl.go
  tests/nexus_api_test_impl.go
  tests/partition_scaling_test_impl.go
  tests/root_test_wrappers_test.go
  tests/schedule_migration_test_impl.go
  tests/task_queue_stats_test_impl.go
  tests/task_queue_test_impl.go
  tests/testcore/root_test_inventory_test.go
  tests/testcore/test_cluster.go
  tests/testcore/test_env.go
Due: none

new functional test for time skipping behavior during pause and unpause (#11376)
  tests/timeskipping_test.go
Due: none

Gate worker deployment version demotion signals (#11426)
  common/dynamicconfig/constants.go
  service/worker/workerdeployment/fx.go
  service/worker/workerdeployment/replaytester/replay_test.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add TemporalNamespaceDivision group by column allowlist (#11189)
  common/persistence/sql/sqlplugin/visibility.go
  common/persistence/sql/sqlplugin/visibility_test.go
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/sql/query_converter_legacy.go
  common/persistence/visibility/store/sql/query_converter_legacy_test.go
  tests/activity_standalone_test.go
  tests/advanced_visibility_test.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply Callback Validator to Workflow Update Callbacks
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

remove modes, and do a floor of 32
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/matching_client_test.go
  common/dynamicconfig/shared_constants.go
  common/dynamicconfig/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

do pickReadPartitionWithFewestPolls same as before if no backlogCounts and no backlogCap
  client/matching/loadbalancer.go
Due: none

add integration test
  tests/update_workflow_sdk_test.go
Due: none

set readPartitionWeightFloor by decode(encode(1)), not hardcode to 32
  client/matching/loadbalancer.go
Due: none

adjust comment
  client/matching/loadbalancer.go
Due: none

check that backlog is complete and positive before ignoring fewest-pollers
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
Due: none

avoid unecessary decode
  client/matching/loadbalancer.go
Due: none

clarify legacy load balancer test
  client/matching/loadbalancer_test.go
Due: none
