Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

two spots
  tests/schedule_test.go
Due: none

addressing freds comments, adding more tests
  chasm/lib/activity/activity.go
  tests/standalone_activity_test.go
Due: none

fixing unit test
  chasm/lib/activity/activity_test.go
Due: none

PR feedback
  tests/schedule_test.go
Due: none

remove extra mocks
  chasm/lib/activity/statemachine_test.go
Due: none

Reject polls from recently-shutdown workers to prevent task theft
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  tests/task_queue_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint: use s.Len/s.Empty, remove trailing newline
  tests/schedule_test.go
Due: none

Improve no_poller_tasks metric (#8957)
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove stub commands.go to fix import cycle
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/workflow/fx.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add TODO to replace timing assertions with explicit poll response field
  tests/task_queue_test.go
Due: none

Remove trailing blank line in matching_engine_test.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Simplify comments
  common/rpc/interceptor/namespace_rate_limit.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add tests
  common/rpc/interceptor/namespace_rate_limit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

trivial change for testing the new patch release flow end-to-end
  .github/CODEOWNERS
  client/history/client_gen.go
  cmd/tools/getproto/files.go
  common/dynamicconfig/setting_gen.go
  service/history/ndc/workflow_state_replicator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: address second round of review feedback for V2-to-V1 migration
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.pb.go
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/proto/v1/request_response.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/lib/scheduler/scheduler_migrate_test.go
  service/frontend/admin_handler_test.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

Do not reset WFT attempt for Deployment Version transition (#9250)
  service/history/workflow/mutable_state_impl.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix DurationNear nil panic: use local helper with require
  tests/schedule_test.go
Due: none

refactor: nest scheduler workflow migration state
  chasm/lib/scheduler/gen/schedulerpb/v1/message.go-helpers.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/lib/scheduler/scheduler_migrate_test.go
  tests/schedule_migration_test.go
Due: none

Address PR comments
  chasm/lib/activity/validator.go
  common/primitives/task_queues.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add a couple of code review guidelines (#9516)
  .github/copilot-instructions.md
Due: none

use namespace level dc
  common/dynamicconfig/constants.go
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/nexus_handler_test.go
  service/frontend/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.31.0-152.1
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix tests
  chasm/lib/activity/validator_test.go
  common/tqid/task_queue_validator_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.28.3
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix expected err message
  tests/workflow_test.go
Due: none

Fix test
  service/frontend/fx_test.go
Due: .azure-pipelines/server-cicd.yaml

fix double delete test
  tests/standalone_activity_test.go
Due: none

Migrate activity update tests to use TestEnv
  tests/activity_api_update_test.go
Due: none

Fix StickySpeculativeWorkflowTask_AcceptComplete_StickyWorkerUnavailable (#9372)
  tests/update_workflow_test.go
Due: none

elasticsearch 8.5
  develop/github/docker-compose.yml
Due: none

Fix expected err message
  service/history/api/command_attr_validator_test.go
  tests/child_workflow_test.go
  tests/continue_as_new_test.go
Due: .azure-pipelines/server-cicd.yaml

Bump go.temporal.io/sdk to v1.41.0 and regenerate mocks
  common/testing/mocksdk/client_mock.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky worker registry tests
  tests/worker_registry_test.go
Due: none

add parallel, static workflow id, and better package level naming
  tests/activity_api_update_test.go
Due: none

revert
  client/history/client_gen.go
Due: none

Fix test
  common/rpc/interceptor/namespace_rate_limit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
