Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add logical task metric count registrable task option
  chasm/node_backend_mock.go
  chasm/registrable_component.go
  chasm/registrable_task.go
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix merge conflicts and rename to taskCountMetricEnabledForComponent
  chasm/registrable_component.go
  chasm/registrable_task.go
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Strengthen local namespace replication
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_admitter_test.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/history/configs/config.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/task_executor.go
  service/history/replication/task_executor_test.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add error sentinel for filtering
  chasm/AGENTS.md
  chasm/detached_tree.go
  chasm/lib/all/all_test.go
Due: none

PR Feedback
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/library_test.go
  chasm/lib/nexusoperation/operation.go
Due: none

Add persistence fault injection for functional tests
  docs/development/testing.md
  tests/testcore/gate.go
  tests/testcore/gate_test.go
  tests/testcore/persistence_call_gate.go
  tests/testcore/persistence_fault.go
  tests/testcore/persistence_fault_test.go
  tests/testcore/test_env.go
Due: none

Tag Nexus pre-dispatch errors by reason (#12336)
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Share GitHub artifact and JUnit primitives (#12251)
  tools/ci-notify/datarace.go
  tools/ci-notify/datarace_test.go
  tools/common/github/artifacts.go
  tools/common/github/artifacts_test.go
  tools/common/junit/junit.go
  tools/common/junit/junit_test.go
  tools/flakereport/github.go
  tools/flakereport/parallel.go
  tools/flakereport/parser_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add extendable test timeout context
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make test contexts safe to cache
  common/testing/await/require_ctx_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/activity_driver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document test context snapshot ordering
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
  tests/testcore/test_env.go
Due: none

Report test context extension history
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cache test contexts in integration drivers
  common/testing/parallelsuite/suite.go
  tests/activity_driver.go
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Attribute test context deadline failures
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve caller-owned context deadlines
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve parent deadline attribution
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Polish test context deadline checks
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Respect externally capped test contexts
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Render Await timeout failures once
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve await timeout diagnostics
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use Await intervals as adaptive polling base
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Delegate Await deadline reporting
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align Await timeout with test context
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
  common/testing/parallelsuite/suite_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Harden adaptive Await polling
  common/testing/await/config.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use adaptive polling for Await
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix default
  chasm/lib/callback/config.go
Due: none

Add CHASM nil registry and detached tree method (#12071)
  chasm/AGENTS.md
  chasm/detached_tree.go
  chasm/detached_tree_test.go
  chasm/lib/all/all.go
  chasm/lib/all/all_test.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/library.go
  tools/tdbg/chasm_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add automatic Buf validation to frontend RPCs
  Makefile
  cmd/tools/genrpcvalidationinterceptor/main.go
  cmd/tools/genrpcvalidationinterceptor/main_test.go
  cmd/tools/genrpcvalidationinterceptor/template.tmpl
  common/rpc/interceptor/proto_validation.go
  common/rpc/interceptor/proto_validation_gen.go
  common/rpc/interceptor/proto_validation_grpc_test.go
  go.mod
  go.sum
  service/frontend/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Checks circuit-breaker in chasm nexus operation describe (#12357)
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
  service/history/fx.go
Due: .azure-pipelines/server-cicd.yaml

Rename RPC log-tag generator to genrpclogtags
  Makefile
  cmd/tools/genrpclogtags/logtags.tmpl
  cmd/tools/genrpclogtags/main.go
  cmd/tools/genrpclogtags/main_test.go
  common/rpc/interceptor/logtags/admin_service_server_gen.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/logtags/workflow_tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use new persistence fault injectors in functional tests
  tests/acquire_shard_test.go
  tests/dlq_test.go
  tests/purge_dlq_tasks_api_test.go
  tests/testcore/test_env.go
Due: none

fix comment
  chasm/lib/callback/config.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-164.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align internal quota calculator naming
  common/rpc/interceptor/concurrent_request_limit.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix lint: ST1022 doc comment on EncodeInternalTokenWithEnvelope
  chasm/lib/callback/config.go
Due: none

Separate concurrent limits for internal per-namespace pollers (#12321)
  common/dynamicconfig/constants.go
  common/metrics/tags.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/concurrent_request_limit_test.go
  common/rpc/interceptor/request_error_handler.go
  common/rpc/interceptor/request_error_handler_test.go
  service/frontend/fx.go
  service/frontend/nexus_handler_test.go
  service/frontend/service.go
  service/history/replication/task_processor.go
  service/history/replication/task_processor_metrics_test.go
  tests/namespace_poller_limits_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[DO NOT MERGE] No-op README change to demonstrate floating features tests
  README.md
Due: none

fix: change default for callback encoding for Nexus (#12362)
  chasm/lib/callback/config.go
Due: none

testing branch
  README.md
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
