Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Update Alpine to 3.23.5
  docker/docker-bake.hcl
Due: none

Update Alpine to 3.23.5 (#10951)
  docker/docker-bake.hcl
Due: none

Bump Alpine to 3.23.5 and ServerVersion to 1.30.6
  .github/actions/build-docker-images/action.yml
  .github/workflows/docker-build-manual.yml
  common/headers/version_checker.go
  docker/docker-bake.hcl
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Alpine to 3.23.5 and ServerVersion to 1.30.6 (#10952)
  .github/actions/build-docker-images/action.yml
  .github/workflows/docker-build-manual.yml
  common/headers/version_checker.go
  docker/docker-bake.hcl
  docker/targets/admin-tools.Dockerfile
  docker/targets/server.Dockerfile
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Addressing comments (nits, common->proto, cleanup)
  chasm/tree.go
Due: none

fix formatters
  chasm/test_library_test.go
  chasm/test_var_test.go
Due: none

fix linter errors
  chasm/lib/all/all.go
Due: none

Add MSSQL dev environment and schema tooling
  Makefile
  config/development-mssql.yaml
  develop/docker-compose/docker-compose.yml
Due: none

validate tasks only if the node subtree is dirty (#10819)
  chasm/tree.go
  chasm/tree_test.go
Due: none

Surface whole-queue rate limiting state in TaskQueueStats
  common/taskqueue/stats.go
  common/taskqueue/stats_test.go
  go.mod
  go.sum
  service/matching/physical_task_queue_manager.go
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix test using onebox unnecessarily, revert onebox silent return
  tests/testcore/onebox.go
  tests/testcore/test_cluster_pool_test.go
Due: none

Fix workflow test nil dereference (#10947)
  tests/workflow_test.go
Due: none

Rename IsWholeQueueRateLimitingActive to IsRateLimitingActive
  service/matching/physical_task_queue_manager.go
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

wire in time-skipping config implementation for chasm (#10935)
  chasm/context.go
  chasm/context_mock.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Skip entire mutable state transaction if chasm transaction was skipped (#10539)
  chasm/tree.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Use global metric capture in leak test instead of MTLS
  tests/leakcheck/leak_test.go
Due: none

Add singleton registrable task option (#10832)
  chasm/registrable_task.go
  chasm/test_library_test.go
  chasm/test_task_test.go
  chasm/test_var_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

Revert some unnecessary comment changes
  tests/schedule_migration_test.go
Due: none

Consolidate replication emit and address review feedback
  common/events/defs.go
  common/events/registry_test.go
  common/events/replication_events.go
  common/events/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/replication_events.go
  service/history/replication/stream_sender.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Switch rate_limiting_active to 30s sliding window
  service/matching/physical_task_queue_manager.go
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Rename rateLimitTracker to tasksRateLimited
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Remove extra blank lines from ratelimit_manager files
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix flaky size limit history wait
  tests/sizelimit_test.go
Due: none

Remove stale blank line in ratelimit_manager.go
  service/matching/ratelimit_manager.go
Due: .azure-pipelines/server-cicd.yaml

Remove implementation details from comments
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/worker_command_task_handlers.go
Due: none

Address review comments: unpack handler deps, simplify token API
  chasm/lib/activity/activity.go
  chasm/lib/activity/worker_command_task_handlers.go
  common/tasktoken/token.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

separate out metrics
  common/metrics/metric_defs.go
  service/worker/scanner/scheduleinvariants/invariants.go
  service/worker/scanner/scheduleinvariants/invariants_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use backend clock for CHASM Node.Now()
  chasm/node_backend_mock.go
  chasm/tree.go
Due: none

Fix review workflow (#10931)
  .github/workflows/claude-review-teams.yml
Due: none

Record rate-limit events in matcherData instead of TrySyncMatch
  go.mod
  go.sum
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add TestBacklogRateLimited_TracksEvent test
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint issues in new rate-limit tracker tests
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Initialize test schema versions (#10790)
  common/persistence/cassandra/test.go
  common/persistence/sql/test_sql_persistence.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix pre-existing lint issues in matcher_data_test.go
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Disable Claude progress tracking for manual runs
  .github/workflows/claude-review-teams.yml
Due: none

remove timesource from node, and fix tests
  chasm/chasmtest/test_engine.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/skip_persistence_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Update go.mod to use feature/worker-callbacks branches
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Disable Claude progress tracking for manual runs (#10961)
  .github/workflows/claude-review-teams.yml
Due: none

[MCN] Add applicability seams so handover + redirection cover proxy services
  common/rpc/interceptor/namespace_handover.go
  common/rpc/interceptor/redirection.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
