Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

persistence: persist untouched user timer blobs verbatim
  common/persistence/data_interfaces.go
  common/persistence/execution_manager.go
  common/persistence/execution_manager_test.go
  common/persistence/tests/execution_mutable_state.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/user_timer_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add GH WF to automatically bump go.temporal.io/api on release
  .github/workflows/bump-go-api.yml
  cmd/tools/bump-go-api/main.go
  cmd/tools/bump-go-api/main_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testing: cover lazy user timer decode, blob passthrough and performance
  common/persistence/data_interfaces.go
  common/persistence/tests/execution_mutable_state.go
  common/persistence/tests/util.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/user_timer_cache_bench_test.go
  service/history/workflow/user_timer_cache_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drive XDC buffered event coverage through production paths
  tests/testcore/functional_test_base.go
  tests/xdc/buffered_event_persistence_test.go
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
  tests/xdc/failover_test.go
Due: none

Add standalone activity dispatch hook
  chasm/lib/activity/attempt.go
  chasm/lib/activity/attempt_test.go
  chasm/lib/activity/statemachine_test.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none

Assert buffered event conflict outcomes
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
Due: none

Document buffered event XDC scenarios
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
Due: none

Add version labels to missing deployment metric
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove buffered state sync rejection assertions
  tests/xdc/buffered_events_replication_test.go
Due: none

use versionObj
  service/worker/workerdeployment/activities.go
Due: .azure-pipelines/server-cicd.yaml

Simplify buffered event XDC helpers
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
Due: none

Extract buffered event XDC test helpers
  tests/xdc/buffered_events_replication_helpers_test.go
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
Due: none

address pr comments
  chasm/lib/activity/statemachine_test.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none

Clarify buffered event XDC scenarios
  tests/xdc/buffered_events_replication_helpers_test.go
  tests/xdc/buffered_events_replication_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
  tests/xdc/failover_test.go
Due: none

fix: [Scheduler] V1->V2 migration-eligibility fix and migrated-start ID (#11462)
  service/worker/scheduler/activities.go
  service/worker/scheduler/activities_test.go
  service/worker/scheduler/fx.go
  service/worker/scheduler/testdata/replay_migration_v1_to_v2.json.gz
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

Improve scheduler version ceiling replay coverage
  service/worker/scheduler/version_ceiling_test.go
  service/worker/scheduler/workflow.go
  tests/scheduler_replay_generation_test.go
Due: .azure-pipelines/server-cicd.yaml

feedback
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_tasks.go
Due: none

Fix buffered event XDC lint failures
  tests/xdc/buffered_events_replication_helpers_test.go
  tests/xdc/buffered_events_replication_test.go
Due: none

Add `make lint-code-fast` (#11786)
  AGENTS.md
  Makefile
Due: none

Add data race summary to CI report (#11211)
  .github/workflows/run-tests.yml
  tools/ci-notify/app.go
  tools/ci-notify/artifacts.go
  tools/ci-notify/datarace.go
  tools/ci-notify/datarace_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add time skipping to CHASM framework
  chasm/chasmtest/test_engine.go
  chasm/context.go
  chasm/context_mock.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/node_backend_mock.go
  chasm/skip_persistence_test.go
  chasm/test_component_test.go
  chasm/test_library_test.go
  chasm/test_var_test.go
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Add CHASM framework support for schedule time skipping
  chasm/context.go
  chasm/context_mock.go
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Add time skipping to workflow-based schedules
  service/frontend/workflow_handler.go
  service/worker/scheduler/activities.go
  service/worker/scheduler/workflow.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Add time skipping to CHASM-based schedules
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  common/dynamicconfig/constants.go
  common/util.go
  common/util_test.go
  go.mod
  go.sum
  service/frontend/errors.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_task_executor_base.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

make the error log safer
  service/worker/workerdeployment/activities.go
Due: .azure-pipelines/server-cicd.yaml

bug
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
Due: none

Test time skipping across schedule backends
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/scheduler/scheduler.go
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  go.sum
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document buffered event XDC topology
  tests/xdc/buffered_events_replication_helpers_test.go
Due: none

Improve object leak diagnostics (#11643)
  common/testing/objectleak/diagnostics.go
  common/testing/objectleak/diagnostics_test.go
  common/testing/objectleak/leakcheck_test.go
  common/testing/objectleak/report.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Auto-approve test shard salt updates (#11779)
  .github/CODEOWNERS
  .github/workflows/optimize-test-sharding.yml
Due: none

bump
  chasm/lib/scheduler/invariant_test.go
Due: none

Fix lint
  chasm/lib/scheduler/generator_tasks.go
Due: none

Make the scheduler idle-close deadline monotonic (#11702)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_idle_deadline_test.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_tasks.go
  chasm/lib/scheduler/util.go
Due: none

Address review: separate threshold, nil-stats guard, doc accuracy
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: test coverage: add invariants for every schedulev2 state transition (#11769)
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/test_engine.go
  chasm/chasmtest/test_engine_test.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/invariant_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/scheduler_idle_deadline_test.go
  chasm/lib/scheduler/scheduler_stuck_regression_test.go
Due: none

Fix scheduler migration test activity panic
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Allow parallel golangci-lint runners
  .github/.golangci.yml
Due: none

Add scheduler version override
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/fx.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/version_ceiling_test.go
  service/worker/scheduler/workflow.go
  tests/scheduler_replay_generation_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix scheduler migration test activity panic (#11803)
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add version labels to missing deployment metric (#11799)
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
