Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Block schedule rollback on workflow sentinel (#10708) (#10743)
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

more
  develop/github/memory_monitor.sh
Due: none

ensure dirs
  develop/github/memory_monitor.sh
Due: none

Capture more OOM diagnostics
  develop/github/memory_monitor.sh
Due: none

Fix flaky AttachLinksOnConflictUnionsLinks by comparing links as a set (#10740)
  common/testing/protorequire/require.go
  common/testing/protorequire/require_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Signal WCI on query dispatch when no pollers available (#10574)
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

terminate earlier
  develop/github/memory_monitor.sh
Due: none

Update memory_monitor.sh
  develop/github/memory_monitor.sh
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260617124129
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Build only Linux binaries for Docker
  .github/workflows/build-and-publish.yml
  .github/workflows/docker-build-manual.yml
Due: none

Make defensive copies of Nexus request headers (#10746)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_tasks_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks.go
Due: none

Build only Linux binaries for Docker (#10750)
  .github/workflows/build-and-publish.yml
  .github/workflows/docker-build-manual.yml
Due: none

Return shallow copy of CHASM custom search attributes and memo (#10735)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/visibility.go
Due: none

Migrate worker_commands_task_test.go (#10712)
  tests/worker_commands_task_test.go
Due: none

simplify ApplyWorkflowExecutionTimeSkippingTransitionedEvent
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

mv dedicated ts methods from mutable state impl to time skipping path
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Refactor to avoid continue as new handling.
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/fx.go
  service/worker/migration/sharded_activities.go
  service/worker/migration/sharded_activities_test.go
  service/worker/migration/sharded_handover_test.go
  service/worker/migration/sharded_parent_workflow.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_types_test.go
  service/worker/migration/sharded_workflow.go
  service/worker/migration/sharded_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Migrate client_misc_test.go (#10449)
  tests/client_misc_test.go
Due: none

Fix map import issue
  chasm/lib/nexusoperation/operation.go
Due: none

fix: missing maps import
  chasm/lib/nexusoperation/operation.go
Due: none

Fix map import issue (#10756)
  chasm/lib/nexusoperation/operation.go
Due: none

Fix history/matching/RPC goroutine leaks (the OOM root cause)
  chasm/lib/activity/gen/activitypb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_client.pb.go
  chasm/lib/tests/gen/testspb/v1/service_client.pb.go
  client/clientfactory.go
  client/history/client.go
  client/history/connections.go
  client/history/historytest/clienttest.go
  client/matching/client.go
  client/matching/partition_cache.go
  cmd/tools/protoc-gen-go-chasm/main.go
  common/resource/fx.go
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix per-namespace worker manager shutdown leaks
  service/worker/pernamespaceworker.go
  tests/memleak/leak_test.go
  tests/testcore/leak_support.go
Due: .azure-pipelines/server-cicd.yaml

Stop persistence rate-limiter and health-aggregator background goroutines
  common/persistence/client/fx.go
  common/quotas/map_request_rate_limiter_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Close cached system SDK client on shutdown
  common/resource/fx.go
  common/sdk/factory.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rebuild memleak test on testEnv + goleak with CI artifacts
  go.mod
  tests/memleak/leak_test.go
  tests/testcore/leak_support.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add env-gated heap-profile capture to the memleak test
  tests/memleak/leak_test.go
Due: none

Stop worker-service SDK workers on shutdown
  service/worker/parentclosepolicy/processor.go
  service/worker/scanner/scanner.go
  service/worker/scanner/scanner_test.go
  service/worker/service.go
  tests/memleak/leak_test.go
Due: .azure-pipelines/server-cicd.yaml

Apply make fmt to memleak test
  tests/memleak/leak_test.go
Due: none

Close gRPC client connections and watcher goroutines on shutdown
  chasm/lib/activity/gen/activitypb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_client.pb.go
  chasm/lib/tests/gen/testspb/v1/service_client.pb.go
  client/client_factory_mock.go
  client/clientfactory.go
  client/history/client.go
  client/history/client_test.go
  client/history/connections.go
  client/history/historytest/clienttest.go
  client/matching/client.go
  client/matching/partition_cache.go
  client/matching/partition_cache_test.go
  client/matching/partition_counts_test.go
  cmd/tools/protoc-gen-go-chasm/main.go
  common/resource/fx.go
  common/rpc/rpc.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make memleak settle window configurable (LEAK_SETTLE_SECONDS)
  tests/memleak/leak_test.go
Due: none

Add permanent goroutine-leak regression test (tests/memleak)
  tests/memleak/leak_test.go
  tests/testcore/leak_support.go
Due: none

Rename memleak -> goleak and tune the CI job
  .github/workflows/run-tests.yml
  tests/goleak/leak_test.go
Due: none

Add memory-leak CI job to run-tests.yml
  .github/workflows/run-tests.yml
Due: none

Gate memleak test by env var instead of a build tag
  tests/memleak/leak_test.go
Due: none

Drop retained husk references + set heap gate to 2048 KB/cluster
  Makefile
  tests/leakcheck/leak_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
  tests/testcore/test_env.go
Due: none

Fix saas-temporal API incompatibilities + encapsulate ClusterLeakRefs
  Makefile
  client/client_factory_mock.go
  client/clientfactory.go
  common/persistence/client/fx.go
  common/persistence/client/quotas.go
  common/resource/fx.go
  tests/leakcheck/leak_test.go
  tests/testcore/leak_refs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cancel the version-check HTTP request on shutdown
  common/versioninfo/caller.go
  common/versioninfo/caller_test.go
  service/frontend/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
