Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Simplify test runner arg tests
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Preserve test exit error on report parse failure
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Review PR head from isolated checkout
  .github/workflows/claude-review-teams.yml
Due: none

Reduce versioning suite cluster churn
  tests/testcore/test_cluster_pool.go
  tests/versioning_test.go
Due: none

Fix import-shadowing lint: rename tests to testCases
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix cancel command handler to match TaskInvocation interface
  chasm/lib/activity/worker_command_task_handlers.go
Due: none

allow peer retry/recover from unhealthy state
  chasm/lib/nsrepl/statemachine.go
  chasm/lib/nsrepl/tasks.go
Due: none

Use global frontend replication RPS override
  tests/versioning_test.go
Due: none

Let suite-scoped envs override dynamic config
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/versioning_test.go
Due: none

Move versioning globals to test defaults
  tests/testcore/dynamic_config_overrides.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/versioning_test.go
Due: none

fix
  tests/testcore/dynamic_config_overrides.go
  tests/testcore/test_cluster_pool.go
Due: none

Update versioning_test.go
  tests/versioning_test.go
Due: none

Scope versioning reachability overrides
  tests/testcore/dynamic_config_overrides.go
  tests/versioning_test.go
Due: none

Update dynamic_config_overrides.go
  tests/testcore/dynamic_config_overrides.go
Due: none

Enable PR-context Claude reviews (#10982)
  .github/workflows/claude-review-teams.yml
Due: none

Use app token for Claude review action
  .github/workflows/claude-review-teams.yml
Due: none

Fix test runner switch lint
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add RespondNexusTaskFailed test and fix error handling in tests
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix Claude review label testing (#11040)
  .github/workflows/claude-review-teams.yml
Due: none

Remove WorkflowId/RunId from standalone activity token
  chasm/lib/activity/activity.go
  common/tasktoken/token.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Limit Claude review app token permissions
  .github/workflows/claude-review-teams.yml
Due: none

test tweaks
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

Add runtime memory diagnostics to monitor
  develop/github/memory_monitor.sh
Due: none

Add matching engine test for TaskQueueKind in NexusTask token
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Adding timelag histogram
  common/metrics/metric_defs.go
  service/worker/migration/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

more tweaks
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

Limit Claude review app token permissions (#11041)
  .github/workflows/claude-review-teams.yml
Due: none

Add generated proto helpers: builders, matchers, validators
  Makefile
  api/protohelpers/fields/fields_gen.go
  api/protohelpers/fields/fields_test.go
  api/protohelpers/fields/generate.go
  api/protohelpers/match/match.go
  api/protohelpers/match/match_gen.go
  api/protohelpers/match/match_test.go
  api/protohelpers/predicate/predicate.go
  api/protohelpers/protofield/protofield.go
  api/protohelpers/protofield/protofield_test.go
  api/protohelpers/validate/validate.go
  api/protohelpers/validate/validate_gen.go
  api/protohelpers/validate/validate_test.go
  cmd/tools/genprotofields/main.go
  cmd/tools/genprotofields/main_test.go
  common/testing/protobuilder/protobuilder.go
  common/testing/protobuilder/protobuilder_test.go
  service/frontend/start_workflow_request_validator.go
  service/frontend/workflow_handler.go
  tests/activity_test.go
  tests/eager_workflow_start_test.go
  tests/testcore/requests.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add TestPerKeyRateLimitRecycleWakesBlockedMatch
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

lint
  common/number/compact8_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rework validator to typed FieldValidator (match PR #10200)
  api/protohelpers/validate/validate.go
  api/protohelpers/validate/validate_gen.go
  api/protohelpers/validate/validate_test.go
  api/protohelpers/validation/validation.go
  cmd/tools/genprotofields/main.go
  service/frontend/start_workflow_request_validator.go
  service/frontend/workflow_handler.go
  tests/activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add time skipping to chasm framework
  chasm/timeskipping.go
Due: none

add ut
  chasm/timeskipping_test.go
  chasm/tree_test.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

add time skipping in chasm framework runtime
  chasm/node_backend_mock.go
  chasm/timeskipping.go
  chasm/tree.go
  service/history/workflow/timeskipping.go
Due: .azure-pipelines/server-cicd.yaml

wire config setting into vts for chasm
  chasm/timeskipping.go
Due: none

add time skipping to chasm framework
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

wire in time-skipping config implementation for chasm (#10935)
  chasm/context.go
  chasm/context_mock.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

simplify regen tasks and ut
  chasm/tree.go
  chasm/tree_test.go
Due: none

change TargetTime to a private field
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  chasm/tree_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

delete and delegate time source of chasm node to backend (#10960)
  chasm/chasmtest/test_engine.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/node_backend_mock.go
  chasm/skip_persistence_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml
