Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Update worker_deployment_test.go
  tests/worker_deployment_test.go
Due: none

remove dc
  tests/worker_deployment_test.go
Due: none

Remove shortNamer; use full test name in tv()
  tests/testcore/test_env.go
  tests/worker_deployment_test.go
Due: none

Simplify worker deployment test hooks
  tests/testcore/test_env.go
  tests/worker_deployment_test.go
Due: none

Simplify worker deployment poller helpers
  tests/testcore/dynamic_config_overrides.go
  tests/worker_deployment_test.go
Due: none

Fix worker deployment list expectation
  tests/worker_deployment_test.go
Due: none

Reuse worker service cluster in worker deployment suite
  tests/worker_deployment_test.go
Due: none

Allow suite-scoped test hooks
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/worker_deployment_test.go
Due: none

rename
  tests/worker_deployment_test.go
Due: none

Fix worker deployment lint
  tests/worker_deployment_test.go
Due: none

Fix worker deployment sorted version expectation
  tests/worker_deployment_test.go
Due: none

Fix worker deployment conflict token version
  tests/worker_deployment_test.go
Due: none

fix lint
  service/history/ndc/activity_state_replicator_test.go
  service/history/ndc/branch_manager_test.go
  service/history/ndc/events_reapplier_test.go
  service/history/ndc/history_importer_test.go
  service/history/ndc/history_replicator_test.go
  service/history/ndc/replication_task_test.go
  service/history/ndc/resetter_test.go
  service/history/ndc/state_rebuilder_test.go
  service/history/ndc/transaction_manager_existing_workflow_test.go
  service/history/ndc/transaction_manager_new_workflow_test.go
  service/history/ndc/transaction_manager_test.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/replication/ack_manager_test.go
  service/history/replication/bi_direction_stream_test.go
  service/history/replication/dlq_handler_test.go
  service/history/replication/eager_namespace_refresher_test.go
  service/history/replication/executable_activity_state_task_test.go
  service/history/replication/executable_delete_execution_task_test.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_sync_versioned_transition_task_test.go
  service/history/replication/executable_task_converter_test.go
  service/history/replication/executable_task_test.go
  service/history/replication/executable_verify_versioned_transition_task_test.go
  service/history/replication/misc_coverage_test.go
  service/history/replication/progress_cache_test.go
  service/history/replication/stream_receiver_monitor_test.go
  service/history/replication/stream_receiver_test.go
  service/history/replication/stream_sender_test.go
  service/history/replication/stream_test.go
  service/history/replication/sync_state_retriever_test.go
  service/history/replication/task_processor_test.go
Due: .azure-pipelines/server-cicd.yaml

Use now value of parent when creating child context
  chasm/context.go
  chasm/tree_test.go
Due: none

Move now timestamp to context constructor
  chasm/context.go
  chasm/tree_test.go
Due: none

Move to immutablectx
  chasm/context.go
  chasm/tree_test.go
Due: none

Remove per component map
  chasm/context.go
  chasm/tree_test.go
Due: none

Fix linter issues
  chasm/tree_test.go
Due: none

CHASM return same timestamp from context.Now() within same MutableCtx
  chasm/context.go
  chasm/tree_test.go
Due: none

Add sync-validation-status
  common/worker_versioning/worker_versioning.go
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

cleanup extra test
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Migrate worker_deployment_test.go (#10567)
  tests/testcore/dynamic_config_overrides.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/worker_deployment_test.go
Due: none

Addressing comments and expanding tests
  api/persistence/v1/chasm.go-helpers.pb.go
  api/persistence/v1/chasm.pb.go
  chasm/tree.go
  chasm/tree_test.go
  proto/internal/temporal/server/api/persistence/v1/chasm.proto
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address review feedback
  client/matching/client.go
  tests/leakcheck/leak_test.go
Due: none

fix format
  service/history/replication/stream_sender_test.go
  service/history/replication/stream_test.go
Due: .azure-pipelines/server-cicd.yaml

validate tasks only if the node subtree is dirty
  chasm/tree.go
Due: none

replace taskPQ heap with btype.Table btree for task ordering (#10641)
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

ctx first
  tests/task_queue_stats_test.go
  tests/versioning_test_env.go
  tests/worker_deployment_test.go
Due: none

Fix task queue stats versioning test flake
  tests/task_queue_stats_test.go
  tests/versioning_test_env.go
  tests/worker_deployment_test.go
Due: none

lint
  tests/task_queue_stats_test.go
  tests/versioning_test_env.go
Due: none
