Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Remove the unused replay-aware logger
  common/log/replay_logger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Stop namespace, transitionhistory and history/consts importing the common root
  chasm/timeskipping.go
  chasm/tree.go
  common/namespace/const.go
  common/namespace/namespace.go
  common/namespace/testconstructors.go
  common/persistence/transitionhistory/transition_history.go
  common/rpc/interceptor/namespace_handover.go
  common/rpc/interceptor/namespace_validator.go
  common/rpc/interceptor/namespace_validator_test.go
  common/util.go
  service/history/consts/const.go
  service/history/workflow/context.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  tests/max_buffered_event_test.go
  tests/sizelimit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move the DataBlob codec into common/codec
  chasm/lib/all/all_test.go
  chasm/tree.go
  common/codec/blob.go
  common/codec/blob_test.go
  common/nexus/payload_serializer.go
  common/persistence/cassandra/queue_v2_store.go
  common/persistence/history_task_queue_manager.go
  common/persistence/serialization/codec.go
  common/persistence/serialization/serializer.go
  common/persistence/sql/queue_v2.go
  common/persistence/sql/sqlplugin/tests/queue_v2.go
  common/persistence/tests/cassandra_test.go
  common/persistence/tests/execution_mutable_state_task.go
  common/persistence/tests/queue_v2_test_suite.go
  common/persistence/tests/util.go
  common/persistence/visibility/visibility_manager_impl.go
  common/rpc/interceptor/service_error_interceptor.go
  common/rpc/interceptor/service_error_interceptor_test.go
  service/history/api/get_history_util.go
  service/history/chasm_engine_test.go
  service/history/events/cache.go
  service/history/hsm/callbacks/statemachine.go
  service/history/hsm/nexusoperations/tasks.go
  service/history/ndc/mutable_state_initializer.go
  service/history/queues/executable_test.go
  temporal/server_test.go
  tests/dlq_test.go
  tools/tdbg/chasm_decoder.go
  tools/tdbg/chasm_decoder_test.go
  tools/tdbg/commands.go
  tools/tdbg/schedule_status_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Define the SDK-worker-typed dynamic config settings in the worker service
  common/dynamicconfig/constants.go
  service/worker/deletenamespace/fx.go
  service/worker/pernamespaceworker_test.go
  service/worker/service.go
  service/worker/settings.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move the SDK logger adapter out of common/log
  common/log/sdklogger/sdklogger.go
  common/log/sdklogger/sdklogger_test.go
  common/sdk/factory.go
  service/worker/deletenamespace/deleteexecutions/workflow_test.go
  service/worker/deletenamespace/reclaimresources/workflow_test.go
  service/worker/deletenamespace/workflow_test.go
  service/worker/scheduler/replay_test.go
  service/worker/workerdeployment/replaytester/replay_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
  tests/xdc/activity_api_test.go
  tests/xdc/activity_timer_task_replication_test.go
  tests/xdc/history_replication_dlq_test.go
  tests/xdc/history_replication_signals_and_updates_test.go
  tests/xdc/nexus_request_forwarding_test.go
  tests/xdc/replication_enable_test.go
  tests/xdc/workflow_task_reported_problems_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backport #12323 to release/v1.31.x (#12329)
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/history/configs/config.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/task_executor.go
  service/history/replication/task_executor_test.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backport #12323 to release/v1.30.x (#12330)
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/history/configs/config.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/task_executor.go
  service/history/replication/task_executor_test.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backport #12323 to release/v1.32.x (#12328)
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_admitter_test.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/history/configs/config.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/task_executor.go
  service/history/replication/task_executor_test.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Strengthen local namespace replication (#12323)
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_admitter_test.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/history/configs/config.go
  service/history/replication/executable_history_task_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/task_executor.go
  service/history/replication/task_executor_test.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: extract shared replication helpers (PR0) (#12112)
  common/namespace/nsreplication/conversion_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update Makefile
  Makefile
Due: none

Only run testx checks on testx changes
  .github/workflows/testx.yml
Due: none

Forbid any go.temporal.io dependency in testx
  .github/workflows/testx.yml
Due: none

Run testx workflow steps in testx/
  .github/workflows/testx.yml
Due: none

Keep common/testing/freeport as a deprecated forwarder
  common/testing/freeport/freeport.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Let testx bump PRs merge without a code owner review
  .github/CODEOWNERS
  .github/workflows/auto-approve-cicd-bot-pr.yml
  .github/workflows/testx-bump.yml
Due: none

Move testx version bump automation into a separate PR
  .github/CODEOWNERS
  .github/workflows/auto-approve-cicd-bot-pr.yml
  .github/workflows/testx-bump.yml
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep the server's testx version current for consumers
  .github/CODEOWNERS
  .github/workflows/auto-approve-cicd-bot-pr.yml
  .github/workflows/testx-bump.yml
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify testx replace comment
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Check and apply go fix and formatters in testx
  testx/Makefile
Due: none

Clear scaleInfo when scaler is disabled (#12026) (#12409)
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Run testx bump daily as well
  .github/workflows/testx-bump.yml
Due: none

Alert when the required testx version falls behind
  .github/workflows/testx-bump.yml
Due: none

Approve testx bump PRs inline
  .github/workflows/auto-approve-cicd-bot-pr.yml
  .github/workflows/testx-bump.yml
Due: none

Move initialization to constructor
  common/membership/interfaces.go
  common/membership/ringpop/monitor.go
  common/membership/ringpop/monitor_test.go
  common/membership/ringpop/test_cluster.go
  service/history/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move to registrable task option
  chasm/registrable_component.go
  chasm/registrable_task.go
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Post a dedicated Slack message for testx bump problems
  .github/workflows/testx-bump.yml
Due: none

Simplify testx pin mismatch message
  .github/workflows/testx-bump.yml
Due: none

Don't recreate a testx bump PR that already targets the same commit
  .github/workflows/testx-bump.yml
Due: none

Only consider the bot's own testx bump PRs
  .github/workflows/testx-bump.yml
Due: none

Check the testx pin nightly and alert right away
  .github/workflows/testx-bump.yml
Due: none

Alert on any testx pin mismatch at the nightly check
  .github/workflows/testx-bump.yml
Due: none

Harden namespace replication verification
  tools/tdbg/app.go
  tools/tdbg/factory.go
  tools/tdbg/factory_test.go
  tools/tdbg/namespace_replication_commands.go
  tools/tdbg/namespace_replication_verify.go
  tools/tdbg/namespace_replication_verify_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix worker commands test identifiers for MySQL
  tests/worker_commands_task_test.go
Due: none

Clarify namespace mutation apply outcomes
  api/adminservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix data race in perNamespaceWorker initialization (#11825)
  service/worker/pernamespaceworker.go
Due: .azure-pipelines/server-cicd.yaml

Enable EnableCHASMWorkflowRootOnStart by default (#12428)
  common/dynamicconfig/constants.go
  tests/admin_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix worker commands test identifiers for MySQL (#12438)
  tests/worker_commands_task_test.go
Due: none
