Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Reduce TaskQueueStatsSuite partition count (#9143)
  tests/task_queue_stats_test.go
Due: none

Upgrade temporal api to 1.60.2
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix flaky TaskQueueStatsSuite (#9006)
  tests/task_queue_stats_test.go
Due: none

Complete task queue draining (#9164)
  service/matching/backlog_manager.go
  service/matching/db.go
  service/matching/fair_backlog_manager.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_backlog_manager.go
  service/matching/pri_task_reader.go
  tests/priority_fairness_test.go
Due: .azure-pipelines/server-cicd.yaml

Forward polls from sticky partitions to high-priority backlog (#8925)
  api/matchingservice/v1/request_response.pb.go
  api/taskqueue/v1/message.go-helpers.pb.go
  api/taskqueue/v1/message.pb.go
  common/backoff/jitter.go
  common/dynamicconfig/constants.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/matching/config.go
  service/matching/fair_backlog_manager.go
  service/matching/matcher.go
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_key.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_backlog_manager.go
  service/matching/pri_forwarder.go
  service/matching/pri_matcher.go
  service/matching/task.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
  service/matching/user_data_manager.go
  service/matching/user_data_manager_test.go
  tests/priority_fairness_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add metrics to track invalid search attributes comparisons in ES (#9096)
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
  common/persistence/visibility/store/elasticsearch/query_interceptors_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Set TargetVersionChanged instead of SuggestCaN when TargetVersionChanged (#9239)
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  common/util_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/configs/config.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/historybuilder/history_builder_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/workflow_task_info.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/mutable_state_rebuilder.go
  service/history/workflow/mutable_state_rebuilder_test.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move CancelActivityNexusTask creation to task_generator
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Add WorkerControlTaskQueue to CancelActivityNexusTask
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/tasks/cancel_activity_nexus_task.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  common/testing/testhooks/hooks.go
  common/testing/testhooks/noop_impl.go
  common/testing/testhooks/test_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add metrics tag and low priority for CancelActivityNexusTask
  common/metrics/metric_defs.go
  service/history/queues/metrics.go
  service/history/queues/priority_assigner.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fmt
  common/testing/testhooks/hooks.go
  common/testing/testhooks/test_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump golangci-lint to v2.9.0
  Makefile
Due: none

Adding archiver for Azure blob store
  .gitignore
  Makefile
  common/archiver/azure_store/connector/client.go
  common/archiver/azure_store/connector/client_mock.go
  common/archiver/azure_store/connector/client_test.go
  common/archiver/azure_store/history_archiver.go
  common/archiver/azure_store/history_archiver_test.go
  common/archiver/azure_store/query_parser.go
  common/archiver/azure_store/query_parser_mock.go
  common/archiver/azure_store/query_parser_test.go
  common/archiver/azure_store/util.go
  common/archiver/azure_store/visibility_archiver.go
  common/archiver/azure_store/visibility_archiver_test.go
  common/archiver/provider/provider.go
  common/config/config.go
  config/development-cass-archival-azure.yaml
  go.mod
  go.sum
  service/frontend/namespace_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix unit tests
  service/frontend/nexus_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Add constant for temporal-nexus-failure-support header and DC to toggle it off per namespace
  chasm/lib/nexusoperation/config.go
  common/nexus/nexusrpc/api.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/server.go
  components/nexusoperations/config.go
  components/nexusoperations/executors.go
  components/nexusoperations/fx.go
  service/frontend/nexus_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply suggestions from code review
  chasm/lib/callback/chasm_invocation.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  common/nexus/nexusrpc/failure_converter.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor API tests to include new failure paths
  tests/nexus_api_test.go
  tests/nexus_api_validation_test.go
  tests/nexus_test_base.go
  tests/nexus_workflow_test.go
Due: none

Moar lint
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint
  service/frontend/nexus_handler.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint
  tests/nexus_api_test.go
Due: none

Do not reset WFT attempt for Deployment Version transition (#9250)
  service/history/workflow/mutable_state_impl.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

Set useSystemCallbackURL on by default
  components/nexusoperations/config.go
Due: none

Fix nil header issue
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
Due: none

Fix unit test failure
  common/nexus/nexusrpc/completion_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update comment for standby executor
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Add Version field to CancelActivityNexusTask for multi-cluster support
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Add comment
  service/history/tasks/utils.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Use stored WorkerControlTaskQueue for activity cancellation dispatch
  service/history/transfer_queue_active_task_executor.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/server-cicd.yaml

Add functional test for activity cancellation via control queue
  common/testing/taskpoller/taskpoller.go
  common/testing/testvars/test_vars.go
  service/history/transfer_queue_active_task_executor.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cleanup
  common/persistence/serialization/task_serializers_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor to separate file
  common/nexus/constants.go
  service/history/cancel_activity.go
  service/history/transfer_queue_active_task_executor.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove worker_instance_key as it is not needed
  service/history/cancel_activity.go
Due: .azure-pipelines/server-cicd.yaml

Dispatch batched activity cancellation to worker via DispatchNexusTask
  common/persistence/serialization/task_serializers_test.go
  service/history/transfer_queue_active_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cleanup
  service/history/cancel_activity.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/task_generator_mock.go
Due: .azure-pipelines/server-cicd.yaml

Batch activity cancel tasks by control queue
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_mock.go
Due: .azure-pipelines/server-cicd.yaml

Bump golangci-lint to v2.9.0 (#9302)
  Makefile
Due: none

move attribution logic to partition manager
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
