Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

VLN-1349: fix missing-dependency-cooldown
  .github/dependabot.yml
Due: none

test: assert specific error types in schedule deletion/patch error subtests
  tests/schedule_migration_test.go
Due: none

Address PR feedback from /review
  chasm/lib/activity/activity.go
  chasm/lib/callback/component.go
  chasm/lib/callback/frontend_validation.go
  chasm/lib/callback/handler.go
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/workflow/workflow.go
  common/nexus/nexusrpc/completion.go
  service/frontend/configs/quotas.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix bug in setting wrong headers for resolving Nexus op callbacks
  chasm/lib/callback/invocable_outbound.go
  common/nexus/nexusrpc/completion.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

harden test
  tests/update_workflow_test.go
Due: none

updating event id
  tests/update_workflow_test.go
Due: none

tests: fix flakes in WorkflowUpdateSuite by increasing context
  tests/update_workflow_test.go
Due: none

Add OTEL instrumentation to Nexus HTTP endpoints
  go.mod
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rename test for better clarity
  tests/update_workflow_test.go
Due: none

fix: re-kick generator on unpause to resume CHASM schedule processing (#9889)
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/scheduler.go
  tests/schedule_test.go
Due: none

Strongly consistent Nexus endpoints via dynamic config
  common/dynamicconfig/constants.go
  common/nexus/endpoint_registry.go
  common/nexus/endpoint_registry_test.go
  tests/nexus_test_base.go
  tests/testcore/dynamic_config_overrides.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

matching poll wait for token
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/matching/config.go
  service/matching/configs/quotas.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

main change
  client/admin/metric_client.go
  client/frontend/metric_client.go
  client/matching/metric_client.go
  common/dynamicconfig/constants.go
  service/frontend/fx.go
  service/matching/config.go
  service/matching/configs/quotas.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

doc.go
  common/testing/await/doc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use testing.TB
  common/testing/testcontext/context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rm bound check, and add validateTimeSkippingConfig for update workflows
  common/namespace/const.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use t.Fail()
  common/testing/await/require_true.go
  common/testing/await/t.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

drop prefix
  common/testing/await/require_ctx.go
  common/testing/await/require_true.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

drop contextOverride
  common/testing/parallelsuite/suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address group by issue
  service/worker/scheduler/schedule_id_query_rewriter.go
  service/worker/scheduler/schedule_id_query_rewriter_test.go
Due: .azure-pipelines/server-cicd.yaml

fix lint
  common/testing/parallelsuite/suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Wire OTEL to Callback invocations
  common/resource/fx.go
  common/rpc/otel_transport_test.go
  common/rpc/rpc.go
  components/callbacks/executors.go
  components/callbacks/executors_test.go
  components/callbacks/fx.go
  components/callbacks/nexus_invocation.go
  components/callbacks/propagation_test.go
  service/frontend/nexus_handler_test.go
  tests/callbacks_otel_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use callback.allowedAddresses dynamic config
  chasm/lib/callback/config.go
  components/callbacks/config.go
  config/dynamicconfig/development-cass.yaml
  config/dynamicconfig/development-sql.yaml
  config/dynamicconfig/development-xdc.yaml
  docs/architecture/nexus.md
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler_test.go
  tests/callbacks_migration_test.go
  tests/callbacks_test.go
  tests/schedule_test.go
  tests/standalone_activity_test.go
  tests/workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: PauseWorkflowExecution bypassed when constantly completing activities
  service/history/api/respondworkflowtaskcompleted/api.go
  tests/pause_workflow_execution_test.go
Due: .azure-pipelines/server-cicd.yaml

linter
  tests/pause_workflow_execution_test.go
Due: none

linter again......
  tests/pause_workflow_execution_test.go
Due: none

add blank default
  tests/pause_workflow_execution_test.go
Due: none

sync-2026-05-14-15-01
  README.md
Due: none

sync-2026-03-27-15-44
  README.md
Due: none

sync-2026-04-16-10-51
  README.md
Due: none

sync-2026-05-13-11-26
  README.md
Due: none

Test failing
  tests/callbacks_otel_test.go
Due: none

Bump go.temporal.io/api to v1.62.12
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

sync.Once
  common/testing/parallelsuite/suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

extend description
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

more specific error
  common/nexus/endpoint_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Do some wiring so the test env has a TracerProvider
  tests/callbacks_otel_test.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
Due: none

Skip cancel command generation on standby cluster
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

tweak name
  common/dynamicconfig/constants.go
  common/nexus/endpoint_registry.go
  tests/testcore/dynamic_config_overrides.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

BUG: Call out test problem
  tests/callbacks_otel_test.go
Due: none
