Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

clean code and fix bugs
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/lib/scheduler/scheduler_migrate_test.go
  go.sum
  service/frontend/errors.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_task_executor_base.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix a linter issue.
  service/worker/batcher/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

oops, fix TestTaskQueueStats_Pri_Suite
  tests/task_queue_stats_test.go
Due: none

no time skipping when state not dirty
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Treat invalid secondary visibility writing mode as off (#12184)
  common/dynamicconfig/collection.go
  common/dynamicconfig/constants.go
  common/persistence/visibility/manager_selector.go
  common/persistence/visibility/manager_selector_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

one more
  service/matching/backlog_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Render percentage point comparisons with percent sign
  tools/ci-notify/app_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Allow a configuration of useVersioning:false even if workflow authors annotate workflow types with versioning behaviours (#12260)
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Fix CHASM completion fallback after failover reset (#12182)
  nexusworkflowref/nexusworkflowref.go
  service/history/statemachine_environment.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/server-cicd.yaml

Preserve cached task queue summaries during sync
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Tidy dependencies after rebase
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enables standalone nexus operations by default
  chasm/lib/nexusoperation/config.go
  service/frontend/namespace_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

signal reader interface
  common/health/evaluate.go
  common/health/signal_aggregator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

copy over the eval logic
  common/health/evaluate.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove message logic
  common/health/evaluate.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Unload matching partitions from a namespace state-change callback
  service/matching/config.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/namespace_failover_test.go
  service/matching/unloadcause_string_gen.go
  tests/xdc/failover_test.go
Due: .azure-pipelines/server-cicd.yaml

split out state rollup from health checks
  common/health/evaluate.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Adds mixed brain DC
  tests/mixedbrain/mixed_brain_test.go
Due: none

fixup! copy over the eval logic
  common/health/evaluate.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Defaults standalone nexus operations to enabled. (#12280)
  chasm/lib/nexusoperation/config.go
  service/frontend/namespace_handler_test.go
  tests/mixedbrain/mixed_brain_test.go
Due: .azure-pipelines/server-cicd.yaml

Add functional tests for standalone Nexus invoking WF update
  tests/nexus_workflow_update_test.go
Due: none

OSS-5492 Fix Init for workflow root component created via NewMutableStateFromDB path
  chasm/tree.go
  chasm/tree_test.go
  tests/nexus_standalone_test.go
Due: none

Revert "Defaults standalone nexus operations to enabled. (#12280)"
  chasm/lib/nexusoperation/config.go
  service/frontend/namespace_handler_test.go
  tests/mixedbrain/mixed_brain_test.go
Due: .azure-pipelines/server-cicd.yaml

copy tests over
  common/health/evaluate_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Mutate the fair reader's outstanding tasks in place instead of copy-on-write (#11579)
  service/matching/fair_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Name matching test-store mutexes instead of embedding them.
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/test_task_store_test.go
Due: .azure-pipelines/server-cicd.yaml

Log tasks blocked by the circuit breaker
  service/history/queues/executable.go
  service/history/queues/executable_test.go
Due: .azure-pipelines/server-cicd.yaml

Log malformed Nexus requests at warn level
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/server-cicd.yaml

Make Nexus call failure log message static
  chasm/lib/nexusoperation/task_handler_base.go
  service/history/hsm/nexusoperations/executors.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Revert "Defaults standalone nexus operations to enabled." (#12290)
  chasm/lib/nexusoperation/config.go
  service/frontend/namespace_handler_test.go
  tests/mixedbrain/mixed_brain_test.go
Due: .azure-pipelines/server-cicd.yaml

Tag Nexus pre-dispatch errors by reason
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Cherry-pick #11955 to cloud/v1.32.0-162: Don't block schedule rollback on a closed dummy sentinel (#12219)
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  tests/schedule_migration_test.go
  tools/tdbg/commands.go
  tools/tdbg/schedule_status_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag circuit-breaker-blocked tasks by task group
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add nexus_endpoint tag to Nexus outbound metrics
  chasm/lib/nexusoperation/cancellation_tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_base.go
  service/history/hsm/nexusoperations/executors.go
  service/history/hsm/nexusoperations/executors_test.go
Due: .azure-pipelines/server-cicd.yaml

batch grant eager
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Condition CHASM user data bootstrap writes on clocks
  chasm/lib/tquserdata/gen/tquserdatapb/v1/request_response.go-helpers.pb.go
  chasm/lib/tquserdata/gen/tquserdatapb/v1/request_response.pb.go
  chasm/lib/tquserdata/gen/tquserdatapb/v1/service.pb.go
  chasm/lib/tquserdata/gen/tquserdatapb/v1/service_client.pb.go
  chasm/lib/tquserdata/gen/tquserdatapb/v1/service_grpc.pb.go
  chasm/lib/tquserdata/handler.go
  chasm/lib/tquserdata/proto/v1/request_response.proto
  chasm/lib/tquserdata/proto/v1/service.proto
  common/metrics/metric_defs.go
  service/matching/user_data_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
