Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Use HSM callbacks in Nexus replication test without transition history
  tests/xdc/nexus_state_replication_test.go
Due: none

Write memory snapshot before diagnostics
  develop/github/memory_monitor.sh
Due: none

add logs, remove comments
  api/persistence/v1/executions.go-helpers.pb.go
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
  tests/timeskipping_experiment_test.go
  tests/timeskipping_fast_forward_test.go
  tests/timeskipping_test.go
  tools/tdbg/describe_execution_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep memory monitor alive on proc read errors
  develop/github/memory_monitor.sh
Due: none

update api
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add time skipping info to describe api
  service/history/api/describeworkflow/api.go
Due: .azure-pipelines/server-cicd.yaml

Fix bogus StartToCloseLatency for non-running standalone activities
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine_test.go
Due: none

change to in-memory protector, max-busy-skip
  api/persistence/v1/executions.go-helpers.pb.go
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
  tests/timeskipping_experiment_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable CHASM callbacks by default (#11113)
  common/dynamicconfig/constants.go
  tests/workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

change to token bucket, add more tests
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
  tests/timeskipping_experiment_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add a workflow layer check
  common/dynamicconfig/constants.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Support CHASM Nexus operations in mutable state rebuild (#10983)
  service/history/workflow/mutable_state_rebuilder.go
  service/history/workflow/mutable_state_rebuilder_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add HSM<->CHASM Nexus completion conversion (#11050)
  nexusworkflowref/nexusworkflowref.go
  nexusworkflowref/nexusworkflowref_test.go
Due: none

add check of fast-forward and ut in applicaiton layer (workflow)
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add wait and notify all
  service/history/api/describeworkflow/api.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/interfaces/engine.go
  service/history/interfaces/engine_mock.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/timeskipping_notifier.go
  service/history/workflow/context.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-160.0-rc.20260717114948
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use suite contexts in functional tests (#11101)
  tests/activity_api_batch_reset_test.go
  tests/activity_api_batch_unpause_test.go
  tests/activity_api_batch_update_options_test.go
  tests/activity_standalone_test.go
  tests/admin_test.go
  tests/chasm_test.go
  tests/client_data_converter_test.go
  tests/describe_test.go
  tests/history_node_cleanup_test.go
  tests/links_test.go
  tests/namespace_interceptor_test.go
  tests/nexus_api_test.go
  tests/nexus_api_validation_test.go
  tests/nexus_workflow_test.go
  tests/nexus_workflow_update_test.go
  tests/premature_eos_test.go
  tests/query_workflow_test.go
  tests/schedule_migration_test.go
  tests/schedule_workflow_pause_interaction_test.go
  tests/signal_workflow_test.go
  tests/sizelimit_test.go
  tests/stickytq_test.go
  tests/testcore/functional_test_base.go
  tests/timeskipping_fast_forward_test.go
  tests/timeskipping_propagation_test.go
  tests/timeskipping_test.go
  tests/transient_task_test.go
  tests/update_workflow_test.go
  tests/user_metadata_test.go
  tests/user_timers_test.go
  tests/versioning_3_test.go
  tests/workflow_buffered_events_test.go
  tests/workflow_completion_pagination_test.go
  tests/workflow_delete_execution_test.go
  tests/workflow_failures_test.go
  tests/workflow_memo_test.go
  tests/workflow_timer_test.go
  tests/workflow_type_encoding_test.go
Due: none

[testcore] Use a singular shared cluster for all tests that request one
  tests/activity_api_batch_unpause_test.go
  tests/leakcheck/leak_test.go
  tests/namespace_test.go
  tests/poller_scaling_test.go
  tests/schedule_migration_test.go
  tests/task_queue_stats_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
  tests/testcore/test_env.go
  tests/update_workflow_utils.go
  tests/worker_registry_test.go
  tests/workflow_alias_search_attribute_test.go
Due: none

Capture heap profiles during shard2 memory balloon
  .github/workflows/run-tests.yml
Due: none

Fix bogus StartToCloseLatency for non-running standalone activities (#11120)
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine_test.go
Due: none

Capture process diagnostics before pprof
  develop/github/memory_monitor.sh
Due: none

Cleanup: hasAttemptInProgress utility, cancelEvent.metricsHandler
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

Extend test contexts for await
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/require_ctx.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix bug
  chasm/lib/activity/activity.go
Due: none

Simplify await testcontext extension
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update require_ctx.go
  common/testing/await/require_ctx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove +1 logic in task token stamping
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

simplify
  common/testing/await/require_ctx.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test_env.go
  tests/testcore/test_env.go
Due: none

Update context.go
  common/testing/testcontext/context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply deleted-workflow orphan runs as zombie on replication apply (#10673)
  service/history/ndc/transaction_manager_existing_workflow.go
  service/history/ndc/transaction_manager_existing_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml
