Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Prioritize worker versioning workflows (#11930)
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/util_test.go
Due: .azure-pipelines/server-cicd.yaml

Treat missing Worker Deployment Version as deleted (#11696)
  common/metrics/metric_defs.go
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/activities_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix activity timeout regeneration after unpause (#11666)
  service/history/workflow/activity.go
  service/history/workflow/activity_test.go
  tests/activity_api_reset_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity operator command metric label collision (#11806)
  chasm/lib/activity/activity.go
  common/metrics/activity.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/api/pauseactivity/api.go
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
  service/history/api/updateactivityoptions/api_test.go
  service/history/workflow/metrics.go
  tests/activity_api_pause_test.go
  tests/activity_api_reset_test.go
  tests/activity_metrics_parity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility] Fix legacy visibility query converter (#11910)
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_legacy.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/errors.go
  common/persistence/visibility/store/query/resolve.go
  common/persistence/visibility/store/query/resolve_test.go
  common/persistence/visibility/store/sql/query_converter_legacy.go
  common/persistence/visibility/store/sql/query_converter_legacy_test.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  common/persistence/visibility/store/tests/query_converter_legacy_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
  service/worker/scheduler/query_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

dynamic partitioning: use probability of AddTask to root partition to estimate overall add task rate (#11699)
  client/matching/client.go
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
  client/matching/partition_counts.go
  service/matching/partition_scaler_interface.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix batch activity unpause visibility query scope (#11725)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix batch operations targeting paused executions (#11642)
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  tests/activity_api_batch_cancel_test.go
  tests/activity_api_batch_terminate_test.go
  tests/workflow_api_batch_signal_test.go
  tests/workflow_api_batch_terminate_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop the added functional test
  tests/gethistory_test.go
Due: none

Log failed version delete propagation context
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/version_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Update service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Fix CHASM internal callback namespace binding
  chasm/lib/callback/config.go
  chasm/lib/callback/invocable_internal.go
  chasm/lib/callback/tasks_test.go
Due: none

Add HTTP fault injection for functional tests
  chasm/lib/callback/fx.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  common/rpc/faultinjection/generator.go
  common/rpc/faultinjection/generator_test.go
  common/rpc/grpcfaults/generator.go
  common/rpc/grpcfaults/interceptor.go
  common/rpc/httpfaults/httpfaults.go
  common/rpc/httpfaults/httpfaults_test.go
  common/testing/faultinjectiontest/hooks_testdep.go
  common/testing/grpcfaultstest/hooks_testdep.go
  common/testing/httpfaultstest/hooks_noop.go
  common/testing/httpfaultstest/hooks_testdep.go
  common/testing/httpfaultstest/hooks_testdep_test.go
  common/testing/testhooks/hooks.go
  docs/development/testing.md
  service/history/hsm/callbacks/fx.go
  tests/testcore/fault_injection.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add functional tests that demonstrate HTTP fault injection
  tests/callbacks_test.go
  tests/nexus_workflow_test.go
Due: none

Fix mixedbrain test by bumping go version to 1.26.8
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: none

fix fmt
  common/dynamicconfig/client.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Implement eager dispatch grants
  api/matchingservice/v1/request_response.go-helpers.pb.go
  api/matchingservice/v1/request_response.pb.go
  client/matching/client.go
  client/matching/client_gen.go
  client/matching/client_test.go
  cmd/tools/genrpcwrappers/main.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/backlog_manager.go
  service/matching/fair_backlog_manager.go
  service/matching/grant_eager_dispatch_test.go
  service/matching/handler.go
  service/matching/matching_engine.go
  service/matching/matching_engine_interfaces.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_backlog_manager.go
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_interface.go
  service/matching/task_queue_partition_manager_mock.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Implement atomic local execution synchronization
  api/historyservice/v1/request_response.go-helpers.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/historyservicemock/v1/service_grpc.pb.mock.go
  client/history/client_gen.go
  client/history/metric_client_gen.go
  client/history/retryable_client_gen.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/history/api/renewlocalexecutionlease/api.go
  service/history/api/synclocalexecution/api.go
  service/history/api/synclocalexecution/api_test.go
  service/history/configs/config.go
  service/history/handler.go
  service/history/history_engine.go
  service/history/interfaces/engine.go
  service/history/interfaces/engine_mock.go
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/workflow/context.go
  service/history/workflow/context_task_filter_test.go
  service/history/workflow/mutable_state_impl.go
  service/localexecution/history_synchronizer.go
  service/localexecution/history_synchronizer_test.go
  service/localexecution/upstream_syncer.go
  service/localexecution/upstream_syncer_test.go
  temporaltest/internal/lite_server.go
  temporaltest/local_execution_acquisition_test.go
  temporaltest/local_first_steel_thread_test.go
  temporaltest/options.go
  temporaltest/server.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use DescribeWorkflowExecution for migration verification
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Add durable local execution bridge bootstrap
  service/localexecution/bridge_bootstrap.go
  service/localexecution/bridge_bootstrap_test.go
  service/localexecution/bridge_state_lock_unix.go
  service/localexecution/bridge_state_lock_unsupported.go
  service/localexecution/bridge_state_lock_windows.go
  service/localexecution/bridge_state_store.go
  service/localexecution/bridge_state_store_test.go
Due: .azure-pipelines/server-cicd.yaml

Log context for version delete propagation failures (#11941)
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/version_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add reusable local execution bridge runtime
  service/localexecution/bridge_runtime.go
  service/localexecution/bridge_runtime_test.go
  service/localexecution/bridge_state_store.go
  service/localexecution/bridge_state_store_test.go
  service/localexecution/history_synchronizer.go
  service/localexecution/history_synchronizer_test.go
  temporaltest/cmd/local-first-demo-server/main.go
Due: .azure-pipelines/server-cicd.yaml

Handle local execution boundaries
  common/dynamicconfig/constants.go
  service/history/api/local_execution_state.go
  service/history/api/local_execution_state_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/configs/config.go
  service/localexecution/bridge_bootstrap.go
  service/localexecution/bridge_runtime.go
  service/localexecution/history_synchronizer.go
  temporaltest/cmd/local-first-demo-server/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test local execution boundary observation
  service/localexecution/history_synchronizer_test.go
Due: .azure-pipelines/server-cicd.yaml

Monitor child execution NotFound after ChildWorkflowExecutionStarted
  common/metrics/metric_defs.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

simplify test
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
Due: .azure-pipelines/server-cicd.yaml

Monitor child execution NotFound after ChildWorkflowExecutionStarted (#11447)
  common/metrics/metric_defs.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Limit on activity info failure size
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag Nexus completion callback telemetry with the completion source
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/callback/completion_source_test.go
  chasm/lib/callback/component.go
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/callback/tasks_test.go
  chasm/tree.go
  common/log/tag/tags.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/hsm/callbacks/executors_test.go
  service/history/hsm/callbacks/nexus_invocation.go
  tests/nexus_workflow_test.go
  tests/nexus_workflow_update_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-164.0-rc.20260905112435
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix malformed Nexus request-timeout header on poll
  service/matching/matching_engine.go
  service/matching/nexus_request_timeout_test.go
Due: .azure-pipelines/server-cicd.yaml

perf: cache resolved namespace names across interceptor chain
  common/rpc/interceptor/caller_info.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/namespace.go
  common/rpc/interceptor/namespace_handover.go
  common/rpc/interceptor/namespace_logger.go
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/telemetry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: cache getQueue result in QueueV2 EnqueueMessage path
  common/persistence/cassandra/queue_v2_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: replace MapScan with typed Scan in Cassandra persistence loops
  common/persistence/cassandra/history_store.go
  common/persistence/cassandra/matching_task_store_user_data.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/cassandra/nexus_endpoint_store.go
  common/persistence/cassandra/queue_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

history: defer user timer decoding until first access
  common/persistence/data_interfaces.go
  common/persistence/execution_manager.go
  service/history/workflow/context.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/timeskipping_test.go
  service/history/workflow/user_timer_cache.go
  service/history/workflow/user_timer_cache_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

persistence: persist untouched user timer blobs verbatim
  common/persistence/data_interfaces.go
  common/persistence/execution_manager.go
  common/persistence/execution_manager_test.go
  common/persistence/tests/execution_mutable_state.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/user_timer_cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

testing: cover lazy user timer decode, blob passthrough and performance
  common/persistence/data_interfaces.go
  common/persistence/tests/execution_mutable_state.go
  common/persistence/tests/util.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/user_timer_cache_bench_test.go
  service/history/workflow/user_timer_cache_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
