Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

[Visibility] Remove prepare statement
  common/persistence/sql/sqlplugin/mysql/visibility.go
  common/persistence/sql/sqlplugin/postgresql/visibility.go
  common/persistence/sql/sqlplugin/sqlite/visibility.go
  common/persistence/sql/sqlplugin/tests/visibility.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fails tests that soft assert on shared clusters (#10355)
  common/testing/testlogger/testlogger.go
  common/testing/testlogger/testlogger_test.go
  tests/task_queue_test.go
  tests/testcore/cluster_poison_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/shared_cluster_t.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

TS: delete max skip (#10440)
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/timeskipping_bound_test.go
  tests/timeskipping_propagation_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Add await attempt timeout (#10416)
  .github/workflows/run-tests.yml
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor worker registry to store namespace name per namespace (#10515)
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_impl_test.go
  service/matching/workers/registry_test.go
Due: .azure-pipelines/server-cicd.yaml

Simplify workflow alias workflow ID
  tests/workflow_alias_search_attribute_test.go
Due: none

Migrate workflow_alias_search_attribute_test.go
  tests/workflow_alias_search_attribute_test.go
Due: none

wip
  common/rpc/faultinjection/injector.go
  common/rpc/faultinjection/injector_test.go
  tests/testcore/flag.go
  tools/flakeshake/flakeshake.go
  tools/flakeshake/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

wip
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/user_data_manager.go
  tests/testcore/flag.go
  tests/testcore/onebox.go
  tools/flakeshake/flakeshake.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Flakeshake
  Makefile
  cmd/tools/flakeshake/main.go
  common/rpc/faultinjection/injector.go
  common/rpc/faultinjection/injector_test.go
  tests/testcore/flag.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tools/common/gotestparse/gotestparse.go
  tools/common/gotestparse/gotestparse_test.go
  tools/common/gotestparse/testdata/alerts-input.log
  tools/common/gotestparse/testdata/timeout-input.log
  tools/common/gotestparse/testdata/timeout-output.log
  tools/flakeshake/flakeshake.go
  tools/flakeshake/report.go
  tools/testrunner/gotestparse_aliases.go
  tools/testrunner/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

wip
  Makefile
  tools/flakeshake/flakeshake.go
  tools/flakeshake/report.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Validate speculative task history from poll response
  tests/versioning_3_test.go
Due: none

Close standalone versioning3 SDK clients
  tests/versioning_3_test.go
Due: none

Stabilize versioning3 worker registration checks
  tests/versioning_3_test.go
Due: none

Start sticky completion poll before activity finish
  tests/versioning_3_test.go
Due: none

Preserve versioning3 registration poll messages
  tests/versioning_3_test.go
Due: none

Address review feedback on Claude review workflow
  .github/workflows/claude-review-teams.yml
Due: none

Add Claude review workflow for Nexus team PRs
  .github/workflows/claude-review-nexus.yml
Due: none

Scope app installation token to least privilege
  .github/workflows/claude-review-teams.yml
Due: none

Add explicit empty permissions to check-membership job
  .github/workflows/claude-review-teams.yml
Due: none

Temporarily disable pull_request_target trigger
  .github/workflows/claude-review-teams.yml
Due: none

Add workflow_dispatch trigger for manual testing
  .github/workflows/claude-review-teams.yml
Due: none

Use Temporal CI/CD Bot app token instead of TEAM_READ_TOKEN
  .github/workflows/claude-review-teams.yml
Due: none

Make reviewed team list configurable via REVIEW_TEAMS env
  .github/workflows/claude-review-nexus.yml
  .github/workflows/claude-review-teams.yml
Due: none

Use ARM runners for Claude review workflow
  .github/workflows/claude-review-teams.yml
Due: none

Delegate mixedbrain devserver lifecycle to Omes
  Makefile
  tests/mixedbrain/.gitignore
  tests/mixedbrain/build_util.go
  tests/mixedbrain/config_util.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

Limit mixedbrain to PostgreSQL persistence
  tests/mixedbrain/mixed_brain_test.go
Due: none

Inline mixedbrain persistence options
  tests/mixedbrain/mixed_brain_test.go
Due: none

Use Omes devserver ports in mixedbrain
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

Update mixedbrain to latest Omes devserver
  tests/mixedbrain/build_util.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
  tests/mixedbrain/mixed_brain_test.go
Due: none

Replace AddTasks Fx wrapper with history task hook
  common/testing/testhooks/hooks.go
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
  tests/add_tasks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

feat: add support for query tasks in WCI
  service/matching/handler.go
  service/matching/hooks/task_lifecycle_hooks.go
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Handle edge cases with max links
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/handler_test.go
  tests/activity_standalone_test.go
  tests/nexus_workflow_test.go
Due: none

Respond to PR comments
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/config.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/link_validator.go
  common/dynamicconfig/constants.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Wire up activity links
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/config.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/frontend_test.go
  chasm/lib/activity/fx.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/handler_test.go
  chasm/lib/activity/link_validator.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/validator_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/workflow/validator.go
  common/dynamicconfig/constants.go
  common/links/validator.go
  common/links/validator_test.go
  common/nexus/link_converter.go
  common/nexus/link_converter_test.go
  common/nexus/links.go
  common/nexus/links_test.go
  components/nexusoperations/executors.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/workflow_handler.go
  tests/activity_standalone_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Change VisibilityRow execution duration type to int64
  common/persistence/sql/sqlplugin/tests/visibility.go
  common/persistence/sql/sqlplugin/visibility.go
  common/persistence/visibility/store/sql/visibility_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Correct comments in batch reset that incorrectly referenced versioning
  service/worker/batcher/activities.go
Due: .azure-pipelines/server-cicd.yaml

Add tests for CurrentRunOnly on batch reset by build ID
  tests/versioning_3_test.go
Due: none

Consolidate reset-by-build-ID tests into shared helper
  tests/versioning_3_test.go
Due: none

Replace tautological runID assertion in blocked-reset test
  tests/versioning_3_test.go
Due: none
