Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

extend tests
  service/history/api/updateworkflow/api.go
  service/history/api/updateworkflow/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix links for repeated updates (#11925)
  service/history/api/updateworkflow/api.go
  service/history/api/updateworkflow/api_test.go
  service/history/historybuilder/event_store.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Use errors.New for constant error string in jitter test
  common/backoff/retrypolicy_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

enforce value greater than 0
  chasm/registrable_task.go
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use require.Regexp instead of assert.Regexp in TestThrottleLogger
  common/log/zap_logger_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(cache): honor NewLRU metrics handler
  common/cache/lru.go
  common/cache/lru_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-165.0-rc.20261008113332
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Upgrade client_golang to v1.21.1, whose process collector compiles for wasip1
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add a CHASM-native workflow core that keeps history events and the workflow task in the CHASM tree
  chasm/lib/workflow/activity_commands.go
  chasm/lib/workflow/event_store.go
  chasm/lib/workflow/gen/workflowpb/v1/native_state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/native_state.pb.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/native_workflow.go
  chasm/lib/workflow/native_workflow_test.go
  chasm/lib/workflow/proto/v1/native_state.proto
  chasm/lib/workflow/workflow.go
Due: none

Test that CHASM activity timeout failures have source Server, as workflow activity timeouts do
  chasm/lib/activity/tasks_test.go
Due: none

Stop the CHASM libraries importing common/resource
  chasm/lib/activity/fx.go
  chasm/lib/activity/tasks.go
  chasm/lib/callback/tasks.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/invocation.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/resource/fx.go
  common/resource/serviceclient/serviceclient.go
  service/frontend/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Run native CHASM workflows in an in-memory local server and a wasip1 reactor module
  chasm/localserver/bench_test.go
  chasm/localserver/engine.go
  chasm/localserver/server.go
  chasm/localserver/server_test.go
  cmd/chasmwasm/main.go
Due: none

Stop the CHASM workflow component importing the history builder
  chasm/lib/workflow/workflow.go
Due: none

Import, export and delete server-owned workflow runs on the local server
  chasm/localserver/admin.go
  chasm/localserver/engine.go
Due: none

Expose the local server's AdminService methods from the wasm module
  cmd/chasmwasm/main.go
Due: none

Tell an activity store which activity completed
  chasm/lib/activity/activity.go
  chasm/lib/activity/responses.go
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
Due: none

Let a CHASM workflow run timers as CHASM timer components (not yet used by workflows)
  chasm/lib/timer/gen/timerpb/v1/timer.go-helpers.pb.go
  chasm/lib/timer/gen/timerpb/v1/timer.pb.go
  chasm/lib/timer/library.go
  chasm/lib/timer/proto/v1/timer.proto
  chasm/lib/timer/timer.go
  chasm/lib/workflow/activity_timer_test.go
  chasm/lib/workflow/timer.go
  chasm/lib/workflow/timer_commands.go
  chasm/lib/workflow/timer_events.go
  chasm/lib/workflow/workflow.go
Due: none

Give CHASM activity timeout failures source Server, as workflow activity timeouts have
  chasm/lib/activity/attempt.go
Due: none

Let a CHASM workflow run activities as embedded CHASM activity components (not yet used by workflows)
  chasm/lib/activity/activity.go
  chasm/lib/activity/library.go
  chasm/lib/workflow/activity_commands.go
  chasm/lib/workflow/activity_events.go
  chasm/lib/workflow/activity_library.go
  chasm/lib/workflow/activity_methods.go
  chasm/lib/workflow/activity_timer_test.go
  chasm/lib/workflow/config.go
  chasm/lib/workflow/event_store.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
Due: none

Test that the local server can run a workflow run imported from a server, and return what it added
  chasm/localserver/admin.go
  chasm/localserver/admin_test.go
Due: none

Let a CHASM-native workflow start from a server's history and return its history in batches
  chasm/lib/workflow/event_store.go
  chasm/lib/workflow/gen/workflowpb/v1/native_state.pb.go
  chasm/lib/workflow/native_workflow.go
  chasm/lib/workflow/proto/v1/native_state.proto
Due: none

Add logical task metric count registrable task option (#12090)
  chasm/detached_tree.go
  chasm/node_backend_mock.go
  chasm/registrable_task.go
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Combine replication lane lookup and evaluation loops
  service/history/replication/replication_lane_controller.go
Due: .azure-pipelines/server-cicd.yaml

Set replication lane capabilities in receiver mode switch
  service/history/replication/stream_receiver.go
Due: .azure-pipelines/server-cicd.yaml

Add functional tests for standalone Nexus invoking WF update
  tests/nexus_workflow_update_test.go
Due: none

Use replication lane limit to enable sender lanes
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/replication/sender_lane_scheduler_test.go
  service/history/replication/stream_sender.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Advance pri reader ack level past expired tasks
  service/matching/backlog_manager_test.go
  service/matching/matching_engine_test.go
  service/matching/pri_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Expose Per-Namespace Pending Task Metrics for Queue Move Groups
  common/metrics/metric_defs.go
  service/history/queues/action_move_group.go
  service/history/queues/action_move_group_test.go
  service/history/queues/queue_base.go
  service/history/queues/queue_base_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Zero logical backlog metrics from the emitter when a partition stops (#12316)
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Add functional tests for standalone Nexus invoking WF update (#12279)
  tests/nexus_workflow_update_test.go
Due: none

fix(frontend): generate schedule workflow IDs before validation
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Propagate Nexus serialization context through workflows
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/describeworkflow/api.go
  service/history/api/get_workflow_util.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/token.go
  service/history/history_engine_test.go
  service/history/historybuilder/event_factory.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/retry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validation for NexusSerializationContext fields in frontend StartWorkflowRequest
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Avoid extra mutable-state read on workflow history continuation pages
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/token.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Adding NexusSerialization Test for Retry and Continue as new
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/retry_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify Nexus serialization context proto fields and shorten internal names
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/validators.go
  service/frontend/workflow_handler.go
  service/history/api/get_workflow_util.go
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplifying nexusSerializationContext in getArchivedHistory
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Adding Metric to track Nexus operation attachments to exisiting workflows
  common/metrics/metric_defs.go
  service/history/api/startworkflow/api.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

updating go sdk dependency to fix tests
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
