Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

Remove workflow-specifics from OperationState (#9503)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
Due: none

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

Addressed comments and feedback on PR
  common/archiver/gcloud/README.md
  common/archiver/gcloud/query_parser.go
  common/archiver/gcloud/query_parser_test.go
  common/archiver/gcloud/visibility_archiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixing up tests
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend_test.go
  chasm/lib/activity/proto/v1/request_response.proto
  tests/standalone_activity_test.go
Due: none

OTEL test export
  .github/workflows/run-tests.yml
  common/telemetry/grpc.go
  common/telemetry/tags.go
  common/testing/testtelemetry/assert_t.go
  common/testing/testtelemetry/exporter.go
  common/testing/testtelemetry/span_recorder.go
  common/testing/testtelemetry/span_router.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove NamespaceName from chasm
  chasm/component.go
  chasm/lib/activity/activity.go
  chasm/lib/activity/handler.go
Due: none

remove frontend_test.go
  chasm/lib/activity/frontend_test.go
Due: none

linas comments
  service/history/ndc/state_rebuilder.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Refactor + add checks for other tests
  tests/xdc/base.go
  tests/xdc/failover_test.go
Due: none

lint
  tests/xdc/base.go
Due: none

Publish metrics for storage drivers types in worker heartbeat
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/config.go
  service/matching/fx.go
  service/matching/workers/registry_test.go
  service/matching/workers/worker_metrics_emitter.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove references to commandHandler.config.Enabled()
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

rename package chasm/lib/workflow/commands -> chasm/lib/workflow/workflowregistry
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Address review comments
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Fix errors
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Add cache for task queue routing info in History (#9168)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/worker_versioning/routing_info_cache.go
  common/worker_versioning/routing_info_cache_test.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

VersionMembershipCache: Add it to GetIsWFTaskQueueInVersionDetector (#9282)
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update to api v1.62.4 (#9540)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove ListWorkersEnabled flag and always allow ListWorkers/DescribeWorker
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  tests/worker_registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Set TargetVersionChanged instead of SuggestCaN when TargetVersionChanged (#9239)
  api/persistence/v1/executions.pb.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/api/metadata.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/namespace_validator.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  common/util_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/workflow_handler.go
  service/history/configs/config.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/historybuilder/history_builder_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/workflow_task_info.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/mutable_state_rebuilder.go
  service/history/workflow/mutable_state_rebuilder_test.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep ListWorkersEnabled as deprecated, no longer honored
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

go fmt
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
Due: .azure-pipelines/server-cicd.yaml

[Worker-Versioning improvement]: Activate "Drained/Inactive" versions (#9147)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/worker_versioning/version_reactivation_signal_cache.go
  service/history/api/multioperation/api.go
  service/history/api/resetworkflow/api.go
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/api/worker_versioning_util.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/history_engine3_eventsv2_test.go
  service/history/history_engine_factory.go
  service/history/history_engine_test.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backlog metrics (count, age) to now have versioning based attribution (#9300)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/db.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backlog Metric Attribution: part 2 (#9316)
  service/matching/db.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Replace governance files on release branch
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-152.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add checks for other tests using force replication (#9541)
  tests/xdc/base.go
  tests/xdc/failover_test.go
Due: none

fmt
  common/finalizer/finalizer.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/workflow/fx.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
Due: .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM (#9288)
  service/history/configs/config.go
Due: .azure-pipelines/server-cicd.yaml

Standalone Nexus Operations API (#9458)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/api/metadata.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: address review feedback for V2-to-V1 scheduler migration
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.pb.go
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/proto/v1/request_response.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

any over interface
  tests/schedule_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
