Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

WIP - Need to write tests; Need to wire up outbound links
  chasm/lib/callback/component.go
  chasm/lib/callback/invocable_worker.go
  tests/nexus_standalone_callbacks_test.go
Due: none

Fix approximateSize undercounting on activity start and heartbeat paths (#11486)
  service/history/api/recordactivitytaskheartbeat/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Make per-test clusters the default
  FASTBOOT.md
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
Due: none

Tune per-test cluster concurrency defaults
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
Due: none

Fix per-test cluster CI failures
  common/log/interface_mock.go
  common/persistence/cassandra/test.go
  common/persistence/persistence-tests/cassandra_database_pool.go
  common/persistence/persistence-tests/cassandra_database_pool_test.go
  common/persistence/persistence-tests/metadata_persistence_v2.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/persistence-tests/shared_test.go
  common/persistence/sql/test_sql_persistence.go
  common/persistence/tests/sqlite_test.go
  tests/testcore/cluster_events.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Delete DBLEASE.md
  DBLEASE.md
Due: none

Remove unrelated fast-boot experiments
  FASTBOOT.md
  common/log/interface.go
  common/log/interface_mock.go
  common/log/zap_logger.go
  common/persistence/persistence-tests/setup.go
  common/persistence/persistence-tests/sqlite_template.go
  common/persistence/persistence-tests/sqlite_template_test.go
  common/testing/testlogger/testlogger.go
  common/testing/testlogger/testlogger_test.go
  schema/sqlite/setup_bench_test.go
  service/frontend/service.go
  service/frontend/service_test.go
  temporal/server_impl.go
  tests/task_queue_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Prevent per-test cluster admission deadlock
  FASTBOOT.md
  docs/development/testing.md
  tests/testcore/per_test_cluster_provider.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
Due: none

wip
  tests/task_queue_test.go
  tests/testcore/per_test_cluster_provider.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
  tests/versioning_3_query_test.go
Due: none

Emit namespace replication lifecycle wide events
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  common/persistence/namespace_replication_queue.go
  common/persistence/persistence-tests/queue_persistence.go
  common/wideevents/context.go
  common/wideevents/namespace_events.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  service/frontend/namespace_handler_test.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/worker/fx.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
  service/worker/replicator/replicator.go
  service/worker/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Exclude retained completion history from Generator buffer capacity
  chasm/lib/scheduler/backfiller_capacity_internal_test.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/buffer_capacity_internal_test.go
  chasm/lib/scheduler/completed_history_test.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/scheduler.go
Due: none

Added SANO worker callback test
  chasm/lib/callback/component.go
  tests/callbacks_worker_test.go
  tests/nexus_standalone_callbacks_test.go
Due: none

Use WithRequestID
  chasm/chasmtest/test_engine.go
  chasm/chasmtest/test_engine_test.go
  chasm/errors.go
  chasm/lib/activity/activity.go
  chasm/lib/activity/handler.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Refactor NamespaceRateLimitInterceptor with functions to consume N tokens
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/fx.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/history/fx.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix panic in computeFutureActionTimes on negative RemainingActions (#11620)
  chasm/lib/scheduler/backfiller_lifecycle_test.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_test.go
Due: none

Fix deferred BUFFER_ONE overlap processing (#11555)
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  tests/schedule_test.go
Due: none

WIP - Add links test
  tests/nexus_standalone_callbacks_test.go
  tests/nexus_test_base.go
Due: none

Add metric for pending key length when checking for queue predicate shrink
  common/metrics/metric_defs.go
  service/history/queues/slice.go
  service/history/queues/slice_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: use newTestEngineContext helper in watermark regression test
  chasm/lib/scheduler/generator_tasks_test.go
Due: none

Use require.Contains instead of assert.Contains in DLQ archival test
  tools/tdbg/dlq_service_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Validate schedule policy and state fields
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix invoker action limit across phases
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
Due: none

Persist links returned from Nexus handlers
  chasm/lib/callback/component.go
  chasm/lib/callback/component_test.go
  chasm/lib/callback/invocable_worker.go
  chasm/lib/callback/invocable_worker_test.go
  chasm/lib/callback/tasks.go
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/operation.go
  tests/nexus_standalone_callbacks_test.go
Due: none

chasm/lib/activity: split activity.go by concern
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/metrics.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/operator_commands_test.go
  chasm/lib/activity/responses.go
  chasm/lib/activity/responses_test.go
  chasm/lib/activity/retry.go
  chasm/lib/activity/retry_test.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none

chasm/lib/activity: make statemachine.go declarative
  chasm/lib/activity/activity.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/outcome.go
  chasm/lib/activity/retry.go
  chasm/lib/activity/statemachine.go
Due: none

Preserve prefixed V2 schedule IDs
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_second_test.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix namespace replication event test lint
  common/namespace/nsreplication/replication_task_executor_test.go
  common/wideevents/namespace_replication_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Emit namespace CRUD lifecycle wide events (register / update / failover / delete) (#11563)
  common/dynamicconfig/constants.go
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/frontend/fx.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/namespace_lifecycle_events.go
  service/frontend/namespace_lifecycle_events_test.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/configs/config.go
  service/history/shard/context_impl.go
  service/history/shard/handover_events_test.go
  service/history/shard/handover_tracker.go
  service/worker/deletenamespace/activities.go
  service/worker/deletenamespace/fx.go
  service/worker/deletenamespace/rename_namespace_event_test.go
  service/worker/deletenamespace/workflow.go
  service/worker/deletenamespace/workflow_test.go
  service/worker/migration/activities.go
  service/worker/migration/fx.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix ALLOW_ALL schedule completion tracking
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  tests/schedule_test.go
Due: none

Store ALLOW_ALL recent actions in schedule info
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
Due: none

Persist resolved schedule overlap policies
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
Due: none

Drop always-true bool from getUserTimerTimeout
  service/history/workflow/timer_sequence.go
  service/history/workflow/timer_sequence_test.go
Due: .azure-pipelines/server-cicd.yaml

Register archival task category in tdbg (#11587)
  tools/tdbg/app.go
  tools/tdbg/dlq_service_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Guard against nil History in AppendRawHistoryNodes (#10309)
  common/persistence/history_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf: return TimerSequenceID by value instead of pointer (#11177)
  service/history/workflow/timer_sequence.go
  service/history/workflow/timer_sequence_test.go
Due: .azure-pipelines/server-cicd.yaml

expiration time changed incorrectly
  tests/timeskipping_propagation_test.go
Due: none
