Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Remove all fallback-to-real implementations from GoMaD sim APIs
  .gitignore
  tests/gomad.go
  tools/gomad/api/lang/checkpoint_test.go
  tools/gomad/api/lang/map.go
  tools/gomad/api/lib/crypto_rand.go
  tools/gomad/api/lib/os.go
  tools/gomad/api/lib/rand.go
  tools/gomad/api/lib/reflect_test.go
  tools/gomad/api/lib/sync.go
  tools/gomad/api/lib/ticker.go
  tools/gomad/api/lib/ticker_test.go
  tools/gomad/api/lib/timer.go
  tools/gomad/api/lib/timer_test.go
  tools/gomad/api/lib/waitgroup.go
  tools/gomad/ctrl/program.go
  tools/gomad/tests/count_test.go
  tools/gomad/tests/functional/gomad.go
  tools/gomad/tests/functional/tests/end_to_end_test.go
  tools/gomad/tests/integration/fixture/embed.go
  tools/gomad/tests/integration/fixture/embed/file.txt
  tools/gomad/tests/integration/gomad.go
  tools/gomad/tests/sleep_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

wip
  tools/gomad/ctrl/program.go
  tools/gomad/transformer/cache.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Start simulator in init() and eagerly refresh namespaces after registration
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
  tools/gomad/api/lang/map.go
  tools/gomad/api/lib/crypto_rand.go
  tools/gomad/api/lib/os.go
  tools/gomad/api/lib/rand.go
  tools/gomad/api/lib/reflect_test.go
  tools/gomad/api/lib/sync.go
  tools/gomad/api/lib/ticker.go
  tools/gomad/api/lib/timer.go
  tools/gomad/api/lib/waitgroup.go
  tools/gomad/ctrl/program.go
  tools/gomad/runtime/runtime.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Show draft API variant wiring
  .github/.golangci.yml
  Makefile
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  cmd/tools/getproto/files.go
  cmd/tools/getproto/main.go
  cmd/tools/lint-draft-api/main.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  service/frontend/service.go
  service/frontend/workflow_handler.go
  tests/draft_api_test.go
  tools/lint-draft-api/golangci/plugin.go
  tools/lint-draft-api/rule/analyzer.go
  tools/lint-draft-api/rule/analyzer_test.go
  tools/lint-draft-api/rule/testdata/src/go.temporal.io/api/example/v1/example.go
  tools/lint-draft-api/rule/testdata/src/useexp/use.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

wip
  tests/testcore/test_env.go
  tools/gomad/api/ext-lib/fakegprc/client.go
  tools/gomad/ctrl/overrides/go.temporal.io/server/tests/testcore/context.go.overlay
  tools/gomad/transformer/ast.go
  tools/gomad/transformer/transform.go
Due: .azure-pipelines/admin-tools-cicd.yaml

test: use taskpoller.TaskPoller instead of deprecated testcore.TaskPoller
  tests/continue_as_new_test.go
Due: none

Fix transient target version notification leak
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/interfaces/workflow_task_info.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: fix TestContinueAsNewWithDelayStart build after parallelsuite migration
  tests/continue_as_new_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260601131550
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: migrate signal_with_start_from_workflow_test.go to parallelsuite.Suite (#10433)
  tests/signal_with_start_from_workflow_test.go
Due: none

Migrate admin_batch_refresh_workflow_tasks_test.go
  tests/admin_batch_refresh_workflow_tasks_test.go
Due: none

Migrate continue_as_new_test.go
  tests/continue_as_new_test.go
Due: none

Migrate workflow_task_test.go
  tests/workflow_task_test.go
Due: none

refactor: migrate WorkflowVisibilityTestSuite to testcore.NewEnv
  tests/workflow_visibility_test.go
Due: none

Migrate relay_task_test to testcore.NewEnv
  tests/relay_task_test.go
Due: none

fix: rename workflowId param to workflowID per staticcheck ST1003
  tests/namespace_interceptor_test.go
Due: none

refactor: remove t.Parallel from TestWorkflowVisibilityTestSuite
  tests/workflow_visibility_test.go
Due: none

refactor: inline wvTestVisibility into TestWorkflowVisibilityTestSuite
  tests/workflow_visibility_test.go
Due: none

refactor: simplify namespace_interceptor_test to single top-level test func
  tests/namespace_interceptor_test.go
Due: none

refactor: migrate namespace_interceptor_test.go to testcore.NewEnv
  tests/namespace_interceptor_test.go
Due: none

refactor: convert RelayTaskTestSuite to parallelsuite.Suite
  tests/relay_task_test.go
Due: none

refactor: convert WorkflowVisibilityTestSuite to parallelsuite.Suite
  tests/workflow_visibility_test.go
Due: none

test: migrate acquire_shard_test.go to parallelsuite.Suite (#10426)
  tests/acquire_shard_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
Due: none

Migrate nexus_endpoint_test.go
  tests/nexus_endpoint_test.go
Due: none

Migrate workflow_test.go
  tests/archival_test.go
  tests/testcore/functional_test_base.go
  tests/workflow_test.go
Due: none

Revert "feat(matching): add worker_count gauge metric per task queue"
  common/metrics/metric_defs.go
  service/matching/physical_task_queue_manager.go
  service/matching/poller_history.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor: migrate UserTimersTestSuite to testcore.NewEnv
  tests/user_timers_test.go
Due: none

refactor: make UserTimersTestSuite a parallelsuite.Suite
  tests/user_timers_test.go
Due: none

refactor: simplify UserTimers test to a single top-level function
  tests/user_timers_test.go
Due: none

test: migrate client data converter suite to parallelsuite
  tests/client_data_converter_test.go
Due: none

refactor: convert clientDataConverterStartWorker to suite method
  tests/client_data_converter_test.go
Due: none

refactor: convert ClientDataConverterSuite to parallelsuite assertions; hoist SkipNow
  tests/client_data_converter_test.go
Due: none

fix: remove deprecated WithSdkWorker option from client data converter tests
  tests/client_data_converter_test.go
Due: none

Migrate continue_as_new_test.go (#10450)
  tests/continue_as_new_test.go
Due: none

Migrate workflow_test.go (#10467)
  tests/archival_test.go
  tests/testcore/functional_test_base.go
  tests/workflow_test.go
Due: none

refactor: migrate UserTimersTestSuite to testcore.NewEnv (#9698)
  tests/user_timers_test.go
Due: none

refactor: migrate WorkflowVisibilityTestSuite to testcore.NewEnv (#9703)
  tests/workflow_visibility_test.go
Due: none

refactor: migrate client_data_converter_test.go to testcore.NewEnv (#9718)
  tests/client_data_converter_test.go
Due: none
