Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Fix lint
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add comment
  service/history/tasks/utils.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Add WorkerControlTaskQueue to CancelActivityNexusTask
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/tasks/cancel_activity_nexus_task.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Regen proto
  api/persistence/v1/executions.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move CancelActivityNexusTask creation to task_generator
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Add Version field to CancelActivityNexusTask for multi-cluster support
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

Update comment for standby executor
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint errors
  common/persistence/serialization/task_serializers.go
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename to NotifyActivityTask and move to outbound queue
  api/enums/v1/task.go-helpers.pb.go
  api/enums/v1/task.pb.go
  api/persistence/v1/executions.go-helpers.pb.go
  api/persistence/v1/executions.pb.go
  common/metrics/metric_defs.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/enums/v1/task.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/queues/metrics.go
  service/history/queues/priority_assigner.go
  service/history/tasks/cancel_activity_nexus_task.go
  service/history/tasks/notify_activity_task.go
  service/history/tasks/utils.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_mock.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Define CancelActivityNexusTask transfer task type
  api/enums/v1/task.go-helpers.pb.go
  api/enums/v1/task.pb.go
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/enums/v1/task.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/configs/config.go
  service/history/tasks/cancel_activity_nexus_task.go
  service/history/tasks/utils.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove worker_instance_key as it is not needed
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/tasks/cancel_activity_nexus_task.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add metrics tag and low priority for CancelActivityNexusTask
  common/metrics/metric_defs.go
  service/history/queues/metrics.go
  service/history/queues/priority_assigner.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dispatch NotifyActivityTask via Nexus
  service/history/notify_activity_task_dispatcher.go
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

Adding fix for Issue 503
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

add timeskipping timesource
  common/clock/TIME_SKIPPING_SOURCE.md
  common/clock/time_skipping_time_source.go
  common/clock/time_skipping_time_source_test.go
  service/history/interfaces/engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Populate currentAttemptScheduledTime on PollActivityTaskQueueResponse for standalone activities
  chasm/lib/activity/activity.go
  tests/standalone_activity_test.go
Due: none

Docker compose healthchecks
  .github/workflows/run-tests.yml
  develop/github/docker-compose.yml
Due: none

add timeskipping for per-execution pattern
  service/history/timeskipper/time_skipper.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/transaction_impl.go
Due: .azure-pipelines/server-cicd.yaml

address comments
  develop/github/docker-compose.yml
Due: none

Do not return no poller errors for nexus tasks (#9307)
  service/matching/pri_matcher.go
Due: .azure-pipelines/server-cicd.yaml

Parallelize unit and integration tests
  .github/workflows/linters.yml
  Makefile
  cmd/tools/parallelize/main.go
  common/persistence/tests/cassandra_test.go
  common/persistence/tests/mysql_test.go
  common/persistence/tests/postgresql_test.go
  common/persistence/tests/sqlite_test.go
  docs/development/testing.md
  temporaltest/server_test.go
  tools/cassandra/setup_task_tests.go
  tools/cassandra/update_task_tests.go
  tools/common/schema/test/dbtest.go
  tools/common/schema/test/setuptest.go
  tools/common/schema/test/updatetest.go
  tools/parallelize/parallelize.go
  tools/parallelize/parallelize_test.go
  tools/sql/clitest/setup_task_tests.go
  tools/sql/clitest/update_task_tests.go
  tools/tests/cql_cli_test.go
  tools/tests/mysql_cli_test.go
  tools/tests/postgresql_cli_test.go
  tools/tests/test_data.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix golangci linter
  .github/.golangci.yml
  chasm/lib/scheduler/helper_test.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/visibility/store/elasticsearch/converter_test.go
  common/searchattribute/stringify.go
  common/searchattribute/stringify_test.go
  service/worker/scheduler/workflow.go
  temporaltest/server_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revert "Last part of making Nexus work OOTB (#9304)"
  components/nexusoperations/config.go
Due: none

Added schedule_to_start & start_to_close
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

Fix workflow -> chasmcommand package usage
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
Due: none

add namespace to constructor
  service/history/workflow/context.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/util.go
Due: .azure-pipelines/server-cicd.yaml

Do not enforce payload limits for system nexus endpoint
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
Due: none

move further down to instrumentation
  service/history/api/pollupdate/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  service/history/workflow/update/util.go
Due: .azure-pipelines/server-cicd.yaml

remove mock
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Make ringpop role mapping extensible
  common/membership/ringpop/monitor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

frontend impl & matching fx
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/rpc/interceptor/redirection.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  config/development-sqlite.yaml
  service/frontend/fx.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Export PerNamespaceWorker
  service/worker/fx.go
  service/worker/pernamespaceworker.go
  service/worker/pernamespaceworker_test.go
  service/worker/service.go
Due: .azure-pipelines/server-cicd.yaml

Add a hook point to the Matching service once a task has been matched (or not)
  service/matching/handler.go
  service/matching/hooks/task_lifecycle_hooks.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Cleanup unit tests
  .github/workflows/run-tests.yml
  common/persistence/visibility/store/elasticsearch/query_interceptors_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_write_test.go
  common/persistence/visibility/store/sql/query_converter_legacy_test.go
  common/searchattribute/test_provider.go
  schema/elasticsearch/visibility/index_template_v7.json
  schema/elasticsearch/visibility/versioned/v15/index_template_v7.json
  service/frontend/admin_handler_test.go
  service/frontend/operator_handler_test.go
  service/frontend/workflow_handler_second_test.go
  service/worker/scheduler/query_test.go
  tests/advanced_visibility_test.go
  tests/testcore/test_cluster.go
  tests/xdc/visibility_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove ignored proto files in buf.yaml
  proto/internal/buf.yaml
Due: none

Set all vis stores to support csa field overrides
  temporal/fx.go
Due: none

Merge main and fix SetRootComponent errcheck
  chasm/lib/scheduler/helper_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
