Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Trace outbound Nexus HTTP requests (#11559)
  chasm/lib/callback/fx.go
  chasm/lib/callback/request.go
  chasm/lib/nexusoperation/fx.go
  common/resource/fx.go
  common/rpc/connection_cache_test.go
  common/rpc/rpc.go
  common/rpc/rpc_test.go
  common/rpc/test/http_test.go
  common/rpc/test/rpc_localstore_tls_test.go
  common/rpc/test/rpc_token_auth_test.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  temporal/fx.go
  tests/nexus_otel_test.go
  tests/nexus_test_base.go
  tests/testcore/clients.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Trace inbound Nexus HTTP requests (#11560)
  common/telemetry/http.go
  common/telemetry/http_test.go
  service/frontend/nexus_operation_http_handler.go
  temporal/fx.go
  tests/nexus_api_test.go
  tests/nexus_api_validation_test.go
  tests/nexus_otel_test.go
  tests/nexus_test_base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tdbg: add per-schedule V1/V2/sentinel status check to schedule migrate status (#11636)
  tools/tdbg/commands.go
  tools/tdbg/schedule_status_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

replication: emit lifecycle error events (#11595)
  common/dynamicconfig/constants.go
  common/wideevents/context.go
  common/wideevents/replication_events.go
  service/history/ndc/workflow_state_replicator.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/replication_events.go
  service/history/replication/stream_sender.go
  service/history/standby_task_events.go
  service/history/timer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

removed blanket timestamp wrapping (time-skipping fix) (#11635)
  service/history/api/create_workflow_util.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/transfer_queue_active_task_executor.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
  tests/timeskipping_propagation_test.go
  tests/timeskipping_test.go
  tests/xdc/timeskipping_replication_test.go
Due: .azure-pipelines/server-cicd.yaml

Unify namespace lifecycle wide event names (#11720)
  common/namespace/nsreplication/transmission_task_handler_test.go
  common/wideevents/namespace_events.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  common/wideevents/remote_cluster_events.go
  common/wideevents/remote_cluster_events_test.go
  service/frontend/remote_cluster_lifecycle_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add helpers for testing exported spans (#11655)
  common/testing/testtelemetry/spans.go
  common/testing/testtelemetry/spans_test.go
  tests/nexus_otel_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use typed atomic values (#11675)
  common/collection/concurrent_tx_map.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/tasks/execution_queue_scheduler_test.go
  service/history/shard/controller_impl.go
  service/matching/task_gc.go
  service/worker/batcher/activities_test.go
  service/worker/pernamespaceworker.go
  service/worker/scanner/executions/scavenger.go
  service/worker/scanner/executor/executor.go
  service/worker/scanner/taskqueue/scavenger.go
  service/worker/worker.go
  tests/ndc/replication_migration_back_test.go
  tests/ndc/replication_task_batching_test.go
  tests/query_workflow_test.go
  tests/schedule_test.go
  tests/xdc/stream_based_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Emit namespace replication lifecycle wide events (#11632)
  common/dynamicconfig/constants.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  common/persistence/namespace_replication_queue.go
  common/persistence/persistence-tests/queue_persistence.go
  common/wideevents/context.go
  common/wideevents/namespace_events.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  service/frontend/namespace_handler_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/worker/fx.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
  service/worker/replicator/replicator.go
  service/worker/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Treat missing Worker Deployment Version as deleted (#11696)
  common/metrics/metric_defs.go
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/activities_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix batch operations targeting paused executions (#11642)
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  tests/activity_api_batch_cancel_test.go
  tests/activity_api_batch_terminate_test.go
  tests/workflow_api_batch_signal_test.go
  tests/workflow_api_batch_terminate_test.go
Due: .azure-pipelines/server-cicd.yaml

Refactor NamespaceRateLimitInterceptor with functions to consume N tokens (#11582)
  common/rpc/interceptor/namespace_rate_limit.go
  common/rpc/interceptor/namespace_rate_limit_test.go
  service/frontend/fx.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/history/fx.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix poller scaling decisions for backlog tasks and rate-limited queues (#11618)
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Emit remote cluster lifecycle wide events (#11672)
  common/wideevents/remote_cluster_events.go
  common/wideevents/remote_cluster_events_test.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  service/frontend/operator_handler.go
  service/frontend/operator_handler_test.go
  service/frontend/remote_cluster_lifecycle_events.go
  service/frontend/remote_cluster_lifecycle_events_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reuse test context for namespace setup (#11623)
  tests/archival_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
  tests/timeskipping_test.go
Due: none

[SDK Ergonomics] NEXUS-519: Support Query-backed Nexus Operations (#11274)
  common/links/validator.go
  common/links/validator_test.go
  common/nexus/links.go
  common/nexus/links_test.go
  service/history/api/queryworkflow/api.go
  tests/nexus_workflow_query_test.go
  tests/query_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Return forked branch token from storage layer to OSS so both components have the same view of the branch token. (#11704)
  common/persistence/data_interfaces.go
  service/history/ndc/resetter.go
  service/history/ndc/resetter_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag Nexus pre-dispatch failure logs (#11664)
  common/log/tag/tags.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validate history pagination branch token against mutable state (#11723)
  common/dynamicconfig/constants.go
  common/log/tag/tags.go
  common/metrics/metric_defs.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/getworkflowexecutionhistoryreverse/api.go
  service/history/api/token.go
  service/history/api/token_test.go
  service/history/configs/config.go
  service/history/history_engine_test.go
  tests/gethistory_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Annotate Nexus spans (#11561)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  common/nexus/nexusrpc/telemetry.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  common/telemetry/tags.go
  service/frontend/nexus_handler.go
  tests/nexus_otel_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Return early from CHASM PollComponent when shard moves off host (#10878)
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Use integer range loops (#11677)
  common/finalizer/finalizer_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

improvements on time-skipping task regeneration (#11404)
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_mock.go
  service/history/workflow/task_generator_test.go
  service/history/workflow/task_refresher.go
  service/history/workflow/task_refresher_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Emit namespace migration workflow lifecycle events (#11658)
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/worker/migration/catchup_workflow.go
  service/worker/migration/catchup_workflow_test.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
  service/worker/migration/workflow_lifecycle_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix build break (#11747)
  common/nexus/links.go
  tests/gethistory_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Applies small fixes for chasm nexus operations (#11605)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_events_test.go
  tests/nexus_standalone_test.go
Due: none

Log outbound queue circuit breaker state changes (#11661)
  chasm/lib/callback/invocable_outbound.go
  common/log/tag/tags.go
  components/callbacks/nexus_invocation.go
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reorganize CHASM activity codebase (#11446)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/attempt.go
  chasm/lib/activity/attempt_test.go
  chasm/lib/activity/metrics.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/operator_commands_test.go
  chasm/lib/activity/responses.go
  chasm/lib/activity/responses_test.go
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none

Fix data race in UpdateWithStart: read ExecutionState.Status before releasing workflow lock (#11602)
  service/history/api/multioperation/api.go
  service/history/api/multioperation/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Make all force replication tasks low priority (#11692)
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  service/history/replication/stream_sender.go
  service/history/tasks/activity_replication_task.go
  service/history/tasks/history_replication_task.go
  service/history/tasks/sync_hsm_task.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add observability for multicursor queue-state resolution loss (#11695)
  common/metrics/metric_defs.go
  service/history/queues/queue_base.go
  service/history/queues/queue_base_test.go
  service/history/queues/slice.go
  service/history/queues/slice_test.go
  service/history/shard/context_impl.go
  service/history/shard/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Prevent malformed retry delays from poisoning Nexus completions (#11617)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Tag HSM outbound Nexus call failure logs (#11662)
  components/nexusoperations/executors.go
Due: none

Add Nexus operation context to handler-side logs (#11663)
  common/log/tag/tags.go
  service/frontend/nexus_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make UnprocessableTaskError pointer-only (#11678)
  service/history/queues/errors/errors.go
Due: .azure-pipelines/server-cicd.yaml

Update Go lint tooling (#11673)
  Makefile
  common/testing/testlogger/testlogger.gen.go
  service/matching/loadcause_string_gen.go
  service/matching/unloadcause_string_gen.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make Nexus link warnings aggregatable (#11685)
  common/nexus/links.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make standalone activity completion callback attachment idempotent after closure (#11628)
  chasm/chasmtest/test_engine.go
  chasm/chasmtest/test_engine_test.go
  chasm/errors.go
  chasm/lib/activity/handler.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity timeout regeneration after unpause (#11666)
  service/history/workflow/activity.go
  service/history/workflow/activity_test.go
  tests/activity_api_reset_test.go
Due: .azure-pipelines/server-cicd.yaml

Improve replication applied lifecycle events (#11645)
  common/wideevents/replication_events.go
  common/wideevents/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task_test.go
  service/history/replication/replication_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
