Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

lint
  tests/update_workflow_utils.go
Due: none

Add ActiveInCluster to ReplicationResolver interface
  common/namespace/namespace.go
  common/namespace/replication_resolver.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add readme
  client/matching/README.md
Due: none

Capture memory monitor report before OOM crash (#9079)
  develop/github/memory_monitor.sh
Due: none

Parallel Update Workflow tests
  .github/workflows/run-tests.yml
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/persistence-tests/setup.go
  common/persistence/sql/test_sql_persistence.go
  develop/github/docker-compose.yml
  docs/development/testing.md
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
  tests/update_workflow_utils.go
  tests/workflow_utils.go
  tests/xdc/base.go
  tests/xdc/replication_enable_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

improve testvars use
  tests/update_workflow_test.go
Due: none

add test vars
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: none

remove unused s
  tests/update_workflow_test.go
Due: none

type assertion
  tests/testcore/test_env.go
Due: none

remove debug print
  tests/testcore/test_cluster_pool.go
Due: none

merge
  tests/update_workflow_test.go
Due: none

min size of 1
  tests/testcore/test_cluster_pool.go
Due: none

Update docs/development/testing.md
  docs/development/testing.md
Due: none

address linter
  tests/testcore/test_env.go
Due: none

wrap dc with ns constraint
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: none

Parallel Workflow Update Tests (#8811)
  .github/workflows/run-tests.yml
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/persistence-tests/setup.go
  common/persistence/sql/test_sql_persistence.go
  develop/github/docker-compose.yml
  docs/development/testing.md
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
  tests/update_workflow_utils.go
  tests/workflow_utils.go
  tests/xdc/base.go
  tests/xdc/replication_enable_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix test
  common/dynamicconfig/constants.go
  service/history/api/recordworkflowtaskstarted/api.go
  service/history/configs/config.go
  service/matching/matching_engine_test.go
  tests/query_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Allow preserving more information for operation errors
  common/nexus/failure.go
  common/nexus/nexusrpc/completion.go
  components/nexusoperations/completion.go
  components/nexusoperations/frontend/handler.go
  go.mod
  go.sum
  service/history/handler.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix retryable flag
  components/nexusoperations/executors.go
Due: none

Add health check handler for worker service (#9055)
  service/worker/fx.go
  service/worker/service.go
  tests/testcore/functional_test_base.go
  tests/testcore/functional_test_base_test.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/server-cicd.yaml

Fix state based replication task error not found handling
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity timeout RetryState to return TIMEOUT for schedule timeouts
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_restart_activity_test.go
Due: .azure-pipelines/server-cicd.yaml

Update functional test to expect RETRY_STATE_TIMEOUT for schedule timeout
  tests/activity_test.go
Due: none

Add IsRetentionDelete flag to visibility delete task
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/visibility/manager/visibility_manager.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/deletemanager/delete_manager.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_impl.go
  service/history/tasks/delete_visibility_task.go
  service/history/visibility_queue_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add start time to delete visibility task
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/visibility/manager/visibility_manager.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/forcedeleteworkflowexecution/api.go
  service/history/deletemanager/delete_manager.go
  service/history/handler.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_impl.go
  service/history/tasks/delete_visibility_task.go
  service/history/visibility_queue_task_executor.go
  service/worker/deletenamespace/deleteexecutions/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add linter rules to enforce UnixMilliseconds() in Cassandra persistence
  .github/.golangci.yml
Due: none

CI: run flaky test 20 times to reproduce timeout
  .github/workflows/repro-flaky-test.yml
Due: none

Add instrumentation to diagnose flaky timeout test
  tests/testcore/taskpoller.go
  tests/workflow_test.go
Due: none

CI: remove docker deps for sqlite test
  .github/workflows/repro-flaky-test.yml
Due: none

CI: set PERSISTENCE_TYPE=sql for sqlite tests
  .github/workflows/repro-flaky-test.yml
Due: none

CI: add CPU stress and run full suite to reproduce flakiness
  .github/workflows/repro-flaky-test.yml
Due: none

CI: increase stress and add more test suites for contention
  .github/workflows/repro-flaky-test.yml
Due: none

CI: try GOMAXPROCS=1 with count=3 per job (60 total runs)
  .github/workflows/repro-flaky-test.yml
Due: none

Various edge cases and better handling of operation errors
  common/nexus/failure.go
  common/nexus/nexusrpc/client.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors.go
  service/frontend/nexus_handler.go
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revert back to original error message
  components/nexusoperations/executors.go
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

Add diagnostic logging for flaky timeout test
  tests/testcore/taskpoller.go
  tests/workflow_test.go
Due: none

revert debug workflow
  .github/workflows/repro-flaky-test.yml
Due: none

currently working test
  service/history/api/worker_versioning_util.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/server-cicd.yaml
