Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Prune two workflow update related metrics in favor of logs w/ namespace
  common/metrics/metric_defs.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/store.go
  service/history/workflow/update/store_mock_test.go
  service/history/workflow/update/update.go
  service/history/workflow/update/update_test.go
  service/history/workflow/update/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Inline the failure converter from the Nexus SDK and upgrade the Nexus SDK
  common/nexus/failure_test.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  common/nexus/nexusrpc/failure_converter.go
  common/nexus/nexusrpc/failure_conveter_test.go
  common/nexus/nexusrpc/server.go
  common/nexus/nexusrpc/setup_test.go
  components/nexusoperations/executors.go
  go.mod
  go.sum
  service/frontend/nexus_handler.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

unit test
  service/history/api/pollupdate/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix race
  common/tasks/workflow_queue_scheduler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable Go cache for linter jobs (#9268)
  .github/workflows/linters.yml
Due: none

Add a success report to track improvements to our CI (#9249)
  .github/workflows/ci-success-report.yml
  .github/workflows/run-tests.yml
  tools/ci-notify/app.go
  tools/ci-notify/app_test.go
  tools/ci-notify/github.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add start time to delete visibility task
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/visibility/manager/visibility_manager.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/forcedeleteworkflowexecution/api.go
  service/history/deletemanager/delete_manager.go
  service/history/handler.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_impl.go
  service/history/tasks/delete_visibility_task.go
  service/history/visibility_queue_task_executor.go
  service/worker/deletenamespace/deleteexecutions/activities.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add IsRetentionDelete flag to visibility delete task
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/visibility/manager/visibility_manager.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/deletemanager/delete_manager.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_impl.go
  service/history/tasks/delete_visibility_task.go
  service/history/visibility_queue_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove branch clean up logic on state based replication
  common/metrics/metric_defs.go
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

Fix unload versioned queue with redirected backlog (#9238)
  service/matching/fair_task_reader.go
  service/matching/matcher_data.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/pri_matcher.go
  service/matching/pri_task_reader.go
  service/matching/task.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Abridged tests on PRs
  .github/workflows/run-tests.yml
Due: none

testrunner2: exclude quarantined tests from JUnit merge validation
  tools/testrunner2/REFACTOR.md
  tools/testrunner2/STATUS.md
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: use extended timeout for regular retry plans
  tools/testrunner2/STATUS.md
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix direct mode timeout and pass through base args
  tools/testrunner2/STATUS.md
  tools/testrunner2/exec.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: add all-stuck monitoring, remove 4× timeout hack
  tools/testrunner2/STATUS.md
  tools/testrunner2/event_stream.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix remaining lint issues (panic forbidigo, cognitive complexity)
  tools/testrunner2/package.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix struct field alignment in direct.go
  tools/testrunner2/direct.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: split checkStuck to reduce cognitive complexity
  tools/testrunner2/event_stream.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: use overall timeout for Go binary, run-timeout for monitors
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix comment alignment for gci formatter
  tools/testrunner2/scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: update STATUS.md with CI results
  tools/testrunner2/STATUS.md
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: accumulate skip lists across retry attempts
  tools/testrunner2/STATUS.md
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: refactor codebase and add test count summary
  tools/testrunner2/REFACTOR.md
  tools/testrunner2/STATUS.md
  tools/testrunner2/compiled.go
  tools/testrunner2/console.go
  tools/testrunner2/direct.go
  tools/testrunner2/package.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix direct-mode retry file name collision
  tools/testrunner2/testrunner.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update args.go
  tools/testrunner2/args.go
Due: .azure-pipelines/admin-tools-cicd.yaml

redo
  tools/testrunner2/args.go
  tools/testrunner2/exec.go
  tools/testrunner2/exec_test.go
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/log_capture.go
  tools/testrunner2/log_capture_test.go
  tools/testrunner2/package.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/test_monitor.go
  tools/testrunner2/testrunner.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: second refactoring pass
  tools/testrunner2/REFACTOR.md
  tools/testrunner2/STATUS.md
  tools/testrunner2/compiled.go
  tools/testrunner2/direct.go
  tools/testrunner2/event_stream.go
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/log_capture.go
  tools/testrunner2/log_parse.go
  tools/testrunner2/log_parse_test.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix: golangci-lint gci import alignment issues
  tools/testrunner2/exec.go
  tools/testrunner2/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix quarantine skip pattern, remove collapseForSkip
  tools/testrunner2/STATUS.md
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Makefile: increase functional test timeout to 10m, enable stuck detection
  Makefile
Due: none

wip
  tools/testrunner2/args.go
  tools/testrunner2/args_test.go
  tools/testrunner2/testrunner.go
  tools/testrunner2/testrunner_report.go
  tools/testrunner2/testrunner_runtest.go
  tools/testrunner2/testrunner_runtest_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
