Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Move repository-specific PromptSpec rules locally
  .github/.promptspec.yml
  .github/.promptspec/rules/default/section.yml
  .github/.promptspec/rules/default/workflow-locks.yml
  .github/.promptspec/rules/nexus/frontend-requests.yml
  .github/.promptspec/rules/nexus/non-retryable-task-errors.yml
  .github/.promptspec/rules/nexus/section.yml
  .github/copilot-instructions.md
  Makefile
Due: none

Optimize Visibility PostgreSQL upgrade schema v1.14 (#11599)
  schema/postgresql/v12/visibility/versioned/v1.14/add_external_payload_size_and_count_search_attributes.sql
Due: .azure-pipelines/admin-tools-cicd.yaml

Validate history pagination branch token against mutable state (#11723)
  common/dynamicconfig/constants.go
  common/log/tag/tags.go
  common/metrics/metric_defs.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/getworkflowexecutionhistoryreverse/api.go
  service/history/api/token.go
  service/history/api/token_test.go
  service/history/configs/config.go
  service/history/history_engine_test.go
  tests/gethistory_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Capture panics in Visibility query converter (#11800)
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/interceptors_test.go
  common/persistence/visibility/store/query/nil_converter.go
  common/persistence/visibility/store/query/nil_converter_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/query.go
  service/worker/scheduler/query_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Capture panic in ServiceErrorInterceptor (#11813)
  common/rpc/interceptor/mask_internal_error_test.go
  common/rpc/interceptor/service_error_interceptor.go
  common/rpc/interceptor/service_error_interceptor_test.go
  service/frontend/fx.go
  service/frontend/fx_test.go
  service/history/fx.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility Elasticsearch] Return empty page token when result size is less than page size (#11829)
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix FirstWorkflowTaskBackoff Accumulation upon ContinueAsNew (#11839)
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/continue_as_new_test.go
Due: .azure-pipelines/server-cicd.yaml

Fixes to Visibility SQL query converter (#11801)
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/sql/query_converter.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add standalone activity dispatch hook (#11798)
  chasm/lib/activity/attempt.go
  chasm/lib/activity/attempt_test.go
  chasm/lib/activity/statemachine_test.go
  chasm/lib/activity/tasks.go
  chasm/lib/activity/tasks_test.go
Due: none

Bump Server version to 1.32.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make PromptSpec rules context-neutral
  .github/.promptspec/rules/default/workflow-locks.yml
  .github/.promptspec/rules/nexus/frontend-requests.yml
  .github/.promptspec/rules/nexus/non-retryable-task-errors.yml
  .github/copilot-instructions.md
  Makefile
Due: none

New metric for retry attempts (#11885)
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/queues/executable.go
  service/history/queues/executable_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

unenforced now changes the state
  common/health/settings.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove generated prompt heading
  .github/copilot-instructions.md
  Makefile
Due: none

Fix SQLite transaction cancellation test race
  common/persistence/tests/sqlite_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove redundant SQLite error assertion
  common/persistence/tests/sqlite_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Drop Nexus PromptSpec rules
  .github/.promptspec.yml
  .github/.promptspec/rules/nexus/frontend-requests.yml
  .github/.promptspec/rules/nexus/non-retryable-task-errors.yml
  .github/.promptspec/rules/nexus/section.yml
  .github/copilot-instructions.md
Due: none

Make Copilot instructions context-neutral
  .github/copilot-instructions.md
Due: none

Merge review feedback style section
  .github/copilot-instructions.md
Due: none

Merge review feedback style heading
  .github/copilot-instructions.md
Due: none

Address Copilot instruction review feedback
  .github/copilot-instructions.md
Due: none

respond to comments
  common/dynamicconfig/constants.go
  service/history/api/signalwithstartworkflow/signal_with_start_workflow.go
  service/history/api/signalwithstartworkflow/signal_with_start_workflow_test.go
  service/history/configs/config.go
  tools/tdbg/commands.go
  tools/tdbg/factory.go
  tools/tdbg/force_schedule_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify aggregateRate back to a plain rate sum
  common/dynamicconfig/constants.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix CHASM sentinel migration error handling
  chasm/lib/scheduler/handler.go
  tests/schedule_migration_test.go
Due: none

Give both scaling signals the same old/new shape
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Share CHASM scheduler sentinel detection
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/handler_test.go
Due: none

Require SNE payloads be protobufs
  chasm/lib/tests/nexus_service.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Address PR feedback
  chasm/lib/tests/nexus_service.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Evaluate both scaling signals eagerly and select on the flag
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix read and ack levels moving backwards in priTaskReader on release/v1.32.x (#11917)
  service/matching/backlog_manager_test.go
  service/matching/db.go
  service/matching/pri_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Backport release/1.32.0 labeled fixes (#11919)
  common/dynamicconfig/constants.go
  common/log/tag/tags.go
  common/metrics/metric_defs.go
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/interceptors_test.go
  common/persistence/visibility/store/query/nil_converter.go
  common/persistence/visibility/store/query/nil_converter_test.go
  common/persistence/visibility/store/sql/query_converter.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
  common/rpc/interceptor/mask_internal_error_test.go
  common/rpc/interceptor/service_error_interceptor.go
  common/rpc/interceptor/service_error_interceptor_test.go
  schema/postgresql/v12/visibility/versioned/v1.14/add_external_payload_size_and_count_search_attributes.sql
  service/frontend/fx.go
  service/frontend/fx_test.go
  service/frontend/workflow_handler.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/getworkflowexecutionhistoryreverse/api.go
  service/history/api/token.go
  service/history/api/token_test.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/matching/fx.go
  service/worker/scheduler/query.go
  service/worker/scheduler/query_test.go
  tests/continue_as_new_test.go
  tests/gethistory_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add debug loggin
  common/persistence/visibility/store/elasticsearch/processor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0 (#11920)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make test contexts safe to cache
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
  tests/activity_driver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cache test contexts in integration drivers
  common/testing/parallelsuite/suite.go
  tests/activity_driver.go
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document test context snapshot ordering
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
  tests/testcore/test_env.go
Due: none

Preserve parent deadline attribution
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Report test context extension history
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Respect externally capped test contexts
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
