Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Align Nexus client tracing tests
  tests/nexus_otel_test.go
  tests/nexus_test_base.go
Due: none

Unify Nexus tracing header capture
  tests/nexus_otel_test.go
Due: none

Simplify Nexus tracing test assertions
  tests/nexus_otel_test.go
Due: none

Address Nexus tracing review feedback
  tests/nexus_otel_test.go
  tests/testcore/functional_test_base.go
Due: none

Exclude cross-cluster forwarding from HTTP tracing
  chasm/lib/callback/request_test.go
  common/cluster/frontend_http_client.go
  common/resource/fx.go
  components/callbacks/request_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Instrument all Nexus HTTP clients
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  common/cluster/frontend_http_client.go
  common/cluster/frontend_http_client_test.go
  common/resource/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update nexus_otel_test.go
  tests/nexus_otel_test.go
Due: none

Inject HTTP tracing through transport provider
  chasm/lib/callback/fx.go
  chasm/lib/callback/request_test.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  common/cluster/frontend_http_client.go
  common/cluster/frontend_http_client_test.go
  common/resource/fx.go
  common/rpc/connection_cache_test.go
  common/rpc/otel_transport_test.go
  common/rpc/rpc.go
  common/rpc/rpc_test.go
  common/rpc/test/http_test.go
  common/rpc/test/rpc_localstore_tls_test.go
  common/rpc/test/rpc_token_auth_test.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  components/callbacks/request_test.go
  temporal/fx.go
  tests/nexus_otel_test.go
  tests/testcore/clients.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update tests/nexus_otel_test.go
  tests/nexus_otel_test.go
Due: none

Revert "Skip entire mutable state transaction if chasm transaction was skipped (#10539)"
  chasm/tree.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Validate links on callbacks consistently.
  chasm/lib/activity/frontend.go
  chasm/lib/activity/link_validator.go
  chasm/lib/activity/validator_test.go
  common/links/validator.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

re-incorporate global switch with protections
  common/dynamicconfig/constants.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/service.go
  tests/xdc/gradual_connect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Gate namespace lifecycle events with dynamic config
  common/dynamicconfig/constants.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/namespace_lifecycle_events.go
  service/frontend/namespace_lifecycle_events_test.go
  service/frontend/service.go
  service/history/configs/config.go
  service/history/shard/context_impl.go
  service/history/shard/handover_events_test.go
  service/history/shard/handover_tracker.go
  service/worker/deletenamespace/activities.go
  service/worker/deletenamespace/fx.go
  service/worker/deletenamespace/rename_namespace_event_test.go
  service/worker/migration/activities.go
  service/worker/migration/fx.go
  service/worker/migration/handover_lag_summary_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make standalone activity completion callback attachment idempotent after closure
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Fix dedup
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Recreate only the activity timers whose deadline actually moved (#11565)
  service/history/workflow/activity.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/timer_sequence.go
Due: .azure-pipelines/server-cicd.yaml

Limit flaky report occurrence table rows
  tools/flakereport/report.go
  tools/flakereport/report_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Clarify report interruption counts
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report_test.go
  tools/flakereport/slack.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix flaky report summary counts
  tools/flakereport/report_test.go
  tools/flakereport/slack.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Improve flaky report presentation
  tools/flakereport/flakereport.go
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
  tools/flakereport/slack.go
  tools/flakereport/types.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Revert "Skip entire mutable state transaction if chasm transaction wa… (#11611)
  chasm/tree.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

DO NOT SUBMIT: Pickup api-go chrsmith/add-request-id-for-linking branch
  chasm/lib/callback/gen/callbackpb/v1/message.pb.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix gradual connect ramp edge cases
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  tests/xdc/gradual_connect_test.go
Due: .azure-pipelines/server-cicd.yaml

replication: centralize NDC event gating
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

Fix: log for scanner hitting cap (#11606)
  service/worker/scanner/scheduleinvariants/invariants.go
Due: .azure-pipelines/server-cicd.yaml

Improve flaky report presentation (#11528)
  tools/flakereport/flakereport.go
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
  tools/flakereport/slack.go
  tools/flakereport/types.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Only count reader reads that left tasks behind as stuck attempts (#11554)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/archival_queue_factory.go
  service/history/configs/config.go
  service/history/outbound_queue_factory.go
  service/history/queues/action_pending_task_count_test.go
  service/history/queues/action_reader_stuck.go
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/queue_base.go
  service/history/queues/queue_base_test.go
  service/history/queues/reader.go
  service/history/queues/reader_test.go
  service/history/queues/slice_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Suppress -1 scaling decision for backlog tasks and rate-limited queues
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add commonpb.Link_Callback conversion to/from nexus.Link
  common/nexus/link_converter.go
  common/nexus/link_converter_test.go
  common/nexus/links.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility][Elasticsearch] Change datetime format to always include nanos component (#11564)
  .github/workflows/run-tests.yml
  common/persistence/persistence-tests/elasticsearch_test_cluster.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/persistence-tests/setup.go
  common/persistence/tests/elasticsearch_test.go
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update tests to reflect new proto shapes
  chasm/lib/callback/component_test.go
  chasm/lib/callback/invocable_worker_test.go
Due: none

fix: prevent negative RemainingActions from panicking future action computation
  chasm/lib/scheduler/backfiller_lifecycle_test.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_test.go
Due: none

fix: floor future action times at generator watermark
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks_test.go
Due: none

refactor: use util.MaxTime for time watermark comparisons
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
Due: none

Recreate only the activity timers whose deadline actually moved (#11565) (#11613)
  service/history/workflow/activity.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/timer_sequence.go
Due: .azure-pipelines/server-cicd.yaml

Validate links on callbacks consistently. (#11610)
  chasm/lib/activity/frontend.go
  chasm/lib/activity/link_validator.go
  chasm/lib/activity/validator_test.go
  common/links/validator.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rename to external
  chasm/lib/callback/fx.go
  chasm/lib/callback/request.go
Due: none
