Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Preserve inherited child workflow version
  tests/versioning_3_test.go
Due: none

Extend versioning3 verification waits
  tests/versioning_3_test.go
Due: none

Validate speculative task history from poll response
  tests/versioning_3_test.go
Due: none

Extend versioning3 test context timeout
  tests/versioning_3_test.go
Due: none

Re-register inherited child workflow versions
  tests/versioning_3_test.go
Due: none

Harden versioning3 deployment API waits
  tests/versioning_3_test.go
Due: none

Normalize versioning3 verification waits
  tests/versioning_3_test.go
Due: none

Move child inheritance assertions outside workflows
  tests/versioning_3_test.go
Due: none

Shorten versioning3 await RPC attempts
  tests/versioning_3_test.go
Due: none

Reduce versioning3 propagation partition checks
  tests/versioning_3_test.go
Due: none

Limit concurrent versioning3 test environments
  tests/versioning_3_test.go
Due: none

Run versioning3 matching behavior cases sequentially
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revert "Limit concurrent versioning3 test environments"
  tests/versioning_3_test.go
Due: none

Reduce versioning3 verification poll pressure
  tests/versioning_3_test.go
Due: none

Revert ineffective versioning3 wait tuning
  tests/versioning_3_test.go
Due: none

Use suite-scoped cluster pools
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
  tests/versioning_3_test.go
Due: none

Revert "Use shorter RPC deadlines in versioning3 awaits"
  tests/versioning_3_test.go
Due: none

Add versioning3 await diagnostics
  tests/versioning_3_test.go
Due: none

Preserve await diagnostics in test summaries
  common/testing/await/report.go
  common/testing/await/require_ctx_test.go
  tools/testrunner/log.go
  tools/testrunner/log_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reduce versioning3 retry summary noise
  tests/versioning_3_test.go
Due: none

Tune await backoff for flaky suites
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Retry late activity poller handoff
  tests/versioning_3_test.go
Due: none

Close standalone versioning3 SDK clients
  tests/versioning_3_test.go
Due: none

Fix testcore global override test setup
  tests/testcore/test_cluster_pool_test.go
Due: none

Surface final await timeout attempts
  common/testing/await/report.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Report await timeout timing stats
  common/testing/await/report.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Harden remaining versioning3 parallel waits
  tests/versioning_3_test.go
Due: none

Back off await polling with jitter
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Start sticky completion poll before activity finish
  tests/versioning_3_test.go
Due: none

Use shorter RPC deadlines in versioning3 awaits
  tests/versioning_3_test.go
Due: none

Limit child inheritance signal pause to inherit cases
  tests/versioning_3_test.go
Due: none

Let child inheritance workflows pause via signal
  tests/versioning_3_test.go
Due: none

testrunner2: fix comment indentation for fmt-imports CI check
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix remaining lint issues (panic forbidigo, cognitive complexity)
  tools/testrunner2/package.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: update STATUS.md — 3 consecutive CI passes achieved
  tools/testrunner2/STATUS.md
Due: .azure-pipelines/admin-tools-cicd.yaml

Makefile: increase functional test timeout to 10m, enable stuck detection
  Makefile
Due: none

remove 'test' subcommand from test-runner2
  Makefile
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: accumulate skip lists across retry attempts
  tools/testrunner2/STATUS.md
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix struct field alignment in direct.go
  tools/testrunner2/direct.go
Due: .azure-pipelines/admin-tools-cicd.yaml

remove --run-timeout from Makefile (flag was removed in refactoring)
  Makefile
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
