Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Cherry-pick TestTooManyPendingActivities fix from v1.29.x
  tests/client_misc_test.go
Due: none

refactor: migrate tests/activity_test.go to testEnv pattern
  tests/activity_test.go
Due: none

fix: resolve lint issues in migrated activity tests
  tests/activity_test.go
Due: none

Rename temporal-fs to temporal-zfs across codebase
  chasm/lib/temporalfs/examples/research-agent-demo/activities.go
  chasm/lib/temporalfs/examples/research-agent-demo/main.go
  chasm/lib/temporalfs/examples/research-agent-demo/report.go
  chasm/lib/temporalfs/examples/research-agent-demo/store.go
  chasm/lib/temporalfs/handler.go
  chasm/lib/temporalfs/handler_test.go
  chasm/lib/temporalfs/integration_test.go
  chasm/lib/temporalfs/pebble_store_provider.go
  chasm/lib/temporalfs/research_agent_test.go
  chasm/lib/temporalfs/store_provider.go
  chasm/lib/temporalfs/tasks.go
  chasm/lib/temporalfs/tasks_test.go
  go.mod
  go.sum
  tests/temporalfs_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

buf format
  .github/workflows/linters.yml
  Makefile
Due: none

make proto
  api/adminservice/v1/request_response.pb.go
  api/archiver/v1/message.pb.go
  api/batch/v1/request_response.pb.go
  api/checksum/v1/message.pb.go
  api/deployment/v1/message.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service.pb.go
  api/persistence/v1/executions.pb.go
  api/persistence/v1/workflow_mutable_state.pb.go
  api/replication/v1/message.pb.go
  api/schedule/v1/message.pb.go
  api/taskqueue/v1/message.pb.go
  chasm/lib/activity/gen/activitypb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/tests/gen/testspb/v1/service.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update temporal-zfs dependency to v1.3.0 (renamed module)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  common/api/metadata.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename TemporalFS to TemporalZFS in docs and comments
  chasm/lib/temporalfs/config.go
  chasm/lib/temporalfs/examples/research-agent-demo/README.md
  chasm/lib/temporalfs/examples/research-agent-demo/activities.go
  chasm/lib/temporalfs/examples/research-agent-demo/content.go
  chasm/lib/temporalfs/examples/research-agent-demo/dashboard.go
  chasm/lib/temporalfs/examples/research-agent-demo/main.go
  chasm/lib/temporalfs/examples/research-agent-demo/report.go
  chasm/lib/temporalfs/examples/research-agent-demo/run-demo.sh
  chasm/lib/temporalfs/examples/research-agent-demo/store.go
  chasm/lib/temporalfs/examples/research-agent-demo/workflow.go
  chasm/lib/temporalfs/filesystem.go
  chasm/lib/temporalfs/pebble_store_provider.go
  chasm/lib/temporalfs/research_agent_test.go
  tests/temporalfs_test.go
Due: none

Bump dependencies to address security CVEs for v1.28.3.1 (#9662)
  Makefile
  client/history/caching_redirector_test.go
  common/archiver/s3store/mocks/s3api.go
  common/rpc/interceptor/dc_redirection_policy_mock.go
  common/sdk/factory_mock.go
  common/searchattribute/mapper_mock.go
  go.mod
  go.sum
  service/history/interfaces/engine_mock.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/shard_context_mock.go
  service/history/queues/queue_mock.go
  service/history/replication/ack_manager_mock.go
  service/history/replication/executable_task_tracker_mock.go
  service/history/workflow/cache/cache_test.go
  service/history/workflow/mutable_state_rebuilder_mock.go
  service/matching/physical_task_queue_manager_test.go
  tests/activity_test.go
  tests/client_misc_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
  tests/workflow_reset_with_child_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/command/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/command/registry.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

Remove workflow-specifics from OperationState (#9503)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
Due: none

Remove references to commandHandler.config.Enabled()
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

[Nexus] Migrate registry and event definitions (#9491)
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/events.go
  chasm/lib/workflow/workflowregistry/registry.go
Due: none

[Nexus-CHASM] Add workflow methods to handle nexus events (#9546)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/events.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/frontend/admin_handler_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/history_test.go
  service/history/visibility_queue_task_executor_test.go
  service/history/workflow/command_handler.go
  service/worker/migration/activities_test.go
  temporal/fx.go
  tools/tdbg/chasm_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

rename package chasm/lib/workflow/commands -> chasm/lib/workflow/workflowregistry (#9474)
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Handle errors
  chasm/lib/nexusoperation/operation.go
Due: none

Inject event registry
  chasm/lib/workflow/workflow.go
Due: none

Fix lint error
  chasm/lib/nexusoperation/workflow/events_test.go
Due: none

TODO
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Migrate event definition tests from HSM to CHASM
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/workflow/workflow.go
Due: none

Implement OperationStore interface in workflow component
  chasm/lib/nexusoperation/operation.go
  chasm/lib/workflow/workflow.go
Due: none

Migrate eventdefinition.Apply from HSM to CHASM
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/events.go
Due: none

nit
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Implement OperationStore interface in Operation
  chasm/lib/nexusoperation/operation.go
Due: none

Address review feedback
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Remove the strconv stuff
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/workflow/workflow.go
Due: none

Use service errors
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Call apply() function before transitioning to the new state
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/statemachine.go
Due: none

Fix review feedback
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events_test.go
Due: none

add fine-grained control of time-skipping, and fix bugs
  api/persistence/v1/executions.pb.go
  common/clock/time_skipping_time_source.go
  common/clock/time_skipping_time_source_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/task_refresher_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Bump temporal-zfs to v1.4.0 (TemporalZFS rename)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix formatting: struct field alignment and long lines (make fmt)
  chasm/lib/temporalfs/examples/research-agent-demo/activities.go
  chasm/lib/temporalfs/examples/research-agent-demo/content.go
  chasm/lib/temporalfs/examples/research-agent-demo/workflow.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
