Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add support for updating start_delay via UpdateActivityOptions
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  common/activityoptions/merge.go
  go.mod
  go.sum
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Restore start_delay on Reset+RestoreOriginalOptions for standalone activities (#10752)
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
  go.mod
  go.sum
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

SAA operator API 2: Reset/UpdateOptions fixes (#10884)
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  tests/activity_standalone_test.go
Due: none

SAA operator API 4: Honor Reset request even if attempt fails non-retryably (#10909)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  tests/activity_standalone_test.go
Due: none

SAA operator API 3: make Unpause but not Reset honor remaining retry delay (#10877)
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
  tests/activity_standalone_test.go
Due: none

SAA operator API 1: time terminology, renaming, and cleanup (#10900)
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
Due: none

pulled in api dep to remove actual_start_time and replace requested_start_time with execution_time.
  chasm/lib/activity/activity.go
  go.mod
  go.sum
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix lint and refactor reset subconditional methods
  chasm/lib/activity/activity.go
Due: none

fix fmt
  tests/activity_api_pause_test.go
  tests/activity_api_reset_test.go
  tests/activity_api_update_test.go
Due: none

Add support for updating start_delay via UpdateActivityOptions (#10745)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  common/activityoptions/merge.go
  go.mod
  go.sum
  tests/activity_api_pause_test.go
  tests/activity_api_reset_test.go
  tests/activity_api_update_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve SAA retry backoff across unpause re-dispatch
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Fix SAA unpause for keep-paused reset
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-159.0-rc.20260703120341
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reject stale legacy SAA schedule-to-close timers
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/proto/v1/tasks.proto
  tests/activity_standalone_test.go
Due: none

Add latency metric for backfilling replication history events
  common/metrics/metric_defs.go
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Consolidate namespace lookup and guard nil deref
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

Fix unit tests for backfill latency metric
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
Due: .azure-pipelines/server-cicd.yaml

Exclude scheduled-to-stop members from resolver availability
  common/membership/interfaces.go
  common/membership/ringpop/monitor_test.go
  common/membership/ringpop/service_resolver.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve NextRetryDelay across unrelated activity option updates
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

Add TestShouldRecalculateCurrentRetryInterval
  chasm/lib/activity/activity_test.go
Due: none

Bump Server version to 1.32.0-159.0-rc.20260704115125
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Buffer the time-skipping transition event to keep it last in its transaction
  service/history/historybuilder/event_store.go
  service/history/historybuilder/history_builder_test.go
  service/history/workflow/timeskipping.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

add a fast-forward timer fired inside workflow task window test
  tests/timeskipping_fast_forward_test.go
Due: none

test split namespace replication queue to separate db
  common/config/config.go
  common/config/persistence.go
  common/persistence/client/factory.go
  common/persistence/client/factory_test.go
  common/persistence/client/fx.go
  common/persistence/client/persistence_rate_limited_clients_test.go
  common/persistence/persistence-tests/persistence_test_base.go
  config/development-cluster-a.yaml
  config/development-cluster-b.yaml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

docs: fix typo 'supress' -> 'suppress' in visibility manager comment
  common/persistence/visibility/visibility_manager_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-159.0-rc.20260705115211
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-159.0-rc.20260706123530
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test(mixedbrain): add scheduler_stress scenario and server log scanning
  .github/workflows/run-tests.yml
  tests/mixedbrain/log_scan_util.go
  tests/mixedbrain/log_scan_util_test.go
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

test(mixedbrain): simplify log scanner
  tests/mixedbrain/log_scan_util.go
  tests/mixedbrain/log_scan_util_test.go
  tests/mixedbrain/mixed_brain_test.go
Due: none

Update common/membership/static/monitor.go
  common/membership/static/monitor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address PR feedback
  docs/architecture/circuit-breaker.md
Due: none

Add tdbg schedule audit command
  tools/tdbg/flags.go
  tools/tdbg/schedule_audit.go
  tools/tdbg/schedule_audit_test.go
  tools/tdbg/scheduleaudit/analyzer.go
  tools/tdbg/scheduleaudit/analyzer_test.go
  tools/tdbg/scheduleaudit/loaders.go
  tools/tdbg/scheduleaudit/loaders_test.go
  tools/tdbg/scheduleaudit/output.go
  tools/tdbg/scheduleaudit/output_test.go
  tools/tdbg/scheduleaudit/ratelimit.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

context
  tests/activity_api_batch_unpause_test.go
Due: none

fix: support MatchAll for activity unpause,reset,update-options
  service/frontend/workflow_handler.go
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
  tests/activity_api_batch_reset_test.go
  tests/activity_api_batch_unpause_test.go
  tests/activity_api_batch_update_options_test.go
Due: .azure-pipelines/server-cicd.yaml

more lint fixes
  tests/activity_api_batch_reset_test.go
  tests/activity_api_batch_unpause_test.go
  tests/activity_api_batch_update_options_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
