Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Implement UpdateActivityExecutionOptions (#9850)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
  common/activityoptions/merge.go
  common/activityoptions/merge_test.go
  service/history/api/updateactivityoptions/api.go
  service/history/api/updateactivityoptions/api_test.go
  tests/activity_api_update_test.go
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add revision-based suppression for pinned workflow target version signals
  api/persistence/v1/executions.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/create_workflow_util.go
  service/history/api/recordworkflowtaskstarted/api.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/history_engine_test.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/workflow_task_state_machine.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add integration test and point go.mod to api-go branch
  service/history/interfaces/chasm_tree_mock.go
  service/history/interfaces/mutable_state_mock.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

drop if event.Result != nil
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
Due: none

NexusLink
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  common/nexus/link_converter.go
  common/nexus/link_converter_test.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Deprioritize CancelOutstandingWorkerPolls in matching rate limiter
  service/matching/configs/quotas.go
Due: .azure-pipelines/server-cicd.yaml

fix: Hopefully fixes some test flakiness in some matching test (#10006)
  service/matching/matcher.go
  service/matching/matcher_data.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

MigrateWorkflowIdReusePolicyForRunningWorkflow
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/workflow_id_dedup.go
  service/history/api/workflow_id_dedup_test.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

address linter
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/workflow_id_dedup.go
  service/history/api/workflow_id_dedup_test.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

[Scheduler] Make 'started schedule' log line log at Info level
  chasm/lib/scheduler/generator_tasks.go
Due: none

Nexus Standalone: wire up (#9837)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/invocation.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/request_response.proto
  chasm/lib/nexusoperation/tasks_test_helpers_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/workflow/workflow.go
  common/nexus/link_converter.go
  common/nexus/link_converter_test.go
  service/frontend/fx.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix missed AddWorkflowTaskStartedEvent call site in test
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Update dependencies
  docker/docker-bake.hcl
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix go.mod: restore golang/mock as indirect dependency
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add repro
  tests/child_workflow_test.go
Due: none

Update dependencies (#10007)
  docker/docker-bake.hcl
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove RPCFactory conn cache + add membership-based eviction to history connectionPool
  chasm/lib/activity/gen/activitypb/v1/service_client.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_client.pb.go
  chasm/lib/tests/gen/testspb/v1/service_client.pb.go
  client/history/client.go
  client/history/client_test.go
  client/history/connections.go
  cmd/tools/protoc-gen-go-chasm/main.go
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix merge
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  go.mod
  go.sum
  tests/nexus_standalone_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: TerminatedFailureInfo identity
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  tests/nexus_standalone_test.go
Due: none

Standalone Nexus: LastAttemptFailure fallback
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
Due: none

Nexus Standalone: TerminatedFailureInfo identity (#10009)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  tests/nexus_standalone_test.go
Due: none

Skip task add hooks for forwarded tasks to prevent double-firing
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Rename forwarded hook tests to use _HooksNotInvoked suffix
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix pinned workflow trampolining via revision-based signal suppression (#9895)
  api/persistence/v1/executions.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/create_workflow_util.go
  service/history/api/recordworkflowtaskstarted/api.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/history_engine_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/workflow_task_state_machine.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
  service/matching/task_queue_partition_manager.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Standalone Nexus: ScheduleToCloseTimeout + StartToCloseTimeout
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  go.mod
  go.sum
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

check rangeid with read
  service/matching/db.go
Due: .azure-pipelines/server-cicd.yaml

fixup
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  tests/nexus_standalone_test.go
  tests/nexus_workflow_test.go
Due: none

Add RateLimited field to TaskAddHookDetails
  service/matching/hooks/task_lifecycle_hooks.go
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/pri_matcher.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

test
  service/matching/backlog_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Add matcher_data unit test for rate-limited MatchTaskImmediately
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

WIP draft change
  api/persistence/v1/executions.pb.go
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

chore: typo sweep (publically, enviroment, occured)
  docs/architecture/nexus.md
  service/matching/matcher_test.go
  tools/tdbg/app.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-155.0-rc.20260422114408
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update postgresql.md version and username
  docs/development/macos/postgresql.md
Due: none

Adds caller side operation state machine metrics
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/metrics.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/tasks_test_helpers_test.go
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Updates tests to check that metrics are emitted
  chasm/lib/nexusoperation/operation_statemachine_test.go
Due: none

MigrateWorkflowIdReusePolicyForRunningWorkflow (#10011)
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/workflow_id_dedup.go
  service/history/api/workflow_id_dedup_test.go
  service/history/history_engine2_test.go
  tests/child_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
