Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Bump ServerVersion to 1.31.1 (#10516)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backport scheduler visibility counts (#10611) to cloud/v1.32.0-157 (#10631)
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  tests/schedule_test.go
Due: none

[ES Visibility] Disallow partial results and always populate page token if results is not empty (#10540)
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

compute correct shardid based on local clusters shard numbers before writing to dlq
  service/history/replication/task_processor.go
  service/history/replication/task_processor_test.go
Due: .azure-pipelines/server-cicd.yaml

use plain map
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/server-cicd.yaml

const
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/server-cicd.yaml

renamed dc since we'll probably use it often
  common/dynamicconfig/constants.go
  service/matching/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

moved validation into dynamic config converter
  common/dynamicconfig/constants.go
  common/dynamicconfig/util.go
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix comment
  common/dynamicconfig/shared_constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

init first
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/server-cicd.yaml

Bump api-go dependency to pick up new proto field
  go.mod
  go.sum
  tests/workercallbacks/README.md
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

don't do anything until full interval has elapsed
  service/matching/simple_partition_scaler.go
  service/matching/task_tracker.go
  service/matching/task_tracker_test.go
Due: .azure-pipelines/server-cicd.yaml

WIP
  chasm/lib/callback/component.go
  chasm/lib/callback/invocable_workercallback.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  common/nexus/constants.go
  go.mod
  go.sum
  tests/workercallbacks/caller/activities.go
  tests/workercallbacks/caller/worker.go
  tests/workercallbacks/sdk.go
  tests/workercallbacks/workercallbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix missing StartedClock on eagerly dispatched activities
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  tests/worker_commands_task_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint: use require.NoError and await.RequireTruef in eager activity test
  tests/worker_commands_task_test.go
Due: none

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260610123050
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix concurrent map write when cacheSizeBasedLimit is enabled
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/workflow/cache/cache.go
  service/history/workflow/cache/cache_test.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
Due: .azure-pipelines/server-cicd.yaml

history: fix build and lint breakage from delete-vis-task change
  service/history/deletemanager/delete_manager_test.go
  service/history/handler.go
  service/history/shard/context_test.go
Due: .azure-pipelines/server-cicd.yaml

force-delete: don't deref nil mutable state on visibility delete
  service/history/api/forcedeleteworkflowexecution/api.go
Due: .azure-pipelines/server-cicd.yaml

Split ValidateSideEffect by tree validation vs component state validation
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_task_util.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/outbound_queue_standby_task_executor_test.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
  service/history/visibility_queue_task_executor.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/server-cicd.yaml

Add suite-scoped cluster pooling
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
  tests/testcore/test_env.go
  tests/versioning_3_test.go
Due: none

Simplify worker service cluster selection
  tests/testcore/test_env.go
Due: none

Fix suite-scoped cluster CI failures
  tests/schedule_test.go
  tests/task_queue_stats_test.go
Due: none

Generalize suite-shareable cluster options
  tests/testcore/test_env.go
Due: none

Bump defaultCliVersion to 1.7.2 for v1.31.1 admin-tools
  .github/actions/build-docker-images/scripts/main.go
Due: none

Extract clients from onebox.go (#10575)
  common/testing/await/require_ctx_test.go
  common/testing/grpcinject/fx.go
  common/testing/grpcinject/grpcinject.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/add_tasks_test.go
  tests/testcore/clients.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Delete unused method
  chasm/lib/activity/activity.go
Due: none

Bump defaultCliVersion to 1.7.2 for v1.31.1 admin-tools (#10640)
  .github/actions/build-docker-images/scripts/main.go
Due: none

Migrate worker_registry_test.go
  tests/worker_registry_test.go
Due: none

make methods
  tests/workflow_reset_with_child_test.go
Due: none

Address review: suite methods for child/simpleActivity, env.Tv().WorkflowID()
  tests/workflow_reset_with_child_test.go
Due: none

SAA mostly wired up
  chasm/lib/callback/component.go
  chasm/lib/callback/invocable_workercallback.go
  chasm/lib/nexusoperation/operation.go
  common/nexus/constants.go
  tests/workercallbacks/caller/worker.go
  tests/workercallbacks/workercallbacks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove tasks_expired metric, superseded by tasks_dropped
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/fair_task_reader.go
  service/matching/metrics_util.go
  service/matching/metrics_util_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_task_reader.go
  service/matching/task_reader.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor: replace taskPQ heap with btype.Table btree for task ordering
  go.mod
  go.sum
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/task.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

One determinism fix and some ignores for make workflow check.
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Global RPS Control for Admin Batch Operation (#10546) (#10623)
  common/dynamicconfig/constants.go
  common/log/tag/values.go
  service/worker/batcher/activities.go
  service/worker/batcher/activities_namespace_test.go
  service/worker/batcher/activities_test.go
  service/worker/batcher/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Usage of `ActiveInCluster` should be justified (#10485)
  .github/.golangci.yml
  common/namespace/nsregistry/registry.go
  service/frontend/nexus_handler.go
  service/frontend/workflow_handler.go
  service/history/api/deleteworkflow/api.go
  service/history/api/queryworkflow/api.go
  service/history/chasm_engine.go
  service/history/history_engine.go
  service/history/ndc/workflow_state_replicator.go
  service/history/queues/executable.go
  service/history/queues/priority_assigner.go
  service/history/queues/scheduler.go
  service/history/shard/handover_tracker.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
  service/worker/pernamespaceworker.go
  service/worker/scanner/build_ids/scavenger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Demo working end-to-end for happy path! 🎉
  chasm/lib/callback/invocable_internal.go
  chasm/lib/callback/invocable_workercallback.go
  chasm/lib/callback/tasks.go
  service/history/fx.go
  tests/workercallbacks/caller/activities.go
  tests/workercallbacks/workercallbacks_test.go
Due: .azure-pipelines/server-cicd.yaml
