Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Attribute test context deadline failures
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve caller-owned context deadlines
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Polish test context deadline checks
  common/testing/testcontext/deadline.go
  common/testing/testcontext/deadline_test.go
  common/testing/testcontext/timeout_context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve await timeout diagnostics
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Render Await timeout failures once
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Harden adaptive Await polling
  common/testing/await/config.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use adaptive polling for Await
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use Await intervals as adaptive polling base
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align Await timeout with test context
  common/testing/await/config.go
  common/testing/await/config_test.go
  common/testing/await/doc.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/await/require_true_test.go
  common/testing/parallelsuite/suite_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Delegate Await deadline reporting
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document the ratio threshold's meaning under the improved signals
  common/dynamicconfig/constants.go
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix mislabeled "system payload" issue (#11906)
  chasm/lib/tests/nexus_service.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Address review findings on the improved poller scaling signals
  common/dynamicconfig/constants.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify aggregateRate back to a plain rate sum
  common/dynamicconfig/constants.go
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Evaluate both scaling signals eagerly and select on the flag
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Add improved poller scaling signals behind dynamic config
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Give both scaling signals the same old/new shape
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Simplify improved poller scaling signal plumbing
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove the poller scale signal comparison metric
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix CHASM sentinel handling for workflow migration
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/handler_test.go
  tests/schedule_migration_test.go
Due: none

Revert "Handling api-go issue"
  common/nexus/constants.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tune default values for dispatching worker command (#11900)
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix a race condition that can leave a poll to not get cancelled during shutdown (#11841)
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Migrate schedule tests to parallel suites
  tests/callbacks_test.go
  tests/schedule_migration_test.go
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

[Visibility] Export ES client v7 ctor
  common/persistence/visibility/store/elasticsearch/client/client_factory.go
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test V1 scheduler migration retry after sentinel deletion
  tests/schedule_migration_test.go
Due: none

Assert sentinel failure type in migration history
  tests/schedule_migration_test.go
Due: none

Use schedule helpers in sentinel migration test
  tests/schedule_migration_test.go
Due: none

Inline the signal expressions into their return statements
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Colocate PromptSpec configuration and rules
  .github/copilot-instructions.md
  .promptspec/config.yml
  .promptspec/rules/default/section.yml
  .promptspec/rules/default/workflow-locks.yml
  Makefile
Due: none

Add tests for Workflow Updates + Nexus on the server
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflow_update_limits_test.go
  chasm/lib/workflow/workflow_update_persistence_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/update_test.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_sdk_test.go
Due: .azure-pipelines/server-cicd.yaml

Updated comments to be more historically accurate
  service/history/tasks/predicates.go
Due: .azure-pipelines/server-cicd.yaml

Update the replication sender lock priority with retry attempt aware
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/history_engine.go
  service/history/interfaces/engine_mock.go
  service/history/interfaces/replication_stream.go
  service/history/replication/ack_manager.go
  service/history/replication/ack_manager_mock.go
  service/history/replication/raw_task_converter.go
  service/history/replication/raw_task_converter_mock.go
  service/history/replication/raw_task_converter_test.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align the scale-up signal names with their metric reasons
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

More comment cleanup
  api/persistence/v1/predicates.pb.go
  proto/internal/temporal/server/api/persistence/v1/predicates.proto
  service/history/queues/convert.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix tests
  api/deployment/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/matching/configs/quotas.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/client_test.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename the poller scaling flag to useSignalsV2ForPollerScaling
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add YAML format for dynamic config commands
  api/adminservice/v1/request_response.pb.go
  common/dynamicconfig/client.go
  common/dynamicconfig/json.go
  common/dynamicconfig/json_test.go
  common/dynamicconfig/yaml.go
  common/dynamicconfig/yaml_test.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  tools/tdbg/dynamic_config_commands.go
  tools/tdbg/dynamic_config_commands_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

store write instead of target for add task batch computation
  service/matching/scale_manager.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
