Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Collapse isolation state after shared lane catch-up
  service/history/replication/isolation_manager.go
  service/history/replication/isolation_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Collapse isolation state for unsupported receivers
  service/history/replication/isolation_manager.go
  service/history/replication/isolation_manager_test.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/server-cicd.yaml

test: [Scheduler] put ctx first in waitForSchedulerWorkflowExecution
  tests/scheduler_replay_generation_test.go
Due: none

fix: re-enable BUFFER_ONE backfill test and drop unsupported memo-only test
  tests/schedule_test.go
Due: none

Rename RPC fault injection package
  common/rpc/faultinjection/grpc.go
  common/rpc/faultinjection/interceptor_test.go
  common/rpc/faultinjection/testhooks_noop.go
  common/rpc/faultinjection/testhooks_testdep.go
  common/rpc/grpcfaults/generator.go
  common/rpc/grpcfaults/generator_test.go
  common/rpc/grpcfaults/interceptor.go
  common/rpc/grpcfaults/interceptor_test.go
  common/testing/grpcfaultstest/hooks_noop.go
  common/testing/grpcfaultstest/hooks_testdep.go
  common/testing/grpcfaultstest/hooks_testdep_test.go
  common/testing/testhooks/hooks.go
  docs/development/testing.md
  service/frontend/fx.go
  service/fx.go
  tests/testcore/fault_injection.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add throttle-aware retry controller for history task processing
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/archival_queue_factory.go
  service/history/configs/config.go
  service/history/outbound_queue_factory.go
  service/history/queue_factory_base.go
  service/history/queues/executable.go
  service/history/queues/executable_factory.go
  service/history/queues/executable_test.go
  service/history/queues/queue_base_test.go
  service/history/queues/queue_scheduled_test.go
  service/history/queues/rescheduler.go
  service/history/queues/rescheduler_test.go
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_bench_test.go
  service/history/queues/throttle_micro_bench_test.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add Worker Deployment and BuildID labels to (workflow,activity) task completion metrics (#11348)
  chasm/lib/activity/activity.go
  chasm/lib/activity/metrics.go
  chasm/lib/activity/metrics_test.go
  chasm/lib/activity/operator_commands.go
  chasm/lib/activity/tasks.go
  common/dynamicconfig/constants.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordworkflowtaskstarted/api.go
  service/history/api/respondactivitytaskcanceled/api.go
  service/history/api/respondactivitytaskcompleted/api.go
  service/history/api/respondactivitytaskfailed/api.go
  service/history/api/respondactivitytaskfailed/api_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/api/respondworkflowtaskfailed/api.go
  service/history/configs/config.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/workflow/metrics.go
  service/history/workflow/metrics_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/workflow_task_state_machine.go
  service/matching/matching_engine.go
  tests/activity_metrics_parity_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Populate identity for child workflows
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Make the throttle control law independent of class size
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/queue_factory_base.go
  service/history/queue_factory_base_test.go
  service/history/queues/executable.go
  service/history/queues/executable_test.go
  service/history/queues/rescheduler.go
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_bench_test.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix activity operator command metric label collision
  chasm/lib/activity/metrics.go
  chasm/lib/activity/operator_commands.go
  common/metrics/tags.go
  service/history/api/pauseactivity/api.go
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
  tests/activity_metrics_parity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address pr comments
  chasm/lib/activity/metrics.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/api/pauseactivity/api.go
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Stop a refused release from counting as a clean one
  common/metrics/metric_defs.go
  service/history/queues/rescheduler.go
  service/history/queues/throttle_bench_test.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Capture panics in Visibility query converter
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/interceptors_test.go
  common/persistence/visibility/store/query/nil_converter.go
  common/persistence/visibility/store/query/nil_converter_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/query.go
  service/worker/scheduler/query_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Stop unmetered releases from feeding the control law, and fix vacuous tests
  service/history/queues/executable_test.go
  service/history/queues/rescheduler.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: update ScheduleActionDelay desired time on refresh, not just long-poll
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Resend child when first workflow task is missing
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/history_engine2_test.go
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_test.go
Due: .azure-pipelines/server-cicd.yaml

Preserve history engine constructor compatibility
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
Due: .azure-pipelines/server-cicd.yaml

check on NS on cluster + active
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify workflow resend scheduler behavior
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/api/workflowresend/scheduler.go
  service/history/api/workflowresend/scheduler_test.go
  service/history/fx.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

address comments
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

Preserve workflow resend scheduler compatibility
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/history_engine_factory.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Schedule workflow resends at the history host level
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/api/workflowresend/in_flight_resends.go
  service/history/api/workflowresend/in_flight_resends_test.go
  service/history/api/workflowresend/scheduler.go
  service/history/api/workflowresend/scheduler_test.go
  service/history/api/workflowresend/sync_workflow_state.go
  service/history/api/workflowresend/sync_workflow_state_test.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/history_engine_factory.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

resend child when missing
  api/historyservice/v1/request_response.pb.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/api/verifychildworkflowcompletionrecorded/in_flight_resends.go
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api_test.go
  service/history/api/workflowresend/in_flight_resends.go
  service/history/api/workflowresend/in_flight_resends_test.go
  service/history/configs/config.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/ndc_standby_task_util.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_standby_task_executor_test.go
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address workflow resend wide event feedback
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/workflowresend/wide_events.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/server-cicd.yaml

Add wide events for child workflow resends
  common/wideevents/replication_events.go
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/api/verifyfirstworkflowtaskscheduled/api.go
  service/history/api/workflowresend/wide_events.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Assert uniqueness and set equality in reverse pagination tests
  common/persistence/sql/sqlplugin/tests/history_node.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Apply a rate change from the close forward, not backward
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/server-cicd.yaml

Aggregate mixed-brain Omes errors
  tests/mixedbrain/omes_log_util.go
  tests/mixedbrain/omes_log_util_test.go
  tests/mixedbrain/report_util.go
Due: none

Govern only namespace scoped APS and persistence limits
  service/history/queues/executable.go
  service/history/queues/executable_test.go
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_bench_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/server-cicd.yaml

Simplify RPC fault tracking
  tests/testcore/fault_injection.go
  tests/testcore/test_env.go
Due: none

fix govuln
  common/testing/grpcfaultstest/hooks_noop.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

replace with metrics.CapturePanic
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/interceptors_test.go
  common/persistence/visibility/store/query/nil_converter.go
  common/persistence/visibility/store/query/nil_converter_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/query.go
  service/worker/scheduler/query_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove the plumbing the narrowing left behind
  service/history/archival_queue_factory.go
  service/history/outbound_queue_factory.go
  service/history/queues/executable.go
  service/history/queues/executable_factory.go
  service/history/queues/queue_base_test.go
  service/history/queues/queue_scheduled_test.go
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

Fix: Schedule scanner false-positives for inactive NS (#11703)
  common/metrics/metric_defs.go
  service/worker/scanner/scheduleinvariants/invariants.go
  service/worker/scanner/scheduleinvariants/invariants_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align CHASM ALLOW_ALL lifecycle with V1 (#11631)
  chasm/chasmtest/test_engine.go
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/internal/overlap.go
  chasm/lib/scheduler/internal/overlap_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/migration/identity_test.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_test.go
  tests/schedule_test.go
Due: none

Make the scheduler idle-close deadline monotonic (#11702)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_idle_deadline_test.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_tasks.go
  chasm/lib/scheduler/util.go
Due: none

Capture panics in Visibility query converter (#11800)
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/query/converter_test.go
  common/persistence/visibility/store/query/interceptors_test.go
  common/persistence/visibility/store/query/nil_converter.go
  common/persistence/visibility/store/query/nil_converter_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/query.go
  service/worker/scheduler/query_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag replicator errors by replication task type (#11760)
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix buffered child XDC test race
  tests/xdc/buffered_events_replication_helpers_test.go
  tests/xdc/buffered_events_replication_test.go
Due: none

Add SignalWithStart shadow mode and tdbg mitigation
  service/history/api/signalwithstartworkflow/signal_with_start_workflow.go
  service/history/api/signalwithstartworkflow/signal_with_start_workflow_test.go
  tools/tdbg/commands.go
  tools/tdbg/factory.go
  tools/tdbg/force_schedule_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
