Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

Fix tests for degraded workflow visibility (#9068)
  tests/workflow_task_reported_problems_test.go
Due: none

Add SAA APIs to list of APIs that can be redirected
  common/rpc/interceptor/dc_redirection_policy.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix migration workflow breaking change
  common/dynamicconfig/constants.go
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
  service/worker/migration/execution_info.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix fx
  service/worker/migration/execution_info.go
Due: .azure-pipelines/server-cicd.yaml

Turn off gzip for ElasticSearch in functional tests (#9078)
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/client/config.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix race condition
  common/tasks/sequential_scheduler.go
  common/tasks/sequential_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add ForceWorkflowTaskTimeout API for testing
  api/historyservice/v1/request_response.go-helpers.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/historyservicemock/v1/service_grpc.pb.mock.go
  client/history/client_gen.go
  client/history/metric_client_gen.go
  client/history/retryable_client_gen.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/history/api/forceworkflowtasktimeout/api.go
  service/history/handler.go
  service/history/history_engine.go
  service/history/interfaces/engine.go
  service/history/interfaces/engine_mock.go
  tests/testcore/force_timeout.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix test
  tests/versioning_3_test.go
Due: none

Implement detached component
  api/persistence/v1/chasm.pb.go
  chasm/field.go
  chasm/field_internal.go
  chasm/library_core.go
  chasm/registrable_component.go
  chasm/registry_test.go
  chasm/tree.go
  chasm/tree_test.go
  proto/internal/temporal/server/api/persistence/v1/chasm.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Pass enabled in RateLimitedSchedulerOptions for outbound task queue
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

30 is enough
  develop/github/memory_monitor.sh
Due: none

Enable rate limited scheduler before checking config
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

fix test
  common/tasks/sequential_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use mktemp
  develop/github/memory_monitor.sh
Due: none

Update memory_monitor.sh
  develop/github/memory_monitor.sh
Due: none

single format
  develop/github/memory_monitor.sh
Due: none

only pprof once
  develop/github/memory_monitor.sh
Due: none

Add worker registry metrics for registration rate and activity slot distribution
  common/metrics/metric_defs.go
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

WIP: Add injection point for custom archiver implementation
  common/archiver/provider/provider.go
  common/config/config.go
  common/resource/fx.go
  common/resource/fx_test.go
  temporal/fx.go
  temporal/server_option.go
  temporal/server_options.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix shellcheck
  develop/github/memory_monitor.sh
Due: none

tweak names
  develop/github/memory_monitor.sh
Due: none

tweak names more
  develop/github/memory_monitor.sh
Due: none

Address PR review comments for worker health check
  service/worker/service.go
  tests/testcore/functional_test_base_test.go
Due: .azure-pipelines/server-cicd.yaml

[worker-versioning]: blackhole queries only on root partition (#9040)
  client/matching/loadbalancer.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Tune MaxVersionsInTaskQueue check (#9029)
  service/matching/physical_task_queue_manager.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate cancellation state transitions
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/cancellation_statemachine_test.go
Due: none

Add metadata context support to mutable state (#8988)
  common/contextutil/metadata.go
  common/contextutil/metadata_test.go
  common/rpc/interceptor/metadata_context.go
  service/history/fx.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add TLS configuration to worker service gRPC server
  service/worker/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add dynamic config flag to disable activity rescheduling
  chasm/lib/worker/config.go
  chasm/lib/worker/executors.go
  chasm/lib/worker/library.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add test
  api/replication/v1/message.pb.go
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/worker/migration/activities_test.go
  service/worker/migration/execution_info.go
  service/worker/migration/execution_info_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Config to turn off gzip for ElasticSearch
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/client/config.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Standalone activity error code fixes
  chasm/lib/activity/frontend.go
  chasm/statemachine.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Config to turn off gzip for ElasticSearch (#9093)
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/client/config.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Standalone activity error code fixes (#9094)
  chasm/lib/activity/frontend.go
  chasm/statemachine.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Fix testrunner timeout reporter
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix lint
  service/worker/migration/execution_info_test.go
Due: .azure-pipelines/server-cicd.yaml

Pass enabled in RateLimitedSchedulerOptions for outbound task queue (#9088)
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

remove dc
  common/dynamicconfig/constants.go
  service/worker/migration/execution_info.go
  service/worker/migration/execution_info_test.go
  service/worker/migration/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

gRPC fault injection
  api/matchingservice/v1/request_response.pb.go
  common/faultinject/grpc_generator.go
  docs/development/testing.md
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/history/api/updateworkflow/api.go
  tests/testcore/fault_injection.go
  tests/testcore/onebox.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
