Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Remove unused metrics
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use typed Nexus service definition for activity cancellation
  go.mod
  go.sum
  service/history/cancel_activity.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix tests
  service/worker/migration/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

emit zero logical backlog metrics
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

goimports
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

CHASM: Avoid double map lookup in registry (#9306)
  chasm/registrable_component.go
  chasm/registry.go
  chasm/tree.go
Due: none

Fix test: remove t.Parallel() incompatible with testcore.NewEnv()
  tests/cancel_running_activities_using_nexus_task_test.go
Due: none

update docs
  docs/architecture/speculative-workflow-task.md
Due: none

minor fix
  common/dynamicconfig/constants.go
  common/tasks/execution_queue_scheduler.go
  service/history/queues/execution_aware_scheduler.go
  service/history/queues/execution_aware_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Report tests that are causing CI failures
  tools/flakes/main.py
Due: .azure-pipelines/admin-tools-cicd.yaml

adding a failure rate per thousand
  .github/workflows/flaky-tests-report.yml
  tools/flakes/main.py
Due: .azure-pipelines/admin-tools-cicd.yaml

minor fix
  common/tasks/execution_queue_scheduler.go
  common/tasks/execution_queue_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

merge main
  .github/workflows/run-tests.yml
Due: none

Remove benchmarking test
  service/history/queues/scheduler.go
  tests/execution_queue_scheduler_test.go
Due: .azure-pipelines/server-cicd.yaml

[Worker-Versioning improvement]: Activate "Drained/Inactive" versions (#9147)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/worker_versioning/version_reactivation_signal_cache.go
  service/history/api/multioperation/api.go
  service/history/api/resetworkflow/api.go
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/api/worker_versioning_util.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/history_engine3_eventsv2_test.go
  service/history/history_engine_factory.go
  service/history/history_engine_test.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove benchmarking test
  tests/execution_queue_scheduler_test.go
Due: none

Config refactor
  service/history/archival_queue_factory.go
  service/history/queues/execution_aware_scheduler.go
  service/history/queues/execution_aware_scheduler_test.go
  service/history/queues/queue_scheduled_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/server-cicd.yaml

auto-decode for tdbg workflow show (#9294)
  tools/tdbg/commands.go
  tools/tdbg/decode_commands.go
  tools/tdbg/flags.go
  tools/tdbg/proto_decoder.go
  tools/tdbg/proto_decoder_test.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Refactor
  common/tasks/execution_aware_scheduler.go
  service/history/archival_queue_factory.go
  service/history/queues/execution_aware_scheduler.go
  service/history/queues/execution_aware_scheduler_test.go
  service/history/queues/queue_scheduled_test.go
  service/history/queues/scheduler.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor
  common/tasks/fifo_scheduler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixing versioning test
  service/history/api/getworkflowexecutionhistory/api.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

Convert timeout type
  service/history/timer_queue_active_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Move test
  common/tasks/execution_aware_scheduler_test.go
  service/history/queues/execution_aware_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Abridged tests on PRs (#9216)
  .github/workflows/run-tests.yml
Due: none

Patch for standalone activity rollback (#9229)
  chasm/lib/activity/frontend.go
  chasm/lib/activity/library.go
  service/frontend/workflow_handler.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_task_executor_base.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
  service/history/transfer_queue_task_executor_base.go
  service/history/visibility_queue_task_executor.go
  tests/standalone_activity_test.go
Due: .azure-pipelines/server-cicd.yaml

dc default
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

more comments
  common/dynamicconfig/constants.go
  service/matching/db.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test coverage
  tests/activity_test.go
Due: none

ErrorAs
  tests/activity_test.go
Due: none

latest changes
  common/dynamicconfig/constants.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

ARM runners for all database setups
  .github/workflows/run-tests.yml
  develop/github/docker-compose.yml
Due: none

Backlog metrics (count, age) to now have versioning based attribution (#9300)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/db.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Exclude Query in health probe data
  common/rpc/interceptor/health_check.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixes
  service/matching/db.go
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_interface.go
  service/matching/task_queue_partition_manager_mock.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

code cleanliness
  service/matching/db.go
Due: .azure-pipelines/server-cicd.yaml

Fix unit test
  service/history/timer_queue_active_task_executor_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint
  tests/activity_test.go
Due: none

Do not return no poller errors for nexus tasks (#9307)
  service/matching/pri_matcher.go
Due: .azure-pipelines/server-cicd.yaml

Add a hook point to the Matching service once a task has been matched (or not)
  service/matching/handler.go
  service/matching/hooks/matching_hooks.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml
