Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add fastrand package for faster rand
  common/fastrand/fastrand.go
  common/fastrand/fastrand_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add benchmarks and comments
  common/stats/windowed_tdigest.go
  common/stats/windowed_tdigest_performance_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add time skipping to chasm framework
  chasm/timeskipping.go
Due: none

wire config setting into vts for chasm
  chasm/timeskipping.go
Due: none

add time skipping in chasm framework runtime
  chasm/node_backend_mock.go
  chasm/timeskipping.go
  chasm/tree.go
  service/history/workflow/timeskipping.go
Due: .azure-pipelines/server-cicd.yaml

add ut
  chasm/timeskipping_test.go
  chasm/tree_test.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

change TargetTime to a private field
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  chasm/tree_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

simplify regen tasks and ut
  chasm/tree.go
  chasm/tree_test.go
Due: none

fix error handling, add more tests
  chasm/test_component_test.go
  chasm/test_library_test.go
  chasm/test_var_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

wire HandleNow in time-skipping tests after backend reset
  chasm/tree_test.go
Due: none

Add mixedbrain process chaos
  tests/mixedbrain/chaos_util.go
  tests/mixedbrain/mixed_brain_test.go
  tests/mixedbrain/server_util.go
Due: none

add time skipping to chasm framework
  chasm/timeskipping.go
  chasm/timeskipping_test.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

wire in time-skipping config implementation for chasm (#10935)
  chasm/context.go
  chasm/context_mock.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

delete and delegate time source of chasm node to backend (#10960)
  chasm/chasmtest/test_engine.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/node_backend_mock.go
  chasm/skip_persistence_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

add functional tests to encode update activity task queue behavior
  tests/activity_standalone_test.go
Due: none

add chasm transaction policy and use it in close transaction handle vts
  chasm/chasmtest/test_engine.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_record_completed_action_test.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/skip_persistence_test.go
  chasm/transaction_policy.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/noop_chasm_tree.go
  service/history/workflow/util.go
  service/history/workflow/util_test.go
Due: .azure-pipelines/server-cicd.yaml

add chasm transaction policy and use it in close transaction
  chasm/chasmtest/test_engine.go
  chasm/field_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_record_completed_action_test.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/skip_persistence_test.go
  chasm/transaction_policy.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/noop_chasm_tree.go
  service/history/workflow/util.go
  service/history/workflow/util_test.go
Due: .azure-pipelines/server-cicd.yaml

Preserve NextRetryDelay across unrelated activity option updates (#10920)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  tests/activity_standalone_test.go
Due: none

Validate merged SAA retry policy updates
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  common/activityoptions/merge.go
  common/activityoptions/merge_test.go
  common/util/proto.go
  common/util/proto_test.go
  service/history/api/updateactivityoptions/api.go
  service/history/api/updateactivityoptions/api_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add subtreeIsDirty check
  chasm/tree.go
Due: none

Expand fauxsdk to be more useful
  tests/nexusworkercallbacks/caller/nexus.go
  tests/nexusworkercallbacks/fauxsdk/register_handler.go
  tests/nexusworkercallbacks/fauxsdk/sano_callsite.go
  tests/nexusworkercallbacks/nexusworkercallbacks_test.go
Due: none

add vts regen tasks for chasm
  chasm/tree.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/server-cicd.yaml

address pr comments
  common/util/proto.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Refactor onebox
  tests/testcore/clients.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/tls_test.go
Due: none

add refinement to not regenerate new tasks
  chasm/tree.go
Due: none

add ut
  chasm/tree.go
  chasm/tree_test.go
Due: none

Refactor onebox (#10984)
  tests/testcore/clients.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/tls_test.go
Due: none

Validate merged SAA retry policy updates (#10921)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  common/activityoptions/merge.go
  common/activityoptions/merge_test.go
  common/util/proto.go
  common/util/proto_test.go
  service/history/api/updateactivityoptions/api.go
  service/history/api/updateactivityoptions/api_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: log cluster-pool config and per-cluster creation counts
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
Due: none

Fix SAA reset attempt dispatch time reporting
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  tests/activity_standalone_test.go
Due: none

add partition_scale_target metric in same place as other gauges, not involved in shadow mode
  common/metrics/metric_defs.go
  service/matching/scale_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test partition_scale_target gauge is emitted on scale decisions
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
