Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

fix
  .github/workflows/run-tests.yml
Due: none

Record the cause when pausing a stream.
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_flow_controller.go
  service/history/replication/stream_receiver_flow_controller_mock.go
  service/history/replication/stream_receiver_flow_controller_test.go
  service/history/replication/stream_receiver_test.go
Due: .azure-pipelines/server-cicd.yaml

forgotten commits
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

address comment
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/server-cicd.yaml

Remove "recent failures" from slack report (#9274)
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Change duplicate task error type to already exists
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/consts/const.go
Due: .azure-pipelines/server-cicd.yaml

Remove branch clean up logic on state based replication (#9270)
  common/metrics/metric_defs.go
  service/history/ndc/workflow_state_replicator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove client cache in RPCFactory
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

first stab at this
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/interfaces/workflow_task_info.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enforce single partition for worker control queues
  common/nexus/constants.go
  service/matching/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Look up worker control queue name from worker registry
  common/testing/testvars/test_vars.go
  service/history/transfer_queue_active_task_executor.go
  tests/cancel_running_activities_using_nexus_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

handle duplicate error in verify child
  service/history/api/verifychildworkflowcompletionrecorded/api.go
Due: .azure-pipelines/server-cicd.yaml

Address comments
  chasm/engine.go
  service/history/chasm_engine.go
Due: .azure-pipelines/server-cicd.yaml

Move sharding salt to file
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
  cmd/tools/optimize-test-sharding/main.go
  tests/testcore/shard_salt.txt
  tests/testcore/test_env.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Move sharding salt to file (#9265)
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
  cmd/tools/optimize-test-sharding/main.go
  tests/testcore/shard_salt.txt
  tests/testcore/test_env.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add validation improvements. Code cleanup.
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/validator.go
  tests/standalone_activity_test.go
Due: none

Simplify workerPollerTracker with util functions and UUID key
  common/util/util.go
  common/util/util_test.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Record the cause when pausing a stream. (#9273)
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_flow_controller.go
  service/history/replication/stream_receiver_flow_controller_mock.go
  service/history/replication/stream_receiver_flow_controller_test.go
  service/history/replication/stream_receiver_test.go
Due: .azure-pipelines/server-cicd.yaml

Add a fallback behaviour if the matching RPC: CheckTaskQueueVersionMembership does not exist in matching (#9262)
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix lint
  service/matching/configs/quotas.go
Due: .azure-pipelines/server-cicd.yaml

Adding query parser to allow better searching for archived records
  Makefile
  common/archiver/azure_store/connector/client.go
  common/archiver/azure_store/connector/client_mock.go
  common/archiver/azure_store/connector/client_test.go
  common/archiver/azure_store/history_archiver.go
  common/archiver/azure_store/query_parser.go
  common/archiver/azure_store/query_parser_mock.go
  common/archiver/azure_store/query_parser_test.go
  common/archiver/azure_store/util.go
  common/archiver/azure_store/visibility_archiver.go
  common/archiver/azure_store/visibility_archiver_test.go
  service/frontend/namespace_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify code
  service/frontend/workflow_handler.go
  tests/task_queue_test.go
Due: .azure-pipelines/server-cicd.yaml

Replace sleep with Eventually loop for deterministic poll cancellation test
  tests/task_queue_test.go
Due: none

add the cache
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Unlock early in CancelAll; remove incorrect proto comment
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Use wg.Go() and range syntax; rename namespaceId to namespaceID
  service/frontend/workflow_handler.go
  tests/task_queue_test.go
Due: .azure-pipelines/server-cicd.yaml

Regen proto
  api/matchingservice/v1/request_response.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky TestWorkflowRetry (#9104)
  tests/versioning_3_test.go
Due: none

refactorings
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

History: Expose and call SetContextMetadata in readonly operations
  common/contextutil/metadata.go
  common/contextutil/metadata_test.go
  service/history/api/queryworkflow/api.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

bump API to v1.62.1
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Eager poller history cleanup on worker shutdown
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/matching_engine.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/poller_history.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_interface.go
  service/matching/task_queue_partition_manager_mock.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add functional test
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

cleanup
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Nexus ScheduleCommand in CHASM
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add additional start activity execution req validations.
  chasm/lib/activity/frontend.go
  tests/standalone_activity_test.go
Due: none
