Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Revert "Skip persistence component registration option (#9961)"
  chasm/skip_persistence_test.go
  chasm/test_component_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

use dynamic rate limiter for batch worker RPS (#10533) (#10535)
  service/worker/batcher/activities.go
  service/worker/batcher/activities_namespace_test.go
  service/worker/batcher/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Skip entire mutable state transaction if chasm transaction was skipped
  service/history/interfaces/mutable_state.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix CountWorkers: remove deprecated gate, dedup predicate, improve tests
  service/frontend/workflow_handler.go
  service/matching/workers/registry_impl.go
  tests/worker_registry_test.go
Due: .azure-pipelines/server-cicd.yaml

Add comment clarifying CountWorkers reuse of filterWorkers
  service/matching/workers/registry_impl.go
Due: .azure-pipelines/server-cicd.yaml

Combine PostgreSQL Visibility schema upgrades from v1.10 through v1.13 (#10371)
  common/persistence/query_util.go
  common/persistence/query_util_test.go
  schema/postgresql/v12/visibility/versioned/v1.10/manifest.json
  schema/postgresql/v12/visibility/versioned/v1.11/manifest.json
  schema/postgresql/v12/visibility/versioned/v1.12/manifest.json
  schema/postgresql/v12/visibility/versioned/v1.13/combined_v1.10_v1.13.sql
  schema/postgresql/v12/visibility/versioned/v1.13/manifest.json
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Always accumulate batch size
  service/history/historybuilder/event_store.go
  service/history/historybuilder/history_builder_test.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Add comment to internal CountWorkersResponse.count field
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Widen retry budget for namespace replication tasks
  service/worker/replicator/replication_message_processor.go
Due: .azure-pipelines/server-cicd.yaml

Fix proto indentation to 2-space convention
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
Due: none

Revert "Skip persistence component registration option (#9961)" (#10536)
  chasm/skip_persistence_test.go
  chasm/test_component_test.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/chasm_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Encode duration as bigint for pgx simple protocol (#10529)
  common/persistence/persistence-tests/setup.go
  common/persistence/sql/sqlplugin/postgresql/driver/pgx.go
  common/persistence/sql/sqlplugin/tests/visibility.go
  common/persistence/tests/postgresql_test.go
  common/persistence/tests/visibility_persistence_suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace AddTasks Fx wrapper with history task hook (#10411)
  common/testing/testhooks/hooks.go
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
  tests/add_tasks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor implementation
  service/matching/handler.go
  service/matching/hooks/task_lifecycle_hooks.go
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Dynamic partitioning: scale manager (#10365)
  api/adminservice/v1/request_response.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/persistence/v1/queues.go-helpers.pb.go
  api/persistence/v1/queues.pb.go
  api/persistence/v1/tasks.go-helpers.pb.go
  api/persistence/v1/tasks.pb.go
  client/matching/partition_counts.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  common/log/tag/values.go
  common/metrics/metric_defs.go
  common/util.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/queues.proto
  proto/internal/temporal/server/api/persistence/v1/tasks.proto
  service/frontend/admin_handler.go
  service/matching/backlog_manager_test.go
  service/matching/bits.go
  service/matching/bits_test.go
  service/matching/config.go
  service/matching/db.go
  service/matching/fair_backlog_manager.go
  service/matching/fx.go
  service/matching/handler.go
  service/matching/matching_engine.go
  service/matching/partition_scaler_interface.go
  service/matching/partition_scaler_mock.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/pri_backlog_manager.go
  service/matching/scale_manager.go
  service/matching/scale_manager_mock.go
  service/matching/scale_manager_test.go
  service/matching/task_queue_partition_manager.go
  service/matching/user_data_manager.go
  service/matching/user_data_manager_mock.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Feedback
  service/worker/scanner/scheduleinvariants/scavenger.go
Due: .azure-pipelines/server-cicd.yaml

docs: fix the WorkflowTaskCompleted call-site link too
  docs/architecture/history-service.md
Due: none

docs: fix dead links to refactored WorkflowTaskCompleted handler
  docs/architecture/history-service.md
Due: none

Scope DLQ worker service setup
  tests/dlq_test.go
Due: none

Migrate dlq_test.go
  tests/dlq_test.go
Due: none

await
  tests/pause_workflow_execution_test.go
Due: none

Inline pause workflow test contexts
  tests/pause_workflow_execution_test.go
Due: none

Migrate pause_workflow_execution_test.go
  tests/pause_workflow_execution_test.go
Due: none

Add CountWorkers tests for IncludeSystemWorkers
  service/matching/workers/registry_test.go
  tests/worker_registry_test.go
Due: .azure-pipelines/server-cicd.yaml

Sort ListWorkers by (TaskQueue, StartTime, WorkerInstanceKey)
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix import ordering and struct alignment
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_test.go
Due: .azure-pipelines/server-cicd.yaml

Fixed reading of Nexus namespace ID
  common/nexus/callback_token.go
  components/callbacks/request.go
  service/frontend/nexus_completion_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Simplify page token: remove versioning, accept graceful degradation
  service/matching/workers/registry_impl.go
Due: .azure-pipelines/server-cicd.yaml

add simple scaler
  api/persistence/v1/tasks.go-helpers.pb.go
  api/persistence/v1/tasks.pb.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  proto/internal/temporal/server/api/persistence/v1/tasks.proto
  service/matching/fx.go
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix third condition
  service/worker/scanner/scheduleinvariants/scavenger.go
Due: .azure-pipelines/server-cicd.yaml

docs: fix dead links to refactored WorkflowTaskCompleted handler (#10542)
  docs/architecture/history-service.md
Due: none

lint
  tools/tdbg/commands.go
  tools/tdbg/schedule_migrate_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

add a list guard for drop case
  service/frontend/workflow_handler.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

Suppress duplicate-registration panic on default worker
  service/worker/migration/fx.go
Due: .azure-pipelines/server-cicd.yaml

Global RPS Control for Admin Batch Operation
  common/dynamicconfig/constants.go
  common/log/tag/values.go
  service/worker/batcher/activities.go
  service/worker/batcher/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

lint
  tools/tdbg/schedule_migrate_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Lint.
  service/worker/migration/sharded_activity.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_workflow.go
  service/worker/migration/sharded_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

use RequestRateLimiter, allow fx injection
  service/worker/batcher/activities.go
  service/worker/batcher/activities_namespace_test.go
  service/worker/batcher/activities_test.go
  service/worker/batcher/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add some missing features from the current force replication system.
  service/worker/migration/fx.go
  service/worker/migration/sharded_activity.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_workflow.go
  service/worker/migration/sharded_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Improve test coverage.
  service/worker/migration/activities_test.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/sharded_activity_test.go
  service/worker/migration/sharded_workflow_test.go
  tests/xdc/failover_test.go
  tests/xdc/user_data_replication_test.go
Due: .azure-pipelines/server-cicd.yaml
