Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Remove concurrency limit labels from service metrics
  common/metrics/tags.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/concurrent_request_limit_test.go
  common/rpc/interceptor/request_error_handler.go
  common/rpc/interceptor/request_error_handler_test.go
  service/history/replication/task_processor.go
  service/history/replication/task_processor_metrics_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump ServerVersion to 1.31.4 (#12458)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump ServerVersion to 1.30.8 (#12459)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve resource-exhausted metric labels
  common/metrics/tags.go
  common/rpc/interceptor/concurrent_request_limit.go
  common/rpc/interceptor/request_error_handler.go
  common/rpc/interceptor/request_error_handler_test.go
  service/history/replication/task_processor.go
  service/history/replication/task_processor_metrics_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add a lower host level buffer limit for new paginations so in-flight paginations can complete
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/configs/config.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Config-based fault injection for gRPC and HTTP
  chasm/lib/callback/fx.go
  chasm/lib/callback/request_test.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  common/cluster/frontend_http_client.go
  common/config/config.go
  common/config/persistence.go
  common/config/persistence_fault_validation.go
  common/config/persistence_fault_validation_test.go
  common/config/transport_faults.go
  common/config/transport_faults_test.go
  common/persistence/client/fx.go
  common/persistence/faultinjection/data_store_factory.go
  common/persistence/faultinjection/fault.go
  common/persistence/faultinjection/method_fault_generator.go
  common/persistence/faultinjection/method_fault_generator_test.go
  common/persistence/faultinjection/store_fault_generator.go
  common/persistence/faultinjection/store_fault_generator_test.go
  common/probability/sampler.go
  common/probability/sampler_test.go
  common/resource/fx.go
  common/rpc/faults/configured.go
  common/rpc/faults/configured_test.go
  common/rpc/faults/generator.go
  common/rpc/faults/generator_test.go
  common/rpc/grpcfaults/generator.go
  common/rpc/grpcfaults/interceptor.go
  common/rpc/grpcfaults/interceptor_test.go
  common/rpc/httpfaults/httpfaults.go
  common/rpc/httpfaults/httpfaults_test.go
  common/rpc/rpc.go
  common/sdk/factory.go
  common/testing/faultinjectiontest/hooks_testdep.go
  docs/development/testing.md
  service/frontend/fx.go
  service/frontend/http_api_server.go
  service/fx.go
  service/history/hsm/callbacks/fx.go
  service/history/hsm/callbacks/request_test.go
  tests/worker_commands_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove temporary API dependency scaffolding
  Makefile
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/main_test.go
  go.mod
  go.sum
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Emit worker_config event on first worker heartbeat
  common/wideevents/worker_events.go
  go.mod
  go.sum
  service/matching/fx.go
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_impl_test.go
  service/matching/workers/worker_metrics_emitter.go
  service/matching/workers/worker_metrics_emitter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Stop exempting BUFFER_* schedules from overdue next-action-time scan (#12272)
  service/worker/scanner/scheduleinvariants/invariants.go
  service/worker/scanner/scheduleinvariants/invariants_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove loop through missed components
  chasm/registrable_task_test.go
  chasm/registry.go
Due: none

Introduce WorkflowRunAlreadyExistsError
  common/persistence/cassandra/errors.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/data_interfaces.go
  common/persistence/error_type.go
  common/persistence/execution_manager.go
  common/persistence/persistence_interface.go
  common/persistence/persistence_metric_clients.go
  common/persistence/sql/common.go
  common/persistence/sql/execution.go
  common/persistence/sql/execution_util.go
  common/persistence/tests/execution_mutable_state.go
  service/history/api/startworkflow/api.go
  service/history/history_engine2_test.go
  service/history/shard/context_impl.go
  service/history/workflow/transaction_impl.go
  service/history/workflow/transaction_test.go
  tests/eager_workflow_start_test.go
  tests/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fixes
  common/dynamicconfig/constants.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/persistence_interface.go
  service/history/api/startworkflow/api.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

lint
  common/persistence/cassandra/errors.go
  common/persistence/tests/execution_mutable_state.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename to CheckRunAlreadyExists and add store capability
  common/dynamicconfig/constants.go
  common/persistence/cassandra/execution_store.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/data_interfaces.go
  common/persistence/data_interfaces_mock.go
  common/persistence/execution_manager.go
  common/persistence/mock/store_mock.go
  common/persistence/persistence_interface.go
  common/persistence/persistence_metric_clients.go
  common/persistence/persistence_rate_limited_clients.go
  common/persistence/persistence_retryable_clients.go
  common/persistence/sql/execution.go
  common/persistence/tests/execution_mutable_state.go
  service/history/api/startworkflow/api.go
  service/history/history_engine2_test.go
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/context.go
  service/history/workflow/transaction.go
  service/history/workflow/transaction_impl.go
  service/history/workflow/transaction_mock.go
  service/history/workflow/transaction_test.go
  tests/testcore/history_task_recorder.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

execution_mutable_state tests
  common/persistence/tests/execution_mutable_state.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cross Run RequestID dedup
  common/dynamicconfig/constants.go
  common/persistence/cassandra/errors.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/data_interfaces.go
  common/persistence/execution_manager.go
  common/persistence/persistence_interface.go
  common/persistence/sql/execution_util.go
  common/persistence/tests/execution_mutable_state.go
  service/history/api/multioperation/api.go
  service/history/api/startworkflow/api.go
  service/history/api/startworkflow/api_test.go
  service/history/configs/config.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/context.go
  service/history/workflow/transaction.go
  service/history/workflow/transaction_impl.go
  service/history/workflow/transaction_mock.go
  service/history/workflow/transaction_test.go
  tests/update_workflow_test.go
  tests/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove checking len(Operations). Instead rely on history.enableCHASMSkipPersistence
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

[Visibility] Refactor factory function params into structs
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/factory.go
  common/persistence/visibility/visibility_manager_test.go
  service/frontend/fx.go
  service/history/fx.go
  service/matching/fx.go
  service/worker/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Log and persist shutdown version recommendations
  service/frontend/version_checker.go
  service/frontend/version_checker_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix panic on unknown enum values and add tests
  service/matching/workers/worker_metrics_emitter.go
  service/matching/workers/worker_metrics_emitter_test.go
Due: .azure-pipelines/server-cicd.yaml

fix(matching): isolate validator cache entries and refund tokens
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
  tests/task_queue_validator_test.go
Due: .azure-pipelines/server-cicd.yaml

Address Nexus backend metric review feedback
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/metrics.go
  chasm/lib/nexusoperation/metrics_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  common/metrics/metric_defs.go
  service/history/hsm/nexusoperations/completion_test.go
  service/history/hsm/nexusoperations/config.go
  service/history/hsm/nexusoperations/metrics_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add optional Nexus operation backend metric tag
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/metrics.go
  chasm/lib/nexusoperation/metrics_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/hsm/nexusoperations/completion_test.go
  service/history/hsm/nexusoperations/config.go
  service/history/hsm/nexusoperations/metrics.go
  service/history/hsm/nexusoperations/metrics_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump go.temporal.io/sdk for API compatibility
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extend shutdown version check budget to 5s
  service/frontend/version_checker.go
  service/frontend/version_checker_test.go
Due: .azure-pipelines/server-cicd.yaml

Add optional Nexus operation backend metric tag (#12434)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/metrics.go
  chasm/lib/nexusoperation/metrics_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/hsm/nexusoperations/completion_test.go
  service/history/hsm/nexusoperations/config.go
  service/history/hsm/nexusoperations/metrics.go
  service/history/hsm/nexusoperations/metrics_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

closeTransaction takes context. Don't write the started_by_principal for subcomponents
  api/persistence/v1/chasm.pb.go
  chasm/chasmtest/test_engine.go
  chasm/chasmtest/test_engine_test.go
  chasm/field.go
  chasm/field_internal.go
  chasm/field_test.go
  chasm/lib/activity/describe_component_test.go
  chasm/lib/all/all_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_record_completed_action_test.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/skip_persistence_test.go
  chasm/tree.go
  chasm/tree_test.go
  proto/internal/temporal/server/api/persistence/v1/chasm.proto
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add dynamic config to guard worker_config event emission
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/fx.go
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use consistent nil check pattern for dynamic config flag
  service/matching/workers/registry_impl.go
  service/matching/workers/registry_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Conditionally do the len(Operation) check when ChasmSkipPersistenceEnabled is false
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

[Visibility] Refactor factory function params into structs (#12296)
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/factory.go
  common/persistence/visibility/visibility_manager_test.go
  service/frontend/fx.go
  service/history/fx.go
  service/matching/fx.go
  service/worker/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address review feedback: emit outside lock, preserve all runtimes
  common/wideevents/worker_events.go
  service/matching/workers/registry_impl.go
  service/matching/workers/worker_metrics_emitter.go
  service/matching/workers/worker_metrics_emitter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add comments explaining newHeartbeats semantics
  service/matching/workers/registry_impl.go
Due: .azure-pipelines/server-cicd.yaml

Update registry accounting before emitting events
  service/matching/workers/registry_impl.go
Due: .azure-pipelines/server-cicd.yaml

Emit worker_metrics event on every heartbeat
  common/wideevents/worker_events.go
  service/matching/workers/registry_impl.go
  service/matching/workers/worker_metrics_emitter.go
  service/matching/workers/worker_metrics_emitter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump go-openapi/swag to v0.27.1 for CVE-2026-93450 (#12305)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

replication: add regression test for progress cache Get/Update race.
  service/history/replication/progress_cache_test.go
Due: .azure-pipelines/server-cicd.yaml

replication: copy-on-write progress cache updates.
  service/history/replication/progress_cache.go
Due: .azure-pipelines/server-cicd.yaml
