Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Fix import ordering (gci)
  common/workercommands/dispatch_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix lint: use await.RequireTrue instead of require.Eventually
  tests/activity_standalone_test.go
Due: none

Replace payload.Encode with sadefs.MustEncodeValue (#10432)
  chasm/lib/nexusoperation/validator_test.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  common/persistence/visibility/store/elasticsearch/visibility_store_write_test.go
  common/searchattribute/search_attirbute.go
  service/frontend/admin_handler.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/archival/archiver_test.go
  service/history/history_engine2_test.go
  service/history/history_engine3_eventsv2_test.go
  service/history/history_engine_test.go
  service/history/visibility_queue_task_executor.go
  service/worker/common/chasm_util_test.go
  service/worker/deletenamespace/deleteexecutions/workflow_test.go
  service/worker/workerdeployment/util.go
  tests/activity_standalone_test.go
  tests/advanced_visibility_test.go
  tests/child_workflow_test.go
  tests/continue_as_new_test.go
  tests/cron_test.go
  tests/nexus_standalone_test.go
  tests/nil_search_attribute_test.go
  tests/workflow_alias_search_attribute_test.go
  tests/workflow_test.go
  tests/xdc/visibility_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Migrate activity_test.go (#10652)
  tests/activity_test.go
Due: none

Migrate tls_test.go (#10562)
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
  tests/tls_test.go
Due: none

CHASM Visibility support for Text type search attribute
  chasm/search_attribute.go
  chasm/search_attribute_test.go
  chasm/visibility.go
  chasm/visibility_value.go
  chasm/visibility_value_test.go
Due: none

Fix import ordering in dispatch_test.go (gci)
  common/workercommands/dispatch_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Functional regression test for schedules whose actions timeout/fail in a chain of retries
  tests/schedule_test.go
Due: none

Revert " Add tasks_dropped observability metric to the matching service (#10468)"
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/backlog_manager_test.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/metrics_util.go
  service/matching/metrics_util_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
  service/matching/pri_task_reader.go
  service/matching/task_reader.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

proposal for how to implement VersioningOverride with RemoveAfterNextTaskCompletion
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Move StartedClock assignment into AddActivityTaskStartedEvent
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/respondactivitytaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_restart_activity_test.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix alignment in AddActivityTaskStartedEvent interface
  service/history/interfaces/mutable_state.go
Due: .azure-pipelines/server-cicd.yaml

[Scheduler] Functional regression test for schedules whose actions timeout/fail in a chain of retries (#10666)
  tests/schedule_test.go
Due: none

fix xdc tests
  tests/xdc/stream_based_replication_test.go
Due: none

Revert "Add tasks_dropped observability metric to the matching service (#10468)" (#10667)
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/backlog_manager_test.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/metrics_util.go
  service/matching/metrics_util_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
  service/matching/pri_task_reader.go
  service/matching/task_reader.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM Visibility support for Text type search attribute (#10347)
  chasm/search_attribute.go
  chasm/search_attribute_test.go
  chasm/visibility.go
  chasm/visibility_value.go
  chasm/visibility_value_test.go
Due: none

Add CHASM Visibility component to CHASM Workflow
  chasm/lib/workflow/library.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/search_attribute.go
  chasm/tree.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

fix time skipping bugs in updateWfOptions
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Add scheduler regression tests and V1 retention plumbing
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  common/dynamicconfig/constants.go
  service/worker/scheduler/fx.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enabled ActivityEagerExecution By Default (#10651)
  common/dynamicconfig/constants.go
  tests/versioning_test.go
  tests/xdc/stream_based_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

TS: delete validate time skipping config in history service (#10653)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix TaskAddHook version value
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix activity retry expiration time not recalculated on workflow reset
  service/history/ndc/workflow_resetter.go
Due: .azure-pipelines/server-cicd.yaml

Bump RecordWorkerHeartbeat rate limit priority from P4 to P1
  service/frontend/configs/quotas.go
Due: .azure-pipelines/server-cicd.yaml

skip replication updates for deleted-workflow orphan runs
  service/history/ndc/transaction_manager_existing_workflow.go
  service/history/ndc/transaction_manager_existing_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove redundant comment in eager activity test
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Refactor scheduler workflow dependency threading into schedulerDeps
  service/worker/scheduler/fx.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Reduce some duplication.
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_types_test.go
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Claim shards in spawnBatch.
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Remove redundant err check.
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Helpers for type conversion.
  service/worker/migration/sharded_activities.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_types_test.go
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Simplify.
  service/worker/migration/sharded_activities.go
Due: .azure-pipelines/server-cicd.yaml

Lint.
  service/worker/migration/sharded_types_test.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260612122951
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove validate pure task method
  chasm/node_pure_task_mock.go
  chasm/tree.go
  chasm/tree_test.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/server-cicd.yaml

chore: move no-poller window to dynamic config
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Parallelize versioning3 suite
  tests/versioning_3_test.go
Due: none

Use suite context in task queue stats tests
  tests/task_queue_stats_test.go
Due: none
