Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Dedupe the gRPC status unwrap behind common.GetRPCStatus
  chasm/lib/callback/invocable_internal.go
  common/nexus/failure.go
  common/util.go
  service/history/hsm/callbacks/chasm_invocation.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add missing import
  common/callbacks/validator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dedupe the gRPC status unwrap behind common.GetRPCStatus (#11893)
  chasm/lib/callback/invocable_internal.go
  common/nexus/failure.go
  common/util.go
  service/history/hsm/callbacks/chasm_invocation.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Guard that ValidatorConfig.Validate checks every field (#11898)
  common/callbacks/validator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve the original workflow start time on RebuildMutableState (#11668)
  api/persistence/v1/executions.pb.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/ndc/conflict_resolver.go
  service/history/ndc/state_rebuilder.go
  service/history/ndc/state_rebuilder_mock.go
  service/history/workflow_rebuilder.go
  service/history/workflow_rebuilder_test.go
  tests/admin_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address pr comments
  chasm/lib/activity/tasks.go
Due: none

Ensure last alertable error cause is initialized
  service/history/queues/executable.go
  service/history/queues/executable_test.go
Due: .azure-pipelines/server-cicd.yaml

Pin thrift dependency to 0.24
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: [Scheduler] accept deferred migration signals
  service/worker/scheduler/workflow.go
Due: .azure-pipelines/server-cicd.yaml

test: [Scheduler] cover current versions in replay
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/testdata/replay_version_override_v14.json.gz
Due: .azure-pipelines/server-cicd.yaml

feat: [Scheduler] add worker.schedulerV1VersionOverride (#11856)
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/fx.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/testdata/replay_version_override_v14.json.gz
  service/worker/scheduler/version_ceiling_test.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extend Copilot code review guidelines
  .github/copilot-instructions.md
Due: none

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Move cmp.Or guidance to Go conventions
  .github/copilot-instructions.md
Due: none

Shorten cmp.Or guidance
  .github/copilot-instructions.md
Due: none

Refine Copilot guideline wording
  .github/copilot-instructions.md
Due: none

Fix matching dropped metric test race (#11849)
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Make attempt_stage tags constants
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/queues/executable.go
  service/history/queues/executable_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fixes to Visibility SQL query converter (#11801)
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/query/converter.go
  common/persistence/visibility/store/sql/query_converter.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add behavioral test coverage for simplePartitionScaler
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

re-order onTasksLoop parameters
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

fill slowly instead of in one burst so that TestSimplePartitionScalerScalesDown is more interesting and accurate
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

call OnTasks in a loop in simple partition scale manager tests
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

use timeOffsetIntoCurrentBucket to clarify rateAndFull() method
  service/matching/task_tracker.go
Due: .azure-pipelines/server-cicd.yaml

assert NoChange and NewTarget values are expected, but not PrivateState or non-public fields
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

expand TestSimplePartitionScalerHysteresisDeadband and remove todo
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

Add various multi-window test scenarios, to see what happens when windows disagree
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

remove primedScaler from tests, and explicitly communicate the effect of bucket offset on computed rate via tests
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

do TestSimplePartitionScalerScalesUp for example without any helper functions
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

stash
  service/matching/matching_engine.go
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_tracker_test.go
Due: .azure-pipelines/server-cicd.yaml

Pare down partition scaler tests
  service/matching/matching_engine.go
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_tracker.go
  service/matching/task_tracker_test.go
Due: .azure-pipelines/server-cicd.yaml

Address Copilot guideline review feedback
  .github/copilot-instructions.md
Due: none

Test disabling partition scaler
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Test disabling above static partition count
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Extend Copilot code review guidelines (#11904)
  .github/copilot-instructions.md
Due: none

Prevent Terminating an already Canceled SANO (#11897)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_test.go
  tests/nexus_standalone_test.go
Due: none

Test scaler state across manager restart
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Create reusable test.NewNamespace function
  common/namespace/namespace_test.go
  common/testing/namespace.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
