Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Update testing.md
  docs/development/testing.md
Due: none

Programmable grpc fault injection
  common/rpc/faultinjection/grpc.go
  common/rpc/faultinjection/grpc_test.go
  common/testing/testhooks/hooks.go
  docs/development/testing.md
  service/frontend/fx.go
  service/fx.go
  tests/testcore/fault_injection.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Omit grpc fault interceptor from production chains
  common/rpc/faultinjection/interceptor_noop.go
  service/frontend/fx.go
  service/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Always install grpc fault interceptor
  common/rpc/faultinjection/interceptor_noop.go
  service/frontend/fx.go
  service/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Clarify RPC fault namespace matching
  tests/testcore/fault_injection.go
  tests/testcore/test_env.go
Due: none

Enforce namespace scoping for RPC faults
  tests/testcore/fault_injection.go
  tests/testcore/fault_injection_test.go
Due: none

Update fault_injection.go
  tests/testcore/fault_injection.go
Due: none

replication: emit source_task_id and source_cluster on passive-side lifecycle events
  common/wideevents/context.go
  common/wideevents/replication_events.go
  common/wideevents/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/replication_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

system-nexus: flag Nexus payloads that embed nested Payload/Payloads (#10948)
  chasm/lib/tests/nexus_service.go
  common/nexus/constants.go
  service/history/handler.go
  service/history/handler_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Release the gRPC connections and SDK clients the factories own
  common/resource/fx.go
  common/rpc/rpc.go
  common/sdk/factory.go
  go.mod
  go.sum
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extract shared JUnit XML handling
  tools/common/junit/junit.go
  tools/common/junit/junit_test.go
  tools/flakereport/parallel.go
  tools/flakereport/parser.go
  tools/optimize-test-sharding/main.go
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Apply suggestion from @github-actions[bot]
  tools/testrunner/junit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Apply suggestion from @github-actions[bot]
  tools/common/junit/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add slack data race notification
  .github/workflows/run-tests.yml
  tools/ci-notify/app.go
  tools/ci-notify/artifacts.go
  tools/ci-notify/datarace.go
  tools/ci-notify/datarace_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Record what a replication task carried on the sent lifecycle event
  common/wideevents/replication_events.go
  common/wideevents/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/replication/executable_delete_execution_task.go
  service/history/replication/replication_events.go
  service/history/replication/replication_events_test.go
  service/history/replication/sync_state_retriever_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

split job ns from data ns and tq
  api/adminservice/v1/request_response.pb.go
  cmd/tools/getproto/files.go
  cmd/tools/getproto/main.go
  common/authorization/default_authorizer_test.go
  common/primitives/task_queues.go
  go.mod
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  service/frontend/admin_handler.go
  service/worker/adminbatcher/activities.go
  service/worker/adminbatcher/activities_test.go
  service/worker/adminbatcher/fx.go
  service/worker/adminbatcher/workflow.go
  service/worker/adminbatcher/workflow_test.go
  service/worker/batcher/activities.go
  service/worker/batcher/activities_namespace_test.go
  service/worker/batcher/activities_test.go
  service/worker/batcher/fx.go
  service/worker/batcher/workflow.go
  service/worker/batcher/workflow_test.go
  service/worker/fx.go
  tests/admin_batch_refresh_workflow_tasks_test.go
  tests/admin_batch_system_namespace_test.go
  tests/xdc/admin_batch_refresh_tasks_test.go
  tools/tdbg/commands.go
  tools/tdbg/flags.go
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Expose shared JUnit document types
  tools/common/junit/junit.go
  tools/common/junit/junit_test.go
  tools/flakereport/parser.go
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Centralize test runner report writes
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Cleanup/consolidate completionHandler test infra
  tests/activity_standalone_test.go
  tests/callbacks_migration_test.go
  tests/callbacks_test.go
  tests/schedule_test.go
Due: none

Drop redundant JUnit import aliases
  tools/flakereport/parallel.go
  tools/optimize-test-sharding/main.go
  tools/testrunner/junit_test.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Remove Fx lifecycle debug logs (#11467)
  temporal/fx.go
Due: none

Make JUnit read expectations explicit
  tools/common/junit/junit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update tools/common/junit/junit.go
  tools/common/junit/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update tools/testrunner/testrunner.go
  tools/testrunner/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Test skipped JUnit suite normalization
  tools/common/junit/junit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Harden shared JUnit report parsing
  tools/common/junit/junit.go
  tools/common/junit/junit_test.go
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Stop the SDK workers and clients the worker service starts (#11436)
  service/worker/batcher/activities.go
  service/worker/parentclosepolicy/processor.go
  service/worker/scanner/scanner.go
  service/worker/scanner/scanner_test.go
  service/worker/service.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/server-cicd.yaml

lower mem use
  .github/workflows/run-tests.yml
  develop/github/docker-compose.yml
Due: none

Downscale test runner size, increase shards
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
Due: none

try 5 shards
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
Due: none

revert cass
  develop/github/docker-compose.yml
Due: none

5s debug
  develop/github/memory_monitor.sh
Due: none

try single schema
  .github/workflows/run-tests.yml
  Makefile
  common/persistence/cassandra/test.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/sql/test_sql_persistence.go
  tests/testcore/dynamic_config_overrides.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Release the gRPC connections and SDK clients the factories own (#11438)
  common/resource/fx.go
  common/rpc/rpc.go
  common/sdk/factory.go
  go.mod
  go.sum
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Skip internal system task queues in missing TQ check
  common/primitives/task_queues.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

First pass gradual connect changes
  api/persistence/v1/namespaces.pb.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/namespace/mutate.go
  common/namespace/namespace.go
  proto/internal/temporal/server/api/persistence/v1/namespaces.proto
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/history/configs/config.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/executable_task_tool_box.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bug fixes, XDC test, review changes
  common/namespace/nsreplication/replication_admitter_test.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  service/history/replication/executable_activity_state_task.go
  service/history/replication/executable_backfill_history_events_task.go
  service/history/replication/executable_history_task.go
  service/history/replication/executable_sync_hsm_task.go
  service/history/replication/executable_sync_versioned_transition_task.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_workflow_state_task.go
  service/history/replication/fx.go
  service/worker/fx.go
  tests/xdc/gradual_connect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
