Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add local JWT development server with key generation scripts (#9647)
  Makefile
  config/development-jwt.yaml
  config/jwt/README.md
  config/jwt/generate-token.sh
  config/jwt/setup-keys.sh
Due: none

serialization changes + debug testing
  chasm/lib/workflow/nexus_service.go
  chasm/lib/workflow/validator.go
  chasm/nexus_operation_processor.go
  service/history/api/signalwithstartworkflow/signal_with_start_workflow.go
  tests/signal_with_start_from_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

go mod tidy
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validate worker-commands partitions must have nexus task type
  common/tqid/task_queue_id.go
  common/tqid/task_queue_id_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus CHASM async completion
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/chasm.pb.go
  chasm/lib/callback/request.go
  chasm/lib/callback/request_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_test.go
  components/nexusoperations/frontend/fx.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/chasm.proto
  service/frontend/fx.go
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
  service/history/chasm_engine.go
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dispatch activity cancellation to worker using Nexus (#9233)
  api/persistence/v1/executions.pb.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/handler.go
  service/history/history_engine2_test.go
  service/history/nexus_dispatch_response.go
  service/history/nexus_dispatch_response_test.go
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_active_task_executor_test.go
  service/history/outbound_queue_factory.go
  service/history/outbound_queue_standby_task_executor.go
  service/history/queue_factory_base_test.go
  service/history/worker_commands_task_dispatcher.go
  service/history/worker_commands_task_dispatcher_test.go
  tests/worker_commands_task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix worker-commands metric test to use correct task queue name
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Add replay history for ResetRetentionOnUnpause; fix lint
  service/worker/scheduler/testdata/replay_1776127911.json.gz
  service/worker/scheduler/testdata/replay_with_reset_retention_on_unpause.json.gz
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Delete service/worker/scheduler/testdata/replay_1776135924.json.gz
  service/worker/scheduler/testdata/replay_1776135924.json.gz
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-155.0-rc.20260416114436
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Migrate workflow_memo_test.go to TestEnv (#9671)
  tests/workflow_memo_test.go
Due: none

Validate deferred component pointer is ancestor
  chasm/field_test.go
  chasm/test_component_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

fix formatters
  chasm/test_component_test.go
  chasm/tree.go
Due: none

Add comments
  chasm/field.go
Due: none

consolidate as failureType
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/log.go
  tools/testrunner/summary.go
  tools/testrunner/summary_test.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

rewrite sanitizeXML
  tools/testrunner/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml

group this, too
  tools/testrunner/junit.go
Due: .azure-pipelines/admin-tools-cicd.yaml

JUnit summary with failures (#9912)
  .github/actions/get-job-id/action.yml
  .github/workflows/run-tests.yml
  Makefile
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/log.go
  tools/testrunner/log_test.go
  tools/testrunner/summary.go
  tools/testrunner/summary_test.go
  tools/testrunner/testdata/junit-alert-data-race.xml
  tools/testrunner/testdata/junit-alert-panic.xml
  tools/testrunner/testdata/junit-alerts-output.xml
  tools/testrunner/testdata/junit-assertion-failure.xml
  tools/testrunner/testdata/junit-crash-output.xml
  tools/testrunner/testdata/junit-empty.xml
  tools/testrunner/testdata/junit-single-failure.xml
  tools/testrunner/testdata/junit-timeout-output.xml
  tools/testrunner/testdata/junit-unexpected-call-failure.xml
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

add functional tests for history_node cleanup (#9931)
  tests/history_node_cleanup_test.go
Due: none

Commit routing config before demoting old version in handleSetCurrent
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

sync-2026-03-27-15-44
  README.md
Due: none

sync-2026-04-16-10-51
  README.md
Due: none

add basic runtime support of time skipping
  api/persistence/v1/executions.pb.go
  common/log/tag/values.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/event_store.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/mutable_state_rebuilder.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add task generation logic for time-skipping
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_mock.go
Due: .azure-pipelines/server-cicd.yaml

add ut for ms methods for timeskipping
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

fix golangci lint
  service/history/historybuilder/history_builder.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

IsDirty tracks changes brought by time-skipping
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

add ut for timeskipping task generation
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/server-cicd.yaml

add timeskipping to executeUserTimerTimeoutTask time check
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/timer_queue_active_task_executor.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

docs: Add troubleshooting section to testing documentation
  docs/development/testing.md
Due: none

Fix signalDemoteVersion: await signal delivery via .Get()
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Updated incorrect comment
  common/archiver/gcloud/query_parser.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

passing test
  chasm/lib/workflow/nexus_service.go
Due: none

addressing second round of comments
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
  common/metrics/metric_defs.go
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add worker commands architecture doc
  docs/architecture/worker-commands.md
Due: none

Track revision in signalDemoteVersion; fix propagation wait helper
  service/worker/workerdeployment/workflow.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

Add wait before writing task batch
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/fair_task_writer.go
  service/matching/pri_task_writer.go
  service/matching/task_writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix bugs
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

fix bugs in Add and Apply WorkflowExecutionTimeSkippingTransitionedEvent
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
