Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Remove shared cluster collection test
  tests/testcore/cluster_poison_test.go
Due: none

Address review: reset progress per reader, silence declined alerts
  service/history/queues/action_reader_stuck.go
  service/history/queues/action_reader_stuck_test.go
  service/history/queues/mitigator.go
  service/history/queues/mitigator_test.go
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/range.go
  service/history/queues/range_test.go
  service/history/queues/reader.go
Due: .azure-pipelines/server-cicd.yaml

Document Umpire model boundaries
  UMPIRE_SPLIT.md
Due: none

Simplify shared cluster test removal
  tests/testcore/shared_cluster_t.go
Due: none

fix incorrect deduplication of signals in batch operations
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  tests/workflow_api_batch_signal_test.go
Due: .azure-pipelines/server-cicd.yaml

Report each stuck window once instead of silencing the alert type
  service/history/queues/action_reader_stuck.go
  service/history/queues/action_reader_stuck_test.go
  service/history/queues/mitigator.go
  service/history/queues/mitigator_test.go
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/range_test.go
Due: .azure-pipelines/server-cicd.yaml

Don't add a Suite for unit tests.
  service/history/replication/isolation_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

linter and claude code review
  service/worker/batcher/activities_test.go
  tests/workflow_api_batch_signal_test.go
Due: .azure-pipelines/server-cicd.yaml

Pin reader attribution and simplify progress bookkeeping
  service/history/queues/action_reader_stuck.go
  service/history/queues/action_reader_stuck_test.go
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/reader_test.go
Due: .azure-pipelines/server-cicd.yaml

Strengthen reader read-progress assertion
  service/history/queues/reader_test.go
Due: .azure-pipelines/server-cicd.yaml

Use the maintained slice count total and cover reader removal
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix float-compare lint: use InDelta instead of Equal
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

fix flaky tests
  tests/timeskipping_test.go
Due: none

fix(batcher): scope deterministic request IDs to the batch job ID (#11546)
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  tests/workflow_api_batch_signal_test.go
Due: .azure-pipelines/server-cicd.yaml

Add TODO
  service/history/chasm_engine.go
Due: .azure-pipelines/server-cicd.yaml

Add target-scoped Umpire verification models
  .github/CODEOWNERS
  UMPIRE.md
  UMPIRE_SPLIT.md
  cmd/umpire-genmodels/main.go
  cmd/umpire-genmodels/main_test.go
  common/testing/umpire/verify/family.go
  common/testing/umpire/verify/family_test.go
  common/testing/umpire/verify/interpreter.go
  common/testing/umpire/verify/manifest.go
  common/testing/umpire/verify/manifest_test.go
  common/testing/umpire/verify/model_test.go
  common/testing/umpire/verify/project.go
  common/testing/umpire/verify/project_test.go
  common/testing/umpire/verify/result.go
  common/testing/umpire/verify/runner/runner.go
  common/testing/umpire/verify/runner/runner_test.go
  tests/umpire2/genmodels/foundation-delivery-safety/closure.json
  tests/umpire2/genmodels/foundation-delivery-safety/ivy/Umpire.ivy
  tests/umpire2/genmodels/foundation-delivery-safety/manifest.json
  tests/umpire2/genmodels/foundation-delivery-safety/model.ir.json
  tests/umpire2/genmodels/foundation-delivery-safety/p/Umpire.p
  tests/umpire2/genmodels/foundation-delivery-safety/p/Umpire.pproj
  tests/umpire2/genmodels/foundation-delivery-safety/tla/Umpire-nightly.cfg
  tests/umpire2/genmodels/foundation-delivery-safety/tla/Umpire-smoke.cfg
  tests/umpire2/genmodels/foundation-delivery-safety/tla/Umpire.tla
  tests/umpire2/genmodels/manifest.json
  tests/umpire2/genmodels/protocol-atomic/closure.json
  tests/umpire2/genmodels/protocol-atomic/ivy/Umpire.ivy
  tests/umpire2/genmodels/protocol-atomic/manifest.json
  tests/umpire2/genmodels/protocol-atomic/model.ir.json
  tests/umpire2/genmodels/protocol-atomic/p/Umpire.p
  tests/umpire2/genmodels/protocol-atomic/p/Umpire.pproj
  tests/umpire2/genmodels/protocol-atomic/tla/Umpire-nightly.cfg
  tests/umpire2/genmodels/protocol-atomic/tla/Umpire-smoke.cfg
  tests/umpire2/genmodels/protocol-atomic/tla/Umpire.tla
  tests/umpire2/protocol/verification_delivery.go
  tests/umpire2/protocol/verification_family.go
  tests/umpire2/protocol/verification_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Limit flakereport GitHub summary
  tools/flakereport/flakereport.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Experiment: gate reader stuck attempts on work left behind
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/reader.go
  service/history/queues/reader_moretasks_experiment_test.go
Due: .azure-pipelines/server-cicd.yaml

Trim the Claude review top-level comment to a status line
  .github/copilot-instructions.md
  .github/workflows/claude-review-teams.yml
Due: none

Drop the review guideline changes
  .github/copilot-instructions.md
Due: none

Reword the fallback for findings with no line to attach to
  .github/workflows/claude-review-teams.yml
Due: none

Address review: scope the status-comment rules, pass the PR number to gh pr diff
  .github/workflows/claude-review-teams.yml
Due: none

drop
  .github/workflows/claude-review-teams.yml
Due: none

Update claude-review-teams.yml
  .github/workflows/claude-review-teams.yml
Due: none

trim
  .github/copilot-instructions.md
  .github/workflows/claude-review-teams.yml
Due: none

Frame the top-level comment as status tracking instead of overriding the defaults
  .github/workflows/claude-review-teams.yml
Due: none

Cap flakereport Markdown outputs
  tools/flakereport/flakereport.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

[DO NOT SUBMIT] Pickup feature/worker-callbacks from api-go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Ran 'make proto'
  cmd/tools/getproto/files.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Simplify flakereport limit naming and tests
  tools/flakereport/flakereport.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Pickup newer version of api, api-go packages
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cap all flakereport tables
  tools/flakereport/flakereport.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Refine flakereport table ranking
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Apply suggestion from @github-actions[bot]
  tools/flakereport/report_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Document flakereport filtering design
  docs/superpowers/specs/2026-08-13-flakereport-filtering-design.md
Due: none

Remove flakereport filtering design
  docs/superpowers/specs/2026-08-13-flakereport-filtering-design.md
Due: none

Filter false-positive flaky tests
  tools/flakereport/flakereport.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Keep complete suite reports
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report.go
  tools/flakereport/report_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml
