Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Rename OutboundTaskGroupTag to TaskGroupTag
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/history/outbound_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Debug
  .github/workflows/run-single-test.yml
Due: none

Test the task group tag on breaker-blocked tasks
  service/history/outbound_queue_factory_test.go
Due: .azure-pipelines/server-cicd.yaml

[Visibility] Fix search attribute alias resolver referencing field names
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/resolve.go
  common/persistence/visibility/store/query/resolve_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
  common/searchattribute/test_provider.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test passive task rescheduling during version transitions (#12057)
  tests/passivepath/worker_versioning_test.go
Due: none

Use await.Require instead of testify Eventually
  service/history/outbound_queue_factory_test.go
Due: .azure-pipelines/server-cicd.yaml

emit log with unclamped target
  service/matching/partition_scaler_interface.go
  service/matching/partition_scaler_mock.go
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fix links for repeated updates
  service/history/api/updateworkflow/api.go
  service/history/historybuilder/event_store.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/update.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

address comments 2
  service/history/api/updateworkflow/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/update/update.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Link to Accepted event instead of completed for completed updates
  service/history/api/updateworkflow/api.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  tests/nexus_workflow_update_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

address comments
  service/history/api/updateworkflow/api.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/workflow/update/update.go
Due: .azure-pipelines/server-cicd.yaml

Simplify poller limit metrics tests
  common/rpc/interceptor/concurrent_request_limit_test.go
  common/rpc/interceptor/request_error_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

simplify
  api/enums/v1/partition_scaler.go-helpers.pb.go
  api/enums/v1/partition_scaler.pb.go
  common/dynamicconfig/collection.go
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  proto/internal/temporal/server/api/enums/v1/partition_scaler.proto
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

experimental
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Visibility][Elasticsearch] Optimize OR filters on the same field
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_term_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_term_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

visibility tests: cover OR on a keyword list field against ES
  tests/advanced_visibility_test.go
Due: none

[Visibility] Refactor Visibility stores
  common/persistence/sql/sqlplugin/interfaces.go
  common/persistence/sql/sqlplugin/interfaces_mock.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/sql/visibility_store.go
  common/persistence/visibility/store/sql/visibility_store_test.go
  common/persistence/visibility/store/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

only log the before-clamp max if it did not change from the last time
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
Due: .azure-pipelines/server-cicd.yaml

Emit partition_scale_max_clamped counter when max clamps target in simple partition scaler (#12315)
  common/metrics/metric_defs.go
  service/matching/partition_scaler_interface.go
  service/matching/partition_scaler_mock.go
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable poll cancellation by default
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

comments and functional test
  common/dynamicconfig/shared_constants.go
  service/matching/scale_manager.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove stale rollout comment from fan-out flag description
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Look up CHASM before HSM when reapplying state machine events
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_events_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix tests for new poll cancellation defaults
  service/frontend/namespace_handler_test.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Dynamic partitioning: add scale manager enabled setting (#12138)
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dynamic partitioning: refactor shadow mode
  common/dynamicconfig/shared_constants.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Report a truncated read in ParseCountGroupByRows
  common/persistence/sql/sqlplugin/visibility.go
  common/persistence/sql/sqlplugin/visibility_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Map region_id between compute config and WCI scaling group spec
  service/worker/workerdeployment/compute_util.go
  service/worker/workerdeployment/compute_util_test.go
Due: .azure-pipelines/server-cicd.yaml

update comment
  chasm/describe.go
  chasm/lib/activity/responses.go
Due: none

Fix TestCommitBuildID: keep worker alive during commit
  tests/versioning_test.go
Due: none

Enable poll cancellation by default (#12343)
  common/dynamicconfig/constants.go
  service/frontend/namespace_handler_test.go
  service/matching/matching_engine_test.go
  tests/versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix merged replication DLQ test
  service/history/replication/executable_task_test.go
Due: .azure-pipelines/server-cicd.yaml

Allow dropping dlq with a breakglass config (#12150)
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/replication/executable_task.go
  service/history/replication/executable_task_test.go
  service/history/replication/executable_task_tracker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Gave each regenerated test timer a distinct deadline.
  service/history/hsm/hsmtest/sm.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-164.0-rc.20261002113048
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(history): allow batched range delete and configurable timeout for timer queues (SQL)
  common/dynamicconfig/constants.go
  common/persistence/data_interfaces.go
  common/persistence/sql/execution_tasks.go
  common/persistence/sql/range_delete_test.go
  common/persistence/sql/sqlplugin/history_scheduled_tasks.go
  common/persistence/sql/sqlplugin/history_timer_tasks.go
  common/persistence/sql/sqlplugin/mysql/execution.go
  common/persistence/sql/sqlplugin/postgresql/execution.go
  common/persistence/sql/sqlplugin/sqlite/execution.go
  common/persistence/sql/sqlplugin/tests/history_timer_task.go
  common/persistence/tests/execution_mutable_state_task.go
  service/history/archival_queue_factory.go
  service/history/configs/config.go
  service/history/outbound_queue_factory.go
  service/history/queues/queue_base.go
  service/history/queues/queue_base_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test(persistence): simplify context error check in range delete stub test
  common/persistence/sql/range_delete_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extending tests for Query links
  tests/nexus_workflow_query_test.go
  tests/query_workflow_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
