Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Infer fresh slice results across helper calls
  tools/ownershipcheck/README.md
  tools/ownershipcheck/ownershipcheck.go
  tools/ownershipcheck/ownershipcheck_test.go
  tools/ownershipcheck/testdata/src/crosspackagefreshslice/crosspackagefreshslice.go
  tools/ownershipcheck/testdata/src/freshslicehelper/freshslicehelper.go
  tools/ownershipcheck/testdata/src/freshslicelib/freshslicelib.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add testcontext default lookup
  common/testing/await/require_true.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove testcontext Get API
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove isPartitionAwareKind
  client/matching/client.go
  client/matching/partition_counts.go
  client/matching/partition_counts_test.go
Due: none

making easier to review
  common/api/metadata.go
  common/api/metadata_test.go
  common/rpc/interceptor/dc_redirection_policy.go
  common/rpc/interceptor/dc_redirection_policy_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

comment
  common/api/metadata.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

lint
  common/api/metadata.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

go mod tidy
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable standalone activity start delay by default and add namespace capability
  chasm/lib/activity/config.go
  go.mod
  go.sum
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

update api
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor more
  client/matching/client.go
  client/matching/partition_counts.go
  client/matching/partition_counts_test.go
Due: none

this is simpler
  client/matching/partition_counts.go
  client/matching/partition_counts_test.go
Due: none

update mixed brain go.mod api
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: none

Enable standalone activity start delay by default and add namespace capability (#11122)
  chasm/lib/activity/config.go
  go.mod
  go.sum
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tweak comments and rename
  client/matching/client.go
  client/matching/partition_counts.go
  client/matching/partition_counts_test.go
Due: none

remove matching.enableMigration
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix tests
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Evict map rate limiter entries lazily instead of via goroutine (#11065)
  common/quotas/map_request_rate_limiter_impl.go
  common/quotas/map_request_rate_limiter_impl_test.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Fix V1->V2 migration deferring forever for actively-firing schedules
  service/worker/scheduler/testdata/replay_migration_v1_to_v2.json.gz
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_migration_replay_fixture_gen_test.go
  tests/schedule_migration_v1_to_v2_callback_compat_test.go
Due: .azure-pipelines/server-cicd.yaml

Restore routing extension number to 50234 (undo accidental #9898 revert)
  api/routing/v1/extension.pb.go
  chasm/lib/activity/gen/activitypb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/tests/gen/testspb/v1/service.pb.go
  proto/internal/temporal/server/api/routing/v1/extension.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-160.0-rc.20260718113947
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

testlogger: make stack-trace level configurable
  common/log/zap_logger.go
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Repro B2: SAA ignores NonRetryableErrorTypes for timeouts
  tests/activity_standalone_test.go
Due: none

Fix B2: honor NonRetryableErrorTypes for activity timeouts
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
Due: none

SAA functional-test driver + activity model vocabulary
  chasm/lib/activity/model/vocabulary.go
  tests/activity_standalone_test.go
  tests/activity_standalone_utils.go
Due: none

[Scheduler] Unify & simplify V1->V2 migration callback-compat tests
  service/worker/scheduler/workflow_test.go
  tests/schedule_migration_replay_fixture_gen_test.go
  tests/schedule_migration_v1_to_v2_callback_compat_test.go
Due: .azure-pipelines/server-cicd.yaml

schedulertest: fix gci import order and importas in roundtrip test
  chasm/lib/scheduler/schedulertest/migration_roundtrip_test.go
Due: none

schedulertest: fix gofmt and importas lint violations
  chasm/lib/scheduler/schedulertest/driver.go
  chasm/lib/scheduler/schedulertest/library.go
Due: none

schedulertest: V2->V1->V2 migration round-trip test
  chasm/lib/scheduler/schedulertest/migration_roundtrip_test.go
Due: none

schedulertest: scheduler lifecycle driver harness
  chasm/lib/scheduler/schedulertest/driver.go
  chasm/lib/scheduler/schedulertest/driver_smoke_test.go
  chasm/lib/scheduler/schedulertest/library.go
Due: none

schedulertest: scheduler invariants and deterministic tables
  chasm/lib/scheduler/schedulertest/invariants.go
  chasm/lib/scheduler/schedulertest/invariants_test.go
Due: none

chasm/chasmtest: add node/backend accessors and backend decorator
  chasm/chasmtest/test_engine.go
Due: none

schedulertest: rapid property test for scheduler invariants
  chasm/lib/scheduler/schedulertest/property_test.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

schedulertest: add default case to property-test op switch
  chasm/lib/scheduler/schedulertest/property_test.go
Due: none

schedulertest: add buffer-bound and action-budget invariants
  chasm/lib/scheduler/schedulertest/driver.go
  chasm/lib/scheduler/schedulertest/invariants.go
  chasm/lib/scheduler/schedulertest/invariants_test.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
