Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

testrunner2: split checkStuck to reduce cognitive complexity
  tools/testrunner2/event_stream.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: exclude quarantined tests from JUnit merge validation
  tools/testrunner2/REFACTOR.md
  tools/testrunner2/STATUS.md
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Revert ineffective versioning3 wait tuning
  tests/versioning_3_test.go
Due: none

testrunner2: skip passed subtests in top-level quarantine plans
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix lint issues and retry logic bugs
  tools/testrunner2/STATUS.md
  tools/testrunner2/junit.go
  tools/testrunner2/package.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testpkg/mixedtimeout/mixedtimeout_test.go
  tools/testrunner2/testpkg/singletimeout/singletimeout_test.go
  tools/testrunner2/testpkg/subtimeout/alone_test.go
  tools/testrunner2/testpkg/subtimeout/subtimeout_test.go
  tools/testrunner2/testpkg/timeout/timeout_test.go
  tools/testrunner2/testrunner.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Limit child inheritance signal pause to inherit cases
  tests/versioning_3_test.go
Due: none

Makefile: increase functional test timeout to 10m, enable stuck detection
  Makefile
Due: none

testrunner2: use extended timeout for regular retry plans
  tools/testrunner2/STATUS.md
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: fix quarantine skip pattern, remove collapseForSkip
  tools/testrunner2/STATUS.md
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Reduce versioning3 propagation partition checks
  tests/versioning_3_test.go
Due: none

Limit concurrent versioning3 test environments
  tests/versioning_3_test.go
Due: none

Retry late activity poller handoff
  tests/versioning_3_test.go
Due: none

testrunner2: quarantine panicking/fatal/race tests, isolate top-level
  tools/testrunner2/STATUS.md
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: update STATUS.md with CI results
  tools/testrunner2/STATUS.md
Due: .azure-pipelines/admin-tools-cicd.yaml

Revert "Limit concurrent versioning3 test environments"
  tests/versioning_3_test.go
Due: none

Tune await backoff for flaky suites
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Shorten versioning3 await RPC attempts
  tests/versioning_3_test.go
Due: none

add attempt= and passed= assertions to all integration tests
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

wip
  tools/testrunner2/testpkg/flaky/flaky_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

rename TestCrashOnce to TestCrash, racing to datarace, fix .gowrap parsing
  tools/testrunner2/alerts.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

rename testpkg/crashonce to testpkg/crash
  tools/testrunner2/testpkg/crash/crash_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

consolidate timeout and flaky test fixtures, verify -run and -skip
  tools/testrunner2/testpkg/flaky/flaky_test.go
  tools/testrunner2/testpkg/mixedtimeout/mixedtimeout_test.go
  tools/testrunner2/testpkg/singletimeout/singletimeout_test.go
  tools/testrunner2/testpkg/subfail/subfail_test.go
  tools/testrunner2/testpkg/subtimeout/alone_test.go
  tools/testrunner2/testpkg/subtimeout/subtimeout_test.go
  tools/testrunner2/testpkg/timeout/timeout_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: parse package json events directly
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

ci: optimize shard salt by suite
  tests/testcore/shard_salt.txt
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: use require in tests
  tools/testrunner2/exec_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

refactor
  tools/testrunner2/alerts.go
  tools/testrunner2/alerts_test.go
  tools/testrunner2/compile.go
  tools/testrunner2/console.go
  tools/testrunner2/direct.go
  tools/testrunner2/log_capture.go
  tools/testrunner2/package.go
  tools/testrunner2/package_test.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/test_monitor.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

redo
  tools/testrunner2/args.go
  tools/testrunner2/exec.go
  tools/testrunner2/exec_test.go
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/log_capture.go
  tools/testrunner2/log_capture_test.go
  tools/testrunner2/package.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/test_monitor.go
  tools/testrunner2/testrunner.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

test
  tools/testrunner2/testpkg/timeout/timeout_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

add integration test for timeout retry with -skip for passed siblings
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

wip
  tools/testrunner2/package.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

wip
  tools/testrunner2/exec.go
  tools/testrunner2/junit.go
  tools/testrunner2/junit_test.go
  tools/testrunner2/retry.go
  tools/testrunner2/scheduler_test.go
  tools/testrunner2/testrunner.go
Due: .azure-pipelines/admin-tools-cicd.yaml

tests: relax namespace deletion wait
  tests/namespace_test.go
Due: none

wip
  tools/testrunner2/testpkg/crash/crash_test.go
  tools/testrunner2/testpkg/datarace/race_test.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

testrunner2: shard functional suites by salt
  tools/testrunner2/package.go
  tools/testrunner2/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

rm
  tools/testrunner2/REFACTOR.md
  tools/testrunner2/STATUS.md
Due: .azure-pipelines/admin-tools-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
