Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Fix race in fairTaskReader (#9467)
  service/matching/fair_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

point to a pushed up go.mod to run the tests
  go.mod
  go.sum
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

check for ResourceExhausted in gocql.ConvertError
  common/persistence/nosql/nosqlplugin/cassandra/gocql/errors.go
  common/persistence/nosql/nosqlplugin/cassandra/gocql/errors_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

update the test since we are always going to respect versioning-overrides
  tests/versioning_3_test.go
Due: none

lint
  service/history/historybuilder/event_factory.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Fix transfer task event ID for DeleteExecutionTask
  chasm/component.go
  service/history/tasks/utils.go
Due: .azure-pipelines/server-cicd.yaml

DLQ via FQ
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
Due: .azure-pipelines/server-cicd.yaml

fmt
  service/frontend/admin_handler.go
Due: .azure-pipelines/server-cicd.yaml

Relax MySQL and PostgreSQL setup config
  develop/github/docker-compose.yml
Due: none

OTEL test export
  .github/workflows/run-tests.yml
  common/telemetry/grpc.go
  common/telemetry/tags.go
  common/testing/testtelemetry/assert_t.go
  common/testing/testtelemetry/exporter.go
  common/testing/testtelemetry/span_recorder.go
  common/testing/testtelemetry/span_router.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/frontend/configs/quotas.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/workflow.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

Mark worker deployment APIs as replication inducing
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
Due: .azure-pipelines/server-cicd.yaml

fix tests
  api/deployment/v1/message.pb.go
  service/frontend/configs/quotas_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add CreateWorkerDeployment API (#9380)
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  cmd/tools/getproto/files.go
  common/api/metadata.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/deployment/v1/message.proto
  service/frontend/configs/quotas.go
  service/frontend/workflow_handler.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow_test.go
  service/worker/workerdeployment/workflow.go
  service/worker/workerdeployment/workflow_test.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

check for ResourceExhausted in gocql.ConvertError (#9469)
  common/persistence/nosql/nosqlplugin/cassandra/gocql/errors.go
  common/persistence/nosql/nosqlplugin/cassandra/gocql/errors_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Populate WorkerListInfo when returning ListWorkersResponse (#9418)
  api/matchingservice/v1/request_response.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/frontend/workflow_handler.go
  service/matching/handler.go
  service/matching/handler_test.go
  tests/worker_registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

MustToPayload test helper (#9463)
  tests/nexus_test_base.go
  tests/nexus_workflow_test.go
  tests/poller_scaling_test.go
  tests/testcore/utils.go
  tests/xdc/base.go
  tests/xdc/nexus_request_forwarding_test.go
  tests/xdc/nexus_state_replication_test.go
Due: none

Add CountWorkers API
  api/matchingservice/v1/request_response.go-helpers.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  api/matchingservicemock/v1/service_grpc.pb.mock.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  client/matching/client_gen.go
  client/matching/metric_client_gen.go
  client/matching/retryable_client_gen.go
  cmd/tools/genrpcwrappers/main.go
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/service.proto
  service/frontend/workflow_handler.go
  service/matching/configs/quotas.go
  service/matching/handler.go
  service/matching/workers/registry.go
  service/matching/workers/registry_impl.go
  tests/worker_registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add coments
  chasm/lib/workflow/workflow.go
Due: none

add more comments
  chasm/lib/nexusoperation/operation.go
Due: none

add comment
  chasm/lib/nexusoperation/operation.go
Due: none

try to make NewFileBasedClient public
  common/dynamicconfig/file_based_client.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add metricHandler set method to handle cyclic dependence cases
  common/dynamicconfig/file_based_client.go
  common/dynamicconfig/file_based_client_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

change rwlock to atomic
  common/dynamicconfig/file_based_client.go
  common/dynamicconfig/file_based_client_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add comments
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
Due: none

unbundle
  chasm/lib/nexusoperation/operation.go
Due: none

NewFailedPrecondition
  chasm/lib/nexusoperation/operation.go
Due: none

remove if ErrOperationAlreadyCompleted
  chasm/lib/nexusoperation/workflow/commands.go
Due: none

Add business ID extraction patterns for additional WorkflowService APIs
  common/rpc/interceptor/business_id_extractor.go
  common/rpc/interceptor/business_id_interceptor.go
  common/rpc/interceptor/business_id_interceptor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove MCN terms from OSS: replace TODO(mcn) with TODO
  common/rpc/interceptor/business_id_interceptor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update common/rpc/interceptor/business_id_interceptor.go
  common/rpc/interceptor/business_id_interceptor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: address PR review comments for scheduler migration
  chasm/lib/scheduler/invoker.go
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
Due: .azure-pipelines/server-cicd.yaml

add comments
  chasm/lib/nexusoperation/cancellation.go
Due: none

unexport newCancellation
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
Due: none
