Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Pass operation separately to convertSQLError.
  common/persistence/sql/common.go
  common/persistence/sql/common_test.go
  common/persistence/sql/task_queues.go
  common/persistence/sql/task_user_data.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use CloudX setup-go action
  .github/actions/prepare-go/action.yml
  .github/workflows/run-tests.yml
Due: none

round one
  common/dynamicconfig/constants.go
  service/matching/ack_manager.go
  service/matching/ack_manager_test.go
  service/matching/backlog_manager.go
  service/matching/backlog_manager_test.go
  service/matching/config.go
  service/matching/db.go
  service/matching/forwarder.go
  service/matching/forwarder_test.go
  service/matching/matcher.go
  service/matching/matcher_test.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_backlog_manager.go
  service/matching/pri_forwarder.go
  service/matching/pri_matcher.go
  service/matching/pri_task_reader.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_interface.go
  service/matching/task_queue_partition_manager_test.go
  service/matching/task_reader.go
  service/matching/task_validation.go
  service/matching/task_writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep CloudX setup in prepare action
  .github/actions/prepare-go/action.yml
  .github/workflows/run-tests.yml
Due: none

Preserve SQL context cancel and deadline through persistence errors. (#12083)
  common/persistence/sql/common.go
  common/persistence/sql/common_test.go
  common/persistence/sql/task_queues.go
  common/persistence/sql/task_user_data.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  service/matching/task_reader.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: harden peer outcome handling
  chasm/lib/namespacereplication/peer_applier.go
  chasm/lib/namespacereplication/tasks_test.go
Due: none

fix/remove tests
  service/matching/backlog_manager_test.go
  service/matching/forwarder_test.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Allow unversioned workers to report versioning behavior
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Remove unit test covered by the functional failover test
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Reduce server binary size with updated auto-scaled workers (#12263)
  go.mod
  go.sum
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Mirror setup-go version parsing
  .github/actions/prepare-go/action.yml
Due: none

Simplify Go version resolution
  .github/actions/prepare-go/action.yml
Due: none

Cover PauseActivity's request ID handling with unit tests
  service/history/workflow/activity_test.go
Due: .azure-pipelines/server-cicd.yaml

A replayed pause or unpause is applied a second time on a workflow activity
  chasm/lib/activity/model/model.go
  chasm/lib/activity/model/vocabulary.go
  tests/activity_driver.go
  tests/activity_parity_test.go
  tests/activity_standalone_driver.go
  tests/activity_workflow_driver.go
Due: none

Dedupe workflow-activity operator commands on request id
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  chasm/lib/activity/handler.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/resetactivity/api.go
  service/history/api/unpauseactivity/api.go
  service/history/api/updateactivityoptions/api.go
  service/history/api/updateactivityoptions/api_test.go
  service/history/workflow/activity.go
  service/history/workflow/activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Collapse the duplicated WFA and SAA arms of the parity tests
  tests/activity_parity_test.go
  tests/activity_workflow_driver.go
Due: none

Enforce same-namespace internal callbacks for all archetypes
  chasm/lib/callback/config.go
  chasm/lib/callback/tasks_test.go
Due: none

Use nil default for crossNamespaceArchetypes setting
  chasm/lib/callback/config.go
Due: none

Tolerate sub-microsecond start time rounding in current execution skip
  common/persistence/sql/execution_util.go
  common/persistence/sql/execution_util_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove newMatcher from BacklogManagerTestSuite
  service/matching/backlog_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

remove matcher_test.go
  service/matching/matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

update functional tests
  tests/partition_scaling_test.go
  tests/priority_fairness_test.go
  tests/task_queue_stats_test.go
  tests/task_queue_test.go
Due: none

fix TestFairnessAutoEnableSuite/Test_Activity_Basic
  common/dynamicconfig/constants.go
  tests/priority_fairness_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove some skipped tests (don't worry, claude has rewritten them already)
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

move db.updateBacklogStats to a test file
  service/matching/backlog_manager_test.go
  service/matching/db.go
  service/matching/physical_task_queue_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

remove SyncMatchWaitDuration
  common/dynamicconfig/constants.go
  service/matching/config.go
  temporal/server_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove unused code from rateLimitManager
  service/matching/ratelimit_manager.go
Due: .azure-pipelines/server-cicd.yaml

remove MinTaskThrottlingBurstSize and RateLimiterRefreshInterval
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/matching_engine_test.go
  tests/task_queue_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

move these to pri_task_writer.go instead
  service/matching/backlog_manager.go
  service/matching/pri_task_writer.go
Due: .azure-pipelines/server-cicd.yaml

Apply internal callback namespace binding to HSM callbacks
  chasm/lib/callback/config.go
  chasm/lib/callback/config_test.go
  chasm/lib/callback/invocable_internal.go
  service/history/hsm/callbacks/chasm_invocation.go
  service/history/hsm/callbacks/config.go
  service/history/hsm/callbacks/executors_test.go
Due: .azure-pipelines/server-cicd.yaml

Align Schedules V1/V2 metric label sets for Prometheus
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/util.go
  common/metrics/metric_defs.go
  service/worker/scheduler/workflow.go
  tests/schedule_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

forgot this one
  service/matching/task_gc.go
Due: .azure-pipelines/server-cicd.yaml

Stop exempting BUFFER_* schedules from overdue next-action-time scan
  service/worker/scanner/scheduleinvariants/invariants.go
  service/worker/scanner/scheduleinvariants/invariants_test.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-164.0-rc.20260929112932
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use dynamicconfig helpers and ErrorContains in manager_selector_test
  common/persistence/visibility/manager_selector_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump defaultCliVersion to 1.9.1 for v1.30.7 admin-tools
  .github/actions/build-docker-images/scripts/main.go
Due: none

Bump defaultCliVersion to 1.9.1 for v1.31.3 admin-tools
  .github/actions/build-docker-images/scripts/main.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
