Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Implement heartbeat and timers.
  chasm/lib/workersession/component.go
  chasm/lib/workersession/component_test.go
  chasm/lib/workersession/config.go
  chasm/lib/workersession/proto/v1/message.proto
  chasm/lib/workersession/proto/v1/tasks.proto
  chasm/lib/workersession/statemachine.go
  chasm/lib/workersession/statemachine_test.go
  chasm/lib/workersession/tasks.go
Due: none

Skeleton
  chasm/lib/workersession/component.go
  chasm/lib/workersession/config.go
  chasm/lib/workersession/gen/workersessionpb/v1/message.go-helpers.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/message.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/tasks.go-helpers.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/tasks.pb.go
  chasm/lib/workersession/proto/v1/message.proto
  chasm/lib/workersession/proto/v1/tasks.proto
Due: none

Fixes
  chasm/lib/workersession/component.go
  chasm/lib/workersession/component_test.go
  chasm/lib/workersession/gen/workersessionpb/v1/message.go-helpers.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/message.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/tasks.go-helpers.pb.go
  chasm/lib/workersession/gen/workersessionpb/v1/tasks.pb.go
  chasm/lib/workersession/proto/v1/message.proto
  chasm/lib/workersession/proto/v1/tasks.proto
  chasm/lib/workersession/statemachine.go
  chasm/lib/workersession/statemachine_test.go
  chasm/lib/workersession/tasks.go
Due: none

Rename dynamic config
  chasm/lib/worker/config.go
Due: none

Review comments
  chasm/lib/worker/library.go
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Rename component.go to worker.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

debug panic with counter and defensive code
  chasm/engine.go
  chasm/lib/worker/handler.go
  chasm/lib/worker/library.go
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename tasks.go to executors.go
  chasm/lib/worker/README.md
  chasm/lib/worker/executors.go
  chasm/lib/worker/executors_test.go
Due: none

Add verification for functional test
  tests/worker_heartbeat_test.go
Due: none

Misc improvements
  chasm/lib/worker/gen/workerpb/v1/message.pb.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Embed frontend request proto inside chasm request proto
  chasm/lib/worker/gen/workerpb/v1/request_response.pb.go
  chasm/lib/worker/gen/workerpb/v1/service_grpc.pb.go
  chasm/lib/worker/proto/v1/request_response.proto
  chasm/lib/worker/proto/v1/service.proto
Due: none

Fix build and test errors - correct CHASM API usage
  chasm/lib/worker/worker.go
Due: none

Review comments and cleanup
  chasm/lib/worker/README.md
  chasm/lib/worker/executors.go
  chasm/lib/worker/executors_test.go
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add RecordHeartbeat to Worker struct.
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Remove dynamic config.
  chasm/lib/worker/handler_test.go
  chasm/lib/worker/library.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix frontend files - add worker client wiring
  common/dynamicconfig/constants.go
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reduce boilerplate in calling UpdateWithNewEntity
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker_test.go
Due: none

Add functional test
  chasm/lib/worker/fx.go
  common/dynamicconfig/constants.go
  service/frontend/fx.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/history/fx.go
  tests/worker_heartbeat_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Implement rpc handler to record worker heartbeat.
  chasm/lib/worker/handler_test.go
  chasm/lib/worker/library.go
  chasm/lib/worker/worker.go
  common/dynamicconfig/constants.go
  service/frontend/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Doc
  chasm/lib/worker/README.md
  docs/design/activity-cancellation-via-nexus-queue.md
Due: none

Fix Transition.Apply argument order: (worker, ctx, event)
  chasm/lib/worker/executors.go
  chasm/lib/worker/handler.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
Due: none

Pass full request proto to recordHeartbeat.
  chasm/lib/worker/config.go
  chasm/lib/worker/handler_test.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Add EnableWorkerStateTracking flag and CHASM worker heartbeat call
  chasm/lib/worker/fx.go
  chasm/lib/worker/handler.go
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/worker_heartbeat_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix chasm signature change
  chasm/lib/worker/component.go
  chasm/lib/worker/proto/v1/message.proto
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/tasks.go
Due: none

Add request_response.proto with WorkerService and RecordHeartbeat RPC
  chasm/lib/worker/gen/workerpb/v1/request_response.go-helpers.pb.go
  chasm/lib/worker/gen/workerpb/v1/request_response.pb.go
  chasm/lib/worker/gen/workerpb/v1/request_response_client.pb.go
  chasm/lib/worker/gen/workerpb/v1/request_response_grpc.pb.go
  chasm/lib/worker/handler.go
  chasm/lib/worker/proto/v1/request_response.proto
Due: none

Fix broken code after rebase - align with parent's 2-state model
  chasm/lib/worker/config.go
  chasm/lib/worker/library.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Add rpc endpoint to worker chasm component to record worker heartbeat.
  chasm/lib/worker/gen/workerpb/v1/request_response.pb.go
  chasm/lib/worker/gen/workerpb/v1/service.pb.go
  chasm/lib/worker/gen/workerpb/v1/service_client.pb.go
  chasm/lib/worker/gen/workerpb/v1/service_grpc.pb.go
  chasm/lib/worker/proto/v1/request_response.proto
  chasm/lib/worker/proto/v1/service.proto
Due: none

Make inactive as terminal state
  chasm/lib/worker/README.md
  chasm/lib/worker/config.go
  chasm/lib/worker/executors.go
  chasm/lib/worker/executors_test.go
  chasm/lib/worker/gen/workerpb/v1/message.go-helpers.pb.go
  chasm/lib/worker/gen/workerpb/v1/message.pb.go
  chasm/lib/worker/gen/workerpb/v1/tasks.go-helpers.pb.go
  chasm/lib/worker/gen/workerpb/v1/tasks.pb.go
  chasm/lib/worker/library.go
  chasm/lib/worker/proto/v1/message.proto
  chasm/lib/worker/proto/v1/tasks.proto
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Use dynamic config for cleanup delay
  chasm/lib/worker/config.go
  chasm/lib/worker/fx.go
  chasm/lib/worker/library.go
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
  common/dynamicconfig/constants.go
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

UpdateWithNew not implmented
  service/history/chasm_engine.go
Due: .azure-pipelines/server-cicd.yaml

Documentation
  chasm/lib/worker/README.md
Due: none

Delete handler_test as it is not adding any value
  chasm/lib/worker/handler_test.go
Due: none

Delete irrelevant file
  .cursor/commands/unset.md
Due: none

Temporary code to create an activity timer.
  service/history/timer_queue_active_task_executor.go
  service/history/workflow/timer_sequence.go
Due: .azure-pipelines/server-cicd.yaml

Address review comments.
  chasm/lib/worker/README.md
  chasm/lib/worker/config.go
  chasm/lib/worker/library.go
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
  chasm/lib/worker/worker.go
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

To use tdbg to inspect mutable state
  temporal/fx.go
Due: none

Formatting changes
  chasm/lib/worker/README.md
  chasm/lib/worker/gen/workerpb/v1/message.pb.go
  chasm/lib/worker/gen/workerpb/v1/tasks.go-helpers.pb.go
  chasm/lib/worker/gen/workerpb/v1/tasks.pb.go
  chasm/lib/worker/proto/v1/message.proto
  chasm/lib/worker/proto/v1/tasks.proto
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
  chasm/lib/worker/worker.go
Due: none

Reset cleanup grace period when switching from inactive to active.
  .cursor/commands/unset.md
  chasm/lib/worker/gen/workerpb/v1/message.pb.go
  chasm/lib/worker/proto/v1/message.proto
  chasm/lib/worker/statemachine.go
  chasm/lib/worker/statemachine_test.go
  chasm/lib/worker/tasks.go
Due: none

Add readme
  chasm/lib/worker/README.md
  chasm/lib/worker/worker.go
  chasm/lib/worker/worker_test.go
Due: none

Implement activity rescheduling on worker lease expiry
  api/historyservice/v1/request_response.go-helpers.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/historyservicemock/v1/service_grpc.pb.mock.go
  chasm/lib/worker/executors.go
  chasm/lib/worker/executors_test.go
  chasm/lib/worker/fx.go
  chasm/lib/worker/library.go
  client/history/client_gen.go
  client/history/metric_client_gen.go
  client/history/retryable_client_gen.go
  common/metrics/metric_defs.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/history/api/forcerescheduleactivity/api.go
  service/history/handler.go
  service/history/history_engine.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/interfaces/engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
