Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Reduce history suggest CaN size for flaky test
  tests/transient_task_test.go
Due: none

Reduce history suggest CaN size for flaky test (#9206)
  tests/transient_task_test.go
Due: none

wip
  common/nexus/failure.go
  common/nexus/failure_test.go
  common/nexus/nexusrpc/client.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_http_handler.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

make burst ratio a constant and move ListWorkerDeployments to use vis RL
  common/dynamicconfig/constants.go
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/fx.go
  service/frontend/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

goimports'
  service/frontend/service.go
Due: .azure-pipelines/server-cicd.yaml

fix unit test
  common/rpc/interceptor/redirection_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Upgrade api to v1.60.1
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.30.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

lint
  service/matching/fair_task_writer.go
Due: .azure-pipelines/server-cicd.yaml

Fix tests and compat with generic Nexus
  common/nexus/failure.go
  common/nexus/failure_test.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors_test.go
  service/frontend/nexus_handler.go
  service/frontend/workflow_handler.go
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Store worker_instance_key in ActivityInfo
  api/persistence/v1/executions.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/respondactivitytaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/history_engine_test.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_restart_activity_test.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Define ActivityCancelControlTask transfer task type
  api/enums/v1/task.go-helpers.pb.go
  api/enums/v1/task.pb.go
  api/persistence/v1/executions.pb.go
  common/dynamicconfig/constants.go
  common/persistence/serialization/task_serializers.go
  proto/internal/temporal/server/api/enums/v1/task.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/requestcancelworkflow/api.go
  service/history/api/requestcancelworkflow/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/configs/config.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/interfaces/mutable_state_mock.go
  service/history/tasks/activity_cancel_control_task.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_standby_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Added delay before closing connection in DbConn. This is not production ready commit
  common/persistence/sql/factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Don't assume your RecordHeartbeat calls succeed.
  tests/xdc/failover_test.go
Due: none

add MigrateSchedule proto and conversion functions (#9058)
  api/adminservice/v1/request_response.go-helpers.pb.go
  api/adminservice/v1/request_response.pb.go
  api/adminservice/v1/service.pb.go
  api/adminservice/v1/service_grpc.pb.go
  api/adminservicemock/v1/service_grpc.pb.mock.go
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.go-helpers.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/message.pb.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/message.proto
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/util.go
  client/admin/client_gen.go
  client/admin/metric_client_gen.go
  client/admin/retryable_client_gen.go
  common/rpc/interceptor/logtags/admin_service_server_gen.go
  common/schedules/id.go
  common/schedules/id_test.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  proto/internal/temporal/server/api/adminservice/v1/service.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add MustRunSequential for sequential test suites
  tests/testcore/test_env.go
Due: none

Fix lint errors
  common/quotas/map_request_rate_limiter_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

adding logs
  service/history/api/recordworkflowtaskstarted/api.go
Due: .azure-pipelines/server-cicd.yaml

Implement TTL for MapRequestRateLimiter (#9186)
  common/quotas/map_request_rate_limiter_impl.go
  common/quotas/map_request_rate_limiter_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump Server version to 1.29.3
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dispatch batched activity cancellation to worker via DispatchNexusTask
  common/persistence/serialization/task_serializers_test.go
  service/history/tasks/utils.go
  service/history/transfer_queue_active_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

revert logs
  service/history/api/recordworkflowtaskstarted/api.go
Due: .azure-pipelines/server-cicd.yaml

Refactor matching handler by removing readiness checks
  service/matching/handler.go
Due: .azure-pipelines/server-cicd.yaml

remove unecessary handler_test.go
  service/matching/handler_test.go
Due: .azure-pipelines/server-cicd.yaml

return the right response
  service/matching/handler.go
Due: .azure-pipelines/server-cicd.yaml

add reason
  tests/testcore/test_env.go
Due: none

stash
  service/worker/workerdeployment/client.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix nil map panic when setting Nexus request headers
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Fix WorkerInstanceKey not forwarded between task queue partitions
  service/matching/forwarder.go
  service/matching/forwarder_test.go
  service/matching/matching_engine.go
  service/matching/pri_forwarder.go
Due: .azure-pipelines/server-cicd.yaml

Add MustRunSequential for sequential test suites (#9208)
  tests/testcore/test_env.go
Due: none

Reduce scheduler worker counts for tests
  tests/testcore/dynamic_config_overrides.go
Due: none

Self review
  common/nexus/failure.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors.go
  service/frontend/nexus_handler.go
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix emit redirection metric on request on local cluster (#9117)
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use 8 core runners by default
  .github/workflows/run-tests.yml
Due: none

Add a timeout to functional tests
  tests/reset_workflow_test.go
  tests/testcore/context.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
  tests/versioning_3_test.go
Due: none

use env var for backup
  tests/testcore/test_env.go
Due: none

bad merge
  tests/reset_workflow_test.go
  tests/testcore/context.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
  tests/versioning_3_test.go
Due: none

cleanup
  tests/reset_workflow_test.go
  tests/testcore/context.go
  tests/testcore/test_env.go
  tests/versioning_3_test.go
Due: none

fix lint
  tests/worker_deployment_test.go
Due: none

Use 8 core test runners by default (#9217)
  .github/workflows/run-tests.yml
Due: none
