Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Address review feedback from dnr
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/pri_matcher.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Bump poll result timeout to 5s for CI safety
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Also return ErrClosed in Delete handler
  chasm/lib/scheduler/scheduler.go
  tests/schedule_migration_test.go
Due: none

Ensuring Normal state propagation on failover
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/transmission_task_handler.go
  service/worker/migration/handover_workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test updates
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

XDC test and additional cleanup
  common/namespace/nsreplication/transmission_task_handler.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
  tests/xdc/failover_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Comment cleanup
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
  tests/xdc/failover_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-156.0-rc.20260509113842
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix cache_pinned_usage going negative when pinned entries grow (#9954)
  common/cache/lru.go
  common/cache/lru_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add --password-file flag to temporal-sql-tool (#10028)
  tools/common/schema/types.go
  tools/sql/handler.go
  tools/sql/handler_test.go
  tools/sql/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Bump Server version to 1.32.0-156.0-rc.20260510113815
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove delete workflow execution replication feature flag
  common/dynamicconfig/constants.go
  service/history/api/deleteworkflow/api.go
  service/history/configs/config.go
  service/history/shard/context_impl.go
  tests/xdc/chasm_test.go
  tests/xdc/delete_execution_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Lint fix
  service/worker/migration/handover_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

update comments
  service/history/api/deleteworkflow/api.go
Due: .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-156.0-rc.20260511122517
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Show experimental API variant wiring
  .github/.golangci.yml
  Makefile
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  cmd/tools/getproto/files.go
  cmd/tools/getproto/main.go
  cmd/tools/lint-experimental-api/main.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  service/frontend/service.go
  service/frontend/workflow_handler.go
  tests/experimental_api_test.go
  tools/lint-experimental-api/golangci/plugin.go
  tools/lint-experimental-api/rule/analyzer.go
  tools/lint-experimental-api/rule/analyzer_test.go
  tools/lint-experimental-api/rule/testdata/src/go.temporal.io/api/example/v1/example.go
  tools/lint-experimental-api/rule/testdata/src/useexp/use.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove buf breaking ignore directive for chasm workflow
  chasm/lib/buf.yaml
Due: none

Suppress spurious targetWorkerDeploymentVersionChanged on inline WFT path
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

CHASM Nexus: fail callback on closed workflow instead of retrying
  service/history/handler.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add TestInlinePath_StableRouting_NoSpuriousFlag
  tests/versioning_3_test.go
Due: none

Fix godoc numbered-list formatting from make fmt-imports
  tests/versioning_3_test.go
Due: none

Fix worker commands dispatch to use TASK_QUEUE_KIND_WORKER_COMMANDS
  service/history/worker_commands_task_dispatcher.go
  service/history/worker_commands_task_dispatcher_test.go
Due: .azure-pipelines/server-cicd.yaml

Add TestEnv channel helpers
  tests/activity_api_pause_test.go
  tests/activity_api_reset_test.go
  tests/activity_api_update_test.go
  tests/nexus_workflow_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_env.go
Due: none

Move dispatchResponseToError to common/nexus package
  common/nexus/dispatch_response.go
  common/nexus/dispatch_response_test.go
  service/history/worker_commands_task_dispatcher.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix over-suppression of legitimate flag re-firings
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/ndc/workflow_resetter.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Use -1 sentinel for eager-execution WFT-Started too
  service/history/api/create_workflow_util.go
Due: .azure-pipelines/server-cicd.yaml

Suppress SA1019 on s.WaitForChannel in the new test
  tests/versioning_3_test.go
Due: none

Dispatch cancel command to worker for standalone activities
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/fx.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.go-helpers.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/library.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine.go
Due: none

Remove unused constant and add TODO for duplicated dispatch helper
  chasm/lib/activity/activity_tasks.go
Due: none

Add e2e tests for cancel command dispatch on standalone activities
  tests/standalone_activity_test.go
Due: none

Use TASK_QUEUE_KIND_WORKER_COMMANDS for cancel command dispatch
  chasm/lib/activity/activity_tasks.go
Due: none

Add unit tests for standalone activity cancel command dispatch
  chasm/lib/activity/activity_test.go
Due: none

Use shared DispatchResponseToError from common/nexus
  chasm/lib/activity/activity_tasks.go
Due: none

Fix fmt lint: use `any` instead of `interface{}` in test
  service/history/worker_commands_task_dispatcher_test.go
Due: .azure-pipelines/server-cicd.yaml

Sets identity on CanceledFailureInfo
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_test.go
Due: none

address comments
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/physical_task_queue_manager_mock.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rename DC and change to only gate the signal with start operation
  chasm/lib/workflow/config.go
  chasm/lib/workflow/nexus_service.go
  common/dynamicconfig/constants.go
  tests/signal_with_start_from_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
