Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

keep only the single test that will fail if this behavior is removed
  tests/premature_eos_test.go
Due: none

bit more cleanup
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/server-cicd.yaml

linters
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/server-cicd.yaml

linters again
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/server-cicd.yaml

wip
  chasm/lib/callback/executors.go
  chasm/lib/callback/nexus_invocation.go
  common/nexus/nexusrpc/client.go
  common/nexus/nexusrpc/completion.go
  common/nexus/nexusrpc/handle.go
  common/nexus/nexusrpc/propagation_test.go
  common/nexus/nexusrpc/server.go
  components/callbacks/executors.go
  components/callbacks/nexus_invocation.go
  components/nexusoperations/frontend/fx.go
  components/nexusoperations/fx.go
  service/frontend/fx.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_http_handler.go
  service/matching/handler.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

memory monitor change
  develop/github/memory_monitor.sh
Due: none

Address PR comments
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/handler.go
  tests/standalone_activity_test.go
Due: .azure-pipelines/server-cicd.yaml

dont use math.MaxInt, use max page size
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/server-cicd.yaml

Fix flakereport (#9399)
  .github/workflows/run-tests.yml
  go.mod
  tools/flakereport/flakereport.go
  tools/flakereport/github.go
  tools/flakereport/parallel.go
  tools/flakereport/parser.go
  tools/flakereport/parser_test.go
  tools/flakereport/report.go
  tools/flakereport/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixing page request size
  develop/github/memory_monitor.sh
  service/history/api/getworkflowexecutionhistory/api.go
Due: .azure-pipelines/server-cicd.yaml

Add updatefairnesstate to tbdg
  tools/tdbg/dlq_service_test.go
  tools/tdbg/factory.go
  tools/tdbg/flags.go
  tools/tdbg/task_queue_commands.go
  tools/tdbg/task_queue_commands_test.go
  tools/tdbg/tdbg_commands.go
  tools/tdbg/tdbgtest/output_parsing_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Support for custom tasks in ns replication
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replicator.go
  service/worker/service.go
Due: .azure-pipelines/server-cicd.yaml

merge main
  tests/testcore/functional_test_base.go
Due: none

Fix tests
  service/history/workflow/cache/cache_test.go
  service/matching/physical_task_queue_manager_test.go
  tests/worker_deployment_test.go
Due: .azure-pipelines/server-cicd.yaml

Updating enhancement to fix bug with name creation for workflowId index files
  common/archiver/gcloud/util.go
  common/archiver/gcloud/visibility_archiver.go
  common/archiver/gcloud/visibility_archiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

refactor: add migration direction tag to schedule migration metrics
  common/metrics/metric_defs.go
  service/worker/scheduler/workflow.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: increase migration local activity schedule-to-close timeout to 10m
  service/worker/scheduler/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Fairness counter: use sliding window (#9422)
  service/matching/counter/cmsketch.go
  service/matching/counter/cmsketch_test.go
Due: .azure-pipelines/server-cicd.yaml

Add interceptor for chasm lib
  common/rpc/interceptor/health_check.go
  common/rpc/interceptor/health_check_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

reseed with shadow row
  service/matching/counter/cmsketch.go
  service/matching/counter/hybrid.go
Due: .azure-pipelines/server-cicd.yaml

Fix more tests
  common/dynamicconfig/gradual_change_test.go
  tests/activity_test.go
  tests/pause_workflow_execution_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix throttled logger to not throttle panics and fatals (#9385)
  common/log/throttle_logger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix more tests
  client/history/caching_redirector_test.go
  tests/pause_workflow_execution_test.go
Due: none

Implement DeleteExecution in CHASM engine
  chasm/engine.go
  chasm/engine_mock.go
  chasm/lib/tests/handler.go
  chasm/tree.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/shard/context_impl.go
  tests/chasm_test.go
Due: .azure-pipelines/server-cicd.yaml

basic test
  service/matching/counter/cmsketch_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: align metric constant formatting after goimports
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add Omes timeout to Mixed Brain
  tests/mixedbrain/mixed_brain_test.go
Due: none

collision test
  service/matching/counter/cmsketch_test.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/command/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/command/registry.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
Due: .azure-pipelines/server-cicd.yaml

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

re-enable tests
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Nexus CancelCommand in CHASM
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

lazy hasBufferedEvent
  chasm/lib/nexusoperation/workflow/commands.go
Due: none

add RemoveNexusOperation
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/workflow.go
Due: none

add TODOs
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

revert comments
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
Due: none

Allow chasm components to add history events via mutable context
  chasm/context.go
  chasm/context_mock.go
Due: none

add testcore.Env.AdminClient()
  tests/testcore/test_env.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
