Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Improve namespace replication lifecycle events
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  common/wideevents/context.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  service/frontend/namespace_handler_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/worker/fx.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
  service/worker/replicator/replicator.go
  service/worker/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Applies small fixes for chasm nexus operations (#11605)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/fx_test.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_events_test.go
  tests/nexus_standalone_test.go
Due: none

Capture state for fresh replication applies
  common/wideevents/replication_events.go
  common/wideevents/replication_events_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task_test.go
  service/history/replication/replication_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Prevent malformed retry delays from poisoning Nexus completions (#11617)
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

edge case fixes for time skipping propagation and fast-forward completion
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/retry.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Enrich namespace replication lifecycle event details
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/namespace/nsreplication/transmission_task_handler_test.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add Lean Nexus AutoClose model
  .gitignore
  model/Makefile
  model/NexusAutoClose.lean
  model/lake-manifest.json
  model/lakefile.toml
  model/lean-toolchain
  model/mise.toml
Due: none

Emit namespace migration workflow lifecycle events
  common/wideevents/namespace_lifecycle_events.go
  common/wideevents/namespace_lifecycle_events_test.go
  service/worker/migration/catchup_workflow.go
  service/worker/migration/catchup_workflow_test.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/handover_workflow.go
  service/worker/migration/handover_workflow_test.go
  service/worker/migration/workflow_lifecycle_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

edge case fixes for time skipping propagation and fast-forward completion (#11373)
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/retry.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix namespace replication event formatting
  common/wideevents/namespace_replication_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Test V1 schedule action delay metrics
  tests/schedule_test.go
Due: none

Fix missing versionCeiling arg in ported scheduler tests
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

check in test suite for parent-child
  tests/xdc/base.go
  tests/xdc/parent_child_scenario_test.go
  tests/xdc/parent_child_scenario_unit_test.go
  tests/xdc/parent_child_test.go
Due: none

Scope events cache entries to the shard context instance
  service/history/events/cache.go
  service/history/events/cache_test.go
  service/history/history_engine2_test.go
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/shard/context_testutil.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/stale_events_cache_test.go
  service/history/workflow/task_refresher_test.go
  service/history/workflow/workflow_test/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Log outbound queue circuit breaker state changes
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/server-cicd.yaml

Linter fix: replace EventuallyWithT by Await.
  tests/pause_workflow_execution_test.go
Due: none

Support MySQL multi-host and SRV connections
  common/config/config.go
  common/persistence/sql/sqlplugin/mysql/session/session.go
  common/persistence/sql/sqlplugin/mysql/session/session_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add Nexus operation context to handler-side logs
  common/log/tag/tags.go
  service/frontend/nexus_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag Nexus pre-dispatch failure logs
  common/log/tag/tags.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Trim onStateChange comment
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/server-cicd.yaml

Trim enrichNexusOperationLogger comment
  service/frontend/nexus_handler.go
Due: .azure-pipelines/server-cicd.yaml

Trim NexusEndpointID comment
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Shorten onStateChange comment
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/server-cicd.yaml

Shorten enrichNexusOperationLogger comment
  service/frontend/nexus_handler.go
Due: .azure-pipelines/server-cicd.yaml

Shorten NexusEndpointID comment
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/server-cicd.yaml

Address review feedback
  service/history/events/cache.go
  service/history/events/cache_test.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/shard/context_testutil.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/stale_events_cache_test.go
Due: .azure-pipelines/server-cicd.yaml

Drop pre-dispatch logger comment
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/server-cicd.yaml

Update to Go 1.27.0
  common/http_transport.go
  common/http_transport_test.go
  docs/superpowers/specs/2026-08-19-go-1.27-upgrade-design.md
  go.mod
  service/history/queues/errors/errors.go
  tests/mixedbrain/go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update some comments.
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/pauseworkflow/api.go
  service/history/api/unpauseworkflow/api.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Update nexus_handler.go
  service/frontend/nexus_handler.go
Due: .azure-pipelines/server-cicd.yaml

Drop onStateChange rationale comment
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add xdc coverage for the activity timer task mask on the standby
  tests/xdc/activity_timer_task_replication_test.go
Due: none

Fix activity timeout regeneration after unpause
  service/history/workflow/activity.go
  service/history/workflow/activity_test.go
  tests/activity_api_reset_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix execution last running clock on start (#11578)
  service/history/api/startworkflow/api.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/history_engine2_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Add tag.Destination
  common/log/tag/tags.go
  service/history/circuitbreakerpool/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use tag.Destination at existing callback log sites
  chasm/lib/callback/invocable_outbound.go
  components/callbacks/nexus_invocation.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
