Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Pass stream context to audienceGetter
  common/authorization/interceptor.go
  common/authorization/interceptor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Use softassert for "dirty mutable state" log
  service/history/workflow/cache/cache.go
Due: .azure-pipelines/server-cicd.yaml

Require TLS with token_credentials (RFC9700 rec)
  common/rpc/auth/token_credentials.go
  common/rpc/auth/token_credentials_test.go
  common/rpc/test/rpc_token_auth_test.go
  tests/testcore/test_cluster.go
  tests/xdc/remote_cluster_auth_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

irename
  chasm/lib/workflow/workflow.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/server-cicd.yaml

Code cleanup and linting
  common/config/config.go
  common/rpc/auth/authtest/static.go
  common/rpc/auth/token_credentials.go
  common/rpc/auth/token_provider.go
  common/rpc/rpc.go
  common/rpc/test/rpc_token_auth_test.go
  temporal/fx.go
  tests/testcore/test_cluster.go
  tests/xdc/remote_cluster_auth_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Comment on token fetching behavior
  common/rpc/auth/token_credentials.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

More clarifications and test cleanup
  common/config/config.go
  temporal/fx.go
  tests/xdc/remote_cluster_auth_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

One line comment
  temporal/fx.go
Due: none

Dual-populate HSM routing fields in CHASM callback tokens
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  common/nexus/callback_token.go
  common/nexus/callback_token_test.go
  tests/nexus_standalone_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Fix the race between SchedulerCallbacksTask and InvokerProcessBufferTask that lead to dropped actions
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_tasks.go
  tests/schedule_migration_test.go
Due: none

Decode CHASM ComponentRef in legacy callback router
  components/callbacks/request.go
  components/callbacks/request_test.go
Due: none

[Scheduler] Populate Info.BufferSize
  chasm/lib/scheduler/scheduler.go
  tests/schedule_test.go
Due: none

[Scheduler] Always attempt DeleteSchedule on both stacks
  service/frontend/workflow_handler.go
  tests/schedule_migration_test.go
Due: .azure-pipelines/server-cicd.yaml

GetWorkflowExecutionResult implementation
  api/historyservice/v1/request_response.go-helpers.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/historyservicemock/v1/service_grpc.pb.mock.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  client/history/client_gen.go
  client/history/metric_client_gen.go
  client/history/retryable_client_gen.go
  common/api/metadata.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/rpc/interceptor/routing_key_extractor_gen.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/frontend/configs/quotas.go
  service/frontend/errors.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/getworkflowexecutionresult/api.go
  service/history/configs/config.go
  service/history/handler.go
  service/history/history_engine.go
  service/history/interfaces/engine.go
  service/history/interfaces/engine_mock.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add integration tests
  tests/links_test.go
  tests/nexus_get_workflow_result_test.go
  tests/nexus_standalone_test.go
  tests/nexus_test_base.go
Due: none

migrate standalone activities tests to parallel suite
  tests/standalone_activity_test.go
Due: none

remove comments
  tests/standalone_activity_test.go
Due: none

fix test
  common/rpc/interceptor/redirection_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validator generator
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_gen.go
  chasm/lib/nexusoperation/validator_gen.messages
  chasm/lib/nexusoperation/validator_test.go
  cmd/tools/genvalidationcoverage/main.go
  common/validation/fx.go
  common/validation/validator_registry.go
  service/frontend/fx.go
  service/frontend/workflow_handler_test.go
  tests/validators_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

feat: add lookback and output flags for schedule missed-times
  tools/tdbg/flags.go
Due: .azure-pipelines/admin-tools-cicd.yaml

feat: add schedule missed-times command handler
  tools/tdbg/schedule_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

feat: register schedule missed-times subcommand
  tools/tdbg/tdbg_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix: use TemporalScheduledStartTime and per-schedule context in missed-times
  tools/tdbg/schedule_commands.go
Due: .azure-pipelines/admin-tools-cicd.yaml

test: add tests for schedule missed-times output and parsing
  tools/tdbg/schedule_commands_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

fix: schedule_action_delay metric and add schedule_generate_latency
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/spec_processor.go
  common/metrics/metric_defs.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: record schedule_generate_latency before limit check
  chasm/lib/scheduler/spec_processor.go
Due: none

Increase MySQL workflow ID column length
  schema/mysql/v8/temporal/schema.sql
  schema/mysql/v8/temporal/versioned/v1.20/alter_workflow_id_columns.sql
  schema/mysql/v8/temporal/versioned/v1.20/manifest.json
  schema/mysql/v8/version.go
  schema/mysql/v8/visibility/schema.sql
  schema/mysql/v8/visibility/versioned/v1.15/alter_workflow_id_columns.sql
  schema/mysql/v8/visibility/versioned/v1.15/manifest.json
Due: .azure-pipelines/admin-tools-cicd.yaml

Increase PostgreSQL workflow ID column length
  schema/postgresql/v12/temporal/schema.sql
  schema/postgresql/v12/temporal/versioned/v1.20/alter_workflow_id_columns.sql
  schema/postgresql/v12/temporal/versioned/v1.20/manifest.json
  schema/postgresql/v12/version.go
  schema/postgresql/v12/visibility/schema.sql
  schema/postgresql/v12/visibility/versioned/v1.15/alter_workflow_id_columns.sql
  schema/postgresql/v12/visibility/versioned/v1.15/manifest.json
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix SQL max workflow ID validation
  config/dynamicconfig/development-sql.yaml
  service/history/api/command_attr_validator_test.go
  tests/child_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Address comment
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix race condition in dedicated reader removal.
  service/history/replication/namespace_isolation_manager.go
  service/history/replication/namespace_isolation_manager_test.go
  service/history/replication/stream_sender.go
Due: .azure-pipelines/server-cicd.yaml

Changed subtests to use random tq names
  tests/standalone_activity_test.go
Due: none

[SANO] Regression guard: async-failure rehydration with plain Go error
  tests/nexus_workflow_test.go
Due: none

Pause namespace sending when rate limit is reached.
  api/replication/v1/message.pb.go
  common/dynamicconfig/constants.go
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/history/configs/config.go
  service/history/replication/namespace_isolation_manager.go
  service/history/replication/namespace_isolation_manager_test.go
  service/history/replication/namespace_throttler.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_sender.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

PR feedback
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  go.mod
  go.sum
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/api/getworkflowexecutionresult/api.go
  service/history/configs/config.go
  service/history/history_engine.go
  tests/nexus_get_workflow_result_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Change metadata access to write
  common/api/metadata.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rename `nexusoperation.enableChasm` dc
  chasm/lib/nexusoperation/config.go
  chasm/lib/workflow/nexus_commands.go
  chasm/lib/workflow/nexus_commands_test.go
  tests/nexus_workflow_test.go
Due: none

Regenerate mutable_state_mock.go to fix alphabetical ordering
  service/history/interfaces/mutable_state_mock.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
