Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Allow handover and redirection interceptors to cover additional service prefixes
  common/rpc/interceptor/namespace_handover.go
  common/rpc/interceptor/redirection.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test feedback
  chasm/lib/scheduler/invoker_execute_task_test.go
  tests/schedule_test.go
Due: none

fixes
  common/dynamicconfig/shared_constants.go
  service/matching/scale_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

move locking for task tracker to higher levels
  service/matching/physical_task_queue_manager.go
  service/matching/task_tracker.go
Due: .azure-pipelines/server-cicd.yaml

oops
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/server-cicd.yaml

Use func() callback instead of passing taskTracker into matcherData
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint: alignment and s.Greater → s.Positive
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Document onRateLimited callback and acquire taskTrackerLock in closure
  service/matching/matcher_data.go
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Simplify onRateLimited doc comments
  service/matching/matcher_data.go
Due: .azure-pipelines/server-cicd.yaml

one
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

two
  service/matching/scale_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Extract onRateLimited method to avoid duplicating lock+inc logic
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Move locking for task tracker to higher levels (#10964)
  service/matching/physical_task_queue_manager.go
  service/matching/task_tracker.go
Due: .azure-pipelines/server-cicd.yaml

Add doc comments for tasksRateLimited field and onRateLimited method
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Simplify onRateLimited doc comment
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Add inline comments to disambiguate func() {} args in pri_matcher_test
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

Upgrade go.temporal.io/api to v1.63.2 and remove replace directive
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix gci alignment in taskTracker field block
  service/matching/physical_task_queue_manager.go
Due: .azure-pipelines/server-cicd.yaml

Remove per-service Fx test options
  tests/testcore/functional_test_base.go
  tests/testcore/functional_test_base_test.go
  tests/testcore/test_env.go
  tests/xdc/base.go
Due: none

Prepare ServerFx test plumbing
  temporal/fx.go
Due: none

Remove stale api-go pseudo-version from go.sum
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Surface queue rate limited state in TaskQueueStats (#10944)
  common/taskqueue/stats.go
  common/taskqueue/stats_test.go
  go.mod
  go.sum
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

also oops
  service/matching/simple_partition_scaler.go
Due: .azure-pipelines/server-cicd.yaml

wip: tests
  service/matching/scale_manager_test.go
  service/matching/simple_partition_scaler_test.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/server-cicd.yaml

Add default page size for archived visibility queries
  common/dynamicconfig/constants.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-159.0-rc.20260708115802
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix concurrent map write when cacheSizeBasedLimit is enabled
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/ndc/activity_state_replicator_test.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/cache/cache.go
  service/history/workflow/cache/cache_test.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: strip system SAs from V1→CHASM schedule migration state (#10911)
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
Due: none

test(mixedbrain): address review feedback
  tests/mixedbrain/log_scan_util.go
  tests/mixedbrain/log_scan_util_test.go
  tests/mixedbrain/mixed_brain_test.go
Due: none

Add child workflow versioning override support
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix child versioning override lint issues
  common/worker_versioning/worker_versioning.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update child workflow override API pin
  go.mod
  go.sum
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document child workflow versioning override tests
  tests/versioning_3_test.go
Due: none

Update child workflow override API pin
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove per-service Fx test options (#10966)
  tests/testcore/functional_test_base.go
  tests/testcore/functional_test_base_test.go
  tests/testcore/test_env.go
  tests/xdc/base.go
Due: none

Stop matching client deterministically on cluster shutdown (#10816)
  client/client_bean.go
  client/client_bean_mock.go
  client/matching/client.go
  client/matching/metric_client.go
  common/client_cache.go
  common/resource/fx.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix race in TestGetTaskQueueUserData_LongPoll_WakesUp_From2to3 (#10538)
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix versioning override lint issue
  common/worker_versioning/worker_versioning.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Route test matching clients through matching client
  tests/testcore/clients.go
  tests/testcore/onebox.go
Due: none
