Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

fix: per-key rate limit no longer blocks lower-priority ready tasks
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix Nexus failure conversion data race
  chasm/lib/nexusoperation/invocation.go
  common/nexus/failure.go
  components/nexusoperations/executors.go
  service/frontend/nexus_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky test in tdbg
  tools/tdbg/schedule_migrate_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix task queue stats versioning test flake (#10773)
  tests/task_queue_stats_test.go
  tests/versioning_test_env.go
  tests/worker_deployment_test.go
Due: none

Fix Nexus failure conversion data race (#10821)
  chasm/lib/nexusoperation/invocation.go
  common/nexus/failure.go
  components/nexusoperations/executors.go
  service/frontend/nexus_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add tasks_dropped observability metric to the matching service (#10759)
  common/metrics/metric_defs.go
  service/matching/backlog_manager_test.go
  service/matching/fair_task_reader.go
  service/matching/matcher.go
  service/matching/matcher_data_test.go
  service/matching/matcher_test.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/metrics_util.go
  service/matching/metrics_util_test.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
  service/matching/pri_task_reader.go
  service/matching/task.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_reader.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix per-namespace worker shutdown go-routine leak! (#10802)
  service/worker/pernamespaceworker.go
  service/worker/pernamespaceworker_test.go
  tests/leakcheck/leak_test.go
Due: .azure-pipelines/server-cicd.yaml

Keep only exclusively CGS-owned files
  common/persistence/client/quotas_test.go
  common/persistence/history_node_util_test.go
  common/persistence/nosql/nosqlplugin/cassandra/translator/fixed_address_translator_test.go
  common/persistence/persistence-tests/cluster_metadata_manager.go
  common/persistence/query_util_test.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/persistence/sql/history_store.go
  common/persistence/sql/queue_v2.go
  common/persistence/sql/sqlplugin/mysql/session/session.go
  common/persistence/sql/sqlplugin/mysql/session/session_test.go
  common/persistence/sql/sqlplugin/tests/history_transfer_task.go
  common/persistence/sql/sqlplugin/tests/history_visibility_task.go
  common/persistence/sql/task_queues.go
  common/persistence/tests/cassandra_test.go
  common/persistence/tests/execution_mutable_state.go
  common/persistence/tests/execution_mutable_state_task.go
  common/persistence/tests/mysql_test.go
  common/persistence/tests/nexus_endpoint_suite.go
  common/persistence/tests/postgresql_test.go
  common/persistence/tests/sqlite_test.go
  common/persistence/tests/visibility_persistence_suite.go
  common/persistence/visibility/store/elasticsearch/processor_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_write_test.go
  common/persistence/visibility/store/sql/pagination_token_legacy_test.go
  common/persistence/workflow_state_status_validator_test.go
  common/tasks/group_by_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve replication pointer identity assertions
  service/history/replication/ack_manager_test.go
  service/history/replication/batchable_task_test.go
  service/history/replication/sequential_batch_queue_test.go
Due: .azure-pipelines/server-cicd.yaml

Apply go fix to CGS-owned files
  service/history/ndc/conflict_resolver.go
  service/history/ndc/conflict_resolver_test.go
  service/history/ndc/resetter.go
  service/history/ndc/resetter_test.go
  service/history/ndc/state_rebuilder_test.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/replication/ack_manager.go
  service/history/replication/ack_manager_test.go
  service/history/replication/fx.go
  service/history/replication/stream_sender_flow_controller_test.go
Due: .azure-pipelines/server-cicd.yaml

make lint again
  service/history/ndc/resetter_test.go
  service/history/ndc/state_rebuilder_test.go
  service/history/ndc/workflow_resetter_test.go
Due: .azure-pipelines/server-cicd.yaml

Run goimports after testifylint fixes
  common/masker/masker_test.go
  service/frontend/namespace_handler_test.go
  service/history/handler_test.go
  service/history/replication/stream_sender_flow_controller_test.go
  service/history/workflow/activity_test.go
  service/worker/deletenamespace/deleteexecutions/workflow_test.go
  service/worker/scanner/executions/task_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Type jitter comparison bounds
  common/backoff/jitter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep testifylint fixes server-owned
  common/tqid/task_queue_id_test.go
  components/callbacks/statemachine_test.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/workflow/commands_test.go
  service/history/replication/stream_receiver_test.go
  service/matching/ack_manager_test.go
  service/matching/configs/quotas_test.go
  service/matching/forwarder_test.go
  service/matching/physical_task_queue_key_test.go
  service/matching/physical_task_queue_manager_test.go
  service/worker/scanner/taskqueue/scavenger_test.go
  service/worker/scheduler/calendar_test.go
  service/worker/scheduler/query_test.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep lint fixes server-owned only
  service/history/ndc/activity_state_replicator_test.go
  service/history/ndc/branch_manager_test.go
  service/history/ndc/conflict_resolver_test.go
  service/history/ndc/events_reapplier_test.go
  service/history/ndc/replication_task_test.go
  service/history/ndc/resetter_test.go
  service/history/ndc/transaction_manager_test.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/ndc/workflow_test.go
  service/history/replication/ack_manager_test.go
  service/history/replication/batchable_task_test.go
  service/history/replication/eager_namespace_refresher_test.go
  service/history/replication/eventhandler/event_importer_test.go
  service/history/replication/eventhandler/history_events_handler_test.go
  service/history/replication/eventhandler/remote_history_paginated_fetcher_test.go
  service/history/replication/eventhandler/resend_handler_test.go
  service/history/replication/executable_activity_state_task_test.go
  service/history/replication/executable_task_test.go
  service/history/replication/progress_cache_test.go
  service/history/replication/stream_receiver_monitor_test.go
  service/history/replication/stream_receiver_test.go
  service/history/replication/stream_sender_test.go
  service/history/replication/sync_state_retriever_test.go
  service/history/replication/task_processor_test.go
  service/worker/migration/handover_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add minimum unit test coverage for replication
  .github/workflows/replication-coverage.yml
  .gitignore
  Makefile
  develop/github/check_coverage.sh
Due: none

Add dynamic partition shadow mode logging
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  common/metrics/tags.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address review feedback (round 2)
  client/matching/client.go
  common/resource/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Heartbeat includes verifies.
  service/worker/migration/sharded_activities.go
  service/worker/migration/sharded_types.go
  service/worker/migration/sharded_types_test.go
  service/worker/migration/sharded_workflow.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260624121129
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

move comment
  common/persistence/cassandra/matching_task_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Skip entire mutable state transaction if chasm transaction was skipped
  chasm/tree.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/server-cicd.yaml

Use slices Contains in namespace registry test
  common/namespace/nsregistry/registry_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Avoid shadowing cluster import
  tests/xdc/base.go
Due: none

Use namespace refresh setting in registry constructor
  common/namespace/nsregistry/registry.go
  common/namespace/nsregistry/registry_test.go
  common/namespace/nsregistry/registry_watch_test.go
  common/resource/fx.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Document forced namespace refresh locking
  common/namespace/nsregistry/registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Keep namespace registry constructor compatible
  common/namespace/nsregistry/registry.go
  common/namespace/nsregistry/registry_test.go
  common/namespace/nsregistry/registry_watch_test.go
  common/resource/fx.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  tests/xdc/failover_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Wait for heartbeat timeout replication
  tests/xdc/failover_test.go
Due: none

Scope forced namespace refresh by namespace
  common/dynamicconfig/constants.go
  common/namespace/nsregistry/registry.go
  common/namespace/nsregistry/registry_test.go
  common/namespace/nsregistry/registry_watch_test.go
  tests/xdc/base.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix namespace registry test wiring
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Use order-insensitive namespace cluster assertions
  tests/xdc/base.go
Due: none
