Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

addressing dans comments about heartbeating
  chasm/lib/activity/activity.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  tests/standalone_activity_test.go
Due: none

Fix reuse + conflict policy validation (#9728)
  common/enums/defaults.go
  common/enums/defaults_test.go
  service/frontend/workflow_handler.go
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/workflow_id_dedup.go
  service/history/history_engine2_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Supporting default TLS config for remote clusters
  common/rpc/encryption/fixedTLSConfigProvider.go
  common/rpc/encryption/local_store_tls_provider.go
  common/rpc/encryption/tls_config_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

make mock and fmt-imports
  common/worker_versioning/worker_versioning_test.go
  service/history/interfaces/mutable_state_mock.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

extension
  api/routing/v1/extension.pb.go
  chasm/lib/activity/gen/activitypb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/tests/gen/testspb/v1/service.pb.go
  proto/internal/temporal/server/api/routing/v1/extension.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove GetWorkflowExecutionRawHistory calls for Query tasks (#9828)
  service/matching/config.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  tests/query_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Apply suggestions from David
  service/matching/matching_engine_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

more fixups from suggestions
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Adjusting tests and using default instead of *
  common/rpc/encryption/fixedTLSConfigProvider.go
  common/rpc/encryption/local_store_tls_provider.go
  common/rpc/encryption/tls_config_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add subscription for autoEnable and handle changes (#9781)
  service/matching/config.go
  service/matching/matching_engine_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

respond to comments
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
Due: .azure-pipelines/server-cicd.yaml

replace use_ramping_version_initial_task with use_ramping_version
  api/taskqueue/v1/message.pb.go
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/history/worker_versioning_util.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix cursor nit and lint
  common/worker_versioning/worker_versioning.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix TestPinnedCaN_UseRampingVersionOnCaN_ChildDoesNotInheritUseRampingVersion test
  tests/versioning_3_test.go
Due: none

add 0% ramp unit test
  common/worker_versioning/worker_versioning_test.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix unit test
  common/worker_versioning/worker_versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add failing test: StartToClose timeout should fire in CANCEL_REQUESTED
  tests/standalone_activity_test.go
Due: none

fix: StartToCloseTimeoutTask validator should accept CANCEL_REQUESTED
  chasm/lib/activity/activity_tasks.go
Due: none

Fix MySQL DeleteFromVisibility to use transaction connection (#9886)
  common/persistence/sql/sqlplugin/mysql/visibility.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add IsEphemeral() to Partition interface for ephemeral task queue checks
  common/tqid/task_queue_id.go
  service/matching/db.go
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus chasm invocation task unit tests (#9880)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Add cancellation task handler unit tests and fix retry policy bug
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_tasks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/tasks_test_helpers_test.go
Due: none

Fix lint
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/operation_tasks.go
Due: none

Extract and rename result types into dedicated files
  chasm/lib/nexusoperation/cancellation_result.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/start_result.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Split task_handler_helpers.go into focused files
  chasm/lib/nexusoperation/invocation.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/task_handler_base.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Add workflow integration for cancellation events
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/workflow/workflow.go
Due: none

Refactor task handlers and implement cancellation executor
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Add cancellation state machine, component core, and ParentPtr mock
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/cancellation_statemachine_test.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/parent_pointer_mock.go
Due: none

Reuse common error conversion logic
  chasm/lib/nexusoperation/cancellation_result.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/start_result.go
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Fix Standalone Activity Start-To-Close timeout bug (#9901)
  chasm/lib/activity/activity_tasks.go
  tests/standalone_activity_test.go
Due: none

Upgrade aws-sdk-go from v1 to v2
  common/archiver/s3store/history_archiver.go
  common/archiver/s3store/history_archiver_test.go
  common/archiver/s3store/mocks/generate.go
  common/archiver/s3store/mocks/s3api.go
  common/archiver/s3store/s3iface.go
  common/archiver/s3store/util.go
  common/archiver/s3store/visibility_archiver.go
  common/archiver/s3store/visibility_archiver_test.go
  common/persistence/visibility/store/elasticsearch/client/aws.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  common/worker_versioning/worker_versioning_test.go
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/history/api/recordactivitytaskstarted/api.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

pull api-go master
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

make proto
  api/taskqueue/v1/message.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add `CONTINUE_AS_NEW_VERSIONING_BEHAVIOR_USE_RAMPING_VERSION` (#9894)
  api/taskqueue/v1/message.pb.go
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/history/api/queryworkflow/api.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/api/updateworkflow/api.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/transfer_queue_active_task_executor.go
  service/history/worker_versioning_util.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/matching/task_queue_partition_manager.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM: fix ApplyMutation for replication case
  chasm/tree.go
  chasm/tree_test.go
Due: none

CHASM: Fix ApplyMutation for replication case (#9904)
  chasm/tree.go
  chasm/tree_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-154.0-rc.20260410113815
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
