Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Allow dynamic configuration of ringpop replica points (#9702)
  common/dynamicconfig/constants.go
  common/membership/ringpop/factory.go
  common/membership/ringpop/monitor.go
  common/membership/ringpop/service_resolver.go
  common/membership/ringpop/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Handle historyservice.GetWorkflowExecutionHistoryRequest in health check interceptor (#9849)
  common/rpc/interceptor/health_check.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix flaky TestRequestCancel subtests (#9846)
  tests/standalone_activity_test.go
Due: none

Log rejection of polls from recently-shutdown workers (#9811)
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

feat: add memo to UpdateSchedule (#9566)
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Expose termination and cancellation identity in standalone activity failure info (#9847)
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/statemachine_test.go
  tests/standalone_activity_test.go
Due: none

[Scheduler] Restore WorkflowExecutionAlreadyStarted error for all CreateSchedule duplicate paths (#9866)
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

fix: only report likely problematic commits that increased flakes (#9867)
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

refactor: migrate ActivityAPIBatchUpdateOptionsSuite to parallelsuite (#9710)
  tests/activity_api_batch_update_options_test.go
Due: none

Refresh tasks after reviving a zombie workflow run. (#9272)
  service/history/ndc/transaction_manager.go
  service/history/ndc/transaction_manager_existing_workflow.go
  service/history/ndc/transaction_manager_existing_workflow_test.go
  service/history/ndc/transaction_manager_new_workflow.go
  service/history/ndc/transaction_manager_new_workflow_test.go
  service/history/ndc/workflow.go
  service/history/ndc/workflow_mock.go
Due: .azure-pipelines/server-cicd.yaml

Ban assert.X in favor of require.X (#9871)
  .github/.golangci.yml
  docs/development/testing.md
Due: none

refactor: migrate WorkflowTimerTestSuite to parallelsuite (#9701)
  tests/workflow_timer_test.go
Due: none

fix dynamic config name in test
  tests/nexus_workflow_test.go
Due: none

remove references to bergundy in favor of nexus-rpc
  cmd/tools/getproto/files.go
  cmd/tools/getproto/main.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

functional test that first run after can goes to expected version
  tests/versioning_3_test.go
Due: none

fix: deduplicate StructuredCalendar entries in canonicalizeSpec
  service/worker/scheduler/gen_cron_accumulation_history_test.go
  service/worker/scheduler/spec.go
  service/worker/scheduler/spec_test.go
  service/worker/scheduler/testdata/replay_with_cron_accumulation.json.gz
  service/worker/scheduler/workflow.go
Due: .azure-pipelines/server-cicd.yaml

test: reproduce StructuredCalendar accumulation on cron describe-then-update
  tests/schedule_migration_test.go
  tests/schedule_test.go
Due: none

test: run each replay history as a subtest
  service/worker/scheduler/gen_cron_accumulation_history_test.go
  service/worker/scheduler/replay_test.go
Due: .azure-pipelines/server-cicd.yaml

test inheritance semantics
  tests/versioning_3_test.go
Due: none

simplify
  service/history/worker_versioning_util.go
Due: .azure-pipelines/server-cicd.yaml

simplify
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/worker_versioning_util.go
Due: .azure-pipelines/server-cicd.yaml

Fix check for chasm enabled in workflow_task_completed_handler
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/configs/config.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/workflow/mutable_state_impl.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

replace overengineered RampPolicy with UseRampingVersionInitialTask bool
  api/deployment/v1/message.go-helpers.pb.go
  api/deployment/v1/message.pb.go
  api/taskqueue/v1/message.pb.go
  proto/internal/temporal/server/api/deployment/v1/message.proto
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/history/api/queryworkflow/api.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/api/updateworkflow/api.go
  service/history/interfaces/mutable_state.go
  service/history/worker_versioning_util.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

include uncommitted files
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

unit test
  common/worker_versioning/worker_versioning_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix comment
  service/history/workflow/retry.go
Due: .azure-pipelines/server-cicd.yaml

Fix unit test
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Test operationInvocationTaskHandler.Execute
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

Callout where standalone changes are required
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

Revert tests/schedule_migration_test.go
  tests/schedule_migration_test.go
Due: none

Port missing test coverage from HSM
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

Fix unit tests
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

Mark ErrResponseBodyTooLarge and ErrInvalidOperationToken as non retryable
  chasm/lib/nexusoperation/task_handler_helpers.go
Due: none

Fix lint
  chasm/lib/nexusoperation/operation.go
  tests/schedule_migration_test.go
Due: none

use tagged version
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Tag internal-frontend requests with server principal identity (#9854)
  common/authorization/claim_mapper.go
  temporal/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Mark WorkerCommandsTask as low priority
  service/history/queues/priority_assigner.go
Due: .azure-pipelines/server-cicd.yaml

Regenerate proto after comment update
  api/persistence/v1/executions.pb.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove stale replace directive for go.temporal.io/api
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
