Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Fix linter warning
  tests/query_workflow_test.go
Due: none

Use TestEnv for all tests
  PLAN.md
  convert_plan.md
  tests/admin_test.go
  tests/namespace_interceptor_test.go
  tests/relay_task_test.go
  tests/user_metadata_test.go
  tests/user_timers_test.go
Due: none

Update PLAN.md
  PLAN.md
Due: none

Update workflow_visibility_test.go
  tests/workflow_visibility_test.go
Due: none

Update links_test.go
  tests/links_test.go
Due: none

Lint and some self-review
  common/nexus/failure.go
  common/nexus/failure_test.go
  common/nexus/nexusrpc/client.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors.go
  service/frontend/nexus_handler.go
  tests/nexus_api_test.go
  tests/xdc/nexus_request_forwarding_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Include transient and speculative WFT events in GetWorkflowExecutionHistory response
  api/historyservice/v1/request_response.pb.go
  api/token/v1/message.pb.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/token/v1/message.proto
  service/history/api/get_history_util.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/api/recordworkflowtaskstarted/api.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/history_engine_test.go
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Scheduler] Fix missing namespace tag from metrics (#9120)
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/spec_processor.go
  chasm/lib/scheduler/util.go
Due: none

Address comments
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Test fixes
  common/nexus/failure.go
  components/nexusoperations/completion.go
  components/nexusoperations/executors_test.go
  tests/nexus_api_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add ttls
  common/tasks/workflow_queue_scheduler.go
  common/tasks/workflow_queue_scheduler_test.go
  service/history/queues/scheduler.go
  service/history/queues/workflow_aware_scheduler.go
  tests/workflow_queue_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validate retention in cloud
  service/history/workflow/task_generator.go
Due: .azure-pipelines/server-cicd.yaml

addlog
  components/callbacks/nexus_invocation.go
  service/history/outbound_queue_active_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Add linter rules to enforce UnixMilliseconds() in Cassandra persistence (#9134)
  .github/.golangci.yml
Due: none

Completed two more files, skipped wf alias SA test
  PLAN.md
  tests/activity_api_batch_unpause_test.go
  tests/purge_dlq_tasks_api_test.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
Due: none

workflow_memo_test.go and add_tasks_test.go
  PLAN.md
  tests/add_tasks_test.go
  tests/workflow_memo_test.go
Due: none

Add System Nexus Endpoint design and implementation plan
  docs/architecture/system-nexus-endpoint-implementation-plan.md
  docs/architecture/system-nexus-endpoint.md
Due: none

Implement System Nexus Endpoint infrastructure with WaitExternalWorkflow
  api/historyservice/v1/request_response.pb.go
  common/nexus/constants.go
  components/callbacks/executors.go
  components/callbacks/system_nexus_invocation.go
  components/nexusoperations/executors.go
  components/nexusoperations/system/fx.go
  components/nexusoperations/system/registry.go
  components/nexusoperations/system/wait_external_workflow.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  service/history/api/updateworkflowoptions/api.go
  service/history/fx.go
  service/history/statemachine_environment.go
  tests/system_nexus_wait_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fixing panic in tests
  PLAN.md
  tests/admin_test.go
  tests/max_buffered_event_test.go
Due: none

fixing linter and unit test
  service/history/api/get_workflow_util.go
  service/history/api/getworkflowexecutionhistory/api.go
  service/history/history_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Instrument flaky test: TestWorkflowTaskAndActivityTaskTimeoutsWorkflow (#9137)
  tests/workflow_test.go
Due: none

Refactor WQS to have 1 goroutine per queue
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/tasks/fifo_scheduler.go
  common/tasks/fifo_scheduler_test.go
  common/tasks/workflow_queue_scheduler.go
  common/tasks/workflow_queue_scheduler_test.go
  service/history/archival_queue_factory.go
  service/history/memory_scheduled_queue_factory.go
  service/history/queues/queue_scheduled_test.go
  service/history/queues/scheduler.go
  service/history/queues/workflow_aware_scheduler.go
  service/history/queues/workflow_aware_scheduler_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
  tests/workflow_queue_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Deprecate FunctionalTestBase
  .github/.golangci.yml
  docs/development/testing.md
Due: none

Stop using BuildIds SA in Drainage (#9107)
  service/worker/workerdeployment/client.go
Due: .azure-pipelines/server-cicd.yaml

Standardize YAML formatting
  .github/.codecov.yml
  .github/.yamlfmt
  .github/workflows/flaky-tests-report.yml
  .github/workflows/linters.yml
  .github/workflows/run-tests.yml
  .github/workflows/stale.yml
  Makefile
  common/dynamicconfig/config/testConfig.yaml
  config/development-cass-archival.yaml
  config/development-cass-es-custom.yaml
  config/development-cass-es-dual.yaml
  config/development-cass-es-fi.yaml
  config/development-cass-es.yaml
  config/development-mysql-es.yaml
  config/development-mysql8.yaml
  config/development-postgres-es.yaml
  config/development-postgres12.yaml
  config/development-sqlite.yaml
  develop/docker-compose/grafana/provisioning/dashboards/dashboard.yml
  develop/docker-compose/grafana/provisioning/datasources/prometheus.yml
  develop/docker-compose/grafana/provisioning/tempo/tempo.yaml
  develop/docker-compose/prometheus-darwin/prometheus.yml
  develop/docker-compose/prometheus-linux/prometheus.yml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

draft 1 with tests
  service/history/api/resetworkflow/api.go
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/server-cicd.yaml

[Scheduler] Adjust CHASM scheduler log levels
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/spec_processor.go
Due: none

Fix migration workflow breaking change for OSS (#9085)
  api/replication/v1/message.pb.go
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
  service/worker/migration/execution_info.go
  service/worker/migration/execution_info_test.go
  service/worker/migration/force_replication_workflow.go
  service/worker/migration/force_replication_workflow_test.go
  service/worker/migration/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix migration workflow break change in cloud
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
  service/worker/migration/execution_info.go
  service/worker/migration/execution_info_test.go
  service/worker/migration/force_replication_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add metrics to track invalid search attributes comparisons in ES
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
  common/persistence/visibility/store/elasticsearch/query_interceptors_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add inline RPC package from PR #6733
  client/history/client_test.go
  client/history/connections.go
  common/rpc.go
  common/rpc/inline/inline.go
  common/rpc/rpc.go
  common/rpc_mock.go
  common/testing/nettest/rpc_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  common/persistence/visibility/store/elasticsearch/query_interceptors.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Elasticsearch] Combine query clauses whenever possible to avoid deep nested BoolQuery (#9069)
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

adding tests and updating functional tests
  service/history/api/get_history_util.go
  service/history/api/recordworkflowtaskstarted/api.go
  tests/advanced_visibility_test.go
  tests/cancel_workflow_test.go
  tests/transient_workflow_task_history_test.go
  tests/update_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Set the "missing" key in ES sorter (#8964)
  .github/workflows/run-tests.yml
  common/persistence/visibility/store/elasticsearch/converter_test.go
  common/persistence/visibility/store/elasticsearch/visibility_store.go
  common/persistence/visibility/store/elasticsearch/visibility_store_read_test.go
  common/persistence/visibility/store/query/converter_legacy.go
  common/persistence/visibility/store/query/interceptors_legacy_test.go
  develop/github/docker-compose.yml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[worker-versioning]: blackhole queries only on root partition (#9040)
  client/matching/loadbalancer.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Set EnableCrossNamespaceCommands = false by default (#8971)
  common/dynamicconfig/constants.go
  tests/cancel_workflow_test.go
  tests/signal_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Upgrade Go to 1.25.5 to fix crypto/x509 CVEs (#9073)
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Handle nil errors in MultiOperationExecution (#9014)
  service/worker/workerdeployment/util.go
Due: .azure-pipelines/server-cicd.yaml
