Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

no defer
  tests/testcore/test_env.go
Due: none

Lazily initialize scheduler event logs
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/eventlog.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_tasks.go
Due: none

Rename scheduler event log helper
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/eventlog.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_tasks.go
Due: none

Clarify scheduler event log tests
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
Due: none

Assert missing scheduler event log precondition
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
Due: none

Nexus caller identity propagation (OSS)
  .gitignore
  api/common/v1/principal.go-helpers.pb.go
  api/common/v1/principal.pb.go
  api/historyservice/v1/request_response.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/invocation.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/principal.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/workflow.go
  common/authorization/authorizer.go
  common/authorization/interceptor.go
  common/headers/headers.go
  common/headers/headers_test.go
  common/nexus/callerprop/callerprop.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/common/v1/principal.proto
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/nexus_completion_http_handler.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_operation_http_handler.go
  service/history/api/describeworkflow/api.go
  service/history/api/recordactivitytaskheartbeat/api.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/workflow/mutable_state_impl.go
  service/matching/matching_engine.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Migrate archival_test.go
  tests/archival_test.go
  tests/testcore/test_env.go
Due: none

Prepare test context API cleanup
  common/testing/await/require_ctx_test.go
  common/testing/await/require_true.go
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/testcore/context.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update context.go
  common/testing/testcontext/context.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Migrate schedule_test.go
  tests/schedule_test.go
Due: none

Inline schedule suite contexts
  tests/schedule_test.go
Due: none

Annotate worker task spans
  common/telemetry/nexus.go
  common/telemetry/tags.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/workflow_handler.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add Nexus HTTP OTEL details
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  common/telemetry/tags.go
  components/nexusoperations/executors.go
  service/frontend/nexus_operation_http_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

nil
  chasm/lib/callback/fx.go
Due: none

Trace inbound Nexus HTTP requests
  common/resource/fx.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  service/frontend/nexus_operation_http_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add OTEL propagation to Nexus HTTP clients
  chasm/lib/callback/fx.go
  chasm/lib/callback/otel_test.go
  common/resource/fx.go
  common/rpc/otel_transport_test.go
  common/rpc/rpc.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Centralize Nexus HTTP telemetry markers
  chasm/lib/callback/fx.go
  chasm/lib/callback/invocable_outbound.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/task_handler_base.go
  common/telemetry/http.go
  common/telemetry/http_test.go
  common/telemetry/tags.go
  components/nexusoperations/executors.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Annotate Nexus HTTP spans
  common/telemetry/http.go
  common/telemetry/http_test.go
  common/telemetry/nexus.go
  service/frontend/nexus_handler.go
  service/frontend/nexus_handler_test.go
  service/frontend/nexus_operation_http_handler.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use env test vars in deployment version suite
  tests/worker_deployment_version_test.go
Due: none

Update worker_deployment_version_test.go
  tests/worker_deployment_version_test.go
Due: none

Pass deployment version dynamic config through test env
  tests/worker_deployment_version_test.go
Due: none

Inline suite test vars in worker deployment version tests
  tests/worker_deployment_version_test.go
Due: none

drop deploymentName
  tests/worker_deployment_version_test.go
Due: none

env.Tv
  tests/worker_deployment_version_test.go
Due: none

Rename shortNamer to versionShortNamer to avoid clash with worker_deployment_test.go
  tests/worker_deployment_version_test.go
Due: none

Reuse worker service cluster in deployment version suite
  tests/worker_deployment_version_test.go
Due: none

Remove versionShortNamer; use full test name in tv()
  tests/worker_deployment_version_test.go
Due: none

Migrate worker_deployment_version_test.go
  tests/worker_deployment_version_test.go
Due: none

Extend test contexts for await
  common/testing/await/require_ctx.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve await timeout diagnostics
  common/testing/await/report.go
  common/testing/await/report_test.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
  common/testing/testcontext/context.go
  common/testing/testcontext/context_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix upgrade panic: Lazily initialize scheduler event logs (#10780)
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/eventlog.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_tasks.go
Due: none

fix
  tests/testcore/dynamic_config_overrides.go
  tests/worker_deployment_version_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260620120024
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix lint
  common/telemetry/http_test.go
  go.mod
  service/frontend/nexus_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix stuck fairTaskReader when write path doesn't trigger reads (INC-1722)
  service/matching/backlog_manager_test.go
  service/matching/fair_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
