Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Fix async poller helpers in versioning_3_test.go (#9643)
  tests/versioning_3_test.go
Due: none

fix: handle sentinel schedules in CHASM migration paths
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/scheduler.go
  service/worker/scheduler/activities.go
  service/worker/scheduler/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

Remove WD Workflow V0 tests
  service/worker/workerdeployment/version_workflow_test.go
  service/worker/workerdeployment/workflow_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/server-cicd.yaml

Make V2 the default
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

validate request_id
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
Due: none

set request id if missing
  chasm/lib/nexusoperation/frontend.go
Due: none

validate blob sizes
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  common/log/tag/tags.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: Terminate + Cancel
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/request_response.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_client.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/service_grpc.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/proto/v1/request_response.proto
  chasm/lib/nexusoperation/proto/v1/service.proto
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  tests/nexus_standalone_test.go
Due: none

add missing cancel/terminate fields
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

add todo
  chasm/lib/nexusoperation/validator.go
Due: none

tweak test
  tests/nexus_standalone_test.go
Due: none

handle cancel/terminate req
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
Due: none

fmt
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/validator_test.go
Due: none

Add full path to testlogger debug log file
  .github/workflows/run-tests.yml
Due: none

disable until implemented
  chasm/lib/nexusoperation/operation_executors.go
Due: none

remove nil
  chasm/lib/nexusoperation/handler.go
Due: none

simplify NexusOperationTerminateState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

fix: use absolute path for TEMPORAL_TEST_LOG_FILE in CI (#9650)
  .github/workflows/run-tests.yml
Due: none

drop this
  chasm/lib/nexusoperation/operation.go
Due: none

Enable matching.useNewMatcher and enableMigration by default (#9595)
  common/dynamicconfig/constants.go
  service/matching/matching_engine_test.go
  service/matching/physical_task_queue_manager_test.go
  service/matching/task_queue_partition_manager_test.go
  tests/priority_fairness_test.go
  tests/task_queue_test.go
  tests/testcore/dynamic_config_overrides.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

disable test
  tests/nexus_standalone_test.go
Due: none

Exponential backoff on ResourceExhausted errors in fairTaskReader (#9468)
  service/matching/fair_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Move ForceLoadAllChildPartitions into partition manager (#9451)
  service/matching/matching_engine.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Scheduler Migration Sentinel Error Handling (#9648)
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/scheduler.go
  service/worker/scheduler/activities.go
  service/worker/scheduler/activities_test.go
Due: .azure-pipelines/server-cicd.yaml

rename and comment
  api/taskqueue/v1/message.pb.go
  proto/internal/temporal/server/api/taskqueue/v1/message.proto
  service/matching/fair_backlog_manager.go
  service/matching/pri_backlog_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add support for overwriting system/predefined search attributes in NameTypeMap
  common/persistence/visibility/store/util.go
  common/searchattribute/manager.go
  common/searchattribute/name_type_map.go
  common/searchattribute/name_type_map_test.go
  common/searchattribute/system_provider.go
  common/searchattribute/test_provider.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bring back chasm retention test case
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/server-cicd.yaml

use constant instead of -1
  api/matchingservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  service/matching/user_data_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove unused test var. Rename test name.
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/server-cicd.yaml

Add support for overwriting system/predefined search attributes in NameTypeMap (#9576)
  common/persistence/visibility/store/util.go
  common/searchattribute/manager.go
  common/searchattribute/name_type_map.go
  common/searchattribute/name_type_map_test.go
  common/searchattribute/system_provider.go
  common/searchattribute/test_provider.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove 1 day retention for standalone activities (#9645)
  chasm/workflow.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/server-cicd.yaml

Update Postgres local quick start
  CONTRIBUTING.md
Due: none

Remove schedule_test_migration_analysis.md
  schedule_test_migration_analysis.md
Due: none

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

Add research topics and content generators for TemporalFS demo
  chasm/lib/temporalfs/examples/research-agent-demo/content.go
  chasm/lib/temporalfs/examples/research-agent-demo/topics.go
Due: none

Add TemporalFS store, Temporal workflow, and activity implementations
  chasm/lib/temporalfs/examples/research-agent-demo/activities.go
  chasm/lib/temporalfs/examples/research-agent-demo/store.go
  chasm/lib/temporalfs/examples/research-agent-demo/workflow.go
Due: none

Add scale runner and live terminal dashboard
  chasm/lib/temporalfs/examples/research-agent-demo/dashboard.go
  chasm/lib/temporalfs/examples/research-agent-demo/runner.go
Due: none

Add entry point, HTML report generator, and README
  chasm/lib/temporalfs/examples/research-agent-demo/README.md
  chasm/lib/temporalfs/examples/research-agent-demo/main.go
  chasm/lib/temporalfs/examples/research-agent-demo/report.go
Due: none

Verify durable FS state on retry and track retries in real-time
  chasm/lib/temporalfs/examples/research-agent-demo/activities.go
  chasm/lib/temporalfs/examples/research-agent-demo/main.go
Due: none
