Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Restore CHASM time-skipping passive replication
  chasm/tree.go
  chasm/tree_test.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/noop_chasm_tree.go
  service/history/workflow/timeskipping.go
  service/history/workflow/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

implement time skipping for schedule v2
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  common/dynamicconfig/constants.go
  common/util.go
  common/util_test.go
  service/frontend/errors.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_task_executor_base.go
  tests/schedule_test.go
  tests/testcore/test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

update api to a feature branch
  api/adminservice/v1/request_response.pb.go
  api/adminservice/v1/service_grpc.pb.go
  api/deployment/v1/message.pb.go
  api/health/v1/message.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  api/namespace/v1/message.pb.go
  api/persistence/v1/executions.pb.go
  api/persistence/v1/hsm.pb.go
  api/persistence/v1/nexus.pb.go
  api/persistence/v1/queues.pb.go
  api/persistence/v1/task_queues.pb.go
  api/persistence/v1/tasks.pb.go
  api/taskqueue/v1/message.pb.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/callback/gen/callbackpb/v1/message.pb.go
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix mockgen
  service/history/interfaces/chasm_tree_mock.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.33.0-164.0-rc.20260920112503
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Restore 11057 misc changes for vts for chasm framework
  chasm/context.go
  chasm/context_mock.go
  chasm/timeskipping.go
  common/persistence/serialization/task_serializers.go
  service/frontend/workflow_handler.go
  service/history/queues/metrics.go
  service/history/tasks/timeskipping_timer_task.go
  service/history/tasks/utils.go
  service/history/timer_queue_active_task_executor.go
  service/history/timer_queue_active_task_executor_test.go
  service/history/timer_queue_standby_task_executor.go
  service/history/timer_queue_standby_task_executor_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
  service/history/workflow/timeskipping.go
  tests/timeskipping_fast_forward_test.go
  tests/xdc/timeskipping_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky OpenTelemetry metrics comparison
  common/metrics/otel_metrics_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky OpenTelemetry metrics comparison (#12196)
  common/metrics/otel_metrics_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: await all stress retries
  tests/xdc/namespace_replication_chasm_test.go
Due: none

Bump Server version to 1.33.0-164.0-rc.20260921112853
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Accept a tagged commit's pseudo-version for the API on cloud branches
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/main_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Address code review
  .github/workflows/trigger-api-release.yml
  cmd/tools/check-dependencies/plan_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Trigger an api-go release when a cloud branch needs one
  .github/workflows/trigger-api-release.yml
Due: none

Fix linters
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/plan.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add a mode to decide if a cloud branch needs an api-go release
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/plan.go
  cmd/tools/check-dependencies/plan_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add generic replication stream lanes
  api/persistence/v1/queues.go-helpers.pb.go
  api/persistence/v1/queues.pb.go
  api/replication/v1/message.pb.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  proto/internal/temporal/server/api/persistence/v1/queues.proto
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/history/configs/config.go
  service/history/replication/receiver_lane_registry.go
  service/history/replication/replication_lane_controller.go
  service/history/replication/replication_lane_controller_test.go
  service/history/replication/replication_reader_group.go
  service/history/replication/replication_reader_group_test.go
  service/history/replication/sender_lane_registry.go
  service/history/replication/sender_lane_registry_test.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_test.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Automatically cut an API release when a cloud release branch uses an unreleased API version (#11980)
  .github/workflows/trigger-api-release.yml
  cmd/tools/check-dependencies/main.go
  cmd/tools/check-dependencies/main_test.go
  cmd/tools/check-dependencies/plan.go
  cmd/tools/check-dependencies/plan_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Use net.JoinHostPort when replacing the frontend HTTP port to correctly format IPv4 and IPv6 addresses.
  common/rpc/rpc.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Commit handshake stalemate.
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/server-cicd.yaml

Simplify a little.
  service/history/replication/sender_lane_registry.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/server-cicd.yaml

Save lane class across stream reconnects.
  api/persistence/v1/queues.pb.go
  common/dynamicconfig/constants.go
  proto/internal/temporal/server/api/persistence/v1/queues.proto
  service/history/replication/replication_lane_controller.go
  service/history/replication/replication_lane_controller_test.go
  service/history/replication/sender_lane_registry.go
  service/history/replication/sender_lane_registry_test.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Generate matching load-balancing rpc wrappers (#11877)
  client/matching/client.go
  client/matching/client_gen.go
  client/matching/metric_client.go
  client/matching/metric_client_gen.go
  cmd/tools/genrpcwrappers/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

namespace replication: add shadow comparison metrics
  common/metrics/metric_defs.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_chasm_test.go
  service/frontend/namespace_handler_test.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

client_gen
  client/matching/client.go
  client/matching/client_gen.go
  client/matching/client_test.go
  client/matching/metric_client.go
  cmd/tools/genrpcwrappers/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

namespace replication: emit shadow comparison events
  common/wideevents/namespace_replication_events.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_chasm_test.go
  service/frontend/namespace_replication_shadow_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add functional test for stopping a real batch job
  tests/workflow_api_batch_stop_test.go
Due: none

Pass the options-update mask through unchanged
  service/worker/batcher/activities.go
  service/worker/batcher/activities_test.go
  tests/activity_api_batch_update_options_test.go
Due: .azure-pipelines/server-cicd.yaml

address comments
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/matching/backlog_manager.go
  service/matching/fair_backlog_manager.go
  service/matching/matcher_data.go
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_interface.go
  service/matching/pri_backlog_manager.go
  service/matching/ratelimit_manager.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Validate the job ID in DescribeBatchOperation too
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Clarify the batch job ID error and heartbeat timeout comment
  service/frontend/errors.go
  service/worker/batcher/activities.go
Due: .azure-pipelines/server-cicd.yaml

Drop the tautological batch activity options concurrency test
  service/worker/batcher/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Prevent Matching queue managers from starting after unload
  service/matching/physical_task_queue_manager.go
  service/matching/physical_task_queue_manager_lifecycle_test.go
Due: .azure-pipelines/server-cicd.yaml

namespace replication: correlate shadow comparison events
  api/adminservice/v1/request_response.pb.go
  chasm/lib/namespacereplication/peer_applier.go
  chasm/lib/namespacereplication/tasks.go
  chasm/lib/namespacereplication/tasks_test.go
  common/wideevents/namespace_replication_events.go
  common/wideevents/namespace_replication_events_test.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_chasm_test.go
  service/frontend/namespace_replication_shadow_events.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix SAA activity task validation routing
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service_grpc.pb.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/activity_tasks_test.go
  client/history/client_gen.go
  client/history/client_test.go
  cmd/tools/genrpcwrappers/main.go
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/history/handler.go
  service/history/handler_test.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
  tests/mixedbrain/go.mod
  tests/mixedbrain/go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable standalone activities for mixed brain dev server (#11457)
  tests/mixedbrain/mixed_brain_test.go
Due: none

Skip unchanged current execution updates (#11713)
  common/persistence/sql/execution_util.go
  common/persistence/sql/execution_util_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enable test-invoke provider in deployment version tests
  tests/worker_deployment_version_test.go
Due: none

Fix replication lane capability race
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
