Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Run versioning3 matching behavior cases sequentially
  common/testing/parallelsuite/suite.go
  common/testing/parallelsuite/suite_test.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Harden versioning3 deployment API waits
  tests/versioning_3_test.go
Due: none

Fix testcore global override test setup
  tests/testcore/test_cluster_pool_test.go
Due: none

Retry late activity poller handoff
  tests/versioning_3_test.go
Due: none

Start sticky completion poll before activity finish
  tests/versioning_3_test.go
Due: none

Revert ineffective versioning3 wait tuning
  tests/versioning_3_test.go
Due: none

Limit concurrent versioning3 test environments
  tests/versioning_3_test.go
Due: none

Reduce versioning3 retry summary noise
  tests/versioning_3_test.go
Due: none

Revert "Use shorter RPC deadlines in versioning3 awaits"
  tests/versioning_3_test.go
Due: none

Extend versioning3 verification waits
  tests/versioning_3_test.go
Due: none

Close standalone versioning3 SDK clients
  tests/versioning_3_test.go
Due: none

Preserve await diagnostics in test summaries
  common/testing/await/report.go
  common/testing/await/require_ctx_test.go
  tools/testrunner/log.go
  tools/testrunner/log_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use suite-scoped cluster pools
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/testcore/test_env_test.go
  tests/versioning_3_test.go
Due: none

Harden versioning3 registration waits
  tests/versioning_3_test.go
Due: none

Shorten versioning3 await RPC attempts
  tests/versioning_3_test.go
Due: none

Register child version before inheritance test
  tests/versioning_3_test.go
Due: none

Normalize versioning3 verification waits
  tests/versioning_3_test.go
Due: none

Extend versioning3 test context timeout
  tests/versioning_3_test.go
Due: none

Use shorter RPC deadlines in versioning3 awaits
  tests/versioning_3_test.go
Due: none

Strengthen versioning3 registration polling
  tests/versioning_3_test.go
Due: none

Validate speculative task history from poll response
  tests/versioning_3_test.go
Due: none

Let child inheritance workflows pause via signal
  tests/versioning_3_test.go
Due: none

Limit child inheritance signal pause to inherit cases
  tests/versioning_3_test.go
Due: none

Re-register inherited child workflow versions
  tests/versioning_3_test.go
Due: none

Back off await polling with jitter
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Reduce versioning3 propagation partition checks
  tests/versioning_3_test.go
Due: none

Report await timeout timing stats
  common/testing/await/report.go
  common/testing/await/require_ctx.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extend versioning3 backlog count await
  tests/versioning_3_test.go
Due: none

Surface final await timeout attempts
  common/testing/await/report.go
  common/testing/await/require_ctx_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move child inheritance assertions outside workflows
  tests/versioning_3_test.go
Due: none

Revert "Limit concurrent versioning3 test environments"
  tests/versioning_3_test.go
Due: none

gRPC fault injection
  common/faultinject/grpc_generator.go
  docs/development/testing.md
  tests/testcore/fault_injection.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test(continue_as_new): migrate TestContinueAsNewWithDelayStart to parallelsuite
  tests/continue_as_new_test.go
Due: none

linter fix
  service/history/shard/context_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix MySQL visibility schema JSON path quote syntax
  schema/mysql/v8/visibility/schema.sql
  schema/mysql/v8/visibility/versioned/v1.2/advanced_visibility.sql
Due: .azure-pipelines/admin-tools-cicd.yaml

Remove stale TODO comment referencing closed issue #668
  service/history/workflow/cache/cache.go
Due: .azure-pipelines/server-cicd.yaml

Wire passwordCommand config to docker environment variables
  config/docker.yaml
Due: none

test: fix TestContinueAsNewWithDelayStart build after parallelsuite migration (#10480)
  tests/continue_as_new_test.go
Due: none

add activity retry to time skipping
  service/history/workflow/activity.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none
