Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Nexus Standalone: List + Count (#9559)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: Delete (#9654)
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: queryable RequestID (#10032)
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: gate NexusOperation link assertion on chasmEnabled
  tests/nexus_workflow_test.go
Due: none

Nexus Standalone: assorted post-merge cleanup
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/cancellation_tasks_test.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  chasm/lib/nexusoperation/workflow/events_test.go
  go.mod
  go.sum
  service/frontend/fx.go
  service/frontend/workflow_handler_test.go
  tests/nexus_standalone_test.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Nexus Standalone: TerminatedFailureInfo identity (#10009)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: translate already started err
  chasm/lib/nexusoperation/handler.go
  tests/nexus_standalone_test.go
Due: none

Nexus Standalone: LastAttemptFailure fallback (#10015)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_test.go
Due: none

Nexus Standalone: Terminate + Cancel (#9624)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/handler.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/validator.go
  chasm/lib/nexusoperation/validator_test.go
  chasm/lib/nexusoperation/workflow/events.go
  tests/nexus_standalone_test.go
Due: none

WIP
  go.mod
  go.sum
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

perf: cache WithTags handlers in tallyMetricsHandler to reduce allocations
  common/metrics/tally_metrics_handler.go
  common/metrics/tally_metrics_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: mark idempotent CQL queries for driver-level retry on write timeouts
  common/persistence/cassandra/cluster_metadata_store.go
  common/persistence/cassandra/history_store.go
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_user_data.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/cassandra/metadata_store.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/cassandra/mutable_state_task_store.go
  common/persistence/cassandra/nexus_endpoint_store.go
  common/persistence/cassandra/queue_store.go
  common/persistence/cassandra/queue_v2_store.go
  common/persistence/cassandra/shard_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address pr feedback
  common/authorization/default_jwt_claim_mapper.go
  common/authorization/default_jwt_claim_mapper_test.go
  common/config/config.go
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Allow config.ReplicationLowPriorityTaskParallelism to take effect.
  service/history/replication/fx.go
Due: .azure-pipelines/server-cicd.yaml

Fix data race in nexus_standalone_test.go
  tests/nexus_standalone_test.go
Due: none

Remove redundant comment.
  service/history/replication/fx.go
Due: .azure-pipelines/server-cicd.yaml

Fix data race in nexus_standalone_test.go (#10052)
  tests/nexus_standalone_test.go
Due: none

Update to API v1.62.10
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Merge main
  chasm/lib/activity/activity.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  tests/standalone_activity_test.go
Due: none

Address PR comments
  chasm/lib/activity/activity.go
  chasm/lib/activity/statemachine.go
  tests/standalone_activity_test.go
Due: none

Regen proto
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
Due: none

Address PR comments
  chasm/lib/activity/activity.go
  tests/standalone_activity_test.go
Due: none

Fix lint
  go.mod
  go.sum
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Added start delay enable dc
  chasm/lib/activity/config.go
  chasm/lib/activity/frontend.go
  tests/standalone_activity_test.go
Due: none

Update API dependencies
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Revert go.mod to main
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update go.mod deps.
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

merging in conflicts and changes
  api/historyservice/v1/request_response.go-helpers.pb.go
  api/historyservice/v1/request_response.pb.go
  api/historyservice/v1/service.pb.go
  api/historyservice/v1/service_grpc.pb.go
  api/historyservicemock/v1/service_grpc.pb.mock.go
  chasm/lib/workflow/nexus_service.go
  chasm/lib/workflow/workflow.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  client/history/client_gen.go
  client/history/metric_client_gen.go
  client/history/retryable_client_gen.go
  cmd/tools/getproto/files.go
  cmd/tools/getproto/main.go
  common/rpc/interceptor/logtags/history_service_server_gen.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/historyservice/v1/service.proto
  service/history/handler.go
  service/history/history_engine.go
  service/history/interfaces/engine.go
  service/history/interfaces/mutable_state.go
  service/history/workflow/mutable_state_impl.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add start delay support for standalone activities (#10008)
  chasm/lib/activity/activity.go
  chasm/lib/activity/config.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  go.mod
  go.sum
  tests/standalone_activity_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update Graphana Tempo config for latest version
  develop/docker-compose/grafana/provisioning/tempo/tempo.yaml
Due: none

Update dependencies in v1.29.x branch (#10031)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update to API v1.62.11
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Avoid string key for high priority queue as well.
  service/history/replication/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add metric to track ListWorkflowExecutions query length
  common/metrics/metric_defs.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

propagate time-skipping config to childwf
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/historybuilder/history_builder_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/timeskipping_propagation_test.go
  tests/timeskipping_test.go
Due: .azure-pipelines/server-cicd.yaml

propagation for reset
  tests/timeskipping_propagation_test.go
Due: none

fix bugs for config propagation to childwf
  service/history/workflow/mutable_state_impl.go
  tests/timeskipping_propagation_test.go
Due: .azure-pipelines/server-cicd.yaml

ts propagation to cron
  service/history/workflow/retry.go
  tests/timeskipping_propagation_test.go
Due: .azure-pipelines/server-cicd.yaml

propagation for retry
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  tests/timeskipping_propagation_test.go
Due: .azure-pipelines/server-cicd.yaml
