Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

clean up history signal aggregator and interceptor
  common/rpc/interceptor/health_check.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove old configs
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/deep_health_check_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add operation param to Record func
  common/persistence/health_signal_aggregator.go
  common/persistence/noop_health_signal_aggregator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove metrics enabled flag
  common/dynamicconfig/constants.go
  common/rpc/interceptor/health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix test
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

added new health settings dc and defaults
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

expose persistence health settings
  service/history/configs/config.go
Due: .azure-pipelines/server-cicd.yaml

pass operation into Record()
  common/persistence/persistence_metric_clients.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

remove use percentiles gate
  common/dynamicconfig/constants.go
  common/rpc/interceptor/health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

implemented new health package
  common/persistence/health_signal_aggregator.go
  common/persistence/noop_health_signal_aggregator.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

clean up old persistence window and buffer size
  common/rpc/interceptor/health_check.go
  service/history/deep_health_check_test.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rm orphaned configs
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

rm old persistence settings and use new ones + make sure it compiles
  common/dynamicconfig/constants.go
  common/persistence/client/fx.go
  common/persistence/client/health_request_rate_limiter.go
  service/history/configs/config.go
  service/history/deep_health_check.go
  service/history/deep_health_check_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move synchronization to ringpop membership monitor
  common/membership/interfaces.go
  common/membership/ringpop/monitor.go
  common/membership/ringpop/monitor_test.go
  common/membership/ringpop/test_cluster.go
  service/history/service.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Honor Matching grants for eager activities
  chasm/lib/activity/config.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/handler_test.go
  tests/activity_standalone_test.go
Due: none

move optimization to component level check
  chasm/registrable_task_test.go
  chasm/registry.go
  chasm/tree.go
Due: none

Test eager activity response loss recovery
  tests/activity_standalone_test.go
Due: none

Make fair task gc conditional on rangeid (#12283) (#12411)
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  common/persistence/tests/task_queue_fair_task.go
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make fair task gc conditional on rangeid (#12283) (#12415)
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  common/persistence/tests/task_queue_fair_task.go
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Group worker commands by namespace in outbound queue scheduler
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  common/workercommands/dispatcher.go
  common/workercommands/dispatcher_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/outbound_queue_active_task_executor.go
  service/history/outbound_queue_active_task_executor_test.go
  service/history/queues/grouper_test.go
  service/history/tasks/worker_commands_task.go
  service/history/tasks/worker_commands_task_test.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Index namespace mutation executions for repair
  chasm/lib/namespacereplication/component.go
  chasm/lib/namespacereplication/component_test.go
  chasm/lib/namespacereplication/handler.go
  chasm/lib/namespacereplication/library.go
  chasm/lib/namespacereplication/tasks_test.go
Due: none

Fix gci import formatting in test files
  service/history/queues/grouper_test.go
  service/history/tasks/worker_commands_task_test.go
Due: .azure-pipelines/server-cicd.yaml

deep health check field consistency
  service/history/deep_health_check.go
Due: .azure-pipelines/server-cicd.yaml

fixup! fix broken test
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

fix broken test
  service/history/deep_health_check_test.go
Due: .azure-pipelines/server-cicd.yaml

fixup! added new health settings dc and defaults
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Make fair task gc conditional on rangeid (#12283) (#12427)
  common/persistence/cassandra/matching_task_store_queue.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  common/persistence/tests/task_queue_fair_task.go
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Clean up standalone activity state transitions
  chasm/lib/activity/statemachine.go
Due: none

Resolve eager activity lint findings
  chasm/lib/activity/frontend.go
  chasm/lib/activity/handler.go
  chasm/lib/activity/validator_test.go
  tests/activity_standalone_test.go
Due: none

Lint rules: allow underscores in method names in test files (#12374)
  .github/.golangci.yml
Due: none

scheduler: normalize test suite receiver names
  tests/schedule_test.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

scheduler: introduce a typed schedule test environment
  tests/schedule_migration_test.go
  tests/schedule_test.go
  tests/schedule_test_env.go
  tests/schedule_workflow_pause_interaction_test.go
Due: none

scheduler: colocate environment context definitions
  tests/schedule_test.go
  tests/schedule_test_env.go
Due: none

scheduler: move schedule helpers onto the test environment
  tests/schedule_audit_test.go
  tests/schedule_migration_test.go
  tests/schedule_test.go
  tests/schedule_test_env.go
Due: none

scheduler: use suite-native schedule polling
  tests/schedule_migration_test.go
  tests/schedule_test.go
Due: none

Drop worker commands with empty control queue in dispatcher
  common/workercommands/dispatcher.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump ServerVersion from 1.31.3 to 1.31.4
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump ServerVersion from 1.30.7 to 1.30.8
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add created and closed principals for CHASM root components
  api/persistence/v1/chasm.pb.go
  chasm/chasmtest/task_helpers.go
  chasm/chasmtest/test_engine.go
  chasm/chasmtest/test_engine_test.go
  chasm/field.go
  chasm/field_internal.go
  chasm/field_test.go
  chasm/lib/activity/describe_component_test.go
  chasm/lib/all/all_test.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/callbacks_test.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/operation_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_nexus_completion_test.go
  chasm/lib/scheduler/scheduler_record_completed_action_test.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/skip_persistence_test.go
  chasm/tree.go
  chasm/tree_test.go
  proto/internal/temporal/server/api/persistence/v1/chasm.proto
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/interfaces/chasm_tree.go
  service/history/interfaces/chasm_tree_mock.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/noop_chasm_tree.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
