Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

use env vars for test logger, singleton for file logger
  .github/workflows/run-tests.yml
  common/log/zap_logger.go
  common/testing/testlogger/testlogger.go
  docs/development/testing.md
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

gate CHASM sentinels on EnableCHASM for test compatibility
  service/frontend/service.go
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

CHASM: Improve component context value semantics
  chasm/context.go
  chasm/context_mock.go
  chasm/engine.go
  chasm/engine_mock.go
  chasm/lib/callback/executors_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/registrable_component.go
  chasm/registrable_task.go
  chasm/registry.go
  chasm/tree.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/visibility_queue_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

last reviews
  .github/workflows/run-tests.yml
  common/testing/testlogger/testlogger.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  .github/CODEOWNERS
Due: none

Replace governance files on release branch
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.31.0-153.0-rc.20260323205147
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

functional test for sentinels
  tests/schedule_test.go
Due: none

tests: write debug level logs to a file (#9608)
  .github/workflows/run-tests.yml
  common/log/zap_logger.go
  common/testing/testlogger/testlogger.go
  docs/development/testing.md
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM: Improve component context value semantics (#9604)
  chasm/context.go
  chasm/context_mock.go
  chasm/engine.go
  chasm/engine_mock.go
  chasm/lib/callback/executors_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/registrable_component.go
  chasm/registrable_task.go
  chasm/registry.go
  chasm/tree.go
  service/history/chasm_engine.go
  service/history/chasm_engine_test.go
  service/history/visibility_queue_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

fix lint
  service/frontend/admin_handler_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix testifylint: use s.Len
  tests/schedule_test.go
Due: none

More review comments
  chasm/lib/workflow/handler.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
Due: none

Fix lint errors
  chasm/lib/workflow/library.go
  chasm/lib/workflow/workflow.go
Due: none

CODEOWNERS (#9561)
  .github/CODEOWNERS
Due: none

fix: use crane copy in promote workflow to preserve multi-arch and OCI labels
  .github/workflows/promote-docker-image.yml
Due: none

fix: use skopeo copy --all instead of crane
  .github/workflows/promote-docker-image.yml
Due: none

Add server option for customizing archiver implementation
  common/archiver/README.md
  common/archiver/provider/provider.go
  common/archiver/provider/provider_mock.go
  common/archiver/provider/provider_test.go
  common/config/config.go
  common/resource/fx.go
  temporal/fx.go
  temporal/server_option.go
  temporal/server_options.go
  tests/archival_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: use crane copy for multi-arch image promotion
  .github/workflows/promote-docker-image.yml
Due: none

Cherry-pick test fixes for testify v1.11.1 compatibility (from #9442, #9569)
  client/history/caching_redirector_test.go
  tests/worker_deployment_test.go
Due: none

Fix cache_test.go for otel/sdk v1.40.0 + testify EventuallyWithT behavior
  service/history/workflow/cache/cache_test.go
Due: .azure-pipelines/server-cicd.yaml

fix a data race and test assertion
  service/worker/scheduler/activities.go
  service/worker/scheduler/workflow.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

CHASM: support archetypeID in admin handler
  api/adminservice/v1/request_response.pb.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  service/frontend/admin_handler.go
  service/worker/migration/activities.go
  service/worker/migration/activities_test.go
  tools/tdbg/commands.go
  tools/tdbg/flags.go
  tools/tdbg/tdbg_commands.go
  tools/tdbg/util.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix: add explicit empty permissions to promote workflow
  .github/workflows/promote-docker-image.yml
Due: none

fix: use crane copy in promote workflow to preserve multi-arch and OCI labels (#9631)
  .github/workflows/promote-docker-image.yml
Due: none

[Scheduled Actions] Wire in sentinels for CreateSchedule to prevent cross-ID-space collisions (#9594)
  chasm/lib/scheduler/config.go
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.go-helpers.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_client.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_grpc.pb.go
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/proto/v1/request_response.proto
  chasm/lib/scheduler/proto/v1/service.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/sentinel_test.go
  service/frontend/admin_handler_test.go
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/worker/dummy/workflow.go
  service/worker/scheduler/activities.go
  service/worker/scheduler/workflow.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

fix lint
  common/archiver/provider/provider_test.go
  temporal/fx.go
  temporal/server_options.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix lint
  common/archiver/provider/provider_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add server option for customizing archiver implementation (#9090)
  common/archiver/README.md
  common/archiver/provider/provider.go
  common/archiver/provider/provider_mock.go
  common/archiver/provider/provider_test.go
  common/config/config.go
  common/resource/fx.go
  temporal/fx.go
  temporal/server_option.go
  temporal/server_options.go
  tests/archival_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CaN on suggestion + fix lint
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Fix lint
  chasm/lib/workflow/workflow.go
Due: none

Fix lint
  service/worker/workerdeployment/version_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

WV workflows to Continue-as-new on SDK suggestions
  docs/development/testing.md
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Fix s.NoError inside s.Eventually for testify v1.11.1 compatibility
  tests/versioning_3_test.go
Due: none

Fix test assertion issues for testify v1.11.1 compatibility
  tests/priority_fairness_test.go
  tests/versioning_3_test.go
  tests/worker_deployment_test.go
Due: none

Fix additional suite assertion misuses inside EventuallyWithT callbacks
  tests/task_queue_stats_test.go
  tests/versioning_3_test.go
Due: none

Fix race in TestResetWithChild_AfterChildTerminated for testify v1.11.1
  tests/workflow_reset_with_child_test.go
Due: none

chore: upgrade dev/CI Cassandra from 3.11 to 5.0 (#9482)
  develop/docker-compose/docker-compose.yml
  develop/github/docker-compose.yml
  docs/development/macos/cassandra.md
Due: none

Add nolint:staticcheck directives for deprecated GetVersionsInfo usage
  tests/versioning_3_test.go
Due: none
