Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Bump Server version to 1.32.1 (#12304)
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

LifeCycleState
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  service/history/workflow/mutable_state_impl.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

address comments
  service/history/api/signalwithstartworkflow/signal_with_start_workflow.go
  service/history/api/signalwithstartworkflow/signal_with_start_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

fixup! copy tests over
  common/health/evaluate_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address comments
  chasm/describe.go
  chasm/lib/activity/describe_component_test.go
  chasm/lib/activity/responses.go
Due: none

Add chasm component export
  chasm/describe.go
  chasm/lib/activity/activity.go
  chasm/lib/activity/describe_component_test.go
  chasm/lib/activity/responses.go
Due: none

Skip already updated root in routing propagation checks
  service/matching/user_data_manager.go
  service/matching/user_data_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

docs: update sdk-dotnet Temporal library readme location
  CONTRIBUTING.md
Due: none

Cross Run RequestID dedup
  common/dynamicconfig/constants.go
  common/persistence/cassandra/errors.go
  common/persistence/cassandra/mutable_state_store.go
  common/persistence/data_interfaces.go
  common/persistence/execution_manager.go
  common/persistence/persistence_interface.go
  common/persistence/sql/execution_util.go
  common/persistence/tests/execution_mutable_state.go
  service/history/api/multioperation/api.go
  service/history/api/startworkflow/api.go
  service/history/api/startworkflow/api_test.go
  service/history/configs/config.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/context.go
  service/history/workflow/transaction.go
  service/history/workflow/transaction_impl.go
  service/history/workflow/transaction_mock.go
  service/history/workflow/transaction_test.go
  tests/update_workflow_test.go
  tests/workflow_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Propagate more WCI client error types to callers (#12180)
  service/worker/workerdeployment/activities.go
  service/worker/workerdeployment/compute_util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
  service/worker/workerdeployment/workflow.go
Due: .azure-pipelines/server-cicd.yaml

Preserve legacy propagation versions during worker rollouts
  service/worker/workerdeployment/activities_test.go
  service/worker/workerdeployment/propagation_test.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_activities.go
  service/worker/workerdeployment/version_workflow.go
Due: .azure-pipelines/server-cicd.yaml

feat: adding log for v2 schedule migration pathway (#12145)
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
Due: none

Make fair task gc conditional on rangeid (#12283)
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/data_interfaces.go
  common/persistence/sql/task_v1.go
  common/persistence/sql/task_v2.go
  common/persistence/tests/task_queue_fair_task.go
  service/matching/db.go
  service/matching/fair_task_reader.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

feat(matching): add MatchingValidatorBatchSize dynamic config
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(matching): match parent task forwarder before validator pollers
  service/matching/matcher_data.go
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

feat(matching): run batch validator on child partitions too
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

feat(matching): validate backlog tasks in concurrent batches on root
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

fix(matching): replace one-element validator cache with size-capped map
  service/matching/task_validation.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/server-cicd.yaml

Add grantEager metrics
  common/metrics/metric_defs.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/matching/ratelimit_manager.go
  service/matching/ratelimit_manager_test.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Cover disabled throttle retries and cause classification
  service/history/queues/executable_test.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/server-cicd.yaml

fix(matching): preserve validator cache recency and stabilize batch tests
  service/matching/pri_matcher_test.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/server-cicd.yaml

feat(matching): make validator threshold and cache capacity configurable
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Track total callback count and size on the CHASM Workflow component
  chasm/lib/workflow/callbacks_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflow_state_test.go
  chasm/lib/workflow/workflow_update_limits_test.go
Due: none

Validate aggregate callback limits for workflow starts and attach-on-conflict
  chasm/lib/workflow/callbacks_test.go
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflow_state_test.go
  service/history/api/create_workflow_util.go
  service/history/api/startworkflow/api.go
  service/history/configs/config.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/shard/context_testutil.go
  service/history/workflow/mutable_state_callbacks_test.go
  service/history/workflow/mutable_state_impl.go
  tests/callbacks_test.go
  tests/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

docs(matching): remove validator batch size matcher qualifier
  common/dynamicconfig/constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Validate aggregate callback limits for Workflow Updates at admission
  chasm/lib/workflow/callbacks_test.go
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflow_update_limits_test.go
  service/history/api/create_workflow_util.go
  service/history/api/startworkflow/api.go
  service/history/api/startworkflow/api_test.go
  service/history/api/update_workflow_util.go
  service/history/api/updateworkflow/api.go
  service/history/api/updateworkflow/api_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/ndc/workflow_resetter_callbacks_test.go
  service/history/workflow/mutable_state_callbacks_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/update/registry.go
  service/history/workflow/update/registry_test.go
  service/history/workflow/update/update.go
Due: .azure-pipelines/server-cicd.yaml

Save for workflow for CHASM on new load
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix(matching): isolate forwarding worker retry state
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
Due: .azure-pipelines/server-cicd.yaml

style(matching): apply CI Go loop fixes
  service/matching/pri_matcher_test.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/server-cicd.yaml

namespace replication: add authoritative CHASM observability
  chasm/lib/namespacereplication/observability.go
  chasm/lib/namespacereplication/statemachine.go
  chasm/lib/namespacereplication/tasks.go
  chasm/lib/namespacereplication/tasks_test.go
  common/metrics/metric_defs.go
  common/namespace/nsreplication/chasm_observability.go
  common/namespace/nsreplication/replication_task_executor.go
  common/namespace/nsreplication/replication_task_executor_test.go
  common/wideevents/context.go
  common/wideevents/namespace_replication_events_test.go
  service/frontend/admin_handler.go
  service/frontend/admin_handler_test.go
  service/frontend/fx.go
  service/frontend/namespace_handler_chasm_test.go
  service/frontend/namespace_replication_authoritative_events.go
  service/worker/replicator/replication_message_processor.go
  service/worker/replicator/replication_message_processor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

docs(matching): clarify forwarding worker retry isolation
  service/matching/pri_matcher.go
Due: .azure-pipelines/server-cicd.yaml

Add a stale-running-workflows schedule invariant scanner
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  common/metrics/metric_defs.go
  service/worker/scanner/scanner.go
  service/worker/scanner/scheduleinvariants/invariants.go
  service/worker/scanner/scheduleinvariants/invariants_test.go
  service/worker/scanner/scheduleinvariants/workflows.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

perf(matching): make validator cache eviction constant time
  service/matching/matcher_data.go
  service/matching/pri_matcher_test.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/server-cicd.yaml

docs(matching): preserve validator loop comments
  service/matching/pri_matcher.go
Due: .azure-pipelines/server-cicd.yaml

Let async parent resend report a parent missing on the source
  service/history/api/verifychildworkflowcompletionrecorded/api.go
  service/history/api/workflowresend/scheduler.go
  service/history/api/workflowresend/scheduler_test.go
  service/history/api/workflowresend/sync_workflow_state.go
  service/history/history_engine2_test.go
  tests/xdc/parent_child_harness.go
  tests/xdc/parent_child_test.go
Due: .azure-pipelines/server-cicd.yaml

Configure CHASM internal callback namespace binding (#11876)
  chasm/lib/activity/validator_test.go
  chasm/lib/nexusoperation/validator_test.go
  common/callbacks/validator.go
  common/callbacks/validator_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Bump default CLI to 1.9.1 on release/v1.30.x (#12274)
  .github/actions/build-docker-images/scripts/main.go
Due: none

Run root partition task validators concurrently
  common/dynamicconfig/constants.go
  service/matching/config.go
  service/matching/physical_task_queue_manager.go
  service/matching/pri_matcher.go
  service/matching/pri_matcher_test.go
  service/matching/task_validation.go
  service/matching/task_validation_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

emit partition_scale_max_clamped counter when max clamps target in simple partition scaler
  common/metrics/metric_defs.go
  service/matching/partition_scaler_interface.go
  service/matching/partition_scaler_mock.go
  service/matching/simple_partition_scaler.go
  service/matching/simple_partition_scaler_test.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address review feedback on namespace state-change unloads
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
  service/matching/namespace_failover_test.go
  tests/xdc/failover_test.go
Due: .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
