Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Run legacy sequential suites in parallel (#11060)
  common/testing/parallelsuite/suite.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add test for per-fairness-key rate limit wakeup (#11044)
  service/matching/matcher_data_test.go
Due: .azure-pipelines/server-cicd.yaml

decode github commits directly
  tools/common/github/commit.go
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

include stdout and stderr
  tools/common/github/client.go
Due: .azure-pipelines/admin-tools-cicd.yaml

use nested commit author
  tools/ci-notify/failure_report.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Put context first in parallel scope helper
  common/testing/parallelsuite/suite.go
  tests/versioning_3_test.go
  tests/versioning_test_env.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move CancelOutstandingWorkerPolls partition fan out to matching server (#9424)
  api/matchingservice/v1/request_response.go-helpers.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  api/matchingservicemock/v1/service_grpc.pb.mock.go
  client/matching/client_gen.go
  client/matching/metric_client_gen.go
  client/matching/retryable_client_gen.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/service.proto
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/matching/config.go
  service/matching/configs/quotas.go
  service/matching/handler.go
  service/matching/matching_engine.go
  service/matching/matching_engine_interfaces.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Extract reusable GitHub helpers (#11018)
  tools/ci-notify/app_test.go
  tools/ci-notify/digest.go
  tools/ci-notify/failure_report.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
  tools/common/github/artifacts.go
  tools/common/github/client.go
  tools/common/github/commit.go
  tools/common/github/runs.go
  tools/common/github/runs_test.go
  tools/common/github/url.go
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
  tools/flakereport/doc.go
  tools/flakereport/flakereport.go
  tools/flakereport/github.go
  tools/flakereport/parallel.go
  tools/flakereport/slack.go
  tools/flakereport/types.go
  tools/flakereport/writer.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add task queue kind to NexusTask token (#11022)
  api/token/v1/message.pb.go
  proto/internal/temporal/server/api/token/v1/message.proto
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Rename final failed tests to failures
  tools/ci-notify/app.go
  tools/ci-notify/app_test.go
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
  tools/ci-notify/failure_report.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Include data races in ci notify failures
  tools/ci-notify/app_test.go
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
  tools/ci-notify/failure_report.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Simplify data race detection
  tools/ci-notify/artifacts.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Report final failed tests in ci notify
  tools/ci-notify/app.go
  tools/ci-notify/app_test.go
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
  tools/ci-notify/failure_report.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Test data race failure extraction
  tools/ci-notify/artifacts_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Tighten data race failure detection
  tools/ci-notify/artifacts.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update artifacts_test.go
  tools/ci-notify/artifacts_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

comma
  tools/ci-notify/app_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

shorter
  tools/ci-notify/app_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

OOM
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
  tools/ci-notify/slack.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Simplify data race marker check
  tools/ci-notify/artifacts.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Read ci notify failures from summaries
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

lint
  tools/ci-notify/app_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

change
  tools/ci-notify/app_test.go
  tools/ci-notify/failure_report.go
Due: .azure-pipelines/admin-tools-cicd.yaml

check complete slack failure message
  tools/ci-notify/app_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

compare complete ci notify outputs
  tools/ci-notify/app_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Address child override review feedback
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

inline test expectations
  tools/ci-notify/app_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

simplify failure artifact parsing
  tools/ci-notify/artifacts.go
  tools/ci-notify/artifacts_test.go
  tools/ci-notify/failure_report.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update app_test.go
  tools/ci-notify/app_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Update artifacts.go
  tools/ci-notify/artifacts.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Move max-attempt check from Dispatcher to caller
  common/workercommands/dispatcher.go
  common/workercommands/dispatcher_test.go
  service/history/outbound_queue_active_task_executor.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove stale comment about attempt availability in Execute
  chasm/lib/activity/worker_command_task_handlers.go
Due: none

Preserve pending activity next retry delay (#11016)
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.go-helpers.pb.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/statemachine.go
  tests/activity_standalone_test.go
Due: none

Log when cancel command dispatch exceeds max attempts
  chasm/lib/activity/worker_command_task_handlers.go
  chasm/lib/activity/worker_command_task_handlers_test.go
Due: none

feedback
  chasm/lib/scheduler/export_test.go
  chasm/lib/scheduler/fx.go
  chasm/lib/scheduler/generator_tasks_test.go
  chasm/lib/scheduler/handler_test.go
  chasm/lib/scheduler/helper_test.go
  chasm/lib/scheduler/scheduler_test.go
  chasm/lib/scheduler/spec_processor_test.go
  service/worker/scheduler/export_test.go
  service/worker/scheduler/replay_test.go
  service/worker/scheduler/spec.go
  service/worker/scheduler/spec_test.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Add test for max-attempt check in outbound executor
  service/history/outbound_queue_active_task_executor_test.go
Due: .azure-pipelines/server-cicd.yaml

Capture goroutine diagnostics in memory monitor
  develop/github/memory_monitor.sh
Due: none

Add SAA operator APIs to DC redirection whitelist
  common/rpc/interceptor/dc_redirection_policy.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update invocation.go
  chasm/lib/nexusoperation/invocation.go
Due: none
