Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Add Benchstat tool for benchmark output (#10996)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

test: log a structured event per test-cluster creation
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
Due: none

Add `partition_scale_target` metric next to existing _read and _write gauges (#11006)
  common/metrics/metric_defs.go
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test_cluster_pool.go
  tests/testcore/test_cluster_pool.go
Due: none

use default retry policy when updating with nil
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator.go
  tests/activity_standalone_test.go
Due: none

fix: clear pending workflow task when unpausing workflow (#10980)
  go.mod
  go.sum
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  tests/pause_workflow_execution_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

wf-pause: allow pausing a workflow before the first workflow task is dispatched
  common/persistence/workflow_state_status_validator.go
  common/persistence/workflow_state_status_validator_test.go
  service/history/api/unpauseworkflow/api.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/mutable_state_state_status.go
  tests/pause_workflow_execution_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update to API v1.63.3
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

allow nil retry policy on creation
  tests/activity_standalone_test.go
Due: none

WCP 5/X: Workflow task completion request pagination on the server (#10880)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/frontend/namespace_handler.go
  service/frontend/namespace_handler_test.go
  service/frontend/service.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/configs/config.go
  service/history/interfaces/workflow_context.go
  service/history/interfaces/workflow_context_mock.go
  service/history/workflow/context.go
  service/history/workflow/context_test.go
  tests/workflow_completion_pagination_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update test_cluster_pool.go
  .github/actions/post-test-reporting/action.yml
  .github/workflows/run-tests.yml
  tests/testcore/test_cluster_pool.go
Due: none

Update action.yml
  .github/actions/post-test-reporting/action.yml
Due: none

use namespace name for default activity retry policy
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  service/history/api/command_attr_validator.go
  service/history/api/command_attr_validator_test.go
Due: .azure-pipelines/server-cicd.yaml

POC: task queue user data as a CHASM component (Option A)
  chasm/lib/tquserdata/component.go
  chasm/lib/tquserdata/component_test.go
  chasm/lib/tquserdata/fx.go
  chasm/lib/tquserdata/handler.go
  chasm/lib/tquserdata/library.go
  common/dynamicconfig/constants.go
  service/history/fx.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

return error when UpdateOptions(restore_original=true) with nil OriginalOptions
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_test.go
  chasm/lib/activity/validator.go
Due: none

Update to API v1.63.3 (#11011)
  go.mod
  go.sum
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Preserve pending activity next retry delay
  chasm/lib/activity/activity.go
  tests/activity_standalone_test.go
Due: none

mocks
  service/history/api/updateactivityoptions/api_test.go
Due: .azure-pipelines/server-cicd.yaml

Bump Server version to 1.32.0-159.0
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use default retry policy when updating with nil (#11010)
  chasm/lib/activity/frontend.go
  chasm/lib/activity/validator.go
  chasm/lib/activity/validator_test.go
  service/history/api/command_attr_validator.go
  service/history/api/command_attr_validator_test.go
  service/history/api/updateactivityoptions/api_test.go
  tests/activity_standalone_test.go
Due: .azure-pipelines/server-cicd.yaml

Add test for Nexus operation failure
  tests/nexusworkercallbacks/handler/nexus.go
  tests/nexusworkercallbacks/handler/worker.go
  tests/nexusworkercallbacks/nexusworkercallbacks_test.go
Due: none

Add final failures to Slack failure notifications
  tools/flakereport/flakereport.go
  tools/flakereport/slack.go
  tools/flakereport/slack_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

move to embedded task invocation struct
  chasm/chasmtest/task_helpers.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/callback/tasks.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/cancellation_tasks_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/scheduler/backfiller_tasks.go
  chasm/lib/scheduler/generator_tasks.go
  chasm/lib/scheduler/invoker_execute_task_test.go
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
  chasm/lib/scheduler/metrics_consistency_test.go
  chasm/lib/scheduler/scheduler_idle_tasks_test.go
  chasm/lib/scheduler/scheduler_migrate_task.go
  chasm/lib/scheduler/scheduler_tasks.go
  chasm/lib/scheduler/sentinel_test.go
  chasm/lib/tests/tasks.go
  chasm/registrable_task.go
  chasm/task.go
  chasm/task_mock.go
  chasm/tree.go
  chasm/tree_test.go
  chasm/visibility.go
  chasm/visibility_task_test.go
  service/history/chasm_task_util_test.go
  service/history/visibility_queue_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

Extract GitHub artifact helpers
  tools/common/github/artifacts.go
  tools/flakereport/flakereport.go
  tools/flakereport/github.go
  tools/flakereport/parallel.go
  tools/flakereport/slack.go
  tools/flakereport/slack_test.go
  tools/flakereport/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Extract reusable GitHub helpers
  tools/ci-notify/github.go
  tools/common/github/artifacts.go
  tools/common/github/commit.go
  tools/common/github/gh.go
  tools/flakereport/github.go
  tools/flakereport/types.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add GitHub URL and run download helpers
  tools/ci-notify/slack.go
  tools/common/github/gh.go
  tools/common/github/url.go
  tools/flakereport/github.go
  tools/flakereport/slack.go
  tools/flakereport/writer.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Hide raw GitHub API helper
  tools/common/github/artifacts.go
  tools/common/github/commit.go
  tools/common/github/gh.go
  tools/common/github/workflows.go
  tools/flakereport/github.go
  tools/flakereport/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Organize GitHub helpers by operation
  tools/ci-notify/github.go
  tools/common/github/artifacts.go
  tools/common/github/client.go
  tools/common/github/commit.go
  tools/common/github/runs.go
  tools/common/github/workflows.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Split ci-notify report code by purpose
  tools/ci-notify/digest.go
  tools/ci-notify/failure_report.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Add RefConsistencyLevel CHASM transition option
  chasm/engine.go
  chasm/ref.go
  chasm/ref_test.go
Due: none

Paginate artifacts and remove type aliases
  tools/common/github/artifacts.go
  tools/flakereport/bisect.go
  tools/flakereport/bisect_test.go
  tools/flakereport/flakereport.go
  tools/flakereport/github.go
  tools/flakereport/types.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Use typed gh run helpers
  tools/ci-notify/app_test.go
  tools/ci-notify/digest.go
  tools/ci-notify/failure_report.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
  tools/common/github/runs.go
  tools/flakereport/bisect.go
  tools/flakereport/doc.go
  tools/flakereport/flakereport.go
  tools/flakereport/github.go
  tools/optimize-test-sharding/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Restore flakereport run pagination
  tools/common/github/runs.go
  tools/flakereport/github.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Move run short SHA helper to github
  tools/ci-notify/app_test.go
  tools/ci-notify/slack.go
  tools/ci-notify/types.go
  tools/common/github/runs.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Move run short SHA test to github
  tools/ci-notify/app_test.go
  tools/common/github/runs_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
