Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Use SupportsVersioning() instead of sticky queue kind check
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Simplify sticky queue attribution test
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/server-cicd.yaml

Reduce functional test scheduler worker counts (#11474)
  tests/testcore/dynamic_config_overrides.go
Due: none

Update run-tests.yml
  .github/workflows/run-tests.yml
Due: none

Downscale test runner size, increase shards
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
Due: none

Remove fixed runner setup indirection
  .github/workflows/run-tests.yml
Due: none

Update test shard salt
  tests/testcore/shard_salt.txt
Due: none

try 5 shards
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
Due: none

Add audience configuration to YAML template
  common/config/config_template_embedded.yaml
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Move test event to test function for one-off tests.
  chasm/lib/activity/model/vocabulary.go
  tests/activity_parity_test.go
Due: none

Add audience configuration to config_template.yaml
  docker/config_template.yaml
Due: none

Reproduce migrated zero catchup compatibility gap
  chasm/lib/scheduler/migration/migration_test.go
  service/worker/scheduler/workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix BUFFER_ONE with an existing deferred start
  chasm/lib/scheduler/invoker_process_buffer_task_test.go
  chasm/lib/scheduler/invoker_tasks.go
Due: none

Detect coalesced update ordering in schedule replay
  chasm/lib/scheduler/history_replay_test.go
Due: none

Improve schedule replay production sweep fidelity
  chasm/lib/scheduler/history_replay_test.go
  cmd/tools/schedule-v2-replay/collect-admintools-sample.sh
Due: .azure-pipelines/admin-tools-cicd.yaml

removing some incompatibilities
  chasm/lib/scheduler/backfiller_tasks_test.go
  chasm/lib/scheduler/history_replay_test.go
  chasm/lib/scheduler/scheduler.go
  cmd/tools/schedule-v2-replay/BUG_REPRODUCTIONS.md
  cmd/tools/schedule-v2-replay/DIVERGENCES.md
  cmd/tools/schedule-v2-replay/README.md
  cmd/tools/schedule-v2-replay/S_AW031_SWEEP_2026-08-09.md
Due: .azure-pipelines/admin-tools-cicd.yaml

Add admintools schedule replay collector
  cmd/tools/schedule-v2-replay/README.md
  cmd/tools/schedule-v2-replay/collect-admintools-sample.sh
Due: .azure-pipelines/admin-tools-cicd.yaml

Update Selected API list.
  common/rpc/interceptor/dc_redirection_policy.go
  common/rpc/interceptor/dc_redirection_policy_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix fairsim partial counter configuration
  tools/fairsim/sim.go
  tools/fairsim/sim_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Clamp matching read partition count
  client/matching/loadbalancer.go
  client/matching/loadbalancer_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-162.0-rc.20260813113633
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Allow throttling decisions to be per-shard.
  service/history/replication/namespace_throttler.go
  service/history/replication/stream_receiver.go
Due: .azure-pipelines/server-cicd.yaml

Add replication stream lane wire protocol and receiver-side lane routing
  api/replication/v1/message.pb.go
  common/metrics/tags.go
  proto/internal/temporal/server/api/replication/v1/message.proto
  service/history/replication/executable_task_tool_box.go
  service/history/replication/fx.go
  service/history/replication/namespace_throttler.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve PR reviewability by removing some forward references.
  common/metrics/tags.go
  service/history/replication/stream_receiver.go
  service/history/replication/stream_receiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Standardize Claude review comments (#11461)
  .github/copilot-instructions.md
  .github/workflows/claude-review-teams.yml
Due: none

Extract shared JUnit XML handling (#11480)
  tools/common/junit/junit.go
  tools/common/junit/junit_test.go
  tools/flakereport/parallel.go
  tools/flakereport/parser.go
  tools/optimize-test-sharding/main.go
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Downscale test runner size, increase shards (#10643)
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
  tests/testcore/shard_salt.txt
Due: none

Default to a no-op namespace throttler for safety.
  service/history/replication/stream_receiver.go
Due: .azure-pipelines/server-cicd.yaml

Fix gofmt formatting: align struct composite literal fields
  chasm/lib/nexusoperation/validator.go
  cmd/tools/genvalidationcoverage/main.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Attribute queue reader stuck attempts to a slice
  service/history/queues/action_reader_stuck.go
  service/history/queues/action_reader_stuck_test.go
  service/history/queues/mitigator.go
  service/history/queues/monitor.go
  service/history/queues/monitor_test.go
  service/history/queues/reader.go
Due: .azure-pipelines/server-cicd.yaml

Release removed shared cluster tests
  tests/leakcheck/leak_test.go
  tests/testcore/cluster_poison_test.go
  tests/testcore/shared_cluster_t.go
Due: none

Release process-global lifecycle registrations
  common/membership/grpc_resolver.go
  common/membership/grpc_resolver_test.go
  temporal/fx.go
  temporal/fx_test.go
  tests/leakcheck/leak_test.go
  tests/testcore/clients.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Enforce zero expected object leaks
  tests/leakcheck/leak_test.go
Due: none
