Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

[Visibility][Elasticsearch] Best effort optimization of range queries
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_range_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_range_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

address comments
  common/persistence/visibility/store/elasticsearch/query_converter.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_bool_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_range_query.go
  common/persistence/visibility/store/elasticsearch/query_converter_range_query_test.go
  common/persistence/visibility/store/elasticsearch/query_converter_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add regression tests for lexicographical comparison of datetime field values.
  common/persistence/visibility/store/elasticsearch/query_converter_range_query_test.go
  common/persistence/visibility/store/tests/query_converter_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Preserve legacy clockless task queue user data (#12108)
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix search attribute removal with dual visibility
  service/frontend/operator_handler.go
Due: .azure-pipelines/server-cicd.yaml

Add observability for discarded task queue user data
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Skip Nexus reapply events whose operation is in neither tree
  chasm/lib/workflow/events.go
  chasm/lib/workflow/nexus_events_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/ndc/workflow_resetter.go
  service/history/ndc/workflow_resetter_test.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_rebuilder_test.go
  tests/nexus_workflow_test.go
  tests/xdc/buffered_nexus_events_replication_test.go
Due: .azure-pipelines/server-cicd.yaml

Narrow user data drop signal to clockless payloads
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Address visibility archival dedup review feedback
  common/archiver/gcloud/visibility_archiver.go
  service/history/archival/archiver.go
  service/history/archival/archiver_test.go
  service/history/archival_queue_task_executor.go
  service/history/archival_queue_task_executor_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Escalate replication conversion lock priority on retry
  common/dynamicconfig/constants.go
  service/history/configs/config.go
  service/history/replication/raw_task_converter.go
  service/history/replication/raw_task_converter_mock.go
  service/history/replication/raw_task_converter_test.go
  service/history/replication/stream_sender.go
  service/history/replication/stream_sender_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix visibility archival dedup test assertions
  service/history/archival/archiver_test.go
Due: .azure-pipelines/server-cicd.yaml

Limit user data drop observability to incoming data
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: strengthen converter and gate tests
  common/namespace/nsreplication/conversion_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Update incoming data drop test expectations
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Namespace replication: compact status proto fields
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/message.pb.go
  chasm/lib/namespacereplication/proto/v1/message.proto
Due: none

Simplify incoming user data drop signal
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Add current version history to transition tasks
  api/persistence/v1/executions.pb.go
  common/persistence/serialization/task_serializers.go
  common/persistence/serialization/task_serializers_test.go
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/replication/raw_task_converter.go
  service/history/replication/raw_task_converter_test.go
  service/history/tasks/sync_versioned_transition_task.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/task_generator.go
  service/history/workflow/task_generator_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove stale user data drop test
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Use replication resolver for namespace deletion
  service/worker/deletenamespace/activities.go
  service/worker/deletenamespace/activities_test.go
  service/worker/deletenamespace/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add observability for discarded task queue user data (#12132)
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Pace work that was already parked when the controller was turned on
  common/dynamicconfig/constants.go
  common/dynamicconfig/setting_gen.go
  service/history/configs/config.go
  service/history/queue_factory_base.go
  service/history/queues/executable.go
  service/history/queues/executable_throttle_test.go
  service/history/queues/rescheduler.go
  service/history/queues/rescheduler_throttle_test.go
  service/history/queues/throttle_regression_test.go
  service/history/queues/throttle_state.go
  service/history/queues/throttle_state_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: add CHASM contracts and generated APIs
  api/adminservice/v1/request_response.go-helpers.pb.go
  api/adminservice/v1/request_response.pb.go
  api/adminservice/v1/service.pb.go
  api/adminservice/v1/service_grpc.pb.go
  api/adminservicemock/v1/service_grpc.pb.mock.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/message.go-helpers.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/message.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/service.go-helpers.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/service.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/service_client.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/service_grpc.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/namespacereplication/gen/namespacereplicationpb/v1/tasks.pb.go
  chasm/lib/namespacereplication/proto/v1/message.proto
  chasm/lib/namespacereplication/proto/v1/service.proto
  chasm/lib/namespacereplication/proto/v1/tasks.proto
  chasm/namespacereplication.go
  client/admin/client_gen.go
  client/admin/metric_client_gen.go
  client/admin/retryable_client_gen.go
  common/rpc/interceptor/logtags/admin_service_server_gen.go
  proto/internal/temporal/server/api/adminservice/v1/request_response.proto
  proto/internal/temporal/server/api/adminservice/v1/service.proto
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Dedupe visibility archival (#11807)
  common/archiver/gcloud/connector/client.go
  common/archiver/gcloud/connector/client_delegate.go
  common/archiver/gcloud/connector/client_delegate_mock.go
  common/archiver/gcloud/connector/client_mock.go
  common/archiver/gcloud/connector/client_test.go
  common/archiver/gcloud/visibility_archiver.go
  common/archiver/gcloud/visibility_archiver_test.go
  common/archiver/options.go
  common/archiver/s3store/history_archiver_test.go
  common/archiver/s3store/util.go
  common/archiver/s3store/visibility_archiver.go
  common/archiver/s3store/visibility_archiver_test.go
  common/archiver/util.go
  common/archiver/util_test.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/history/archival/archiver.go
  service/history/archival/archiver_test.go
  service/history/archival_queue_task_executor_test.go
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

namespace replication: inherit converter tests from PR0
  common/namespace/nsreplication/conversion_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add scale manager mode setting
  api/enums/v1/partition_scaler.go-helpers.pb.go
  api/enums/v1/partition_scaler.pb.go
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  proto/internal/temporal/server/api/enums/v1/partition_scaler.proto
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

allow shorthand in proto enum parser
  common/dynamicconfig/collection.go
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/shared_constants.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

clean up some comments and tests
  api/enums/v1/partition_scaler.pb.go
  common/dynamicconfig/collection_test.go
  common/dynamicconfig/constants.go
  common/dynamicconfig/shared_constants.go
  proto/internal/temporal/server/api/enums/v1/partition_scaler.proto
  service/matching/scale_manager.go
  service/matching/scale_manager_test.go
  tests/partition_scaling_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fetch execution details directly from CHASM
  chasm/lib/activity/activity.go
  chasm/lib/activity/library.go
  chasm/lib/callback/component.go
  chasm/lib/callback/tasks_test.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/nexus_methods.go
  chasm/lib/workflow/workflow_update.go
  chasm/parent_pointer.go
  chasm/registrable_component.go
  chasm/registry_test.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

Only report discarded clockless task queue user data
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Address clockless user data review feedback
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Expose execution type and component path from CHASM
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/activity/library.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/workflow_test.go
  chasm/parent_pointer.go
  chasm/registrable_component.go
  chasm/registry_test.go
  chasm/test_library_test.go
  chasm/tree.go
  chasm/tree_test.go
Due: none

update metric and all
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Use PostgreSQL tuple cursors for pagination (#11712)
  common/persistence/sql/sqlplugin/postgresql/events.go
  common/persistence/sql/sqlplugin/postgresql/execution.go
  common/persistence/sql/sqlplugin/tests/history_timer_task.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Align task queue data drop metric test
  service/matching/matching_engine_test.go
Due: .azure-pipelines/server-cicd.yaml

Reject Nexus events that belong to a different operation
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/workflow/events.go
  chasm/lib/workflow/nexus_events.go
  chasm/lib/workflow/nexus_events_test.go
  service/history/ndc/workflow_resetter.go
Due: .azure-pipelines/server-cicd.yaml

Verify event version history on passive clusters
  service/history/replication/executable_verify_versioned_transition_task.go
  service/history/replication/executable_verify_versioned_transition_task_test.go
Due: .azure-pipelines/server-cicd.yaml

update log and metric description (#12140)
  common/metrics/metric_defs.go
  service/matching/matching_engine.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
