Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

signal from w/in the workflow
  tests/workflow_task_reported_problems_test.go
Due: none

Add base query for ListWorkflow Executions path
  service/frontend/workflow_handler.go
  service/worker/scheduler/fx.go
Due: .azure-pipelines/server-cicd.yaml

dont need to set the failure for signals
  tests/workflow_task_reported_problems_test.go
Due: none

Debug
  common/rpc/interceptor/logtags/history_service_server_gen.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Inline SAA API handling in handler.go (#9065)
  service/history/api/recordactivitytaskheartbeat/api.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/respondactivitytaskcanceled/api.go
  service/history/api/respondactivitytaskcompleted/api.go
  service/history/api/respondactivitytaskfailed/api.go
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

[Flake resolution]: Resolve flakiness on the TestTaskQueueStatsSuite (#9062)
  tests/task_queue_stats_test.go
Due: none

Parallel Update Workflow tests
  common/cache/lru.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/persistence-tests/setup.go
  common/persistence/sql/test_sql_persistence.go
  docs/development/testing.md
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
  tests/update_workflow_utils.go
  tests/workflow_utils.go
  tests/xdc/base.go
  tests/xdc/replication_enable_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Minor fixes
  common/dynamicconfig/constants.go
  common/tasks/fifo_scheduler.go
  common/tasks/sequential_task_queue_impl.go
  service/history/queues/executable_test.go
  service/history/queues/workflow_aware_scheduler.go
  service/history/queues/workflow_aware_scheduler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Debug
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  service/history/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix submit
  common/tasks/workflow_queue_scheduler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

use EqualHistoryEvents
  tests/workflow_task_reported_problems_test.go
Due: none

Final final final scheduler visibility changes (#9048)
  chasm/lib/scheduler/library.go
  chasm/lib/scheduler/scheduler.go
  service/frontend/workflow_handler.go
  service/worker/scheduler/fx.go
Due: .azure-pipelines/server-cicd.yaml

Reduce load for priority functional test
  tests/priority_fairness_test.go
Due: none

Remove redundant calls in worker service Start()
  service/worker/service.go
Due: .azure-pipelines/server-cicd.yaml

Remove redundant calls in worker service Start() (#9070)
  service/worker/service.go
Due: .azure-pipelines/server-cicd.yaml

Add health check handler for worker service (#2582)
  service/worker/fx.go
  service/worker/service.go
  service/worker/service_test.go
Due: .azure-pipelines/server-cicd.yaml

lint and missing error handler
  client/matching/client.go
  common/tqid/task_queue_id_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

pass-through Route
  client/matching/interface.go
  client/matching/metric_client.go
  client/matching/retryable_client.go
  service/matching/matching_engine.go
Due: .azure-pipelines/server-cicd.yaml

Avoid softassert failure in ephemeralDataChanged during init
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Revert "Nexus schedule to start and start to close timeouts (with fixes) (#9033)"
  api/persistence/v1/executions.pb.go
  components/nexusoperations/events_test.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/helpers_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/tasks.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/describeworkflow/api.go
  service/history/workflow/task_generator_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Replace worker service health check unit test with functional test
  service/worker/service_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/functional_test_base_test.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/server-cicd.yaml

Revert Nexus schedule to start and start to close timeouts (with fixes) (#9033) (#9072)
  api/persistence/v1/executions.pb.go
  components/nexusoperations/events_test.go
  components/nexusoperations/executors.go
  components/nexusoperations/executors_test.go
  components/nexusoperations/helpers_test.go
  components/nexusoperations/statemachine.go
  components/nexusoperations/statemachine_test.go
  components/nexusoperations/tasks.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/api/describeworkflow/api.go
  service/history/workflow/task_generator_test.go
  tests/nexus_workflow_test.go
  tests/xdc/nexus_state_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix flaky worker deployment tests
  tests/worker_deployment_test.go
Due: none

Upgrade Go to 1.25.5 to fix crypto/x509 CVEs
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Optimize GROUP BY queries
  common/persistence/visibility/store/sql/query_converter_legacy_mysql.go
  schema/mysql/v8/visibility/schema.sql
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add metrics
  common/metrics/metric_defs.go
  common/tasks/workflow_queue_scheduler.go
  common/tasks/workflow_queue_scheduler_test.go
  service/history/archival_queue_factory.go
  service/history/queues/queue_scheduled_test.go
  service/history/queues/scheduler.go
  service/history/queues/workflow_aware_scheduler.go
  service/history/queues/workflow_aware_scheduler_test.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix reschedule
  service/history/queues/workflow_aware_scheduler.go
  service/history/queues/workflow_aware_scheduler_test.go
Due: .azure-pipelines/server-cicd.yaml

prevent starvation
  common/dynamicconfig/constants.go
  common/tasks/workflow_queue_scheduler.go
  service/history/configs/config.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix error message
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Eliminate unlinkely race
  service/history/workflow/workflow_task_state_machine.go
Due: .azure-pipelines/server-cicd.yaml

Fix flaky worker deployment tests (#9075)
  tests/worker_deployment_test.go
Due: none

Avoid softassert failure in ephemeralDataChanged during init (#9071)
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Make elasticsearch gzip compression configurable for tests
  common/persistence/visibility/store/elasticsearch/client/client_v7.go
  common/persistence/visibility/store/elasticsearch/client/config.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Improve memory monitor with pprof analysis
  develop/github/memory_monitor.sh
Due: none

Replace deprecated codecov/test-results-action with codecov-action
  .github/workflows/run-tests.yml
Due: none

Upgrade Go to 1.25.5 to fix crypto/x509 CVEs (#9073)
  go.mod
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Upgrade codecov github action (#9064)
  .github/workflows/run-tests.yml
Due: none

Update replication task rate limiter priority based on active/standby… (#8978)
  common/dynamicconfig/constants.go
  service/history/archival_queue_factory.go
  service/history/configs/config.go
  service/history/memory_scheduled_queue_factory.go
  service/history/ndc/workflow_state_replicator.go
  service/history/ndc/workflow_state_replicator_test.go
  service/history/queues/executable.go
  service/history/queues/priority_assigner.go
  service/history/queues/priority_assigner_test.go
  service/history/queues/scheduler.go
  service/history/timer_queue_factory.go
  service/history/transfer_queue_factory.go
  service/history/visibility_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml
