Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Fix test engine root component constraint
  chasm/chasmtest/test_engine.go
  chasm/lib/callback/tasks_test.go
Due: none

enable namespace mapper with fallbacks (#9664)
  common/persistence/visibility/store/query/converter_test.go
  common/resource/fx.go
  common/searchattribute/mapper.go
  common/searchattribute/mapper_test.go
  common/searchattribute/test_provider.go
  temporal/fx.go
  tests/advanced_visibility_test.go
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster.go
  tests/xdc/base.go
  tests/xdc/visibility_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

lint fix (?)
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

add defer
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

addressing freds comments, tests while started, s2c fix, update only if non terminal, re-validate options, general code hygiene
  chasm/lib/activity/activity.go
  chasm/lib/activity/activity_tasks.go
  chasm/lib/activity/frontend.go
  chasm/lib/activity/gen/activitypb/v1/activity_state.pb.go
  chasm/lib/activity/gen/activitypb/v1/tasks.pb.go
  chasm/lib/activity/proto/v1/activity_state.proto
  chasm/lib/activity/proto/v1/tasks.proto
  chasm/lib/activity/statemachine.go
  chasm/lib/activity/validator.go
  tests/standalone_activity_test.go
Due: none

rename InitialVersioningBehavior -> ContinueAsNewInitialVersioningBehavior in versioning info and autoupgrade info
  go.mod
  go.sum
  service/history/transfer_queue_active_task_executor.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

StartMetricCapture for test env
  tests/task_queue_test.go
  tests/testcore/matching_behavior.go
  tests/testcore/metric_capture.go
  tests/testcore/metric_capture_test.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: none

simplify
  tests/testcore/metric_capture.go
Due: none

Nexus endpoint direct lookup
  chasm/lib/nexusoperation/fx.go
  common/nexus/direct_endpoint_registry.go
  common/nexus/direct_endpoint_registry_test.go
  common/resource/service_topology.go
  service/frontend/fx.go
  temporal/fx.go
  tests/testcore/onebox.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

linter and a test fix
  chasm/lib/activity/activity.go
  chasm/lib/activity/validator.go
Due: none

[Scheduler] Emit ContextMetadata keys from CHASM handlers (#9877)
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
Due: none

clarify comments, and pass explicit nil RampPolicy when scheduling activity tasks (they never precede the first wft)
  service/history/worker_versioning_util.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
Due: .azure-pipelines/server-cicd.yaml

Concurrent-safe metrics capture for test env (#9848)
  tests/task_queue_test.go
  tests/testcore/matching_behavior.go
  tests/testcore/metric_capture.go
  tests/testcore/metric_capture_test.go
  tests/testcore/onebox.go
  tests/testcore/test_env.go
  tests/update_workflow_test.go
Due: none

Remove workflow-specifics from OperationState (#9503)
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/gen/workflowpb/v1/state.go-helpers.pb.go
  chasm/lib/workflow/gen/workflowpb/v1/state.pb.go
  chasm/lib/workflow/proto/v1/state.proto
Due: none

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/command/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/command/registry.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus] Migrate event definition tests from HSM to CHASM (#9597)
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/workflow/workflow.go
  chasm/statemachine.go
Due: none

Remove references to commandHandler.config.Enabled()
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

rename package chasm/lib/workflow/commands -> chasm/lib/workflow/workflowregistry (#9474)
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus] Migrate registry and event definitions (#9491)
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/workflowregistry/events.go
  chasm/lib/workflow/workflowregistry/registry.go
Due: none

[Nexus-CHASM] Add workflow methods to handle nexus events (#9546)
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/events.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  chasm/lib/workflow/workflowregistry/fx.go
  chasm/lib/workflow/workflowregistry/handler.go
  chasm/lib/workflow/workflowregistry/registry.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/frontend/admin_handler_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/history_test.go
  service/history/visibility_queue_task_executor_test.go
  service/history/workflow/command_handler.go
  service/worker/migration/activities_test.go
  temporal/fx.go
  tools/tdbg/chasm_registry.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

[Nexus-Chasm] Migrate OperationInvocationTaskExecutor (#9680)
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
Due: none

Nexus chasm cleanup (#9843)
  chasm/lib/buf.yaml
  chasm/lib/nexusoperation/cancellation_statemachine.go
  chasm/lib/nexusoperation/cancellation_tasks.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
  chasm/lib/nexusoperation/task_handler_helpers.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/events.go
  chasm/lib/nexusoperation/workflow/events_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/nexusoperation/workflow/library.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/library.go
  chasm/lib/workflow/registry.go
  chasm/lib/workflow/workflow.go
  components/nexusoperations/fx.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/fx.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Fix rebase issue
  chasm/context.go
  chasm/context_mock.go
Due: none

[Nexus-Chasm] Migrate timeout and backoff operation task handlers (#9679)
  chasm/lib/nexusoperation/operation_tasks.go
  chasm/lib/nexusoperation/operation_tasks_test.go
Due: none

[Nexus] Minor fixes - Added destination queue and schedule cancellati… (#9790)
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/workflow/events.go
Due: none

Rename the enabled flags
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Test CHASM in NexusWorkflowTestSuite
  tests/nexus_workflow_test.go
  tests/testcore/test_env.go
Due: none

Small cleanup
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
Due: none

DescribeWorkflow reads operations from CHASM tree
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/operation.go
  service/history/api/describeworkflow/api.go
  tests/nexus_workflow_test.go
Due: .azure-pipelines/server-cicd.yaml

Update Nexus tests to use parallelsuite (#9768)
  tests/nexus_api_test.go
  tests/nexus_api_validation_test.go
  tests/nexus_test_base.go
  tests/nexus_workflow_test.go
  tests/testcore/test_env.go
Due: none

Advance ack level when queue is drained (#9731)
  service/matching/backlog_manager_test.go
  service/matching/pri_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Add compile time checks for SetRootComponent (#9842)
  chasm/lib/callback/tasks_test.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
Due: none

Add nexus_task_requests metric with client_name tag (#9760)
  common/metrics/metric_defs.go
  common/metrics/tags.go
  service/matching/handler.go
  service/matching/handler_test.go
  tests/nexus_api_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix bypass reader in priority backlog manager (#9841)
  service/matching/backlog_manager_test.go
  service/matching/matching_engine_test.go
  service/matching/pri_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

improve replication/handover check logging and readability (#9844)
  service/worker/migration/activities.go
Due: .azure-pipelines/server-cicd.yaml

Deprecate TestEnv assertions (#9845)
  tests/testcore/test_env.go
Due: none

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
