Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:

# Temporal Admin Tools CI/CD Pipeline
# Go-based Temporal CLI and Admin Tools

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Admin Tools Configuration
  IMAGE_NAME: "temporal-admin-tools"
  DOCKERFILE_PATH: "docker/azure-admin-tools.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/tools/**
      - tools/**
      - common/**
      - api/**
      - schema/**
      - go.mod
      - go.sum
      - docker/azure-admin-tools.Dockerfile
      - .azure-pipelines/admin-tools-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Admin Tools Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "admin-tools-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

.azure-pipelines/server-cicd.yaml:

# Temporal Server CI/CD Pipeline
# Go-based Temporal Server

variables:
  major: 1
  minor: 0
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: "sprintregistry.azurecr.io"

  # Server Configuration
  IMAGE_NAME: "temporal-server"
  DOCKERFILE_PATH: "docker/azure-server.Dockerfile"
  GO_VERSION: "1.24"

trigger:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml
      - .azure-pipelines/templates/*

pr:
  branches:
    include:
      - main
      - develop
  paths:
    include:
      - cmd/server/**
      - service/**
      - common/**
      - api/**
      - go.mod
      - go.sum
      - docker/azure-server.Dockerfile
      - .azure-pipelines/server-cicd.yaml

stages:
  - stage: Version
    displayName: "Versioning"
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
      - template: templates/version.yml

  - stage: Build
    displayName: "Build Temporal Server Image"
    dependsOn: Version
    condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
    jobs:
      - template: templates/docker-build-template.yml
        parameters:
          jobCondition: succeeded()
          CONTAINER_NAME: $(IMAGE_NAME)
          DOCKERFILE_PATH: $(DOCKERFILE_PATH)
          AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
          TAG_PREFIX: "server-"
          BUILD_ARGS: |
            --build-arg BUILD_VERSION=$(Build.BuildNumber)
            --build-arg TARGETARCH=amd64

Add CHASM test support hook
  common/testing/testhooks/hooks.go
  service/history/fx.go
  tests/chasm_test.go
  tests/testcore/onebox.go
  tests/xdc/chasm_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Add history task write test hook
  common/persistence/client/factory.go
  common/persistence/client/factory_test.go
  common/persistence/client/fx.go
  common/persistence/client/persistence_rate_limited_clients_test.go
  common/persistence/execution_manager.go
  common/persistence/execution_manager_test.go
  common/persistence/execution_manager_testhooks_test.go
  common/persistence/history_manager_test.go
  common/persistence/persistence-tests/persistence_test_base.go
  common/persistence/tests/execution_mutable_state.go
  common/persistence/tests/execution_mutable_state_task.go
  common/persistence/tests/history_store.go
  common/testing/testhooks/hooks.go
  tests/testcore/onebox.go
  tests/testcore/task_queue_recorder.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove redundant history task hook test
  common/persistence/execution_manager_testhooks_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Trim unused task queue recorder helpers
  tests/testcore/task_queue_recorder.go
Due: none

Make task queue recorder opt in
  common/persistence/execution_manager.go
  common/testing/testhooks/hooks.go
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/task_queue_recorder.go
  tests/testcore/test_cluster.go
  tests/testcore/test_env.go
  tests/timeskipping_propagation_test.go
  tests/timeskipping_test.go
  tests/xdc/stream_based_replication_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Inline task queue recorder record helper
  tests/testcore/onebox.go
  tests/testcore/task_queue_recorder.go
  tests/testcore/test_cluster.go
Due: none

Simplify CHASM test dependency hook
  chasm/lib/tests/fx.go
  common/testing/testhooks/hooks.go
  service/history/fx.go
  tests/chasm_test.go
  tests/testcore/onebox.go
  tests/xdc/chasm_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

drop gotestsum
  .github/workflows/optimize-test-sharding.yml
  .github/workflows/run-tests.yml
  Makefile
  tools/testrunner/json_report.go
  tools/testrunner/json_report_test.go
  tools/testrunner/json_reporter.go
  tools/testrunner/json_reporter_test.go
  tools/testrunner/junit.go
  tools/testrunner/junit_test.go
  tools/testrunner/log.go
  tools/testrunner/testrunner.go
  tools/testrunner/testrunner_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml

Fix links Nexus workflow service name
  tests/links_test.go
Due: none

Fix schedule next action visibility test
  chasm/search_attribute.go
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Fix priority sticky workflow ID collision
  tests/priority_fairness_test.go
Due: none

Fix standalone activity use existing link validation
  chasm/lib/activity/handler.go
Due: none

Revert "Fix schedule next action visibility test"
  chasm/search_attribute.go
  service/frontend/workflow_handler.go
  tests/schedule_test.go
Due: .azure-pipelines/server-cicd.yaml

Revert "Fix standalone activity use existing link validation"
  chasm/lib/activity/handler.go
Due: none

Fix DLQ suite parallel migration
  tests/dlq_test.go
Due: none

Remove redundant DLQ await guard
  tests/dlq_test.go
Due: none

Format workflow handler
  service/frontend/workflow_handler.go
Due: .azure-pipelines/server-cicd.yaml

Fix failures after parallelsuite migration (#10587)
  tests/dlq_test.go
  tests/links_test.go
  tests/priority_fairness_test.go
Due: none

Fix onebox dcRedirectionPolicy
  tests/testcore/onebox.go
Due: none

Fix xdc redirection suite policy
  tests/testcore/onebox.go
  tests/xdc/failover_test.go
Due: none

Use testcore dc redirection policy option
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/xdc/failover_test.go
Due: none

Replace governance files on release branch
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Bump Server version to 1.32.0-158.0-rc.20260607115950
  common/headers/version_checker.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

simplify
  tests/testcore/functional_test_base.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
  tests/xdc/base.go
Due: none

inline
  tests/testcore/onebox.go
Due: none

Fix xdc redirection policy wiring (#10590)
  tests/testcore/onebox.go
  tests/xdc/base.go
Due: none

Fix cluster pool max-usage recycling
  tests/testcore/test_cluster_pool.go
  tests/testcore/test_cluster_pool_test.go
Due: none

Clarify cluster pool slot reservation
  tests/testcore/functional_test_base.go
  tests/testcore/test_cluster_pool.go
Due: none

Clarify cluster pool slot selection
  tests/testcore/test_cluster_pool.go
Due: none

Tighten cluster pool comments
  tests/testcore/test_cluster_pool.go
Due: none

Cover poisoned cluster slot swap
  tests/testcore/test_cluster_pool_test.go
Due: none

Document cluster pool regression tests
  tests/testcore/test_cluster_pool_test.go
Due: none

Clarify cluster pool regression tests
  tests/testcore/test_cluster_pool_test.go
Due: none

Improve cluster pool test readability
  tests/testcore/test_cluster_pool_test.go
Due: none

Document cluster pool types
  tests/testcore/test_cluster_pool.go
Due: none

Use doc links in cluster pool comments
  tests/testcore/test_cluster_pool.go
Due: none
