Repository temporalio/temporal: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

.azure-pipelines/admin-tools-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Admin Tools Image
    dependsOn: Version
  ...

.azure-pipelines/server-cicd.yaml:
  stages:
  - stage: Version
    displayName: Versioning
    condition: ne(variables['Build.Reason'], 'PullRequest')
    jobs:
    - template: templates/version.yml
  - stage: Build
    displayName: Build Temporal Server Image
    dependsOn: Version
  ...

Fix Crash and CI Breakers reporting (#9478)
  tools/flakereport/flakereport.go
  tools/flakereport/parser.go
  tools/flakereport/report.go
  tools/flakereport/types.go
  tools/flakereport/writer.go
Due: .azure-pipelines/admin-tools-cicd.yaml

regen mock
  service/history/ndc/state_rebuilder_mock.go
Due: .azure-pipelines/server-cicd.yaml

Fix casssandra error conversion
  common/persistence/cassandra/history_store.go
  common/persistence/cassandra/matching_task_store_user_data.go
  common/persistence/cassandra/matching_task_store_v1.go
  common/persistence/cassandra/matching_task_store_v2.go
  common/persistence/cassandra/metadata_store.go
  common/persistence/cassandra/nexus_endpoint_store.go
  common/persistence/cassandra/queue_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix
  common/persistence/cassandra/mutable_state_task_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove default metric tags
  service/history/queues/executable.go
  service/history/queues/executable_factory.go
  service/history/queues/speculative_workflow_task_timeout_queue.go
  service/history/timer_queue_task_executor_base.go
Due: .azure-pipelines/server-cicd.yaml

ErrNotSupported
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
Due: .azure-pipelines/server-cicd.yaml

fix TestNexusCallbackReplicated flake
  tests/xdc/nexus_state_replication_test.go
Due: none

use require
  tests/xdc/nexus_state_replication_test.go
Due: none

ErrNotSupported
  chasm/lib/workflow/command/handler.go
Due: none

add test for ErrNotSupported
  chasm/lib/nexusoperation/workflow/commands_test.go
Due: none

Address PR comments
  service/history/chasm_engine.go
  service/history/handler.go
Due: .azure-pipelines/server-cicd.yaml

Nexus CancelCommand in CHASM (#9288)
  chasm/lib/nexusoperation/cancellation.go
  chasm/lib/nexusoperation/config.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/configs/config.go
  service/history/historybuilder/history_builder.go
Due: .azure-pipelines/server-cicd.yaml

Move CancelOutstandingWorkerPolls to matching, add partition API, flag, and optimizations
  api/matchingservice/v1/request_response.go-helpers.pb.go
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  api/matchingservicemock/v1/service_grpc.pb.mock.go
  client/matching/client_gen.go
  client/matching/metric_client_gen.go
  client/matching/retryable_client_gen.go
  common/dynamicconfig/constants.go
  common/rpc/interceptor/logtags/matching_service_server_gen.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/service.proto
  service/frontend/service.go
  service/frontend/workflow_handler.go
  service/matching/config.go
  service/matching/configs/quotas.go
  service/matching/handler.go
  service/matching/matching_engine.go
  service/matching/matching_engine_interfaces.go
  service/matching/matching_engine_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

tweak circuit breaker
  tests/xdc/nexus_state_replication_test.go
Due: none

Revert unnecessary changes
  service/history/timer_queue_active_task_executor.go
Due: .azure-pipelines/server-cicd.yaml

add tailroom
  common/rpc/interceptor/namespace_rate_limit.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Remove Internal API comments, rename cancelOutstandingWorkerPollsFrontendFanOut to cancelOutstandingWorkerPolls
  api/matchingservice/v1/request_response.pb.go
  api/matchingservice/v1/service_grpc.pb.go
  proto/internal/temporal/server/api/matchingservice/v1/request_response.proto
  proto/internal/temporal/server/api/matchingservice/v1/service.proto
  service/frontend/workflow_handler.go
  service/matching/handler.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fix TestNexusCallbackReplicated flake (#9489)
  tests/xdc/nexus_state_replication_test.go
Due: none

Add standalone Nexus operation API boilerplate
  chasm/lib/nexusoperation/frontend.go
  chasm/lib/nexusoperation/fx.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/api/metadata.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/rpc/interceptor/redirection.go
  common/rpc/interceptor/redirection_test.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  go.mod
  go.sum
  service/frontend/configs/quotas.go
  service/frontend/configs/quotas_test.go
  service/frontend/fx.go
  service/frontend/workflow_handler.go
  service/frontend/workflow_handler_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

CHASM workflow command handler for Nexus (#9109)
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/workflow/command/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/command/registry.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  components/nexusoperations/workflow/commands_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/command_handler.go
Due: .azure-pipelines/server-cicd.yaml

[Nexus-HSM-CHASM] Migrate CancellationState
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
Due: none

[Nexus-HSM-CHASM] Migrate operation statemachine. (#9081)
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/operation.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.go-helpers.pb.go
  chasm/lib/nexusoperation/gen/nexusoperationpb/v1/tasks.pb.go
  chasm/lib/nexusoperation/library.go
  chasm/lib/nexusoperation/operation_executors.go
  chasm/lib/nexusoperation/operation_statemachine.go
  chasm/lib/nexusoperation/operation_statemachine_test.go
  chasm/lib/nexusoperation/proto/v1/operation.proto
  chasm/lib/nexusoperation/proto/v1/tasks.proto
Due: none

Nexus ScheduleCommand in CHASM (#9278)
  chasm/context.go
  chasm/context_mock.go
  chasm/lib/nexusoperation/commands.go
  chasm/lib/nexusoperation/fx.go
  chasm/lib/nexusoperation/operation.go
  chasm/lib/nexusoperation/workflow/commands.go
  chasm/lib/nexusoperation/workflow/commands_test.go
  chasm/lib/nexusoperation/workflow/fx.go
  chasm/lib/workflow/command/handler.go
  chasm/lib/workflow/fx.go
  chasm/lib/workflow/workflow.go
  chasm/ms_pointer.go
  chasm/node_backend_mock.go
  chasm/tree.go
  components/nexusoperations/workflow/commands.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/interfaces/shard_context.go
  service/history/interfaces/shard_context_mock.go
  service/history/shard/context_factory.go
  service/history/shard/context_impl.go
  service/history/workflow/mutable_state_impl.go
  temporal/fx.go
Due: .azure-pipelines/server-cicd.yaml

Add cache for task queue routing info in History (#9168)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/worker_versioning/routing_info_cache.go
  common/worker_versioning/routing_info_cache_test.go
  service/history/api/recordactivitytaskstarted/api.go
  service/history/api/recordactivitytaskstarted/api_test.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine_factory.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

VersionMembershipCache: Add it to GetIsWFTaskQueueInVersionDetector (#9282)
  common/worker_versioning/worker_versioning.go
  common/worker_versioning/worker_versioning_test.go
  service/history/api/respondworkflowtaskcompleted/api.go
  service/history/api/respondworkflowtaskcompleted/api_test.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler.go
  service/history/api/respondworkflowtaskcompleted/workflow_task_completed_handler_test.go
  service/history/history_engine.go
  service/history/queue_factory_base_test.go
  service/history/transfer_queue_active_task_executor.go
  service/history/transfer_queue_active_task_executor_test.go
  service/history/transfer_queue_factory.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Set TargetVersionChanged instead of SuggestCaN when TargetVersionChanged (#9239)
  api/persistence/v1/executions.pb.go
  client/frontend/client_gen.go
  client/frontend/metric_client_gen.go
  client/frontend/retryable_client_gen.go
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/metrics/tags.go
  common/rpc/interceptor/logtags/workflow_service_server_gen.go
  common/testing/mockapi/workflowservicemock/v1/service_grpc.pb.mock.go
  common/util_test.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/frontend/workflow_handler.go
  service/history/configs/config.go
  service/history/historybuilder/event_factory.go
  service/history/historybuilder/history_builder.go
  service/history/historybuilder/history_builder_categorization_test.go
  service/history/historybuilder/history_builder_test.go
  service/history/interfaces/mutable_state.go
  service/history/interfaces/mutable_state_mock.go
  service/history/interfaces/workflow_task_info.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/mutable_state_impl_test.go
  service/history/workflow/mutable_state_rebuilder.go
  service/history/workflow/mutable_state_rebuilder_test.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Do not reset WFT attempt for Deployment Version transition (#9250)
  service/history/workflow/mutable_state_impl.go
  tests/versioning_3_test.go
Due: .azure-pipelines/server-cicd.yaml

[Worker-Versioning improvement]: Activate "Drained/Inactive" versions (#9147)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  common/worker_versioning/version_reactivation_signal_cache.go
  service/history/api/multioperation/api.go
  service/history/api/resetworkflow/api.go
  service/history/api/signalwithstartworkflow/api.go
  service/history/api/startworkflow/api.go
  service/history/api/updateworkflowoptions/api.go
  service/history/api/updateworkflowoptions/api_test.go
  service/history/api/worker_versioning_util.go
  service/history/configs/config.go
  service/history/fx.go
  service/history/history_engine.go
  service/history/history_engine2_test.go
  service/history/history_engine3_eventsv2_test.go
  service/history/history_engine_factory.go
  service/history/history_engine_test.go
  service/worker/workerdeployment/client.go
  service/worker/workerdeployment/util.go
  service/worker/workerdeployment/version_workflow.go
  tests/worker_deployment_version_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backlog metrics (count, age) to now have versioning based attribution (#9300)
  common/dynamicconfig/constants.go
  common/metrics/metric_defs.go
  service/matching/config.go
  service/matching/db.go
  service/matching/physical_task_queue_manager.go
  service/matching/task_queue_partition_manager.go
  service/matching/task_queue_partition_manager_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Backlog Metric Attribution: part 2 (#9316)
  service/matching/db.go
  service/matching/task_queue_partition_manager.go
Due: .azure-pipelines/server-cicd.yaml

Fixing bug in retrieving archived workflows from Google Cloud Store (#9329)
  .gitignore
  Makefile
  common/archiver/gcloud/visibility_archiver.go
  common/archiver/gcloud/visibility_archiver_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Fix race in fairTaskReader (#9467)
  service/matching/fair_task_reader.go
Due: .azure-pipelines/server-cicd.yaml

Updating io.Closer usage to simplify logic and ensure closure
  common/archiver/gcloud/connector/client.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

fmt-imports
  service/history/historybuilder/event_factory.go
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
Due: .azure-pipelines/server-cicd.yaml

fix: handle CAS batch result row ordering for ScyllaDB compatibility
  common/persistence/cassandra/nexus_endpoint_store.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

add wrapper for LastNotifiedTargetVersion + test
  api/historyservice/v1/request_response.pb.go
  api/persistence/v1/executions.pb.go
  go.mod
  go.sum
  proto/internal/temporal/server/api/historyservice/v1/request_response.proto
  proto/internal/temporal/server/api/persistence/v1/executions.proto
  service/history/workflow/mutable_state_impl.go
  service/history/workflow/retry.go
  service/history/workflow/workflow_task_state_machine.go
  tests/versioning_3_test.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Verify during force
  tests/xdc/failover_test.go
Due: none

re-order comments
  service/frontend/configs/quotas.go
Due: .azure-pipelines/server-cicd.yaml

V1 to CHASM scheduler migration RPC (#9261)
  api/schedule/v1/message.pb.go
  chasm/lib/scheduler/backfiller.go
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.go-helpers.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/request_response.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_client.pb.go
  chasm/lib/scheduler/gen/schedulerpb/v1/service_grpc.pb.go
  chasm/lib/scheduler/generator.go
  chasm/lib/scheduler/handler.go
  chasm/lib/scheduler/invoker.go
  chasm/lib/scheduler/migration/migration.go
  chasm/lib/scheduler/migration/migration_test.go
  chasm/lib/scheduler/proto/v1/request_response.proto
  chasm/lib/scheduler/proto/v1/service.proto
  chasm/lib/scheduler/scheduler.go
  chasm/lib/scheduler/scheduler_test.go
  common/metrics/metric_defs.go
  proto/internal/temporal/server/api/schedule/v1/message.proto
  service/frontend/admin_handler.go
  service/frontend/errors.go
  service/worker/fx.go
  service/worker/scheduler/activities.go
  service/worker/scheduler/activities_test.go
  service/worker/scheduler/fx.go
  service/worker/scheduler/workflow.go
  service/worker/scheduler/workflow_test.go
  tests/schedule_migration_test.go
  tests/testcore/onebox.go
  tests/testcore/test_cluster.go
Due: .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/server-cicd.yaml

Path conditions:
  .azure-pipelines/admin-tools-cicd.yaml: any of: cmd/tools, tools, common, api, schema, go.mod, go.sum, docker/azure-admin-tools.Dockerfile, .azure-pipelines/admin-tools-cicd.yaml, .azure-pipelines/templates
  .azure-pipelines/server-cicd.yaml: any of: cmd/server, service, common, api, go.mod, go.sum, docker/azure-server.Dockerfile, .azure-pipelines/server-cicd.yaml, .azure-pipelines/templates
